<div th:fragment="customCss"></div>

<div th:fragment="content">
	<section class="mainContainer">
		<div class="col-md-12 col-sm-12">

			<div class="tabsParent" style="max-width: 1030px;">
				<div id="content" class="tab-content">
					<div id="" class="tab-pane d-block">
						<div id="" class="" role="">
							<div class="card-body">
								<form id="step-5" class="summarySheetTab">
									<div class="row">
										<div class="heading_title_strip mt-0">
											<h3>
												feasibility report
											</h3>
										</div>
										<div class="title_strip">
											<h5>project DETAILS</h5>
										</div>
										<div class="col-lg-3 col-sm-4">
											<fieldset class="form-group bmd-form-group">
												<label class="control-label bmd-label-static">Report
													ID</label> <input type="text" class="form-control" name="reportId" id="reportId"
													spellcheck="true" th:value="${projectDetails.reportId}" readonly>
												<input type="hidden" class="form-control" name="id" id="id"
													spellcheck="true" th:value="${projectDetails.id}" >

											</fieldset>
										</div>
										<div class="col-lg-3 col-sm-4">
											<fieldset class="form-group bmd-form-group">
												<label class="control-label bmd-label-static">Project
													Name</label> <input type="text" class="form-control"
													name="projectName" spellcheck="true"
													th:value="${projectDetails.projectName}" readonly>
											</fieldset>
										</div>
										<div class="col-lg-3 col-sm-4">
											<fieldset class="form-group bmd-form-group">
												<label class="control-label bmd-label-static">Locality</label>
												<input type="text" class="form-control" name=""
													spellcheck="true"
													th:value="${projectDetails.projectLocation.locality}" readonly>
											</fieldset>
										</div>
										<div class="col-lg-3 col-sm-4">
											<fieldset class="form-group bmd-form-group">
												<label class="control-label bmd-label-static">City</label> <input
													type="text" class="form-control" name="" spellcheck="true"
													th:value="${projectDetails.projectLocation.city}" readonly>
											</fieldset>
										</div>
										<div class="col-lg-3 col-sm-4">
											<fieldset class="form-group bmd-form-group">
												<label class="control-label bmd-label-static">Developer
													Name</label> <input type="text" class="form-control" name=""
													spellcheck="true" th:value="${projectDetails.developer}" readonly>
											</fieldset>
										</div>
										<div class="col-lg-3 col-sm-4">
											<fieldset class="form-group bmd-form-group">
												<label class="control-label bmd-label-static">Carpet
													Area (sq ft)</label> <input type="text" class="form-control"
													name="" spellcheck="true"
													th:value="${projectDetails.lesserLesse.carpetArea}" readonly>
											</fieldset>
										</div>
										<div class="col-lg-3 col-sm-4">
											<fieldset class="form-group bmd-form-group">
												<label class="control-label bmd-label-static">Date
													of opening</label> <input type="text" class="form-control" name=""
													spellcheck="true"
													th:value="${projectDetails.DateOfOpening}" readonly>
											</fieldset>
										</div>
										<div class="col-lg-3 col-sm-4">
											<fieldset class="form-group bmd-form-group">
												<label class="control-label bmd-label-static">Date
													of handover</label> <input type="text" class="form-control" name=""
													spellcheck="true"
													th:value="${projectDetails.DateOfHandover}" readonly>
											</fieldset>
										</div>
										<div class="title_strip mb-0">
											<h5>Feasibility metrics</h5>
										</div>
										<div class="innerTableParent w-100">
											<table class="table table-bordered mb-5 mt-0 fixed-layout">
												<thead>
													<tr class="categoryTitle">
														<td class="w-50">EBITDA Payback (Years)</td>
														<td colspan="3"><span
															th:text="${#numbers.formatDecimal(projectDetails?.finalSummary?.payBackPBDIT, 1, 'COMMA', 2, 'POINT')}"
															></span></td>
													</tr>
													<tr class="categoryTitle">
														<td class="firstColumn">Post Tax IRR</td>
														<td colspan="3"><span
															th:text="${#numbers.formatDecimal(projectDetails?.finalSummary?.irr, 1, 'COMMA', 2, 'POINT') + '%'}"
															></span></td>
													</tr>
													<tr class="categoryTitle">
														<td colspan="4" style="border-bottom-style: hidden;">
															 <a	 id="view-calculation" href="javascript:void(0);">View Calculation</a> 
														</td>
													</tr>
												</thead>
											</table>

											<table class="table table-bordered my-5">
												<thead>
													<tr>
														<th scope="col" class="firstColumn">&nbsp;</th>
														<th scope="col">suggested values</th>
														<th scope="col">Manual input values</th>
														<th scope="col">Comments</th>
														<th scope="col" >Query</th>
													</tr>
													<tr class="categoryTitle">
														<th colspan="5" class="firstColumn"
															style="text-transform: uppercase;">revenue
															assumptions</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td class="firstColumn">Total Admits (In Lacs)<br><a
															href="javascript:void(0);" class="float-left"
															id="total-admits">View Details</a></td>

														<td><span class="bmd-form-group"><input
																type="text" spellcheck="true"
																 th:value="${projectDetails?.finalSummary?.totalAdmits?.costType} != null ? ${#numbers.formatDecimal(projectDetails?.finalSummary?.totalAdmits?.costType / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.finalSummary?.totalAdmits?.costType, 1, 'COMMA', 2, 'POINT')}" readonly></span></td>
														<td><span class="bmd-form-group"><input
																type="text" spellcheck="true"
																 
																  th:value="${projectDetails?.finalSummary?.totalAdmits?.inputValues} != null ? ${#numbers.formatDecimal(projectDetails?.finalSummary?.totalAdmits?.inputValues / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.finalSummary?.totalAdmits?.inputValues, 1, 'COMMA', 2, 'POINT')}" readonly></span></td>
																 
																 
														<td id="totalAdmits"><span class="bmd-form-group"><textarea
																type="text" style="width: 100%;" spellcheck="true"
																th:text="${projectDetails?.finalSummary?.totalAdmits?.comments}"></textarea>
																</span></td>
																 
														<td id="totalAdmits"><span class="bmd-form-group">
																<!-- <p
																	th:class="${projectDetails.flag  == false} ? 'd-none' :( ${#lists.isEmpty(projectDetails?.finalSummary?.totalAdmits?.query)} ? 'float-right queryBtn query-modal' : 
																'float-right queryBtn query-modal  blueQueryBtn' ) "
																	spellcheck="true"> -->
																	
<!-- 																	<p  th:class="${projectDetails.flag  == false} ? 'd-none' :( ${#lists.isEmpty(projectDetails?.finalSummary?.totalAdmits?.query)} ? 'float-right queryBtn query-modal' : 'float-right queryBtn query-modal  blueQueryBtn' ) " spellcheck="true">
 -->																
 																	<p id="totalAdmitsButton" th:class="${projectDetails.flag  == false} ? 'd-none' :( ${#lists.isEmpty(projectDetails?.finalSummary?.totalAdmits?.query)} ? 'float-right queryBtn query-modal' : 
																	((${projectDetails?.finalSummary?.totalAdmits?.lastQueryUserId==#strings.substring(session?.userId,1,(#strings.length(session?.userId)-1))}?'float-right queryBtn query-modal blueQueryBtn':'float-right queryBtn query-modal greenQueryBtn')) ) "
																	spellcheck="true">
																	<img th:src="@{/images/queryIcon.png}"> Query
																</p>
																</span></td>
													</tr>
													<tr>
														<!-- th:value="${#numbers.formatDecimal(projectDetails?.finalSummary?.sph?.costType, 0, 'NONE', 2, 'POINT')}" -->
														<td class="firstColumn">Occupancy (%) <br><a
															href="javascript:void(0);" class="float-left"
															id="rev-occupany">View Details</a></td>
														<td><span class="bmd-form-group"><input
																type="text" spellcheck="true"
																th:value="${#numbers.formatDecimal(projectDetails?.finalSummary?.occupancy?.costType, 1, 'COMMA', 2, 'POINT')}" readonly></span></td>
														<td><span class="bmd-form-group"><input
																type="text" spellcheck="true"
																th:value="${projectDetails?.finalSummary?.occupancy?.inputValues}" readonly></span></td>
														
														<td id="occupancy"><span class="bmd-form-group"><textarea
																type="text" style="width: 100%;" spellcheck="true"
																th:text="${projectDetails?.finalSummary?.occupancy?.comments}"></textarea>
																</span></td>
														
														<td id="occupancy"><span class="bmd-form-group">
																<!-- <p th:class="${projectDetails.flag  == false} ? 'd-none' :( ${#lists.isEmpty(projectDetails?.finalSummary?.occupancy?.query)} ? 'float-right queryBtn query-modal' : 
																	'float-right queryBtn query-modal blueQueryBtn' ) "
																	spellcheck="true">
																	<img th:src="@{/images/queryIcon.png}"> Query
																</p> -->
																<p id="occupancyButton" th:class="${projectDetails.flag  == false} ? 'd-none' :( ${#lists.isEmpty(projectDetails?.finalSummary?.occupancy?.query)} ? 'float-right queryBtn query-modal' : 
																	((${projectDetails?.finalSummary?.occupancy?.lastQueryUserId==#strings.substring(session?.userId,1,(#strings.length(session?.userId)-1))}?'float-right queryBtn query-modal blueQueryBtn':'float-right queryBtn query-modal greenQueryBtn')) ) "
																	spellcheck="true">
																	<img th:src="@{/images/queryIcon.png}"> Query
																</p>
																
																</span></td>
													</tr>
													<tr>
														<td class="firstColumn">ATP (INR) <br><a
															href="javascript:void(0);" class="float-left"
															id="rev-atp">View Details</a></td>
														<td><span class="bmd-form-group"><input
																type="text" spellcheck="true"
																th:value="${#numbers.formatDecimal(projectDetails?.finalSummary?.atp?.costType, 0, 'NONE', 2, 'POINT')}" readonly></span></td>
														<td><span class="bmd-form-group"><input
																type="text" spellcheck="true"
																th:value="${projectDetails?.finalSummary?.atp?.inputValues}" readonly></span></td>
														
														
														<td id="atp"><span class="bmd-form-group"><textarea
																type="text" style="width:100%;" spellcheck="true"
																th:text="${projectDetails?.finalSummary?.atp?.comments}"></textarea>
																</span></td>
														
														<td id="atp"><span class="bmd-form-group">
																<p id="atpButton" th:class="${projectDetails.flag  == false} ? 'd-none' :( ${#lists.isEmpty(projectDetails?.finalSummary?.atp?.query)} ? 'float-right queryBtn query-modal' : 
																	((${projectDetails?.finalSummary?.atp?.lastQueryUserId==#strings.substring(session?.userId,1,(#strings.length(session?.userId)-1))}?'float-right queryBtn query-modal blueQueryBtn':'float-right queryBtn query-modal greenQueryBtn')) ) "
																	spellcheck="true">
																	<img th:src="@{/images/queryIcon.png}"> Query
																</p>
																</span></td>
													</tr>
													<tr>
														<td class="firstColumn">SPH (INR) <br><a
															href="javascript:void(0);" class="float-left"
															id="rev-sph">View Details</a></td>
														<td><span class="bmd-form-group"><input
																type="text" spellcheck="true"
																th:value="${#numbers.formatDecimal(projectDetails?.finalSummary?.sph?.costType, 0, 'NONE', 2, 'POINT')}" readonly></span></td>
														<td><span class="bmd-form-group"><input
																type="text" spellcheck="true"
																th:value="${projectDetails?.finalSummary?.sph?.inputValues}" readonly></span></td>
														
														<td id="sph"><span class="bmd-form-group"><textarea
																type="text" style="width: 100%;" spellcheck="true"
																th:text="${projectDetails?.finalSummary?.sph?.comments}"></textarea>
																</span></td>
														
														<td id="sph"><span class="bmd-form-group">
																<p id="sphButton" th:class="${projectDetails.flag  == false} ? 'd-none' :( ${#lists.isEmpty(projectDetails?.finalSummary?.sph?.query)} ? 'float-right queryBtn query-modal' : 
																	((${projectDetails?.finalSummary?.sph?.lastQueryUserId==#strings.substring(session?.userId,1,(#strings.length(session?.userId)-1))}?'float-right queryBtn query-modal blueQueryBtn':'float-right queryBtn query-modal greenQueryBtn')) ) "
																	spellcheck="true">
																	<img th:src="@{/images/queryIcon.png}"> Query
																</p></span></td>
													</tr>
													<tr>
														<td class="firstColumn">Ad Revenue (INR In Lacs) <br><a
															href="javascript:void(0);" class="float-left"
															id="rev-ad-revenue">View Details</a></td>
														<td><span class="bmd-form-group"><input
																type="text" spellcheck="true"
														
														 th:value="${projectDetails?.finalSummary?.adRevenue?.costType} != null ? ${#numbers.formatDecimal(projectDetails?.finalSummary?.adRevenue?.costType / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.finalSummary?.adRevenue?.costType, 1, 'COMMA', 2, 'POINT')}" readonly></span></td>
														<td><span class="bmd-form-group"><input
																type="text" spellcheck="true"
																 th:value="${projectDetails?.finalSummary?.adRevenue?.inputValues} != null ? ${#numbers.formatDecimal(projectDetails?.finalSummary?.adRevenue?.inputValues / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.finalSummary?.adRevenue?.inputValues, 1, 'COMMA', 2, 'POINT')}" readonly></span></td>
																 
														
														<td id="adRevenue"><span class="bmd-form-group"><textarea
																type="text" style="width:100%;" spellcheck="true"
																th:text="${projectDetails?.finalSummary?.adRevenue?.comments}"></textarea>
																</span></td>
														
														<td id="adRevenue"><span class="bmd-form-group">
																<p id="adRevenueButton" th:class="${projectDetails.flag  == false} ? 'd-none' :( ${#lists.isEmpty(projectDetails?.finalSummary?.adRevenue?.query)} ? 'float-right queryBtn query-modal' : 
																	((${projectDetails?.finalSummary?.adRevenue?.lastQueryUserId==#strings.substring(session?.userId,1,(#strings.length(session?.userId)-1))}?'float-right queryBtn query-modal blueQueryBtn':'float-right queryBtn query-modal greenQueryBtn')) ) "
																	spellcheck="true">
																	<img th:src="@{/images/queryIcon.png}"> Query
																</p></span></td>
													</tr>
												</tbody>
												<thead>
													<tr class="categoryTitle">
														<th scope="col" colspan="5" class="firstColumn"
															style="text-transform: uppercase;">cost parameters</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td class="firstColumn">Personnel Expenses (INR In Lacs)<br>
														<a href="javascript:void(0);" class="float-left" id="personnel-expenses">View
															Details</a>
														</td>
														<td><span class="bmd-form-group"><input
																type="text" spellcheck="true"
																th:value="${projectDetails?.finalSummary?.personalExpense?.costType} != null ? ${#numbers.formatDecimal(projectDetails?.finalSummary?.personalExpense?.costType / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.finalSummary?.personalExpense?.costType, 1, 'COMMA', 2, 'POINT')}" readonly></span></td>

														<td><span class="bmd-form-group"><input
																type="text" spellcheck="true"
														th:value="${projectDetails?.finalSummary?.personalExpense?.inputValues} != null ? ${#numbers.formatDecimal(projectDetails?.finalSummary?.personalExpense?.inputValues / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.finalSummary?.personalExpense?.inputValues, 1, 'COMMA', 2, 'POINT')}" readonly></span></td>
														
														<td id="personalExpense"><span class="bmd-form-group"><textarea
																type="text" style="width: 100%;" spellcheck="true"
																th:text="${projectDetails?.finalSummary?.personalExpense?.comments}"></textarea>
																</span></td>
														
														<td id="personalExpense"><span class="bmd-form-group">
																<p id="personalExpenseButton" th:class="${projectDetails.flag  == false} ? 'd-none' :( ${#lists.isEmpty(projectDetails?.finalSummary?.personalExpense?.query)} ? 'float-right queryBtn query-modal' : 
																	((${projectDetails?.finalSummary?.personalExpense?.lastQueryUserId==#strings.substring(session?.userId,1,(#strings.length(session?.userId)-1))}?'float-right queryBtn query-modal blueQueryBtn':'float-right queryBtn query-modal greenQueryBtn')) ) "
																	spellcheck="true">
																	<img th:src="@{/images/queryIcon.png}"> Query
																</p>
																
																</span></td>
													</tr>
													<tr>
														<td class="firstColumn">Electricity &amp; water
															expenses (INR In Lacs) <br><a href="javascript:void(0);" class="float-left" id="electricity-water">View
															Details</a></td>
														<td><span class="bmd-form-group"><input
																type="text" spellcheck="true"
														th:value="${projectDetails?.finalSummary?.electricityWaterExpanse?.costType} != null ? ${#numbers.formatDecimal(projectDetails?.finalSummary?.electricityWaterExpanse?.costType / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.finalSummary?.electricityWaterExpanse?.costType, 1, 'COMMA', 2, 'POINT')}" readonly></span></td>
														
														<td><span class="bmd-form-group"><input
																type="text" spellcheck="true"
															th:value="${projectDetails?.finalSummary?.electricityWaterExpanse?.inputValues} != null ? ${#numbers.formatDecimal(projectDetails?.finalSummary?.electricityWaterExpanse?.inputValues / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.finalSummary?.electricityWaterExpanse?.inputValues, 1, 'COMMA', 2, 'POINT')}" readonly></span></td>
															
														<td id="electricityWaterExpanse"><span
															class="bmd-form-group"><textarea type="text"
																style="width: 100%;" spellcheck="true"
																th:text="${projectDetails?.finalSummary?.electricityWaterExpanse?.comments}"></textarea>
																</span></td>
														
														<td id="electricityWaterExpanse"><span
															class="bmd-form-group">
																<p id="electricityWaterExpanseButton" th:class="${projectDetails.flag  == false} ? 'd-none' :( ${#lists.isEmpty(projectDetails?.finalSummary?.electricityWaterExpanse?.query)} ? 'float-right queryBtn query-modal' : 
																	((${projectDetails?.finalSummary?.electricityWaterExpanse?.lastQueryUserId==#strings.substring(session?.userId,1,(#strings.length(session?.userId)-1))}?'float-right queryBtn query-modal blueQueryBtn':'float-right queryBtn query-modal greenQueryBtn')) ) "
																	spellcheck="true">
																	<img th:src="@{/images/queryIcon.png}"> Query
																</p></span></td>
													</tr>
													<tr>

														<td class="firstColumn">Total R&amp;M expenses (INR In Lacs)<br>
														<a href="javascript:void(0);" class="float-left" id="rm-expenses">View
															Details</a></td>
														<td><span class="bmd-form-group"><input
																type="text" spellcheck="true"
																th:value="${projectDetails?.finalSummary?.totalRmExpenses?.costType} != null ? ${#numbers.formatDecimal(projectDetails?.finalSummary?.totalRmExpenses?.costType / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.finalSummary?.totalRmExpenses?.costType, 1, 'COMMA', 2, 'POINT')}" readonly></span></td>
																<!-- th:value="${#numbers.formatDecimal(projectDetails?.finalSummary?.totalRmExpenses?.costType / 100000, 1, 'COMMA', 2, 'POINT')}" readonly></span></td> -->
														<td><span class="bmd-form-group"><input
																type="text" spellcheck="true"
																th:value="${projectDetails?.finalSummary?.totalRmExpenses?.inputValues} != null ? ${#numbers.formatDecimal(projectDetails?.finalSummary?.totalRmExpenses?.inputValues/ 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.finalSummary?.totalRmExpenses?.inputValues, 1, 'COMMA', 2, 'POINT')}"
																 readonly></span></td>
														<td id="totalRmExpenses"><span class="bmd-form-group"><textarea
																type="text" style="width: 100%;" spellcheck="true"
																th:text="${projectDetails?.finalSummary?.totalRmExpenses?.comments}"></textarea>
																</span></td>
																
														<td id="totalRmExpenses"><span class="bmd-form-group">
																<p id="totalRmExpensesButton" th:class="${projectDetails.flag  == false} ? 'd-none' :( ${#lists.isEmpty(projectDetails?.finalSummary?.totalRmExpenses?.query)} ? 'float-right queryBtn query-modal' : 
																	((${projectDetails?.finalSummary?.totalRmExpenses?.lastQueryUserId==#strings.substring(session?.userId,1,(#strings.length(session?.userId)-1))}?'float-right queryBtn query-modal blueQueryBtn':'float-right queryBtn query-modal greenQueryBtn')) ) "
																	spellcheck="true">
																	<img th:src="@{/images/queryIcon.png}"> Query
																</p></span></td>
													</tr>
													<tr>
														<td class="firstColumn">Total overhead expenses <br>(INR Lacs)
															<!-- <a href="javascript:void(0);" class="float-right">View
																Details</a> -->
														</td>
	
														<td id="overhead_cost_Final_summary">
														<span 
														th:text="${projectDetails?.totalOverheadSuggestedSum } != null ? ${#numbers.formatDecimal(projectDetails?.totalOverheadSuggestedSum  / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.totalOverheadSuggestedSum , 1, 'COMMA', 2, 'POINT')} "
														></span>
														</td>
														<td id="overhead_inputValue_Final_summary">
														<span 
														th:text="${projectDetails?.totalOverheadInputSum } != null ? ${#numbers.formatDecimal(projectDetails?.totalOverheadInputSum  / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.totalOverheadInputSum , 1, 'COMMA', 2, 'POINT')} "
														></span></td>
														<td id="overhead_comments_Final_summary">
														<span th:text="${projectDetails?.finalSummary?.totalAdmits?.comments}"></span>
														</td>
														<td></td>
												    </tr> 

												</tbody>
											</table>
											<div class="title_strip mb-0">
												<h5>lease terms</h5>
											</div>
											<table class="table table-bordered mb-5 mt-0">
												<thead>
													<tr class="categoryTitle">
														<td class="w-50">Lease period (years)</td>
														<td id="leasePeriod"><span class="bmd-form-group"><input
																type="text" style="width: 90px;" spellcheck="true"
																th:value="${projectDetails?.finalSummary?.leasePeriod}" readonly>
																<!-- <p  class="float-right queryBtn" spellcheck="true">
																	<img th:src="@{/images/queryIcon.png}"> Query
																</p> --></span></td>
													</tr>
													<tr class="categoryTitle">
														<td class="firstColumn">Annual Rent (INR In Lacs)<br>
														<a	href="javascript:void(0);" class="float-left" id="annual-rent">View
															Details</a></td>
														<td id="annualRent"><span class="bmd-form-group"><input
																type="text" style="width: 90px;" spellcheck="true"
																th:value="${projectDetails?.finalSummary?.annualRent} != null ? ${#numbers.formatDecimal(projectDetails?.finalSummary?.annualRent / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.finalSummary?.annualRent, 1, 'COMMA', 2, 'POINT')}"
																 readonly>
																<!-- <p  class="float-right queryBtn" spellcheck="true">
																	<img th:src="@{/images/queryIcon.png}"> Query
																</p> --></span></td>
													</tr>
													<tr class="categoryTitle">
														<td class="firstColumn">Annual CAM (INR In Lacs)</td>
														<td id="annualCam"><span class="bmd-form-group"><input
																type="text" style="width: 90px;" spellcheck="true"
																th:value="${projectDetails?.finalSummary?.annualCam} != null ? ${#numbers.formatDecimal(projectDetails?.finalSummary?.annualCam / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.finalSummary?.annualCam, 1, 'COMMA', 2, 'POINT')} "
																 readonly>
																<!-- <p  class="float-right queryBtn" spellcheck="true">
																	<img th:src="@{/images/queryIcon.png}"> Query
																</p> --></span></td>
													</tr>
												</thead>
											</table>
											<div class="title_strip mb-0">
												<h5>capex assumptions</h5>
											</div>
											<table class="table table-bordered mb-0 mt-0">
												<thead>
													<tr class="categoryTitle">
														<td class="w-50">Total Project Cost (INR In Lacs)</td>
														<td id="totalProjectCost"><span
															class="bmd-form-group"><input type="text"
																style="width: 90px;" spellcheck="true"
																th:value="${#numbers.formatDecimal(projectDetails?.projectCost, 1, 'COMMA', 2, 'POINT')}"
																 readonly>
																<p id="totalProjectCostButton" th:class="${projectDetails.flag  == false} ? 'd-none' :( ${#lists.isEmpty(projectDetails?.finalSummary?.totalProjectCost?.query)} ? 'float-right queryBtn query-modal' : 
																	((${projectDetails?.finalSummary?.totalProjectCost?.lastQueryUserId==#strings.substring(session?.userId,1,(#strings.length(session?.userId)-1))}?'float-right queryBtn query-modal blueQueryBtn':'float-right queryBtn query-modal greenQueryBtn')) ) "
																	spellcheck="true">
																	<img th:src="@{/images/queryIcon.png}"> Query
																</p></span></td>
													</tr>
													<tr class="categoryTitle">
													<td class="firstColumn">Security Deposit (INR Lacs)</td>
													<td><span class="bmd-form-group"> <span
															id="final_cost_summary"
															th:text="${#numbers.formatDecimal(projectDetails?.lesserLesse?.rentSecurityDepositForFixedZeroMg/100000, 1, 'COMMA', 2, 'POINT')}"></span>
													</span></td>
												</tr>
												<tr class="categoryTitle">
													<td class="firstColumn">Advance Rent (INR Lacs)</td>
													<td><span class="bmd-form-group"> <span
															id="final_cost_summary"
															th:text="${#numbers.formatDecimal(projectDetails?.lesserLesse?.advanceRent/100000, 1, 'COMMA', 2, 'POINT')}"></span>
													</span></td>
												</tr>
												<tr class="categoryTitle">
													<td class="firstColumn">Total Project Cost Inc SD and Inc Advance Rent (INR Lacs)</td>
													<td><span class="bmd-form-group"> <span
															id="final_cost_summary"
															th:text="${#numbers.formatDecimal((projectDetails?.projectCost + projectDetails?.lesserLesse?.advanceRent/100000 + projectDetails?.lesserLesse?.rentSecurityDepositForFixedZeroMg/100000), 1, 'COMMA', 2, 'POINT')}"></span>
													</span></td>
												</tr>
												<tr class="categoryTitle">
													<td class="firstColumn">Project Cost Per Screen Inc SD and Inc Advance Rent (INR Lacs)</td>
													<td><span class="bmd-form-group"> <span
															id="final_cost_summary"
															th:text="${#numbers.formatDecimal((projectDetails?.projectCost + projectDetails?.lesserLesse?.advanceRent/100000 + projectDetails?.lesserLesse?.rentSecurityDepositForFixedZeroMg/100000)/projectDetails?.noOfScreens, 1, 'COMMA', 2, 'POINT')}"></span>
													</span></td>
												</tr>
													<tr class="categoryTitle">
														<td colspan="4" style="border-bottom-style: hidden;"
															id="viewModalData"><a href="javascript:void(0);"
														id="viewDetailModal" data-toggle="modal"
														data-target="#viewDetailModal">View Project Costs</a></td>
													</tr>
												</thead>
											</table>
											
											<div class="title_strip mb-0">
											<h5>Executive Note</h5>
											</div>
											 <table class="table table-bordered mb-5 mt-0 fixed-layout">
											  <thead>
												<tr class="categoryTitle" th:each="instance : ${projectDetails.executiveNoteMap}">
													<td class="w-50" style="width:80px;font-size:17px" th:text="${instance.key}"></td>
													<td><span style="font-size:17px" th:text="${instance.value}"></span></td>
												</tr>
											 </thead>
										    </table>
											<p style="margin-top:20px;margin-left:30px" th:text="${projectDetails?.userDesignation} + ' Comment'"></p>
											<textarea rows="6" cols="120" style="margin-top: 10px;margin-left:30px;margin-right:10px;padding-left:5px"
											    placeholder="Enter Text"
												name="executiveNote"
												id="executiveNote"
												th:text="${projectDetails?.executiveNote}">
	                                        </textarea>
	                                        <button type="button" id="saveExecutiveNote"
											   class="" style="color: white; background-color: green; border: none;padding-top:5px;padding-bottom:5px; padding-left: 10px;padding-right:10px; margin-left: 30px;margin-top:10px;border-radius: 2px">SAVE
											</button>
										
										</div>
									</div>
								</form>
								<div class="p-4 buttonGroup_nextCancelSave">
									<!-- <a th:href="@{/report/files/} +${projectDetails?.id}"><button -->
									<a><button
												type="button" class="cancelBtn btn btn-raised btn-secondary"
												id="downloadFullReportBtn">download full report</button></a>
									<div th:class="${projectDetails.flag  == false} ? 'd-none' : ''">
										<button type="button" id="submitApproved"
												class="nextBtn btn-raised btn btn-success" spellcheck="true">APPROVE</button>
									</div>
									<div th:class="${projectDetails.flag  == false} ? 'd-none' : ''">
										<button	type="button"
												class="saveCloseBtn btn btn-raised btn-secondary"  id="submitReject"
												spellcheck="true" style="margin-left: 16px;">reject</button>
									</div>
									<a th:href="@{/dashboard}"><button type="button"
											class="cancelBtn btn btn-raised btn-secondary float-right"
											spellcheck="true">Cancel</button></a>
								</div>

							</div>

						</div>
					</div>
				</div>

			</div>
			<div th:insert="projectDetail/summarySheetModal :: summarySheet"></div>
					<!-- Modal -->
				<div class="modal fade" id="approverModal" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document"
						style="max-width: 500px;">
						<div class="modal-content" style="height: auto;">
							<div class="modal-header">
								<p class="modal-title" id="exampleModalLongTitle">Submit</p>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body text-center">
								<div class="col-md-12 my-4">
									<h5>Do you want to approve</h5>
								</div>
								<input type="hidden" id="hiddenId" />
							</div>
							<div class="modal-footer text-center"
								style="height: auto; display: block;">
								<button type="button"
									class="saveCloseBtn btn btn-raised btn-secondary"
									data-dismiss="modal">Close</button>
								<a th:href="@{/project/approve/}+${projectDetails.id}"><button
												type="button" id="approve-project"
												class="nextBtn btn-raised btn btn-success" spellcheck="true">APPROVE</button></a>
									
							</div>
				
						</div>
					</div>
				</div>
				
				
				
			<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document"
						style="max-width: 500px;">
						<div class="modal-content" style="height: auto;">
						<form class="client-form"  id="rejectForm" 					
									th:object="${msgMapper}" method="POST" autocomplete="off">
							<div class="modal-header">
								<p class="modal-title" id="exampleModalLongTitle">Submit</p>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body text-center">
								<div class="col-md-12 my-4">
								<span style="color: red">*<span class="text-danger" id="rejectError"></span></span>
									<h5>Please add rejection reason</h5>
									<textarea id="rejectResaon" name="msg" rows="4" cols="40"></textarea>
									<input type="hidden" name="projectId" th:value="${projectDetails.id}"  />
									
								</div>
							</div>
							<div class="modal-footer text-center"
								style="height: auto; display: block;">
								<button type="button"
									class="saveCloseBtn btn btn-raised btn-secondary"
									data-dismiss="modal">Close</button>
							<!-- 	<a th:href="@{/project/reject/}+${projectDetails.id}"><button
												type="button"
												class="saveCloseBtn btn btn-raised btn-secondary"
												spellcheck="true" style="margin-left: 16px;">reject</button></a> -->
									<button type="button" id="saveReject"
												class="saveCloseBtn btn btn-raised btn-secondary"
												spellcheck="true" style="margin-left: 16px;">reject</button>
									
							</div>
						</form>
						</div>
					</div>
				</div>
				
				
				

		</div>
	</section>
	<!-- ******************************************************* Query Modal ************************************************************** -->
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<form id="modal-form">
				<div class="modal-content">
					<div class="modal-header">
						<p>
							Report <span id="modal-span" name="modal-span"></span> - <span id="query-type"></span>
						</p>
						<input type="hidden" id="projectId" name="projectId"></input> <input
							type="hidden" id="queryType" name="queryType"></input>
							<input type="hidden" id="currentUserId" name="currentUserId" th:value=${session.userId}></input>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<i class="fas fa-times"></i>
						</button>
					</div>
					<div class="modal-body p-0 mt-0">
						<a href="javascript:void(0);" id="viewOtherComments">view
							previous comments</a>
						<div class="chat">
							<div class="card">

								<div class="card-body msg_card_body content mCustomScrollbar">
									<!-- <div class="d-flex justify-content-start mb-3">
									<div class="img_cont_msg">
										<img th:src="@{/images/userIcon_chatbox.png}"
											class="rounded-circle user_img_msg">
										<p>User</p>
									</div>
									<div class="msg_cotainer">
										Hi, how are you samim? <span class="msg_time">8:40 AM,
											Today</span>
									</div>
								</div>
								
								<div class="d-flex justify-content-end mb-3">
									<div class="msg_cotainer_send">
										Hi Maryam i am good tnx how about you? <span
											class="msg_time_send">8:55 AM, Today</span>
									</div>
									<div class="img_cont_msg">
										<img th:src="@{/images/clientIcon_chatbox.png}"
											class="rounded-circle user_img_msg">
										<p>Rahul</p>
									</div>
								</div> -->

								</div>

							</div>
						</div>
						<div class="modal-footer">
							<div class="w-100">

								<div class="input-group">
									<textarea id="msg" name="msg" class="form-control type_msg"
										placeholder="Type a message"></textarea>
									<!-- <div class="input-group-append">
								<a href="javascript:void(0);"> <span
									class="input-group-text send_btn" ><img
										th:src="@{/images/sendIcon.png}"><br> Send</span></a>
							</div> -->
								</div>
								<a href="javascript:void(0);" class="addCommentBtn"
									id="submitQuery">Add Comments</a>
							</div>
							
						</div>

					</div>
				</div>
			</form>
		</div>
		
		
		
		
		
		
		
	</div>

</div>



	<div th:fragment="customJs">
		<script th:src="@{/./js/summary.js}"></script>
		<script type="text/javascript" th:src="@{/./js/view-modal.js}"></script>
	</div>