<!--  css  file-->
<div th:fragment="customCss"></div>

<!--  content body -->
<div th:fragment="content">

	<section class="mainContainer">
		<div class="col-md-12 col-sm-12">

			<div class="tabsParent">
				<div th:insert="postSigning/header :: header"></div>


				<div id="step-1" class=" tab-pane fade show active" role="tabpanel"
					aria-labelledby="tab_A">
					<div id="collapse-A" class="collapse show" role="tabpanel"
						aria-labelledby="heading-A">
						
						<div class="card-body">
							<form id="plan" class="client-form" th:object="${projectDetails}"
								method="POST" enctype="multipart/form-data" autocomplete="off">
								<div class="row">
									<div class="col-lg-6 col-sm-6" id="feasibility_state">
										<fieldset class="form-group">
											<label for="exampleInputEmail1"
												class="bmd-label-static d-block">Feasibility State <span
												style="color: red">*</span>
											</label>
											<!-- Default unchecked -->
											<div th:if="${projectDetails?.id==null or projectDetails?.id==''}">
											<div class="custom-control custom-radio d-inline">
												<input type="radio" class="custom-control-input"
													id="defaultUnchecked1" name="feasibilityState"
													value="pre_signing" > <label
													class="custom-control-label" for="defaultUnchecked1">Pre
													Signing </label>
											</div>
											<div class="custom-control custom-radio d-inline" style="margin-left:-5px">
												<input type="radio" class="custom-control-input"
													id="defaultUnchecked2" name="feasibilityState"
													value="post_signing" checked> <label
													class="custom-control-label" for="defaultUnchecked2">Post
													Signing</label>
											</div>
											<div class="custom-control custom-radio d-inline">
												<input type="radio" class="custom-control-input"
													id="defaultUnchecked3" name="feasibilityState"
													value="pre_handover" > <label
													class="custom-control-label" for="defaultUnchecked3">Pre-Handover</label>
											</div>
											</div>
											<div th:if="${projectDetails?.id!=null}">
											<div class="custom-control custom-radio d-inline">
												<input type="radio" class="custom-control-input"
													id="defaultUnchecked2" name="feasibilityState"
													value="post_signing" checked> <label
													class="custom-control-label" for="defaultUnchecked2">Post
													Signing</label>
											</div>
											</div>
										</fieldset>
									</div>

									<div id="stickID">
										<label for="exampleInputEmail1" class="bmd-label-static">Report
											ID</label> <input type="hidden" name="reportId"
											th:value="${reportId}">
										<p class="reportIdText"
											th:text="${projectDetails == null} ? ${reportId} : ${projectDetails?.reportId}"></p>
									</div>



									<div class="col-lg-6 col-sm-6 blank-field">
										<fieldset class="form-group"></fieldset>
									</div>



									<div class="col-lg-6 col-sm-6 projectName_field"
										style="display: block;">
										<fieldset class="form-group">
											<label for="exampleInputEmail1" class="bmd-label-static">Project
												Name <span style="color: red">*</span> <span
													class="text-danger" id="projectListError"></span> </label> 
												<span th:if="${projectDetails?.feasibilityState == 'pre_signing' || projectDetails?.feasibilityState == null}">
													<select class="form-control" id="projectName" name="id">
														<option value="">Select project</option>
															<option th:each="project: ${projectList}"
																th:value="${project?.id}"
																th:selected="${projectDetails?.id == project?.id}"
																th:text="${project?.projectName}"></option>
													</select>
												
												</span>
											
											<span th:if="${projectDetails?.feasibilityState == 'post_signing'}">
												<input type="hidden" class="form-control" name="id"
													th:value="${projectDetails?.id}" required />
												<input type="text" class="form-control" name="projectName"
													id="projectNameInput" placeholder="Enter Your Project Name" 
													th:value="${projectDetails?.projectName}" required />
											</span>
											

										</fieldset>
									</div>

									<div class="col-lg-6 col-sm-6 blank-field ">
									<input type="hidden" name="reportType" th:value="${projectDetails?.reportType}" />
										<fieldset class="form-group"></fieldset>
									</div>


									<div class="col-lg-6 col-sm-6">
										<fieldset class="form-group">
											<label for="exampleInputEmail1" class="bmd-label-static">Address
												<span style="color: red" id="pac-inputError">*</span>
											</label> <input type="text" class="form-control" required="required"
												pattern="([^\s][A-z0-9À-ž\s]+)"
												name="projectLocation.locality" id="pac-input"
												placeholder="Enter Address"
												th:value="${projectDetails?.projectLocation?.locality}" />

										</fieldset>
									</div>

	
									<div class="col-lg-6 col-sm-6">
										<fieldset class="form-group">
											<label for="exampleInputEmail1" class="bmd-label-static">Development
												Size (Sq. ft.) <span style="color: red"
												id="exampleInputEmail1Error">*</span>
											</label> <input type="text" class="form-control decimalLimit"
												name="totalDeveloperSize" 
												id="exampleInputEmail1" placeholder="Enter Development Size"
												th:value="${projectDetails?.totalDeveloperSize}">
										</fieldset>
									</div>
									<div class="col-lg-6 col-sm-6">
										<fieldset class="form-group">
											<label for="exampleInputEmail1" class="bmd-label-static">Retail
												Area of Project (Sq. ft.) <span style="color: red"
												id="exampleInputEmail2Error">*</span>
											</label><input type="text" class="form-control decimalLimit"
												name="retailAreaOfProject" id="exampleInputEmail2"
												placeholder="Enter Retail Area"
												th:value="${projectDetails?.retailAreaOfProject}">
										</fieldset>
									</div>


									
										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Type of
													Project <span style="color: red">*</span><span id=""></span>
												</label><select class="form-control" id="" name="projectType">
													<option value="Greenfield" 	th:selected="${projectDetails?.projectType == 'Greenfield'}"><span>Greenfield</span></option>
													<option value="Stand_Alone" th:selected="${projectDetails?.projectType == 'Stand_Alone'}"><spane>Stand
														Alone</span></option>
													<option value="Retro_Fit" th:selected="${projectDetails?.projectType == 'Retro_Fit'}"><spane>Retro Fit</span></option>
												
												</select>
											</fieldset>
										</div>
									
									<div class="col-lg-6 col-sm-6">
										<fieldset class="form-group">
											<label for="exampleInputEmail1" class="bmd-label-static">Tenancy
												Mix <span style="color: red" id="exampleInputEmail3Error">*</span>
											</label> <input type="text" class="form-control" name="tenancyMix"
												pattern="([^\s][A-z0-9À-ž\s]+)" id="exampleInputEmail3"
												placeholder="Enter Tenancy Mix"
												th:value="${projectDetails?.tenancyMix}" />

										</fieldset>
									</div>
									<div class="col-lg-6 col-sm-6">
										<fieldset class="form-group">
											<label for="exampleInputEmail1" class="bmd-label-static">Upcoming
												Infrastructure Development <span style="color: red"
												id="exampleInputEmail4Error">*</span>
											</label> <input type="text" class="form-control"
												pattern="([^\s][A-z0-9À-ž\s]+)"
												name="upcomingInfrastructureDevlopment"
												id="exampleInputEmail4"
												placeholder="Upcoming Infrastructure Development"
												th:value="${projectDetails?.upcomingInfrastructureDevlopment}">
										</fieldset>
									</div>
									
                                    <div class="col-lg-6 col-sm-6">
									<fieldset class="form-group">
										<label for="exampleInputEmail1" class="bmd-label-static">Is Mall
											 <span style="color: red">*</span><span
											class="text-danger" id="exampleInputEmail4Error"></span>
										</label>
										
									   <div>
										    <div class="custom-control custom-radio d-inline">
												<input type="radio" id="saleModel" name="projectDetails.saleModel" class="custom-control-input"
							                  	th:value="${projectDetails?.saleModel}" > <label
													class="custom-control-label isMallRadio" >Sale Model
													</label>
											</div>
											<div class="custom-control custom-radio d-inline">
												<input type="radio" id="leaseModel" name="projectDetails.leaseModel" class="custom-control-input"
											    th:value="${projectDetails?.leaseModel}"> <label
													class="custom-control-label isMallRadio" >Lease Model
													</label>
											</div>
									   </div>
								
									</fieldset>
								</div>
								
								<div class="col-lg-6 col-sm-6 blank-field">
									<fieldset class="form-group"></fieldset>
								</div>


									<div class="col-lg-6 col-sm-6">
										<fieldset class="form-group">
											<label for="start-date" class="bmd-label-static">Date
												of Handover <span style="color: red" id="fromError">*</span>
											</label> <input type="text" placeholder="Select Date"
												class="date-field form-control" data-dtp="dtp_EDQ9R"
												id="dateOfHandover" name="dateOfHandover"
												th:value="${projectDetails?.DateOfHandover}">
										</fieldset>
									</div>
									<div class="col-lg-6 col-sm-6">
										<fieldset class="form-group">
											<label for="start-date" class="bmd-label-static">Date
												of Opening <span style="color: red" id="toError">*</span>
											</label> <input type="text" placeholder="Select Date"
												class="date-field form-control" data-dtp="dtp_EDQ9R" id="dateOfOpening"
												name="dateOfOpening"
												th:value="${projectDetails?.DateOfOpening}">
										</fieldset>
									</div>
									<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group bmd-form-group">
												<label for="exampleInputEmail1" class="bmd-label-static">Upload
													Project Presentation </label>
													
													<div class="file-select mt-2">
														<p class="selectFile">Select .pdf only</p>
														<input type="file" name="uploadFileStep1" id="uploadfile" value="Choose a file" accept="application/pdf"/>
													</div>
													<p class="file_must_be text-left"><span id="fileError">File must be .pdf only</span></p>
											</fieldset>
										</div>
									

									<span id="error-mgs" style="color: red;"></span>
									<div class="col-lg-6 col-sm-6">
										<fieldset class="form-group">
											<input type="hidden" class="form-control"
											th:value="${projectDetails?.projectLocation?.city}"
												name="projectLocation.city" id="city">
										</fieldset>
									</div>
									<div class="col-lg-6 col-sm-6">
										<fieldset class="form-group">
											<input type="hidden" class="form-control"
											th:value="${projectDetails?.projectLocation?.state}"
												name="projectLocation.state" id="stateCity">
										</fieldset>
									</div>

									<div class="col-lg-6 col-sm-6">
										<fieldset class="form-group">
											<input type="hidden" class="form-control"
											th:value="${projectDetails?.projectLocation?.latitude}"
												name="projectLocation.latitude" id="latitude">
										</fieldset>
									</div>
									<div class="col-lg-6 col-sm-6">
										<fieldset class="form-group">
											<input type="hidden" class="form-control"
											th:value="${projectDetails?.projectLocation?.longitude}"
												name="projectLocation.longitude" id="longitude">
										</fieldset>
									</div>

								</div>


								<div class="p-4 buttonGroup_nextCancelSave" th:if="${projectDetails?.status < 105 }">
									<a th:href="@{/dashboard}"><button type="button"
											class="cancelBtn btn btn-raised btn-secondary">CANCEL</button></a>
									<button type="button"
										class="nextBtn btn-raised btn btn-success" id="save_plan">NEXT</button>
									<button type="button" id="save_close"
										class="saveCloseBtn btn btn-raised btn-secondary">SAVE
										& CLOSE</button>
								</div>
								
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

</div>


<!--  jquery file -->
<div th:fragment="customJs">
	<script type="text/javascript" th:src="@{/./js/post-signing-step-1.js}"></script>
<script	th:src="@{/./js/bootstrap-material-datetimepicker.js}"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCatyZLSASD1xIuiOctecSipsxqeJgPZLM&libraries=places&callback=initMap"
		async defer></script>


</div>