<div th:fragment="customCss">
	<style>
.operatingAssumptionTableParent {
	position: relative;
}

.buttonGroup_nextCancelSave button[type='submit'], .buttonGroup_nextCancelSave button[type='submit'] >a {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 24px;
    color: #000!important;
    padding: 14px;
    min-width: 159px;
    box-shadow: none;
    border-radius: 3px;
    -moz-transition: 0.3s;
    transition: 0.3s;
}
.m_title {
    text-transform: capitalize;
}
</style>
</div>
<div th:fragment="content">

	<section class="mainContainer">
		<div class="col-md-12 col-sm-12">

			<div class="tabsParent">
				<div th:insert="postSigning/header :: header" ></div>

				<div id="content" class="tab-content" role="tablist">

					<div id="step-6" class=" tab-pane fade show active" role="tabpanel"
						aria-labelledby="tab_F">
						<div id="collapse-d" class="collapse show" role="tabpanel"
							aria-labelledby="heading-d">
							<form class="client-form" id="operating-assumptionsForm"
								 method="POST" 
								th:object="${projectDetails}" autocomplete="off"
								enctype="multipart/form-data">
								<div class="card-body p-0">
									<div class="innerTableParent">
										<div id="stickID" style="top: 0;">
											<label for="exampleInputEmail1" class="bmd-label-static">Report
												ID</label> <input type="hidden" name="reportId"
												th:value="${reportId}">
											<p class="reportIdText"
												th:text="${projectDetails == null} ? ${reportId} : ${projectDetails?.reportId}"></p>
										</div>
										<div class="operatingAssumptionTableParent">
											<table class="table table-bordered my-5" id="occupancyTable">
												<thead>
													<input type="hidden" name="id"
														th:value="${projectDetails?.id}" id="id" />
													<tr class="categoryTitle" style="border: hidden;">
														<th colspan="4" border="0">revenue parameters</th>
													</tr>
													<tr>
														<th scope="col" class="firstColumn">OCCUPANCY</th>
														<th scope="col">suggested values (%)</th>
														<th scope="col">input values (%)</th>
														<th scope="col">comments</th>
													</tr>
												</thead>
												<tbody id="occupancy">
													<tr class="categoryTitle validationCondtionTR"
														th:each="entry, iStat : ${projectDetails?.occupancy}">
														<input type="hidden" th:value="${iStat.size}"
															id="occupancyCounter">
														<td class="firstColumn "><input type="text" class="m_title"
															id="occupancy" readonly 
															th:field="*{occupancy[__${iStat.index}__].formatType}"
															th:value="${entry.formatType}"> <input
															type="hidden"
															th:field="*{occupancy[__${iStat.index}__].admits.normals}"
															th:value="${entry?.admits?.normals}"> <input
															type="hidden"
															th:field="*{occupancy[__${iStat.index}__].admits.recliner}"
															th:value="${entry?.admits?.recliner}"> <input
															type="hidden"
															th:field="*{occupancy[__${iStat.index}__].admits.longers}"
															th:value="${entry?.admits?.longers}"></td>
														<td><input type="text" placeholder="Enter Value"
															name="occupancy[0].costType"
															class="suggested_input_value validate_required"
															th:field="*{occupancy[__${iStat.index}__].costType}"
															th:value="${entry.costType}" readonly="readonly">
														</td>
														<td><input type="text"
															name="occupancy[0].inputValues"
															class="input_value validate_required occupancyLimit"
															th:field="*{occupancy[__${iStat.index}__].inputValues}"
															th:value="${entry.inputValues}" placeholder="Enter Value">
														</td>
														<td>
															<!-- <input type="text" name="occupancy[0].comments"
														class="input_comment "
														th:field="*{occupancy[__${iStat.index}__].comments}" 
														th:value="${entry.comments}" placeholder="Enter Text"> -->

															<textarea type="text" name="occupancy[0].comments"
																class="input_comment w-100"
																th:field="*{occupancy[__${iStat.index}__].comments}"
																th:value="${entry.comments}" placeholder="Enter Text"></textarea>
														</td>
													</tr>
													<tr>
														<td colspan="4"><a href="javascript:void(0);"
															id="occupancy-revenue">View Details</a></td>
													</tr>
												</tbody>

											</table>

											<table class="table table-bordered my-5">
												<thead>
													<tr>
														<th scope="col" class="firstColumn">ATP</th>
														<th scope="col">suggested values (INR)</th>
														<th scope="col">input values (INR)</th>
														<th scope="col">comments</th>
													</tr>
												</thead>
												<tbody id="atp">
													<div th:each="entry, iStat : ${projectDetails?.atp}">
														<tr class="categoryTitle">
															<td colspan="4"><input type="text" readonly
																name="atp[0].cinemaFormatType"  class="m_title"
																th:field="*{atp[__${iStat.index}__].cinemaFormatType}"
																th:value="${entry.cinemaFormatType}"></td>
														</tr>
														<tr th:class="${'categoryTitle validationCondtionTR normal '+entry.cinemaFormatType}">
															<td>Normal</td>
															<td><input type="text" name="atp[0].normal.costType"
																placeholder="suggested value" class="suggested_input_value validate_required"
																th:field="*{atp[__${iStat.index}__].normal.costType}"
																th:value="${entry.normal.costType}" readonly></td>
															<td><input type="text" th:id="${'normalAtp_'+entry.cinemaFormatType}"
																name="atp[0].normal.inputValues"
																placeholder="Enter Value"
																th:field="*{atp[__${iStat.index}__].normal.inputValues}"
																class="w-100 occupancyLimit input_value validate_required "
																th:value="${entry.normal.inputValues}"></td>
															<td>
																<!-- <input type="text" name="atp[0].normal.comments" placeholder="comments" 
															th:field="*{atp[__${iStat.index}__].normal.comments}" 
															th:value="${entry.normal.comments}"> --> <textarea
																	class="w-100 input_comment" type="text" name="atp[0].normal.comments"
																	placeholder="Enter Text"
																	th:field="*{atp[__${iStat.index}__].normal.comments}"
																	th:value="${entry.normal.comments}"></textarea>
															</td>
														</tr>
														<tr th:class="${'categoryTitle validationCondtionTR recliner '+entry.cinemaFormatType}">
															<td>Recliner</td>
															<td><input type="text"
																name="atp[0].recliner.costType" class="suggested_input_value validate_required"
																placeholder="suggested value"
																th:field="*{atp[__${iStat.index}__].recliner.costType}"
																readonly th:value="${entry.recliner.costType}"></td>
															<td><input type="text" th:id="${'reclinerAtp_'+entry.cinemaFormatType}"
																name="atp[0].recliner.inputValues"
																placeholder="Enter Value"
																th:field="*{atp[__${iStat.index}__].recliner.inputValues}"
																class="occupancyLimit input_value validate_required "
																th:value="${entry.recliner.inputValues}"></td>

															<td>
																<!-- <input type="text" name="atp[0].recliner.comments" placeholder="comments"
															th:field="*{atp[__${iStat.index}__].recliner.comments}" 
															th:value="${entry.recliner.comments}"> --> <textarea
																	type="text" name="atp[0].recliner.comments"
																	class="w-100 input_comment" placeholder="Enter Text"
																	th:field="*{atp[__${iStat.index}__].recliner.comments}"
																	th:value="${entry.recliner.comments}"></textarea>
															</td>
														</tr>
														<tr th:class="${'categoryTitle validationCondtionTR lounger '+entry.cinemaFormatType}">
															<td>Lounger</td>
															<td><input type="text"
																name="atp[0].lounger.costType" class="suggested_input_value validate_required"
																placeholder="suggested value"
																th:field="*{atp[__${iStat.index}__].lounger.costType}"
																readonly th:value="${entry.lounger.costType}"></td>
															<td><input type="text" th:id="${'loungerAtp_' + entry.cinemaFormatType}"
																name="atp[0].lounger.inputValues"
																placeholder="Enter Value"
																th:field="*{atp[__${iStat.index}__].lounger.inputValues}"
																class="occupancyLimit input_value validate_required "
																th:value="${entry.lounger.inputValues}"></td>

															<td>
																<!-- <input type="text" name="atp[0].lounger.comments" placeholder="comments"
															th:field="*{atp[__${iStat.index}__].lounger.comments}" 
															th:value="${entry.lounger.comments}"> --> <textarea
																	type="text" name="atp[0].lounger.comments"
																	class="w-100 input_comment" placeholder="Enter Text"
																	th:field="*{atp[__${iStat.index}__].lounger.comments}"
																	th:value="${entry.lounger.comments}"></textarea>
															</td>
														</tr>
														<tr class="categoryTitle m_title">
															<td class="firstColumn"><input type="text"
																name="atp[0].formatType" readonly
																th:value="${entry.blendedAtp.formatType}"></td>
														 	<td><input type="text" name="atp[0].costType" readonly
																></td>
															<td><input type="text" name="atp[0].inputValues" readonly
															    th:id="${'blendedAtp'+entry.cinemaFormatType}"
															    th:value="${entry.blendedAtp.inputValues}"></td>
															 <td></td>
													    </tr>
													</div>
													<tr class="categoryTitle">
														<td class="firstColumn"><input type="text" readonly
															value="BLENDED CINEMA ATP"></td>
													 	<td></td>
														<td><input type="text" readonly
														    id="totalBlendedAtp"
														    name="totalBlendedAtp"
														    th:value="${projectDetails.totalBlendedAtp}"></td>
														<td></td>
												    </tr>
													<tr>
														<td colspan="4"><a href="javascript:void(0);"
															id="rev-atp">View Details</a></td>
													</tr>
												</tbody>
											</table>

											<table class="table table-bordered my-5">
												<thead>
													<tr>
														<th scope="col" class="firstColumn">SPH</th>
														<th scope="col">suggested values (INR)</th>
														<th scope="col">input values (INR)</th>
														<th scope="col">comments</th>
													</tr>
												</thead>
												<tbody id="sph">
													<tr class="categoryTitle validationCondtionTR blendedInputSph"
														th:each="entry, iStat : ${projectDetails?.sph}" th:if="${entry?.formatType != 'BLENDED SPH'}">
														<td class="firstColumn "><input type="text"
															name="sph[0].formatType" readonly class="m_title"
															th:field="*{sph[__${iStat.index}__].formatType}"
															th:value="${entry.formatType}"></td>
														<td><input type="text" name="sph[0].costType"
															placeholder="Enter Value" class="suggested_input_value validate_required"
															th:field="*{sph[__${iStat.index}__].costType}" readonly
															th:value="${entry.costType}"> <!-- 	th:field="*{sph[__${iStat.index}__].suggestedValue}" 
															th:value="${entry.suggestedValue}" --></td>
														<td><input type="text" name="sph[0].inputValues" th:id="changeBlendedInputSph" th:size4="${iStat.size}"
															th:field="*{sph[__${iStat.index}__].inputValues}"
															class="occupancyLimit input_value validate_required " th:value="${entry.inputValues}"
															placeholder="Enter Value"></td>
														<td><textarea class="w-100 input_comment" type="text"
																name="sph[0].comments"
																th:field="*{sph[__${iStat.index}__].comments}"
																th:value="${entry.comments}" placeholder="Enter Text"></textarea>
														</td>
													</tr>
													<tr class="categoryTitle m_title" th:each="entry, iStat : ${projectDetails?.sph}" th:if="${entry?.formatType == 'BLENDED SPH'}">
														<td class="firstColumn"><input type="text"
															name="sphh.formatType" readonly
															value="BLENDED CINEMA SPH"></td>
													 	<td><input type="text" name="sphh.costType" readonly
															></td>
														<td><input type="text" name="sphh.inputValues" readonly id="blendedInputValueSph"
														    th:value="${entry.inputValues}"></td>
													</tr>
													<tr>
													
														<td colspan="4"><a href="javascript:void(0);"
															id="rev-sph"  class="rev-sph">View Details</a></td>
													</tr>
												</tbody>
											</table>
											
											<!-- Here is COGS% Field:: -->
											<table class="table table-bordered my-5">
												<thead>
													<tr>
														<th scope="col" class="firstColumn">COGS %</th>
														<th scope="col">suggested values (%)</th>
														<th scope="col">input values (%)</th>
														<th scope="col">comments</th>
													</tr>
												</thead>
												<tbody id="cogs">
													<tr class="categoryTitle validationCondtionTR">
														<td class="firstColumn">cogs % </td>
														<td id="cogs_suggestedValue"><input type="text"
															name="cogs.suggestedValue" class="suggested_input_value validate_required"
															th:value="${projectDetails?.cogs?.suggestedValue} ? ${projectDetails?.cogs?.suggestedValue} : 28"
															readonly placeholder="Enter Value"></td>
														<td id="cogs_inputValue">
														<div>
														<input type="text"
															name="cogs.inputValues"
															th:value="${#numbers.formatDecimal(projectDetails?.cogs?.inputValues, 1, 'NONE', 2, 'POINT')}"
															class="occupancyLimit input_value  w-100 input_comment validate_required" placeholder="Enter Value"
															style="padding-bottom:0px;height: 50px;padding-top: 0px;margin-top:-6px">
															
														</div>
														
														</td>
														
														<td id="cogs_comments">
														<div class="" style="height:50px;">
														<textarea class="${projectDetails?.cogs?.inputValues} ? w-100 input_comment : w-100 input_comment validate_required"
																type="text" name="cogs.comments"
																style="margin-top:-1px"
																th:text="${projectDetails?.cogs?.comments}"
																placeholder="Enter Text"></textarea>
														</div>
														
														</td>
													</tr>
													<tr>
														<td colspan="4"><a href="javascript:void(0);"
															id="rev-sph">View Details</a></td>
													</tr>
												</tbody>
											</table>
											
											 <!-- Here is No of Shows Field:: -->
											<table class="table table-bordered my-5">
												<thead>
													<tr>
														<th scope="col" class="firstColumn">NO OF SHOWS</th>
														<th scope="col">suggested values</th>
														<th scope="col">input values</th>
														<th scope="col">comments</th>
													</tr>
												</thead>
												<tbody id="noOfShows">
													<tr class="categoryTitle">
														<td class="firstColumn">No Of Shows</td>
														<td id="noOfShows_suggestedValue"><input type="text"
															name="noOfShows.suggestedValue" class="suggested_input_value validate_required no_of_shows_suggested_value"
															th:value="${projectDetails?.noOfShows?.suggestedValue} ? ${projectDetails?.noOfShows?.suggestedValue} : 5.4"
															readonly placeholder="Enter Value"></td>
														<td id="noOfShows_inputValue">
														<div>
														<input type="text"
															name="noOfShows.inputValues"
															th:value="${#numbers.formatDecimal(projectDetails?.noOfShows?.inputValues, 1, 'NONE', 2, 'POINT')}"
															class="occupancyLimit input_value no_of_shows_input_value w-100 input_comment validate_required"  placeholder="Enter Value"
															style="padding-bottom:0px;height: 50px;padding-top: 0px;margin-top:-6px" >
														</div>
														
														</td>
														<td>
														<div style="height:50px">
														<textarea id="noOfShows_comments"  class="${projectDetails?.noOfShows?.inputValues} ? w-100 input_comment : w-100 input_comment validate_required"    
																type="text" name="noOfShows.comments"
																style="margin-top:-1px"
																th:text="${projectDetails?.noOfShows?.comments}"
																placeholder="Enter Text"></textarea>
														</div>
														</td>
														 <span class="text-danger" id="noOfShowsError"></span>
														
												      
													</tr>
													<tr>
														<td colspan="4"><a href="javascript:void(0);"
															id="rev-sph">View Details</a></td>
															 
													</tr>
												</tbody>
											</table>

											<table class="table table-bordered my-5">
												<thead>
													<tr>
														<th scope="col" class="firstColumn">other revenue
															parameters</th>
														<th scope="col">suggested values</th>
														<th scope="col">input values</th>
														<th scope="col">comments</th>
													</tr>
													<tr class="categoryTitle validationCondtionTR">
														<td class="firstColumn">Ad Revenue <br><a
															class="float-right" href="javascript:void(0);"
															id="ad-revenue">View Details</a></td>

														<td id="adRevenue_costType"><input type="text"
															name="adRevenue.costType" class="suggested_input_value validate_required"
															th:value="${projectDetails?.adRevenue?.costType}"
															readonly placeholder="Enter Value"></td>
														<td id="adRevenue_inputValue"><input type="text"
															name="adRevenue.inputValues"
															th:value="${#numbers.formatDecimal(projectDetails?.adRevenue?.inputValues, 1, 'NONE', 2, 'POINT')}"
															class="occupancyLimit input_value validate_required " placeholder="Enter Value">
														</td>
														<td id="adRevenue_comments"><textarea class="w-100 input_comment"
																type="text" name="adRevenue.comments"
																th:text="${projectDetails?.adRevenue?.comments}"
																placeholder=" Enter Text"></textarea></td>

													</tr>
													<tr class="categoryTitle validationCondtionTR" >
														<td class="firstColumn">Web sales as percentage<br>
															of total sales <br><a class="float-right"
															href="javascript:void(0);" id="web-sales">View
																Details</a></td>

														<td id="webSale_costType"><input type="text"
															name="webSale.costType" class="suggested_input_value validate_required"
															th:value="${projectDetails?.webSale?.costType}" readonly
															placeholder="Enter Value"></td>
														<td id="webSale_inputValue"><input type="text"
															name="webSale.inputValues" class="occupancyLimit input_value validate_required "
															th:value="${projectDetails?.webSale?.inputValues}"
															placeholder="Enter Value"></td>
														<td id="webSale_comments"><textarea class="w-100 input_comment"
																type="text" name="webSale.comments"
																th:text="${projectDetails?.webSale?.comments}"
																placeholder="Enter Text"></textarea></td>
													</tr>
												</thead>
											</table>

											<table class="table table-bordered mt-5 mb-0">
												<thead>
													<tr>
														<th scope="col" class="firstColumn">cost parameters</th>
														<th scope="col">system generated <br>output
														</th>
														<th scope="col">manual inputs <br> <small>(Exception)</small></th>
														<th scope="col">comments</th>
													</tr>
													<tr class="categoryTitle validationCondtionTR">
														<td class="firstColumn">Personnel Expenses (INR) <br><a
															class="float-right" href="javascript:void(0);"
															id="personnel-expenses">View Details</a></td>

														<td id="expenses_costType"><input type="text"
															name="personalExpenses.costType" class="suggested_input_value validate_required"
															th:value="${projectDetails?.personalExpenses?.costType}"
															readonly placeholder="Enter Value"></td>
														<td id="expenses_inputValue"><input type="text"
															name="personalExpenses.inputValues"
															th:value="${#numbers.formatDecimal(projectDetails?.personalExpenses?.inputValues, 1, 'NONE', 2, 'POINT')}"
															class="occupancyLimit input_value validate_required " placeholder="Enter Value">
														</td>
														<td id="expenses_comments"><textarea type="text"
																class="w-100 input_comment" name="personalExpenses.comments"
																th:text="${projectDetails?.personalExpenses?.comments}"
																placeholder="Enter Text"></textarea></td>
													</tr>
													<tr class="categoryTitle validationCondtionTR">
														<td class="firstColumn">Electricity & water (INR) <br><a
															class="float-right" href="javascript:void(0);"
															id="electricity-water">View Details</a></td>
														<!-- 
													<td id="electricity_cost"></td>
													<td id="electricity_inputValue"></td>
													<td id="electricity_comments"></td> -->

														<td><input type="text" class="suggested_input_value validate_required"
															name="electricityWaterBill.costType"
															th:value="${projectDetails?.electricityWaterBill?.costType}"
															readonly placeholder="Enter Value"></td>
														<td><input type="text"
															name="electricityWaterBill.inputValues"
															class="occupancyLimit input_value validate_required "
															th:value="${#numbers.formatDecimal(projectDetails?.electricityWaterBill?.inputValues, 1, 'NONE', 2, 'POINT')}"
															placeholder="Enter Value"></td>
														<td><textarea class="w-100 input_comment" type="text"
																name="electricityWaterBill.comments"
																th:text="${projectDetails?.electricityWaterBill?.comments}"
																placeholder="Enter Text"></textarea></td>
													</tr>
													<tr class="categoryTitle validationCondtionTR">
														<td class="firstColumn">Total R&M expenses (INR) <br><a
															class="float-right" href="javascript:void(0);"
															id="rm-expenses">View Details</a></td>

														<!-- 					<td id="RM_cost"></td>
													<td id="RM_inputValue"></td>
													<td id="RM_comments"></td> -->

														<td><input type="text" class="suggested_input_value validate_required"
															name="totalRMExpenses.costType" readonly
															th:value="${projectDetails?.totalRMExpenses?.costType}"
															placeholder="Enter Value"></td>
														<td><input type="text"
															name="totalRMExpenses.inputValues" class="occupancyLimit input_value validate_required "
															th:value="${#numbers.formatDecimal(projectDetails?.totalRMExpenses?.inputValues, 1, 'NONE', 2, 'POINT')}"
															placeholder="Enter Value"></td>
														<td><textarea type="text" class="w-100 input_comment"
																name="totalRMExpenses.comments"
																th:text="${projectDetails?.totalRMExpenses?.comments}"
																placeholder="Enter Text"></textarea></td>
													</tr>
												<!-- 	<tr class="categoryTitle" id="accordion-toggle">
														<td class="firstColumn">Total overhead (INR) <i
															class="fas fa-sort-down"></i> <a class="float-right"
														href="javascript:void(0);" id="total-overhead">View Details</a></td>

														<td id="overhead_cost"></td>
														<td id="overhead_inputValue"></td>
														<td id="overhead_comments"></td>

														<td><input type="text"
														name="totalOverhead.suggestedValue"
														placeholder="Enter Value"></td>
													<td><input type="text"
														name="totalOverhead.inputValues" placeholder="Enter Value"></td>
													<td><input type="text" name="totalOverhead.comments"
														placeholder="Enter Text"></td>
													</tr> -->
												</thead>
											</table>

											<table class="table table-bordered my-0">
												<tbody id="expenses">
												<tr>
														<td class="firstColumn">Total Overhead(INR)  <i class="fas fa-angle-down"></i> <br><a
															class="float-right" href="javascript:void(0);"></a>
														</td>
														<td><input type="text" class="w-100"
															 readonly
															></td>
														<td><input type="text" class="w-100"
															 readonly
															></td>
														<td><input type="text" class="w-100"
																
															  readonly></input></td>
													</tr>
													<tr class="categoryTitle validationCondtionTR">
														<td class="firstColumn">Housekeeping expense <br><a
															class="float-right" href="javascript:void(0);"
															id="housekeeping-expense">View Details</a>
														</td>
														<td><input type="text" class="suggested_input_value validate_required"
															name="houseKeepingExpense.costType" readonly
															th:value="${projectDetails?.houseKeepingExpense?.costType}"></td>
														<td><input type="text"
															name="houseKeepingExpense.inputValues"
															class="occupancyLimit input_value validate_required "
															th:value="${#numbers.formatDecimal(projectDetails?.houseKeepingExpense?.inputValues, 1, 'NONE', 2, 'POINT')}"
															placeholder="Enter Value"></td>
														<td><textarea type="text"
																name="houseKeepingExpense.comments"
																th:text="${projectDetails?.houseKeepingExpense?.comments}"
																placeholder="Enter Text" class="w-100 input_comment"></textarea></td>
													</tr>
													<tr class="categoryTitle validationCondtionTR">
														<td class="firstColumn">Security expense<br><a
															class="float-right" href="javascript:void(0);"
															id="security-expense">View Details</a></td>
														<td><input type="text" class="suggested_input_value validate_required"
															name="securityExpense.costType" readonly
															th:value="${projectDetails?.securityExpense?.costType}"></td>
														<td><input type="text"
															name="securityExpense.inputValues" class="occupancyLimit input_value validate_required "
															th:value="${#numbers.formatDecimal(projectDetails?.securityExpense?.inputValues, 1, 'NONE', 2, 'POINT')}"
															placeholder="Enter Value"></td>
														<td><textarea class="w-100 input_comment" type="text"
																name="securityExpense.comments"
																th:text="${projectDetails?.securityExpense?.comments}"
																placeholder="Enter Text"></textarea></td>
													</tr>
													<tr class="categoryTitle validationCondtionTR">
														<td class="firstColumn">Communication expense<br><a
															class="float-right" href="javascript:void(0);"
															id="communication-expense">View Details</a></td>
														<td><input type="text" class="suggested_input_value validate_required"
															name="communicationExpense.costType" readonly
															th:value="${projectDetails?.communicationExpense?.costType}"></td>
														<td><input type="text"
															name="communicationExpense.inputValues"
															th:value="${#numbers.formatDecimal(projectDetails?.communicationExpense?.inputValues, 1, 'NONE', 2, 'POINT')}"
															class="occupancyLimit input_value validate_required " placeholder="Enter Value"></td>
														<td><textarea type="text"
																name="communicationExpense.comments"
																th:text="${projectDetails?.communicationExpense?.comments}"
																placeholder="Enter Text" class="w-100 input_comment"></textarea></td>
													</tr>
													<tr class="categoryTitle validationCondtionTR">
														<td class="firstColumn">Travelling and conveyance
															expense<br><a class="float-right" href="javascript:void(0);"
															id="travelling-expense">View Details</a>
														</td>
														<td><input type="text" class="suggested_input_value validate_required"
															name="travellingAndConveyanceExpense.costType" readonly
															th:value="${projectDetails?.travellingAndConveyanceExpense?.costType}"></td>
														<td><input type="text"
															name="travellingAndConveyanceExpense.inputValues"
															class="occupancyLimit input_value validate_required "
															th:value="${#numbers.formatDecimal(projectDetails?.travellingAndConveyanceExpense?.inputValues, 1, 'NONE', 2, 'POINT')}"
															placeholder="Enter Value"></td>
														<td><textarea type="text"
																name="travellingAndConveyanceExpense.comments"
																th:text="${projectDetails?.travellingAndConveyanceExpense?.comments}"
																placeholder="Enter Text" class="w-100 input_comment"></textarea></td>
													</tr>
													<tr class="categoryTitle validationCondtionTR">
														<td class="firstColumn">Legal fee<br><a
															class="float-right" href="javascript:void(0);"
															id="legal-fee">View Details</a></td>
														<td><input type="text" name="legalFee.costType" class="suggested_input_value validate_required"
															readonly th:value="${projectDetails?.legalFee?.costType}"></td>
														<td><input type="text" name="legalFee.inputValues"
															class="occupancyLimit input_value validate_required "
															th:value="${#numbers.formatDecimal(projectDetails?.legalFee?.inputValues, 1, 'NONE', 2, 'POINT')}"
															placeholder="Enter Value"></td>
														<td><textarea type="text" name="legalFee.comments"
																th:text="${projectDetails?.legalFee?.comments}"
																placeholder="Enter Text" class="w-100 input_comment"></textarea></td>
													</tr>
													<tr class="categoryTitle validationCondtionTR">
														<td class="firstColumn">Insurance expense<br><a
															class="float-right" href="javascript:void(0);"
															id="insurance-expense">View Details</a></td>
														<td><input type="text" class="suggested_input_value validate_required"
															name="insuranceExpense.costType" readonly
															th:value="${projectDetails?.insuranceExpense?.costType}"></td>
														<td><input type="text"
															name="insuranceExpense.inputValues"
															class="occupancyLimit input_value validate_required "
															th:value="${#numbers.formatDecimal(projectDetails?.insuranceExpense?.inputValues, 1, 'NONE', 2, 'POINT')}"
															placeholder="Enter Value"></td>
														<td><textarea type="text"
																name="insuranceExpense.comments"
																th:text="${projectDetails?.insuranceExpense?.comments}"
																placeholder="Enter Text" class="w-100 input_comment"></textarea></td>
													</tr>
													<tr class="categoryTitle validationCondtionTR">
														<td class="firstColumn">Internet expenses<br><a
															class="float-right" href="javascript:void(0);"
															id="internet-expenses">View Details</a></td>
														<td><input type="text" class="suggested_input_value validate_required"
															name="internetExpense.costType" readonly
															th:value="${projectDetails?.internetExpense?.costType}"></td>
														<td><input type="text"
															name="internetExpense.inputValues"
															th:value="${#numbers.formatDecimal(projectDetails?.internetExpense?.inputValues, 1, 'NONE', 2, 'POINT')}"
															class="occupancyLimit input_value validate_required " placeholder="Enter Value"></td>
														<td><textarea type="text"
																name="internetExpense.comments"
																th:text="${projectDetails?.internetExpense?.comments}"
																placeholder="Enter Text" class="w-100 input_comment"></textarea></td>
													</tr>
													<tr class="categoryTitle validationCondtionTR">
														<td class="firstColumn">Printing and stationary
															expense<br><a class="float-right" href="javascript:void(0);"
															id="printing-stationary">View Details</a>
														</td>
														<td><input type="text" class="suggested_input_value validate_required"
															name="printingAndStationaryExpense.costType" readonly
															th:value="${projectDetails?.printingAndStationaryExpense?.costType}"></td>
														<td><input type="text"
															name="printingAndStationaryExpense.inputValues"
															class="occupancyLimit input_value validate_required "
															th:value="${#numbers.formatDecimal(projectDetails?.printingAndStationaryExpense?.inputValues, 1, 'NONE', 2, 'POINT')}"
															placeholder="Enter Value"></td>
														<td><textarea type="text"
																name="printingAndStationaryExpense.comments"
																th:text="${projectDetails?.printingAndStationaryExpense?.comments}"
																placeholder="Enter Text" class="w-100 input_comment"></textarea></td>
													</tr>
													<tr class="categoryTitle validationCondtionTR">
														<td class="firstColumn">Marketing expense<br><a
															class="float-right" href="javascript:void(0);"
															id="marketing-expense">View Details</a></td>
														<td><input type="text" class="suggested_input_value validate_required"
															name="marketingExpense.costType" readonly
															th:value="${projectDetails?.marketingExpense?.costType}"></td>
														<td><input type="text"
															name="marketingExpense.inputValues"
															class="occupancyLimit input_value validate_required "
															th:value="${#numbers.formatDecimal(projectDetails?.marketingExpense?.inputValues, 1, 'NONE', 2, 'POINT')}"
															placeholder="Enter Value"></td>
														<td><textarea type="text"
																name="marketingExpense.comments"
																th:text="${projectDetails?.marketingExpense?.comments}"
																placeholder="Enter Text" class="w-100 input_comment"></textarea></td>
													</tr>
													<tr class="categoryTitle validationCondtionTR">
														<td class="firstColumn">Miscellaneous expenses<br><a
															class="float-right" href="javascript:void(0);"
															id="miscellaneous-expenses">View Details</a></td>
														<td><input type="text" class="suggested_input_value validate_required"
															name="miscellaneousExpenses.costType" readonly
															th:value="${projectDetails?.miscellaneousExpenses?.costType}"></td>
														<td><input type="text"
															name="miscellaneousExpenses.inputValues"
															class="occupancyLimit input_value validate_required "
															th:value="${#numbers.formatDecimal(projectDetails?.miscellaneousExpenses?.inputValues, 1, 'NONE', 2, 'POINT')}"
															placeholder="Enter Value"></td>
														<td><textarea type="text"
																name="miscellaneousExpenses.comments"
																th:text="${projectDetails?.miscellaneousExpenses?.comments}"
																placeholder="Enter Text" class="w-100 input_comment"></textarea></td>
													</tr>
												</tbody>
											</table>

										

										<table class="table table-bordered mt-5 mb-3">
											<thead>
												<!-- <tr class="categoryTitle">
													<th colspan="4" border="0">other Parameters</th>
												</tr> -->
												<tr>
													<th scope="col" class="firstColumn">other Parameters</th>
													<th scope="col">input value</th>
													<th scope="col">comments</th>
												</tr>
												<tr class="categoryTitle">
													<td class="firstColumn">Misc Income</td>
													<td><input type="text" name="miscIncome.inputValues"
													th:value="${#numbers.formatDecimal(projectDetails?.miscIncome?.inputValues, 1, 'NONE', 2, 'POINT')}"
														class="occupancyLimit validate_required" placeholder="Enter Value"></td>
													<td><textarea type="text" name="miscIncome.comments"
															th:text="${projectDetails?.miscIncome?.comments}"
															placeholder="Enter Text" class=""></textarea></td>
												</tr>
												<tr class="categoryTitle">
													<td class="firstColumn">Show Tax ( INR )</td>
													<td><input type="text" name="showTax.inputValues"
														th:value="${projectDetails?.showTax?.inputValues}"
														class="occupancyLimit validate_required" placeholder="Enter Value"></td>
													<td><textarea type="text" name="showTax.comments"
															th:text="${projectDetails?.showTax?.comments}"
															placeholder="Enter Text" class=""></textarea></td>
												</tr>
												<tr class="categoryTitle">
													<td class="firstColumn" colspan="3">3D Income
														Applicable? <select id="yesNo_3dIncome"
														name="income3dApplicable">
															<option
																th:selected="${projectDetails?.income3dApplicable == true ? true : false}"
																value="yes">Yes</option>
															<option
																th:selected="${projectDetails?.income3dApplicable == false ? true : false}"
																value="no">No</option>
													</select>
													</td>
												</tr>
											</thead>
										</table>

									</div>
									
									<div class="grothAssumption_tableParent tableFormating">
										<table class="table table-bordered mt-5 mb-3" id="revenueAssumtionGrowthTable">
									        <thead id="theadRevenueAssumtionGrowthTable">
									        </thead>
									        <tbody id="tbodyRevenueAssumtionGrowthTable"> 
									        </tbody>
									    </table>
								    </div>
								    
								    <div>
								    <span style="font-size:30px; margin-left: 20px; margin-top: 20px">*</span><p style="margin-left: 40px;margin-right:5px; margin-top: -40px; color: gray">  For Admit and Sponsorship income growth in Year 1, please put in de-growth % as compared to Year 2. Please do not put a negative number in Year 1, since the formula is built to account for a de-growth%.</p>  
								    </div>
								    
								     <span class="assumption-input-error"></span>
								     <br></br>
								 
								     <div class="grothAssumption_tableParent tableFormating">
									      <table class="table table-bordered mb-5" id="costAssumtionGrowthTable">
									        <thead id="theadCostAssumtionTable">
									        </thead>
									        <tbody id="tbodyCostAssumtionTable">
									        </tbody>
									      </table>
									  </div>

										<div class="card-body">
											<div class="col-lg-6 col-sm-6 float-left cols_left_side">
												<form method="POST" enctype="multipart/form-data"
													id="fileUploadForm">
													<fieldset class="form-group">
														<label for="" class="w-100 bmd-label-static">Upload
															Project Cost <a
															th:href="@{/assets/Project Cost Format.xlsx}" download
															class="anchorStyle float-right">Download Sample
																Format</a>
														</label>
														<div class="file-select">
															<p class="selectFile">Select File</p>
															<!-- <input type="file" id ="file" name="files"/><br/><br/>
														<input type="submit" value="Submit" id="btnSubmit"/> -->

															<input type="file" id="uploadfile" value="Choose a file" />
															<input type="button" value="Upload" id="upload" />
														</div>
													</fieldset>
												</form>
											</div>

										
										<div
											class="col-lg-6 col-sm-6 float-left cols_right_side totalProjectCost_depreciationINR">
											<fieldset class="form-group">
												<div class="projectCost_deprecition w-100">
													<label for="" class="w-100">total project cost
														(INR lacs)</label> <span id=""></span>
													  <input type="text" name="projectCost" id="projectCost" readonly="readonly"
													  th:value="${#numbers.formatDecimal(projectDetails?.projectCost, 1, 'NONE', 2, 'POINT')}"
														placeholder="Project Cost"> 
												</div>
												<div class="projectCost_deprecition w-100">
													<label class="w-100">Project Cost Per Screen (INR lacs)</label>
													 <input th:value="${#numbers.formatDecimal(projectDetails?.projectCostPerScreen, 1, 'NONE', 2, 'POINT')}"
														type="text" name="projectCostPerScreen" readonly="readonly" placeholder="Project Cost per screen" id="projectCostPerScreen"> 
													<span id=""></span>
												</div>
											</fieldset>

										</div>


									</div>
								</div>



								<div class="card-body" th:if="${projectDetails?.status < 105 }">
									<div class="p-4 buttonGroup_nextCancelSave">
										<button type="button" id="save" style="height: 47px"
											class="nextBtn btn-raised btn btn-success">Generate
											feasibility report</button>
										<button type="button" id="save_close"
											class="saveCloseBtn btn btn-raised btn-secondary">SAVE
											&amp; CLOSE</button>
									</div>
								</div>

							</form>
						</div>
					</div>

				</div>
			</div>
			<div th:insert="projectDetail/operatingAssumptionModals :: operatingAssumptions"></div>

		</div>
	</section>
</div>


<div th:fragment="customJs">
<script type="text/javascript" th:src="@{/./js/post-signing-step-6.js}"></script>
<script type="text/javascript" th:src="@{/./js/operating-assumptions-modal.js}"></script>
</div>