<div th:fragment="customCss">
	<style>
.tabsParent .tab-content>.tab-pane .card-body table tr td input {
	height: 20px;
}
</style>
</div>
<div th:fragment="content">
	<section class="mainContainer">
		<div class="col-md-12 col-sm-12">
    	  <div class="tabsParent">
		  <div th:insert="postSigning/header :: header"></div>
			 <div style="overflow-x: auto;display:flex">
				<div id="step-8" class=" tab-pane fade show active" role="tabpanel" aria-labelledby="tab_H">						
				   <table  class="table table-bordered mb-5 mx-20 fixed-layout">
						<thead>
						   <tr style="height:15px"  class="categoryTitle">
				             <td style="width:230px;font-size:15px;height:10px;background-color: #ffca08;font-weight:bold">Particulars (INR Lacs)</td>
				             <td style="background-color: #ffca08;text-align:center;font-weight:bold" th:each="lease,iterStat:${pandlDetails?.leasePeriod}" th:if="${iterStat.index<8}">Yr-<span th:text="${lease}"></span></td>
				           </tr>
				            <tr style="height:15px"  class="categoryTitle">
							 <td style="width:230px;font-size:15px;height:10px">Occupancy %</td>
						     <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.occupancyForEachYear}" th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 2, 'POINT')}"></span></td>
					       </tr>
					        <tr style="height:15px"  class="categoryTitle">
							 <td style="width:200px;font-size:15px;height:10px">Admissions (No.)</td>
						     <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.admitsYearWise}" th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 0, 'POINT')}"></span></td>
					       </tr>
					        <tr style="height:15px"  class="categoryTitle">
							 <td style="width:200px;font-size:15px;height:10px">ATP</td>
						     <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.atpForEachYear}" th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 0, 'POINT')}"></span></td>
					       </tr>
					        <tr style="height:15px"  class="categoryTitle">
							 <td style="width:200px;font-size:15px;height:10px">SPH</td>
						     <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.sphForEachYear}" th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 0, 'POINT')}"></span></td>
					       </tr>
						   <tr style="height:15px"  class="categoryTitle">
							 <td style="width:200px;font-size:15px;height:10px">Net Sale of Tickets</td>
						     <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.netTicketSales}" th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
					       </tr>
		                   <tr>
			                   <td style="width:200px;font-size:15px;height:10px">Sale of F&amp;B  </td>
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.netFnBSalesForEachYear}" th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
			               </tr>
			               <tr >
			                   <td style="width:200px;font-size:15px;height:10px">Sponsorship Revenues </td>
			                  <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.adRevenueForEachYear}"  th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
			               </tr>
			               <tr>
			                   <td style="width:200px;font-size:15px;height:10px">VAS Income </td>
			                    <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.vasIncomeForEachYear}"  th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
			               </tr>
			               <tr>
			                   <td style="width:200px;font-size:15px;height:10px">Other Operating Income </td>
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.otherOperatingIncome}"  th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
			               </tr>
			               <tr class="total_row">
			                   <td style="width:200px;font-size:15px;height:10px"><b>Total Revenues</b> </td>
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.totalRevenueForEachYear}"  th:if="${iterStat.index<8}"><b><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></b></td>
			               </tr>
			               <tr>
			                   <td style="width:200px;font-size:15px;height:10px">Film Distributor’s Share </td>
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.filmDistributorShare}"  th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
			               </tr>
			               <tr>
			                   <td style="width:200px;font-size:15px;height:10px">Consumption of F&amp;B </td>
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.consumptionOfFnBForEachYear}"  th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
			               </tr>
			               <tr class="total_row">
			                   <td style="width:200px;font-size:15px;height:10px"><b>Gross Margin</b> </td>
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.grossMarginForEachYear}" th:if="${iterStat.index<8}"><b><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 0, 'POINT')}"></span></b></td>
			               </tr>
			               <tr class="total_row">
			                   <td style="width:200px;font-size:15px;height:10px"><b><i>Gross Margin (%)</i></b></td>
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.grossMarginPercent}" th:if="${iterStat.index<8}"><b><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 1, 'POINT')}"></span></b></td>
			                   
			               </tr>
			               <tr>
			                   <td style="width:200px;font-size:15px;height:10px">Personnel Expenses</td>
			                    <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.personnelExpenseForEachYear}" th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
			               </tr>
			               <tr>
			                   <td style="width:200px;font-size:15px;height:10px">Electricity &amp; water charges </td>
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.electricityAndWaterExpenseForEachYear}" th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
			               </tr>
			               <tr>
			                   <td style="width:200px;font-size:15px;height:10px">Repairs and maintenance </td>
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.repairAndMaintenanceExpenseExpenseForEachYear}" th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
			               </tr>
			               <tr>
			                   <td style="width:200px;font-size:15px;height:10px">Other Operating Expenses  </td>
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.otherOperatingExpensesForEachYear}" th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
			               </tr>
			               <tr class="total_row">
			                   <td style="width:200px;font-size:15px;height:10px"><b>Total Fixed Expenditure</b>   </td>
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.expenditureExRentAndCamForEachYear}" th:if="${iterStat.index<8}"><b><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></b></td>
			               </tr>
			               <tr class="total_row">
			                   <td style="width:200px;font-size:15px;height:10px"><b>EBITDAR</b>  </td>
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.ebitdarForEachYear}" th:if="${iterStat.index<8}"><b><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></b></td>
			               </tr>
			               <tr>
			                   <td style="width:200px;font-size:15px;height:10px">Rent</td>
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.rentEachYear}" th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
			               </tr>
			               <tr>
			                   <td style="width:200px;font-size:15px;height:10px">Common Area Maintenance  </td>
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.camEachYear}" th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
			               </tr>              
			               <tr class="total_row">
			                   <td style="width:200px;font-size:15px;height:10px"><b>EBITDA </b>  </td>
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.getEBITDAForEachYear}" th:if="${iterStat.index<8}"><b><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></b></td>
			               </tr>
			               <tr class="total_row">
			                   <td style="width:200px;font-size:15px;height:10px"><b><i>EBITDA Margin (%)</i></b> </td>
			                  <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.getEBITDAMarginForEachYear}" th:if="${iterStat.index<8}"><b><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 1, 'POINT')}"></span></b></td>
			               </tr> 
			               <tr class="total_row">
			                   <td style="width:200px;font-size:15px;height:10px"><b><i>Rent/Revenue (%)</i></b></td>
			                  <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.rentRationDetails}" th:if="${iterStat.index<8}"><b><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 1, 'POINT')}"></span></b></td>
			               </tr>
			               <tr class="total_row">
			                   <td style="width:200px;font-size:15px;height:10px"><b><i>(Rent+CAM)/Revenue (%)</i></b></td>
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.rentCamRevenueRatioDetails}" th:if="${iterStat.index<8}"><b><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 1, 'POINT')}"></span></b></td>
			               </tr>									
						</thead>
					</table>
					
					
					
					
					
					<div th:if="${pandlDetails.leasePeriod != null && #lists.size(pandlDetails?.leasePeriod)>7}" style="margin-top:-1399px">
					<table  class="table table-bordered  fixed-layout" style="margin-left:100%;width:70%">
						<thead>
						  
						   <tr style="height:15px"  class="categoryTitle">
				           
				             <td style="background-color: #ffca08;text-align:center;font-weight:bold" th:each="lease,iterStat:${pandlDetails?.leasePeriod}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}">Yr-<span th:text="${lease}"></span></td>
				           </tr> 
				             <tr style="height:15px"  class="categoryTitle">
							
						     <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.occupancyForEachYear}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 2, 'POINT')}"></span></td>
					       </tr>
					        <tr style="height:15px"  class="categoryTitle">
							
						     <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.admitsYearWise}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 0, 'POINT')}"></span></td>
					       </tr>
					        <tr style="height:15px"  class="categoryTitle">
							 
						     <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.atpForEachYear}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 0, 'POINT')}"></span></td>
					       </tr>
					        <tr style="height:15px"  class="categoryTitle">
							
						     <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.sphForEachYear}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 0, 'POINT')}"></span></td>
					       </tr>
						   <tr style="height:15px"  class="categoryTitle">
							 
						     <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.netTicketSales}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
					       </tr>
		                   <tr>
			                   
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.netFnBSalesForEachYear}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
			               </tr>
			               <tr >
			                  
			                  <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.adRevenueForEachYear}"  th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
			               </tr>
			               <tr>
			                  
			                    <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.vasIncomeForEachYear}"  th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
			               </tr>
			               <tr>
			                   
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.otherOperatingIncome}"  th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
			               </tr>
			               <tr class="total_row">
			                  
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.totalRevenueForEachYear}"  th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><b><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></b></td>
			               </tr>
			               <tr>
			                  
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.filmDistributorShare}"  th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
			               </tr>
			               <tr>
			                  
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.consumptionOfFnBForEachYear}"  th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
			               </tr>
			               <tr class="total_row">
			                 
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.grossMarginForEachYear}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><b><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 0, 'POINT')}"></span></b></td>
			               </tr>
			               <tr class="total_row">
			                  
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.grossMarginPercent}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><b><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 1, 'POINT')}"></span></b></td>
			                   
			               </tr>
			               <tr>
			                   
			                    <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.personnelExpenseForEachYear}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
			               </tr>
			               <tr>
			                 
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.electricityAndWaterExpenseForEachYear}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
			               </tr>
			               <tr>
			                  
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.repairAndMaintenanceExpenseExpenseForEachYear}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
			               </tr>
			               <tr>
			                  
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.otherOperatingExpensesForEachYear}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
			               </tr>
			               <tr class="total_row">
			                  
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.expenditureExRentAndCamForEachYear}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><b><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></b></td>
			               </tr>
			               <tr class="total_row">
			                   
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.ebitdarForEachYear}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><b><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></b></td>
			               </tr>
			               <tr>
			                  
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.rentEachYear}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
			               </tr>
			               <tr>
			                  
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.camEachYear}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
			               </tr>              
			               <tr class="total_row">
			                   
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.getEBITDAForEachYear}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><b><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></b></td>
			               </tr>
			               <tr class="total_row">
			                  
			                  <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.getEBITDAMarginForEachYear}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><b><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 1, 'POINT')}"></span></b></td>
			               </tr> 
			               <tr class="total_row">
			                   
			                  <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.rentRationDetails}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><b><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 1, 'POINT')}"></span></b></td>
			               </tr>
			               <tr class="total_row">
			                   
			                   <td style="text-align:center;font-family: HelveticaNeue-Medium;color: #8d8d8d;" th:each="lease,iterStat:${pandlDetails?.rentCamRevenueRatioDetails}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><b><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 1, 'POINT')}"></span></b></td>
			               </tr>									
						</thead>
					</table>
					</div>	
						
					
					
				</div>
			</div>
			<div class="card-body">
									<div class="p-4 buttonGroup_nextCancelSave">
											<button type="button" id="close"
											class="nextBtn btn-raised btn btn-success">CLOSE</button>
										
									</div>
								</div>
		
	</div>	 
	
	
  </section>
</div>

<div th:fragment="customJs">
	<script type="text/javascript">
	    document.getElementById("close").onclick = function () {
	        location.href = "/dashboard";
	    };
	</script>
</div>

