<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>PVR</title>
<link rel="stylesheet" th:href="@{/./css/bootstrap.min.css}" />
<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
	rel="stylesheet">


<link rel="stylesheet" th:href="@{/./css/jquery.mCustomScrollbar.css}" />
<link rel="stylesheet"
	th:href="@{/./css/jquery.mCustomScrollbar.min.css}" />

<link rel="stylesheet" th:href="@{/./css/style.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/./css/dev-style.css}" />
</head>
<body>
	<div th:include="fragments/components :: header" th:remove="tag">Header
		goes here!</div>
	<section class="navigation_mainContent">
		<div class="container-fluid">
			<div class="row">
				<div th:include="fragments/components :: sideBar" th:remove="tag">sidebar
					goes here!</div>
				<div class="mainContent">
						<div class="container-fluid">
							<div class="row card">
								<div class="col-sm-12 card-body">
									<div class="row">
										<div class="col-sm-3">
											<img class="ms-auto"
												th:src="@{/./images/access-denied.png}" alt="">
										</div>
										<div class="col-sm-3">
										</div>
										<div class="col-sm-3">
											<p>Make sure that you have the permission set assigned to your user.</p>
										</div>
									</div>
								</div>
							</div>
						</div>

					<div th:include="fragments/components :: footer" th:remove="tag">Footer
						goes here!</div>

				</div>
			</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script th:src="@{/./js/popper.min.js}"></script>
	<script th:src="@{/./js/bootstrap.min.js}"></script>

	<script th:src="@{/./js/jquery.mCustomScrollbar.concat.min.js}"></script>
	<script th:src="@{/./js/jquery.mCustomScrollbar.js}"></script>
	<script th:src="@{/./js/custom.js}"></script>
	
</body>
</html>