<div th:fragment="customCss">
</div>

<div th:fragment="content">
	<div class="container-fluid">
		<div class="row card">
			<div class="col-sm-12 card-body">
				<div class="row">
					<div class="col-sm-3">
						<img class="ms-auto"
							th:src="@{/./images/access-denied.png}" alt="">
					</div>
					<div class="col-sm-3">
					</div>
					<div class="col-sm-3">
						<p>Make sure that you have the permission set assigned to your user.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div th:fragment="customJs">

</div>