<div th:fragment="customCss">
</div>

<div th:fragment="content">
<div class="mainContent_contentDiv">
	<div class="container-fluid">
		<div class="row card">
			<div class="col-sm-12 card-body">
				<div class="row">
					<div class="col-sm-3">
						<img class="ms-auto"
							th:src="@{/./images/error.jpg}" alt="">
					</div>
					<div class="col-sm-3">
					</div>
					<div class="col-sm-3">
						<p>Something wrong please check your log.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div th:fragment="customJs">

</div>