<div th:fragment="customCss">
	<link rel="stylesheet"
		href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
</div>

<div th:fragment="content">
	<section class="mainContainer">
		<div class="col-md-12 col-sm-12" id="tabsClick">


			<div id="dasboardTabsParent" class="tabsParent mt-4">
				<ul id="tabs" class="nav nav-tabs responsive" role="tablist">
					<li class="nav-item"><a id="tab-A" href="#pane-A"
						class="nav-link active show" data-toggle="tab" role="tab"
						aria-selected="true">Action items (<span id="actionItemsLabel">0</span>)
							<div class="ripple-container"></div></a></li>
					<li class="nav-item"><a id="tab-B" href="#step-2"
						class="nav-link step-2" data-toggle="tab" role="tab">Updates (<span
							id="updatesLabel">0</span>)
					</a></li>

				</ul>

				<div id="content" class="tab-content" role="tablist">
					<div id="pane-A" class="tab-pane fade active show" role="tabpanel"
						aria-labelledby="tab-A">
						<div id="collapse-A" class="collapse show" role="tabpanel"
							aria-labelledby="heading-A">
							<div class="card-body p-0">

								<div class="innerTableParent OperatingAssumptions "
									id="parentOfReportId">
									<!-- content mCustomScrollbar -->
									<table class="table table-bordered mb-0" id="tableA">
										<tbody>
				
										</tbody>

									</table>

								</div>

							</div>
						</div>
					</div>
					<div id="step-2" class=" tab-pane fade" role="tabpanel"
						aria-labelledby="tab-B">
						<div id="collapse-B" class="collapse" role="tabpanel"
							aria-labelledby="heading-B">
							<div class="card-body p-0">

								<div class="innerTableParent OperatingAssumptions" id="parentOfReportId">
									<table class="table table-bordered mb-0" id="tableB">
										<tbody>

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div id="dasboardTabsParent" class="feasibilityReports">
				<div class="innerTableParent OperatingAssumptions mt-4">
					<div class="heading_title_strip mb-3"
						style="background: transparent; padding: 7px 0 5px;">
						<h3>Feasibility reports</h3>
					</div>

					<div class="table_parent">
						<div class="table-responsive">
							<table class="table table-bordered mb-5 mt-3" id="data-table">
								<thead>
									<tr>
										<th scope="col" class="columnDefault first_column">Report ID</th>
										<th scope="col" class="columnDefault second_column">project Name</th>
										<th scope="col" class="columnDefault second_column">project Type</th>
										<th scope="col" class="columnDefault second_column" sec:authorize="hasAnyRole('ROLE_APPROVER')">Submitted By</th>
										<th scope="col" class="columnDefault status_field">Status</th>
										<th scope="col" class="columnDefault las_update_field">Last Updated</th>
										<th scope="col" class="columnDefault actions_field last_column">Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${projectDetails != null }"
										th:each="project,iterator : ${projectDetails}">
										<td class="first_column"><a
											th:href="@{pre-handover/operating-assumptions/}+${project.id}"
											sec:authorize="hasAnyRole('ROLE_OPERATION_TEAM', 'ROLE_PROJECT_TEAM')">
												<span th:if="${project.reportId != null }"
												th:text="${project.reportId}"></span>

										</a>
										 <!-- <a th:href="@{project/getProjectId/}+${project.id}"
											sec:authorize="hasAnyRole('ROLE_BD', 'ROLE_ADMIN')"> <span
												th:if="${project.reportId != null }"
												th:text="${project.reportId}"></span>
										</a>  -->
										<a th:if="${project?.feasibilityState == 'pre_signing' }"
										th:href="@{project/getProjectId/}+${project.id}"
											sec:authorize="hasAnyRole('ROLE_BD', 'ROLE_ADMIN')"> <span
												th:if="${project.reportId != null }"
												th:text="${project.reportId}"></span>
										</a> 
										
										<a th:if="${project?.feasibilityState == 'post_signing' }"
										th:href="@{post-signing/getProjectId/}+${project.id}"
											sec:authorize="hasAnyRole('ROLE_BD', 'ROLE_ADMIN')"> <span
												th:if="${project.reportId != null }"
												th:text="${project.reportId}"></span>
										</a> 
										
											<a th:if="${project?.feasibilityState == 'pre_handover' }"
											th:href="@{pre-handover/getProjectId/}+${project.id}"
											sec:authorize="hasAnyRole('ROLE_BD', 'ROLE_ADMIN')"> <span
												th:if="${project.reportId != null }"
												th:text="${project.reportId}"></span>
										</a> 
										
										<a th:href="@{project/review/}+${project.id}"
											sec:authorize="hasAnyRole('ROLE_APPROVER')"> <span
												th:if="${project.reportId != null }"
												th:text="${project.reportId}"></span>
										</a></td>
										<td class="second_column"><span
											th:if="${project.projectName != null }"
											th:text="${project.projectName}"></span></td>

										<td class="second_column"><span
											th:if="${project?.feasibilityState != null }"
											th:text="${project?.feasibilityState=='pre_signing'} ? 'Pre-Signing' : (${project.feasibilityState == 'post_signing'} ? 'Post-Signing' : 'Pre-Handover')"></span></td>


										<td class="second_column" sec:authorize="hasAnyRole('ROLE_APPROVER')"><span
											th:if="${project.projectBdName != null }"
											th:text="${project.projectBdName}"></span></td>
							
									
										<td class="status_column"><span
											th:if="${project.dashboardStatusName != null }"
											th:text="${project.dashboardStatusName}"></span>
										</td>
									    <td class="lastUpdate_column" th:data-order="${project.updatedDate}"><span
											th:if="${project.updatedDate != null }"
											th:text="${#dates.format(project.updatedDate, 'dd-MMM-yyyy')}"></span>
										</td>
										
										<!-- Last Column  Start-->
										
										<td class="last_column" th:if="${project?.feasibilityState == 'pre_signing' }">
											<span th:if="${project.dashboardEditButtonFlag == 'Y'}">
													<a class="" 
													th:href="@{project/getProjectId/}+${project.id}">
														<button class="float-left queryBtn" spellcheck="true">
															<img src="images/editIconImg.png"> Edit
														</button>
											</a></span>
											
											<span th:if="${project?.dashboardReviewButtonFlag == 'Y' }">
											<a  th:href="@{/project/review/}+${project.id}"
												sec:authorize="hasAnyRole('ROLE_APPROVER')">
													<button class="float-left queryBtn" spellcheck="true">
														<img src="images/reviewIcon.png"> Review
													</button>
											</a></span>
											<span th:if="${project?.dashboardDeleteButtonFlag == 'Y'}">
													<a class="remove"
													th:id="${project.id}">
														<button class="float-left queryBtn" spellcheck="true">
															<img src="images/deleteIconImg.png"> Delete
														</button>
											</a></span> 
											<span th:if="${project?.dashboardDownloadButtonFlag == 'Y'}" >
											<input type="hidden" th:value="${project.id}" id="id">
											<a class="downloadFullReportBtn">
												<button class="float-left queryBtn" spellcheck="true">
													<img src="images/downloadIcon.png"> Download
												</button>
										   </a>
											</span>
											<span th:if="${project?.dashboardUpdateButtonFlag == 'Y'}">
											<a th:href="@{/project/getProjectId/}+ ${project.id}">
												<button class="float-left queryBtn" spellcheck="true">
													<img src="images/updateIconImg.png">Update
												</button>
										    </a></span>
										    <span th:if="${project?.dashboardArchiveButtonFlag == 'Y'}">
										    <a 
											th:href="@{/project/archiveProjectWithDashBoard/}+ ${project.id}" >
												<button class="float-left queryBtn" spellcheck="true">
													<img src="images/archiveIconImg.png">Archive
												</button>
										    </a>
											</span>
										
										</td>
										
										
										<td class="last_column" th:if="${project?.feasibilityState == 'post_signing' }">
											<span th:if="${project.dashboardEditButtonFlag == 'Y'}">
													<a class="" 
													th:href="@{post-signing/getProjectId/}+${project.id}">
														<button class="float-left queryBtn" spellcheck="true">
															<img src="images/editIconImg.png"> Edit
														</button>
											</a></span>
											
											<span th:if="${project?.dashboardReviewButtonFlag == 'Y' }">
											<a th:href="@{/project/review/}+${project.id}"
												sec:authorize="hasAnyRole('ROLE_APPROVER')">
													<button class="float-left queryBtn" spellcheck="true">
														<img src="images/reviewIcon.png"> Review
													</button>
											</a></span>
											
											<span th:if="${project?.dashboardDeleteButtonFlag == 'Y'}">
													<a class="remove"
													th:id="${project.id}">
														<button class="float-left queryBtn" spellcheck="true">
															<img src="images/deleteIconImg.png"> Delete
														</button>
											</a></span> 
											<span th:if="${project?.dashboardDownloadButtonFlag == 'Y'}" >
											<input type="hidden" th:value="${project.id}" id="id">
											<a  class="downloadFullReportBtn">
												<button class="float-left queryBtn" spellcheck="true">
													<img src="images/downloadIcon.png"> Download
												</button>
										   </a>
											</span>
											<span th:if="${project?.dashboardUpdateButtonFlag == 'Y'}">
											<a th:href="@{/post-signing/getProjectId/}+ ${project.id}">
												<button class="float-left queryBtn" spellcheck="true">
													<img src="images/updateIconImg.png">Update
												</button>
										    </a></span>
										    <span th:if="${project?.dashboardArchiveButtonFlag == 'Y'}">
										    <a  th:href="@{/post-signing/archiveProjectWithDashBoard/}+ ${project.id}">
												<button class="float-left queryBtn" spellcheck="true">
													<img src="images/archiveIconImg.png">Archive
												</button>
										    </a>
											</span>
										</td>
										
											<td class="last_column" th:if="${project?.feasibilityState == 'pre_handover' }">
											<span th:if="${project.dashboardEditButtonFlag == 'Y'}">
													<a class="" 
														sec:authorize="hasAnyRole('ROLE_BD')" th:href="@{pre-handover/getProjectId/}+${project.id}">
														<button class="float-left queryBtn" spellcheck="true">
															<img src="images/editIconImg.png"> Edit
														</button>
													</a>
														<a class="" 
														sec:authorize="hasAnyRole('ROLE_OPERATION_TEAM', 'ROLE_PROJECT_TEAM')" th:href="@{pre-handover/operating-assumptions/}+${project.id}">
														<button class="float-left queryBtn" spellcheck="true">
															<img src="images/editIconImg.png"> Edit
														</button>
													</a>
											</span>
											
											<span th:if="${project?.dashboardReviewButtonFlag == 'Y' }">
												<a
												th:href="@{/pre-handover/operating-assumptions/}+${project.id}"
												sec:authorize="hasAnyRole('ROLE_OPERATION_TEAM', 'ROLE_PROJECT_TEAM')">
													<button class="float-left queryBtn" spellcheck="true">
														<img src="images/reviewIcon.png"> Review
													</button>
											</a> <a th:href="@{/project/review/}+${project.id}"
												sec:authorize="hasAnyRole('ROLE_APPROVER')">
													<button class="float-left queryBtn" spellcheck="true">
														<img src="images/reviewIcon.png"> Review
													</button>
											</a>
											<a th:href="@{/pre-handover/project-layout-assumptions/}+${project.id}"
												sec:authorize="hasAnyRole('ROLE_BD')">
													<button class="float-left queryBtn" spellcheck="true">
														<img src="images/reviewIcon.png"> Review
													</button>
											</a>
											</span> 
										
										<span th:if="${project?.dashboardDeleteButtonFlag == 'Y'}">
													<a class="remove"
													th:id="${project.id}">
														<button class="float-left queryBtn" spellcheck="true">
															<img src="images/deleteIconImg.png"> Delete
														</button>
											</a></span> 
											<span th:if="${project?.dashboardDownloadButtonFlag == 'Y'}" >
											<input type="hidden" th:value="${project.id}" id="id">
											<a class="downloadFullReportBtn">
												<button class="float-left queryBtn" spellcheck="true">
													<img src="images/downloadIcon.png"> Download
												</button>
										   </a>
											</span>
											<span th:if="${project?.dashboardUpdateButtonFlag == 'Y'}">
											<a th:href="@{/pre-handover/getProjectId/}+ ${project.id}">
												<button class="float-left queryBtn" spellcheck="true">
													<img src="images/updateIconImg.png">Update
												</button>
										    </a></span>
										    <span th:if="${project?.dashboardArchiveButtonFlag == 'Y'}">
										    <a  th:href="@{/pre-handover/archiveProjectWithDashBoard/}+ ${project.id}">
												<button class="float-left queryBtn" spellcheck="true">
													<img src="images/archiveIconImg.png">Archive
												</button>
										    </a>
											</span>
										</td>
										
									</tr>

								</tbody>

							</table>
						</div>
					</div>



				</div>
			</div>


		</div>
	</section>

	<!-- Modal -->
	<div class="modal fade" id="removeProject" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document"
			style="max-width: 500px;">
			<div class="modal-content" style="height: auto;">
				<div class="modal-header">
					<p class="modal-title" id="exampleModalLongTitle">Project</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-center">
					<div class="col-md-12 my-4">
						<h5>Do you want to delete</h5>
					</div>
					<input type="hidden" id="hiddenId" />
				</div>
				<div class="modal-footer text-center"
					style="height: auto; display: block;">
					<button type="button"
						class="saveCloseBtn btn btn-raised btn-secondary"
						data-dismiss="modal">Close</button>
					<button type="button" class="nextBtn btn-raised btn btn-primary"
						id="deleteProjectDetails">Ok</button>
				</div>

			</div>
		</div>
	</div>
</div>



<div th:fragment="customJs"> 
	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script th:src="@{/./js/index.js}"></script>
	<!-- 	<script>
	$('#dateRange').bootstrapMaterialDatePicker({ weekStart : 0 });
	</script> -->

</div>

