<html xmlns:th="http://www.thymeleaf.org" th:fragment="content">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->

<link rel="stylesheet" th:href="@{/./css/bootstrap-material.css}" />
<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
	rel="stylesheet">
	
<link rel="stylesheet" href="css/style.css">
<!-- <link rel="stylesheet" href="css/dev-style.css"> -->

<title>PVR | Feasibility</title>
<link rel="icon" href="images/faviconIcon.png" sizes="16x16 32x32" type="image/png"> 

</head>

<body>
	<section class="loginform w-100">
      <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-12">
                  <div class="row form_parent mx-auto">
                      <div class="col-lg-5 col-sm-5 pvrFeaturedImg">
                        <!-- <img src="images/pvrFeaturedImg.png"> -->
                        <img src="images/Enlight_352x496.jpg">
                      </div>
                      <div class="col-lg-7 col-sm-7 formDiv">
                          <div class="card-body">
                          <div id="form_div">
                            <form accept-charset="UTF-8" role="form" id="saveFormData"
								autocomplete="off" action="#" method="post"
								th:action="@{/authenticate}">
								<span id="paramError" th:if="${param.error}" class="error">Authentication Failure</span>
								<span id="tokenError" th:text="${tokenExpired}" class="error">Authentication Failure</span>
                              <h2>FEASIBILITY PORTAL LOGIN</h2>
                              <div class="md-form">
                                  <img src="images/usernameIcon.png" alt="">
                                  <input type="text" name="j_username" class="form-control"
											placeholder="Username" aria-describedby="username"
											id="userId"  />
                              </div>
                              <div class="md-form">
                                  <img src="images/passwordIcon.png" alt="">
                                  <input type="password" class="form-control" name="j_password"
											placeholder="Password" aria-describedby="password"
											id="passwordId" />
                              </div>
                              <div class="text-center">
                                  <button type="submit" id ="submit" class="btn btn-raised btn-success">Login</button>
                              </div>
                            </form>
                            <div class="clear"></div>
                            </div>
                            <div id="forgot_div" style="display: none;">
                            <form accept-charset="UTF-8" role="form" id="forgot-password" onsubmit="return forgotPassword();"
								autocomplete="off" >
								<span id="error" style="color: red;"></span>
								<span id="success" style="color: green;"></span>
                              <h2>FORGOT PASSOWRD</h2>
                              <div class="md-form">
                                  <img src="images/usernameIcon.png" alt="">
                                  <input type="email" name="username" class="form-control"
											placeholder="Email" aria-describedby="username"
											id="username" required="required" />
                              </div>
                              <div class="text-center">
                                  <button type="submit" id ="submit" class="btn btn-raised btn-success">Submit</button>
                                  
                              </div>
                            </form>
                            <div class="clear"></div>
                            </div>
                           <div class="forgotPassword text-center mt-3 w-100 d-block">
                            <a href="#" id="frgt" onclick="openModal()">Forgot Password ?</a>
                             <a href="#" style="display: none;" id="lgn" onclick="openLogin()">Login</a>
                            </div>
                          </div>
                           
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	
	
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	function openModal(){
		$('#forgot_div').show();
		$('#form_div').hide();
		$('#frgt').hide();
		
		$('#lgn').show();
	}
	
	function openLogin(){
		$('#forgot_div').hide();
		$('#form_div').show();
		$('#frgt').show();
		
		$('#lgn').hide();
	}
	
	function forgotPassword(){
		var username = $('#username').val();
		if(username.trim() == ''){
			$('#error').text('Please enter email address.');
			return false;
		}
		
		$('#error').text("");
		$('#success').text("");
		  $.ajax({
              url: "/forgotPassword?username="+username,
              type: 'GET',
           	  success: function(response) {
                 console.log(response)
                 if(response[1] == "false"){
                	 $('#error').text(response[0]);
                 }
                 if(response[1] == "true"){
                	 
                	 $('#success').text(response[0])
                 }
                 
                 return false;
                 
                 
              },
              error: function(xhr, status, error) {
            	  $('#error').text("Your request is not processed, please contact your Admin.");
            	  
              }
          });
		return false;
		
	}
	</script>
</body>
</html>