<div th:fragment="customCss">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

</div>

<div th:fragment="content">
	<section class="mainContainer">
		<div class="col-md-12 col-sm-12">


			<div id="dasboardTabsParent" class="feasibilityReports" style="max-width:100%;">
				<div class="innerTableParent OperatingAssumptions mt-4 mb-5">


					<div class="heading_title_strip mb-3"
						style="background: transparent; padding: 7px 0 5px;">
						<h3>
							<span th:text="${title}"></span> user 
						</h3>
					</div>
 <div class="alert alert-danger alert-dismissible" th:if=${error}>
	 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
 		 <span th:text="${error}"></span>
	</div>
					<div class="csv_upload_form">
						<div class="card p-3">
							<form id="userInfoForm" class="client-form" onsubmit="" autocomplete="off"
								th:action="@{/user/save}" th:object="${user}" method="POST"
								enctype="multipart/form-data">
								
								<!-- <span th:text="${user?.authorities}"></span> -->
								<div class="row mb-3">
									<div class="col-lg-4 col-sm-4" th:if="${title != 'Update' }">
										<fieldset class="form-group bmd-form-group">
											<label class="control-label" for="date"> User
												Role<span
												style="color: red">*</span></label> <select 
												class="form-control" id="authorities" name="authorities" required="required" style="    border-bottom: 1px solid #ccc;">
												<!-- <option
												value=""><span>Select</span>		
												</option> -->
												<option
													sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN','ROLE_ADMIN')" 
												 th:selected="${user?.authorities == 'ROLE_BD' ? 'true' : 'false'}"	value="ROLE_BD"><span>BD</span>
												</option>
												<!-- <option
													sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN','ROLE_ADMIN')"
												th:selected="${user?.authorities == 'ROLE_APPROVER' ? 'true' : 'false'}"	value="ROLE_APPROVER"><span>APPROVER</span>
												</option>
												
												
												<option
													sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN','ROLE_ADMIN')"
												th:selected="${user?.authorities == 'ROLE_OPERATION_TEAM' ? 'true' : 'false'}"  value="ROLE_OPERATION_TEAM"><span>OPERATION</span>
												</option>
												<option
													sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN','ROLE_ADMIN')"
												th:selected="${user?.authorities == 'ROLE_PROJECT_TEAM' ? 'true' : 'false'}"	value="ROLE_PROJECT_TEAM"><span>PROJECT
														TEAM</span>
														
												<option
													sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN','ROLE_ADMIN')"
												th:selected="${user?.authorities == 'ROLE_ADMIN' ? 'true' : 'false'}"	value="ROLE_ADMIN"><span>ROLE ADMIN</span>		
												</option> -->
											</select>
										</fieldset>
									</div>
									<div class="col-lg-4 col-sm-4" th:if="${title == 'Update' }">
										<fieldset class="form-group bmd-form-group">
											<label class="control-label" for="date">User Role<span
												style="color: red">*</span></label> <input type="text"
												class="form-control"  name="authorities"
												th:disabled="true" th:value="${user?.authorities}">
										</fieldset>
									</div>
									<!-- <div class="col-lg-4 col-sm-4" id="approverUsers">

										<fieldset class="form-group bmd-form-group" id="approverUser">
											<label for="exampleInputEmail1" class="control-label">Approver
												Type</label> <select class="form-control" name="approverType"
												id="approverType" spellcheck="true">
												<option th:each="approve:${approver}"
												th:selected="${user?.approverType == approve?.value}"	th:value="${approve?.value}" th:text="${approve?.approver}">
												</option>
											</select>
										</fieldset>
									</div> -->
									<!-- <div class="col-lg-4 col-sm-4" id="approverUsers" th:if="${title != 'Update' }">

										<fieldset class="form-group bmd-form-group" >
											<label for="exampleInputEmail1" class="control-label">Approver
												Type<span
												style="color: red">*</span></label> <select class="form-control" name="designation"
												id="designation" spellcheck="true" required="required">
												<option
												value=""><span>Select</span>		
												</option>
												<option th:each="desig:${designationList}" th:value="${desig}" th:text="${desig}">
												</option>
											</select>
										</fieldset>
									</div>
									<div class="col-lg-4 col-sm-4" th:if="${title == 'Update' } and ${user?.authorities}=='ROLE_APPROVER'">
										<fieldset class="form-group bmd-form-group">
											<label class="control-label" for="date">Approver Type<span
												style="color: red">*</span></label> <input type="text"
												class="form-control" name="designation"
												th:disabled="true" th:value="${user?.designation}">
										</fieldset>
									</div>
									 -->
									<div id="fleetManagerDiv"></div>

									<div class="col-lg-4 col-sm-4">
										<fieldset class="form-group bmd-form-group">
											<label class="control-label" for="date">User Name<span
												style="color: red">*</span></label> <input type="hidden"
												class="form-control" id="id" name="id"
												th:value="${user?.id}">
												 <input type="text"
												class="form-control"
												id="username1" name="username" th:value="${user?.username}"
												placeholder="Enter name" required="required">
										</fieldset>
										<span class="error" id="UserNameExitsOrNot"
											style="display: none;">User Name Already Exits</span>
									</div>

									<div class="col-lg-4 col-sm-4">
										<fieldset class="form-group bmd-form-group">
											<label class="control-label" for="date">Password<span
												style="color: red">*</span></label> <input type="password"
												class="form-control" id="password" name="password"
												th:value="${user?.password}" placeholder="Password..." required="required">
										</fieldset>
									</div>

									<div class="col-lg-4 col-sm-4">
										<fieldset class="form-group bmd-form-group">
											<label class="control-label" for="date">First Name<span
												style="color: red">*</span></label> <input type="text"
												class="form-control" id="firstName" name="firstName"
												th:value="${user?.firstName}" placeholder="First Name..."
												required="required">
										</fieldset>
									</div>

									<div class="col-lg-4 col-sm-4">
										<fieldset class="form-group bmd-form-group">
											<label class="control-label" for="date">Last Name</label> <input
												type="text" class="form-control" id="lastName"
												name="lastName" th:value="${user?.lastName}"
												placeholder="Last Name...">
										</fieldset>
									</div>



									<div class="col-lg-4 col-sm-4">
										<fieldset class="form-group bmd-form-group">
											<label class="control-label" for="date">Employee ID<span
												style="color: red">*</span></label>
											<!-- <input class="form-control" type="text" id="employeeId" required="required"
												name="employeeId" placeholder="Employee Id" /> -->
											<input type="text" class="form-control" id="employeeId"
												name="employeeId" th:value="${user?.employeeId}"
												placeholder="Employee Id" required="required">
										</fieldset>
									</div>

<!-- 

									<div class="col-lg-4 col-sm-4">
										<fieldset class="form-group bmd-form-group">
											<label class="control-label" for="date">Profile Image</label>
											<input class="form-control" type="file"
												id="userProfileFileUpload" name="userProfileFileUpload"
												placeholder="Profile Image" accept=".png, .jpg, .jpeg">

										</fieldset>
									</div> -->

									<div class="heading_title_strip mb-3 mb-3">
										<h3 class="title_style ">Contacts Info</h3>
									</div>


									<div class="col-lg-4 col-sm-4">
										<fieldset class="form-group bmd-form-group">
											<label class="control-label" for="date">Email<span
												style="color: red">*</span></label> <input type="email"
												class="form-control" id="email" name="email"
												th:value="${user?.email}" placeholder="Email..."
												required="required"> <span id="error" class="error"></span>
										</fieldset>
									</div>

									<div class="col-lg-4 col-sm-4">
										<fieldset class="form-group bmd-form-group">
											<label class="control-label" for="date">Phone</label>
											<!-- <input class="form-control" type="text" id="phone"
												name="phone" placeholder="MobileNo..." onchange="CheckIndianNumber(phone.value)" onkeyup="this.value = this.value.replace(/[^0-9]/, '')"  maxlength="10"/> -->
											<input type="text" class="form-control" id="phone"
												name="phone" th:value="${user?.phone}"
												placeholder="MobileNo..."
												onchange="CheckIndianNumber(phone.value)"
												onkeyup="this.value = this.value.replace(/[^0-9]/, '')"
												maxlength="10"> <span id="error1" class="error">
											</span>
										</fieldset>
									</div>

									<div class="col-lg-4 col-sm-4">
										<fieldset class="form-group bmd-form-group">
											<div class="submit_btn mt-3">
												<button type="submit" class="btn btn-primary tableFormatingBtn"
													id="submit-btn">Save</button>
											</div>
										</fieldset>
									</div>
							</form>

						</div>


					</div>


				</div>
			</div>
	</section>
	
	
	
</div>




<div th:fragment="customJs">
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script th:src="@{/./js/moment.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
	<script th:src="@{/./js/user.js}">
		
	</script>

	<script th:inline="javascript">
	</script>

</div>
