<div th:fragment="customCss">
	<link rel="stylesheet"
		href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">


</div>

<div th:fragment="content">

	<section class="mainContainer">
		<div class="col-md-12 col-sm-12">

			<div id="dasboardTabsParent" class="feasibilityReports" style="max-width:100%;">
				<div class="innerTableParent OperatingAssumptions mt-4">

					<div class="heading_title_strip mb-3"
						style="background: transparent; padding: 7px 0 5px;">
						<h3 id="userDetails" th:text="${title+' Details'}"></h3>
						<div th:if="${msg}" th:text="${msg}" class="alert alert-success"
							id="success-alert" style="margin-top: 20px">
							<strong> <span th:text="${msg}"></span></strong>
						</div>
						<div class="plus_icon">
							<a th:href="@{/user/create}"><!-- <i class="fas fa-plus"></i> --> Add User</a>
						</div>
					</div>

				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="table_parent w-100">
							<div class="table-responsive">
								<table id="data-table"
									class="table table-striped table-bordered table-hover settings">
									<thead>
										<th class="sm-width">Authority</th>
										<th class="sm-width">Designation</th>
										<th class="sm-width">UserName</th>
										<th class="nameField sm-width">Name</th>
										<th class="sm-width">Email</th>
										<th class="sm-width">Mobile</th>

										<th class="xs-width">Action</th>
									</thead>
									<tbody>
										<tr th:if="${users != null }"
											th:each="user,iterator : ${users}">
											<td th:if="${user.authorities != null }" >
												<span id="auth" th:if="${user.authorities=='ROLE_BD'}">BD</span>
												<span id="auth" th:if="${user.authorities=='ROLE_APPROVER'}">APPROVER</span>
												<span id="auth" th:if="${user.authorities=='ROLE_OPERATION_TEAM'}">OPERATION TEAM</span>
												<span id="auth" th:if="${user.authorities=='ROLE_PROJECT_TEAM'}">PROJECT TEAM</span>
												<span id="auth" th:if="${user.authorities=='ROLE_ADMIN'}">ADMIN</span>
											</td>
											<td th:text="${user?.designation}">
												<!-- <span id="auth" th:text="${user?.designation}">BD</span> -->
												<!-- <span id="auth" th:if="${user.authorities=='ROLE_APPROVER'}">APPROVER</span>
												<span id="auth" th:if="${user.authorities=='ROLE_OPERATION_TEAM'}">OPERATION TEAM</span>
												<span id="auth" th:if="${user.authorities=='ROLE_PROJECT_TEAM'}">PROJECT TEAM</span>
												<span id="auth" th:if="${user.authorities=='ROLE_ADMIN'}">ADMIN</span> -->
											</td>
											<td><span th:if="${user.username != null }"
												th:text="${user.username}"></span></td>
											<td><span th:if="${user.fullName != null }"
												th:text="${user.fullName}"></span></td>

											<td><a th:if="${user.email != null }"
												th:href="${'mailto:'+user.email}" th:text="${user.email}"></a></td>
											<td><span th:if="${user.phone != null }"
												th:text="${user.phone}"></span></td>

											<td class="dropdown mange_tab">
											<a class="m-3"
												th:href="@{/user/update/}+${user.id}"> <i
												class="fas fa-edit"></i> 
											</a>
											<a class="remove"  th:if="${user.authorities=='ROLE_BD'}"
												th:id="${user.id}"><i class="fas fa-user-times"></i>
											</a>
											</td>
										</tr>
									<tbody>
								</table>
								<div class="clearfix"></div>

							</div>


						</div>
					</div>
				</div>
			</div>

		</div>
		
<!-- Modal -->
	<div class="modal fade" id="removeUser" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document"
			style="max-width: 500px;">
			<div class="modal-content" style="height: auto;">
				<div class="modal-header">
					<p class="modal-title" id="exampleModalLongTitle">Project</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-center">
					<div class="col-md-12 my-4">
						<h5>Do you want to delete</h5>
					</div>
					<input type="hidden" id="hiddenId" />
				</div>
				<div class="modal-footer text-center"
					style="height: auto; display: block;">
					<button type="button"
						class="saveCloseBtn btn btn-raised btn-secondary"
						data-dismiss="modal">Close</button>
					<button type="button" class="nextBtn btn-raised btn btn-primary"
						id="deleteUserDetails">Ok</button>
				</div>

			</div>
		</div>
	</div>		
		
</div>

</section>
</div>

<div th:fragment="customJs">

	<!-- <script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
	<!-- <script th:src="@{/./js/moment.js}"></script> -->
	<script th:src="@{/./js/viewUser.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<!-- <script th:src="@{/./js/moment.js}"></script>
	<script th:src="@{/./js/user.js}"></script> -->

	<script>
		$(function() {
			var table = $("#data-table").dataTable({
				"order" : [],
				"deferRender" : true,
				"columnDefs" : [ {
					"targets" : 5,
					"orderable" : true,
				} ]
			});
		});
	</script>
</div>