<html  xmlns:th="http://www.thymeleaf.org">
<head>
<style>
body{font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;}
.greenBackground th,.greenBackground td{background:#29ba74!important;}.pinkBackground th,.pinkBackground td{background:#e71c57!important;}.greenBackground th{vertical-align:middle!important;}
tbody,thead,tr{border-color:inherit}img,table{max-width:100%}.headStrip,.map_frame,.pdf_wrapper{position:relative}@page{size:A4 landscape}img{width:auto}tbody,thead{vertical-align:middle}td,th,tr{vertical-align:inherit}*{margin:0;padding:0;box-sizing:border-box}table{display:table;border-spacing:2px;border-collapse:collapse;width:100%;margin-bottom:2rem;margin-top:2rem;background-color:transparent;border:1px solid rgba(0,0,0,.06)}thead{display:table-header-group}tbody{display:table-row-group}tr{display:table-row}td,th{display:table-cell}.table thead th,.table tr th{font-size:16px;font-weight:600;color:#000;background:#ffc906;border:1px solid gray;}h1,h2,h3,h4{text-transform:capitalize;letter-spacing:.5px;font-weight:500}.table td,.table th{text-align:center;font-size:15px;padding: 5px 10px;vertical-align:top;border-top:1px solid rgba(0,0,0,.06)}.table td:first-of-type,.table th:first-of-type{text-align:left}.table-bordered,.table-bordered td,.table-bordered th{border:1px solid gray;}h1,h2{font-size:26px;margin:20px 0 0}.pdf_wrapper hr{border-color:#ffc906;box-shadow:none;outline:0;margin:10px 0 20px;border-width:2px;unicode-bidi:unset;border-style:solid}.pdf_wrapper{width:1080px;margin:50px auto}.map_frame{height:450px;width:100%;overflow:hidden;margin:30px 0 20px}.transparent tr td{background:0 0!important}.text-center{text-align:center!important}.text-right{text-align:right}tr:nth-child(even) td{background:#f3f3f3}.text-middle{vertical-align:middle!important;text-align:center!important}.text-left{text-align:left!important}.p-m-0{margin:0;padding:0!important}.border-hide{border:hidden}.mb-2{margin-bottom:2rem}.top-shadow{box-shadow:inset 0 2px 0 0 #000}.total_row,.total_row td{background:#f3f3f3!important}.dicrease-font-size tr td,.dicrease-font-size tr th{font-size:12px!important}h3,h4{font-size:22px;margin:0 0 20px}.graph-frame{margin-bottom:1rem}.half-width{max-width:50%}.fixed-layout{table-layout:fixed}.black_row{background-color:#000!important}.black_row td{color:#fff!important}.headStrip{margin-top:30px;padding:12px 15px;font-size:22px;background:#ffc906}fieldset{width:100%;opacity:.2;border-bottom:0;border-left:0;border-right:0;margin:20px 0}fieldset legend{text-align:center;font-size:16px;color:#000;padding:0 15px}#chats{margin:0;padding:0}#chats li{display:inline-block;width:100%;margin:0 0 15px}#chats li h4{float:left;font-size:20px;width:150px;margin:0}#chats li .chat_textarea{border-radius:6px 25px 25px 20px;background:#eee;float:right;padding:15px;width:calc(100% - 160px)}
.redBackground td, .redBackground th{background:#eb4637!important;}.redBackground th{vertical-align:middle;}.blueBackground td, .blueBackground th{background:#82aa00!important;}tr th{padding:12px 10px!important;}.blockIndicator{width:40px;height:20px;float:left;display:inline-block;margin-right:15px;}.title{font-weight:700;display:inline-block;margin-top:3px;padding-top:3px;float:left;line-height:30px;}
.pinFontSize td {font-size:14px;}td, th, p, small, span{text-transform:capitalize!important;}.table thead th, .table tr th {    padding: 8px 0!important; line-height: 16px;}
</style>
</head>
<body>
<table style="background:#000;height:50px;width:100%;margin-bottom:20px;">
            <tr>
                <td style="padding: 5px 10px;"><img width="60px" src="pvr-logo-01.png" th:attr="src=${projectDetail?.reportsImagePath}+'/pvr-logo-01.png'"/></td>
                <td class="text-middle text-right" style="padding: 5px 10px;"><p class="text-right text-middle" style="font-size:16px;text-transform:uppercase;color:#fecb0e;float:right;" th:text="${projectDetail?.reportSignature}">Pitampura Mall, Delhi - Pre Signing - 4</p></td>
            </tr>
        </table>
	<h1 style="margin-bottom:15px;">Existing Cinema Landscape</h1>

		<div style="text-align: center; width:480px;margin:0 auto;">

		<!-- <img style="/* width:100%; */ margin-bottom:5px;height:480px;" src="/home/orange/Documents/images-google/existingCinemaLandscape"></img>
		 -->
		 <img style="/* width:100%; */ margin-bottom:5px;height:480px;" src="existingCinemaLandscape" th:attr="src=${projectDetail?.googleImagePath}+'/existingCinemaLandscape'"></img>
		 
		 <small style="display:inline-block;width:100%;text-align:right;">* Radius approx. 8Km</small>
		<table class="table table-bordered transparent pinFontSize" style="width:512px;margin:15px auto 0;">
		<tr style="border:hidden;">
			<td style="border:hidden"><img style=" margin-right:10px;float:left;" src="map-greenBlock.jpg" th:attr="src=${projectDetail?.reportsImagePath}+'/map-greenBlock.jpg'" ></img> <p class="text-left title">PVR Cinemas</p></td>
			<td style="border:hidden"><img style=" margin-right:10px;float:left;" src="map-redBlock.jpg" th:attr="src=${projectDetail?.reportsImagePath}+'/map-redBlock.jpg'" ></img> <p class="text-left title">Competition Cinemas</p></td>
		</tr>
	</table>
	
		</div>

 <!-- 
 <table style="background:#000;height:30px;width:100%;margin-top:0px;margin-bottom:10px;">
            <tr>
                <td class="text-middle text-left" style="padding:6px;"><p style="font-size:14px;color:#fff;">Copyright © 2019 PVR. All Rights Reserved</p></td>

                <td class="text-middle text-right" style="padding:6px;"><p style="font-size:14px;color:#fff;float:right;">Private And Confidential</p></td>
            </tr>
        </table>
  -->

<!-- table -->
<h1 style="margin-bottom:15px;">Existing Cinema Landscape</h1>
 <table class="table table-bordered transparent fixed-layout layout-fixed" style="margin-top:25px;">
            <thead>
                <tr class="greenBackground">
                	<th>#</th>
                    <th width="300">PVR Cinema Name</th>
                    <th>City</th>
                    <th>No.of screens</th>
                    <th>Seat Capacity</th>
                    <th>Cinema Category</th>
                    <th>ATP (INR) </th>
                    <th width="130">Occupancy %</th>
                    <th>Admits </th>

                </tr>
            </thead>
           	<tbody>
                <tr th:each="cinema,iterStat:${cinemaLandScape}">
                	<td th:text=${cinema?.alphaCounter}></td>
                    <td class="text-left" width="300" th:text=${cinema?.cinema_name}>PVR Elante Chandigarh</td>
                    <td th:text=${cinema?.cinema_location}>Chandigarh</td>
                    <td th:text=${cinema?.noOfScreen}>8</td>
                    <td th:with="result=${cinema?.seatCapacity/2}" th:text=${result}>NA</td>
                    <td th:text=${cinema?.category}>NA</td>
                    <td th:text=${cinema?.atp}>NA</td>
                    <td th:text=${cinema?.occupancy}>NA</td>
                    <td th:text=${cinema?.admits}>NA</td>
                </tr>
                
            </tbody>
          
        </table>
        
        
        
        <table class="table table-bordered transparent fixed-layout layout-fixed" style="margin-top:15px;">
             <thead>
                <tr class="redBackground">
               		 <th>#</th>
                    <th width="300">Competition Cinema Name</th>
                    <th>City</th>
                    <th>No.of screens</th>
                    <th>Seat Capacity</th>
                    <th>Cinema Category</th>
                    <th>ATP (INR)</th>
                    <th width="130">Occupancy %</th>
                    <th>Admits</th>
                </tr>
            </thead>
           	<tbody>
                <tr th:each="compitition,iterStat:${compitionMaster}">
               		 <td th:text=${compitition?.alphaCounter}></td>
                    <td class="text-left" width="300" th:text=${compitition?.compititionName}>PVR Elante Chandigarh</td>
                    <td th:text=${compitition?.city}>Chandigarh</td>
                    <td th:text=${compitition?.noOfScreen}>8</td>
                    <td th:text=${compitition?.seatCapacity}>NA</td>
                    <td>NA</td>
                    <td th:text=${compitition?.atp}>NA</td>
                    <td>NA</td>
                    <td th:text=${compitition?.admits}>NA</td>
                </tr>
                
            </tbody>
        </table>
        
        
        <table style="background:#000;height:30px;width:100%;margin-top:30px;margin-bottom:30px">
            <tr>
                <td class="text-middle text-left" style="padding:6px;"><p style="font-size:14px;color:#fff;">Copyright © 2019 PVR. All Rights Reserved</p></td>

                <td class="text-middle text-right" style="padding:6px;"><p style="font-size:14px;color:#fff;float:right;">Private And Confidential</p></td>
            </tr>
        </table>
</body>

</html>