<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
body{font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;}
tbody,thead,tr{border-color:inherit}img,table{max-width:100%}.headStrip,.map_frame,.pdf_wrapper{position:relative}@page{size:A4 landscape}img{width:auto}tbody,thead{vertical-align:middle}td,th,tr{vertical-align:inherit}*{margin:0;padding:0;box-sizing:border-box}table{display:table;border-spacing:2px;border-collapse:collapse;width:100%;margin-bottom:2rem;margin-top:2rem;background-color:transparent;border:1px solid rgba(0,0,0,.06)}thead{display:table-header-group}tbody{display:table-row-group}tr{display:table-row}td,th{display:table-cell}.table thead th,.table tr th{font-size:16px;font-weight:600;color:#000;background:#ffc906;border:1px solid gray;}h1,h2,h3,h4{text-transform:capitalize;letter-spacing:.5px;font-weight:500}.table td,.table th{text-align:center;font-size:15px;padding: 5px 10px;vertical-align:top;border-top:1px solid rgba(0,0,0,.06)}.table td:first-of-type,.table th:first-of-type{text-align:left}.table-bordered,.table-bordered td,.table-bordered th{border:1px solid gray;}h1,h2{font-size:22px;margin:20px 0 0}.pdf_wrapper hr{border-color:#ffc906;box-shadow:none;outline:0;margin:10px 0 20px;border-width:2px;unicode-bidi:unset;border-style:solid}.pdf_wrapper{width:1080px;margin:50px auto}.map_frame{height:450px;width:100%;overflow:hidden;margin:30px 0 20px}.transparent tr td{background:0 0!important}.text-center{text-align:center!important}.text-right{text-align:right}tr:nth-child(even) td{background:#f3f3f3}.text-middle{vertical-align:middle!important;text-align:center!important}.text-left{text-align:left!important}.p-m-0{margin:0;padding:0!important}.border-hide{border:hidden}.mb-2{margin-bottom:2rem}.top-shadow{box-shadow:inset 0 2px 0 0 #000}.total_row,.total_row td{background:#f3f3f3!important}.dicrease-font-size tr td,.dicrease-font-size tr th{font-size:12px!important}h3,h4{font-size:22px;margin:0 0 20px}.graph-frame{margin-bottom:1rem}.half-width{max-width:50%}.fixed-layout{table-layout:fixed}.black_row{background-color:#000!important}.black_row td{color:#fff!important}.headStrip{margin-top:30px;padding:12px 15px;font-size:22px;background:#ffc906}fieldset{width:100%;opacity:.2;border-bottom:0;border-left:0;border-right:0;margin:20px 0}fieldset legend{text-align:center;font-size:16px;color:#000;padding:0 15px}#chats{margin:0;padding:0}#chats li{display:inline-block;width:100%;margin:0 0 15px}#chats li h4{float:left;font-size:20px;width:150px;margin:0}#chats li .chat_textarea{border-radius:6px 25px 25px 20px;background:#eee;float:right;padding:15px;width:calc(100% - 160px)}
td, th, p, small, span{text-transform:capitalize!important;}
</style>
</head>
<body>
<table style="background:#000;height:50px;width:100%;margin-bottom:20px;">
            <tr>
                <td style="padding: 5px 10px;"><img width="60px" src="pvr-logo-01.png" th:attr="src=${projectDetails?.reportsImagePath}+'/pvr-logo-01.png'"/></td>
                <td class="text-middle text-right" style="padding: 5px 10px;"><p class="text-right text-middle" style="font-size:16px;text-transform:uppercase;color:#fecb0e;float:right;" th:text="${projectDetails?.reportSignature}">Pitampura Mall, Delhi - Pre Signing - 4</p></td>
            </tr>
        </table>

		<h1 style="margin-bottom:15px;">Project Assessment</h1>
		<table class="table table-bordered transparent fixed-layout" style="margin-top:15px;">
			<tr>
				<th class="text-left">Multiplex details</th>
				<th>Pre Signing</th>
				<th th:if="${showPostsigning}" >Post Signing</th>
				<th th:if="${showPrehandover}" >Pre Handover</th>
			</tr>
			<tr>
				<td class="text-left">Location</td>
				<td th:text="${preSigningDetails?.projectLocation?.city}">----</td>
				<td th:if="${showPostsigning}" th:text="${postSigningDetails?.projectLocation?.city}">----</td>
				<td th:if="${showPrehandover}" th:text="${preHandoverDetails?.projectLocation?.city}">----</td>
			</tr>
			<tr>
				<td class="text-left">Developer name</td>
				<td th:text="${preSigningDetails?.developer}">---</td>
				<td th:if="${showPostsigning}" th:text="${postSigningDetails?.developer}">---</td>
				<td th:if="${showPrehandover}" th:text="${preHandoverDetails?.developer}">---</td>
			</tr>
			<tr>
				<td class="text-left">Gross Leasable Area (sq. ft.)</td>
				<td th:text="${#numbers.formatDecimal(preSigningDetails?.LesserLesse?.leasableArea, 1, 'COMMA', 0, 'POINT')}">----</td>
				<td th:if="${showPostsigning}" th:text="${#numbers.formatDecimal(postSigningDetails?.LesserLesse?.leasableArea, 1, 'COMMA', 0, 'POINT')}">----</td>
				<td th:if="${showPrehandover}" th:text="${#numbers.formatDecimal(preHandoverDetails?.LesserLesse?.leasableArea, 1, 'COMMA', 0, 'POINT')}">----</td>
			</tr>
			<tr>
				<td class="text-left">Screens</td>
				<td th:text="${preSigningDetails?.noOfScreens}">-----</td>
				<td th:if="${showPostsigning}" th:text="${postSigningDetails?.noOfScreens}">-----</td>
				<td th:if="${showPrehandover}" th:text="${preHandoverDetails?.noOfScreens}">-----</td>
			</tr>
			<tr>
				<td class="text-left">Seats</td>
				<td th:text="${preSigningDetails?.totalColumnValSum}">-----</td>
				<td th:if="${showPostsigning}" th:text="${postSigningDetails?.totalColumnValSum}">-----</td>
				<td th:if="${showPrehandover}" th:text="${preHandoverDetails?.totalSeats}">-----</td>
			</tr>
			<tr>
				<td class="text-left">Likely handover date</td>
				<td th:text="${preSigningDetails?.DateOfHandover}">-----</td>
				<td th:if="${showPostsigning}" th:text="${postSigningDetails?.DateOfHandover}">-----</td>
				<td th:if="${showPrehandover}" th:text="${preHandoverDetails?.DateOfHandover}">-----</td>
			</tr>
			<tr>
				<td class="text-left">Likely opening date</td>
				<td th:text="${preSigningDetails?.DateOfOpening}">----</td>
				<td th:if="${showPostsigning}" th:text="${postSigningDetails?.DateOfOpening}">----</td>
				<td th:if="${showPrehandover}" th:text="${preHandoverDetails?.DateOfOpening}">----</td>
			</tr>
			<tr>
				<th th:if="${hidePreTheader}"  colspan="2" class="top-shadow text-left">Financials (year
					2)</th>
				<th th:if="${hidePostTheader}" colspan="3" class="top-shadow text-left">Financials (year
					2)</th>	
				<th th:if="${showPrehandover}" colspan="4" class="top-shadow text-left">Financials (year
					2)</th>	
			</tr>
			<tr>
			
				<td class="text-left">Revenue (INR Lacs)</td>
				<td th:text="${#numbers.formatDecimal(pre_revenue, 1, 'COMMA', 0, 'POINT')}">---</td>
				<td th:if="${showPostsigning}" th:text="${#numbers.formatDecimal(post_revenue, 1, 'COMMA', 0, 'POINT')}">---</td>
				<td th:if="${showPrehandover}" th:text="${#numbers.formatDecimal(revenue, 1, 'COMMA', 0, 'POINT')}">---</td>
			</tr>
			<tr>
				<td class="text-left">EBITDA (INR Lacs)</td>
				<td th:text="${#numbers.formatDecimal(pre_ebitda, 1, 'COMMA', 0, 'POINT')}">---</td>
				<td th:if="${showPostsigning}" th:text="${#numbers.formatDecimal(post_ebitda, 1, 'COMMA', 0, 'POINT')}">---</td>
				<td th:if="${showPrehandover}" th:text="${#numbers.formatDecimal(ebitda, 1, 'COMMA', 0, 'POINT')}">---</td>
			</tr>
			<tr>
				<td class="text-left">EBITDA margin (%)</td>
				<td th:text="${#numbers.formatDecimal(pre_ebitdaMargin, 1, 'COMMA', 1, 'POINT')}">-----</td>
				<td th:if="${showPostsigning}" th:text="${#numbers.formatDecimal(post_ebitdaMargin, 1, 'COMMA', 1, 'POINT')}">-----</td>
				<td th:if="${showPrehandover}" th:text="${#numbers.formatDecimal(ebitdaMargin, 1, 'COMMA', 1, 'POINT')}">-----</td>
			</tr>
			<tr>
				<th  th:if="${hidePreTheader}" colspan="2" class="top-shadow text-left">Operating
					assumptions (year 2)</th>
				<th th:if="${hidePostTheader}" colspan="3" class="top-shadow text-left">Operating
					assumptions (year 2)</th>
				<th th:if="${showPrehandover}" colspan="4" class="top-shadow text-left">Operating
					assumptions (year 2)</th>		
					
			</tr>
			<tr>
				<td class="text-left">Admits</td>
				<td th:text="${#numbers.formatDecimal(pre_admits, 1, 'COMMA', 0, 'POINT')}">-----</td>
				<td th:if="${showPostsigning}" th:text="${#numbers.formatDecimal(post_admits, 1, 'COMMA', 0, 'POINT')}">-----</td>
				<td th:if="${showPrehandover}" th:text="${#numbers.formatDecimal(admits, 1, 'COMMA', 0, 'POINT')}">-----</td>
			</tr>
			<tr>
				<td class="text-left">Occupancy (%)</td>
				<td th:text="${#numbers.formatDecimal(pre_occupancy, 1, 'COMMA', 1, 'POINT')}">-----</td>
				<td th:if="${showPostsigning}" th:text="${#numbers.formatDecimal(post_occupancy, 1, 'COMMA', 1, 'POINT')}">-----</td>
				<td th:if="${showPrehandover}" th:text="${#numbers.formatDecimal(occupancy, 1, 'COMMA', 1, 'POINT')}">-----</td>
			</tr>
			<tr>
				<td class="text-left">ATP (INR)</td>
				<td th:text="${#numbers.formatDecimal(pre_atp, 1, 'COMMA', 0, 'POINT')}">------</td>
				<td th:if="${showPostsigning}" th:text="${#numbers.formatDecimal(post_atp, 1, 'COMMA', 0, 'POINT')}">------</td>
				<td th:if="${showPrehandover}" th:text="${#numbers.formatDecimal(atp, 1, 'COMMA', 0, 'POINT')}">------</td>
			</tr>
			<tr>
				<td class="text-left">SPH (INR)</td>
				<td th:text="${#numbers.formatDecimal(pre_sph, 1, 'COMMA', 0, 'POINT')}">------</td>
				<td th:if="${showPostsigning}" th:text="${#numbers.formatDecimal(post_sph, 1, 'COMMA', 0, 'POINT')}">------</td>
				<td th:if="${showPrehandover}" th:text="${#numbers.formatDecimal(sph, 1, 'COMMA', 0, 'POINT')}">------</td>
			</tr>
			<tr>
				<td class="text-left">Ad sales (INR Lacs)</td>
				<td th:text="${#numbers.formatDecimal(pre_adSale, 1, 'COMMA', 0, 'POINT')}">-----</td>
				<td th:if="${showPostsigning}" th:text="${#numbers.formatDecimal(post_adSale, 1, 'COMMA', 0, 'POINT')}">-----</td>
				<td th:if="${showPrehandover}" th:text="${#numbers.formatDecimal(adSale, 1, 'COMMA', 0, 'POINT')}">-----</td>
			</tr>
			</table>
			
			<table style="background:#000;height:30px;width:100%;margin-top:20px;margin-bottom:25px;">
            <tr>
                <td class="text-middle text-left" style="padding:6px;"><p style="font-size:14px;color:#fff;">Copyright © 2019 PVR. All Rights Reserved</p></td>
                <td class="text-middle text-right" style="padding:6px;"><p style="font-size:14px;color:#fff;float:right;">Private And Confidential</p></td>
            </tr>
        </table> 
			
			
			
			<table style="background:#000;height:50px;width:100%;margin-bottom:20px;">
            <tr>
                <td style="padding: 5px 10px;"><img width="60px" src="pvr-logo-01.png" th:attr="src=${projectDetails?.reportsImagePath}+'/pvr-logo-01.png'"/></td>
                <td class="text-middle text-right" style="padding: 5px 10px;"><p class="text-right text-middle" style="line-height: 38px;font-size:16px;text-transform:uppercase;color:#fecb0e;float:right;" th:text="${projectDetails?.reportSignature}">Pitampura Mall, Delhi - Pre Signing - 4</p></td>
            </tr>
        </table>
        <h1 style="margin-bottom:15px;">Project Assessment</h1>
			<table class="table table-bordered transparent fixed-layout" style="margin-top:15px;margin-bottom:70px;">
			<tr>
				<th class="top-shadow text-left">Payback Summary</th>
				<th >Pre Signing</th>
				<th th:if="${showPostsigning}">Post Signing</th>
				<th th:if="${showPrehandover}" >Pre Handover</th>
				
			</tr>
			<tr>
				<td class="text-left">Project IRR – post tax</td>
				<td th:text="${#numbers.formatDecimal(pre_projectIrrPostTax, 1, 'COMMA', 1, 'POINT')}">----</td>
				<td th:if="${showPostsigning}" th:text="${#numbers.formatDecimal(post_projectIrrPostTax, 1, 'COMMA', 1, 'POINT')}">----</td>
				<td th:if="${showPrehandover}" th:text="${#numbers.formatDecimal(projectIrrPostTax, 1, 'COMMA', 1, 'POINT')}">----</td>
			</tr>
			<tr>
				<td class="text-left">EBITDA Payback period (years)</td>
				<td th:text="${#numbers.formatDecimal(pre_paybackPeriod, 1, 'COMMA', 1, 'POINT')}">---</td>
				<td th:if="${showPostsigning}" th:text="${#numbers.formatDecimal(post_paybackPeriod, 1, 'COMMA', 1, 'POINT')}">---</td>
				<td th:if="${showPrehandover}" th:text="${#numbers.formatDecimal(paybackPeriod, 1, 'COMMA', 1, 'POINT')}">---</td>
			</tr>
			<tr>
				<th  th:if="${hidePreTheader}" colspan="2" class="top-shadow text-left">CAPEX</th>
				<th  th:if="${hidePostTheader}" colspan="3" class="top-shadow text-left">CAPEX</th>
				<th  th:if="${showPrehandover}" colspan="4" class="top-shadow text-left">CAPEX</th>
			</tr>
			<tr>
				<td class="text-left">Project costs Excl. SD (INR lacs)</td>
				<td th:text="${#numbers.formatDecimal(pre_projectCost, 1, 'COMMA', 0, 'POINT')}">----</td>
				<td th:if="${showPostsigning}" th:text="${#numbers.formatDecimal(post_projectCost, 1, 'COMMA', 0, 'POINT')}">----</td>
				<td th:if="${showPrehandover}" th:text="${#numbers.formatDecimal(projectCost, 1, 'COMMA', 0, 'POINT')}">----</td>
			</tr>	
			<tr>
				<th  th:if="${hidePreTheader}" colspan="2" class="top-shadow text-left">Key deal terms</th>
				<th  th:if="${hidePostTheader}" colspan="3" class="top-shadow text-left">Key deal terms</th>
				<th th:if="${showPrehandover}"  colspan="4" class="top-shadow text-left">Key deal terms</th>
			</tr>
			<tr>
				<td class="text-left">Rent (INR Lacs) per annum</td>
				<td th:text="${#numbers.formatDecimal(pre_rent, 1, 'COMMA', 0, 'POINT')}">----</td>
				<td th:if="${showPostsigning}" th:text="${#numbers.formatDecimal(post_rent, 1, 'COMMA', 0, 'POINT')}">----</td>
				<td th:if="${showPrehandover}" th:text="${#numbers.formatDecimal(rent, 1, 'COMMA', 0, 'POINT')}">----</td>
			</tr>
			<tr>
				<td class="text-left">Rent to revenue ratio (%)</td>
				<td th:text="${#numbers.formatDecimal(pre_rentRevenueRation, 1, 'COMMA', 0, 'POINT')}">----</td>
				<td th:if="${showPostsigning}" th:text="${#numbers.formatDecimal(post_rentRevenueRation, 1, 'COMMA', 0, 'POINT')}">----</td>
				<td th:if="${showPrehandover}" th:text="${#numbers.formatDecimal(rentRevenueRation, 1, 'COMMA', 0, 'POINT')}">----</td>
			</tr>
			<tr>
				<td class="text-left">CAM (INR Lacs) per annum</td>
				<td th:text="${#numbers.formatDecimal(pre_cam, 1, 'COMMA', 0, 'POINT')}">----</td>
				<td th:if="${showPostsigning}" th:text="${#numbers.formatDecimal(post_cam, 1, 'COMMA', 0, 'POINT')}">----</td>
				<td th:if="${showPrehandover}" th:text="${#numbers.formatDecimal(cam, 1, 'COMMA', 0, 'POINT')}">----</td>
			</tr>
			<tr>
				<td class="text-left">Lease tenure (year)</td>
				<td th:text="${pre_leasePeroid}">---</td>
				<td th:if="${showPostsigning}" th:text="${post_leasePeroid}">---</td>
				<td th:if="${showPrehandover}" th:text="${leasePeroid}">---</td>
			</tr>
			<tr>
				<th  th:if="${hidePreTheader}" colspan="2" class="top-shadow text-left">Seat efficiency</th>
				<th th:if="${hidePostTheader}" colspan="3" class="top-shadow text-left">Seat efficiency</th>
				<th  th:if="${showPrehandover}" colspan="4" class="top-shadow text-left">Seat efficiency</th>
			</tr>
			<tr>
				<td class="text-left">Capex per seat (INR)</td>
				<td th:text="${#numbers.formatDecimal(pre_capexPerSeat, 1, 'COMMA', 0, 'POINT')}">----</td>
				<td th:if="${showPostsigning}" th:text="${#numbers.formatDecimal(post_capexPerSeat, 1, 'COMMA', 0, 'POINT')}">----</td>
				<td th:if="${showPrehandover}" th:text="${#numbers.formatDecimal(capexPerSeat, 1, 'COMMA', 0, 'POINT')}">----</td>
			</tr>
			<tr>
				<td class="text-left">Capex per <span style="text-transform: lowercase !important;">sq. ft.</span> on carpet area (INR)</td>
				<td th:text="${#numbers.formatDecimal(pre_capexPerSqCarpetArea, 1, 'COMMA', 0, 'POINT')}">---</td>
				<td th:if="${showPostsigning}" th:text="${#numbers.formatDecimal(post_capexPerSqCarpetArea, 1, 'COMMA', 0, 'POINT')}">---</td>
				<td th:if="${showPrehandover}" th:text="${#numbers.formatDecimal(capexPerSqCarpetArea, 1, 'COMMA', 0, 'POINT')}">---</td>
			</tr>
			<tr>
				<td class="text-left">GLA per seat <span style="text-transform: lowercase !important;">(sq. ft.)</span></td>
				<td th:text="${#numbers.formatDecimal(pre_gla, 1, 'COMMA', 1, 'POINT')}">---</td>
				<td th:if="${showPostsigning}" th:text="${#numbers.formatDecimal(post_gla, 1, 'COMMA', 1, 'POINT')}">---</td>
				<td th:if="${showPrehandover}" th:text="${#numbers.formatDecimal(gla, 1, 'COMMA', 1, 'POINT')}">---</td>
			</tr>
			<tr>
				<td class="text-left">Carpet area per seat <span style="text-transform: lowercase !important;">(sq. ft.)</span></td>
				<td th:text="${#numbers.formatDecimal(pre_carpetAreaPerSeat, 1, 'COMMA', 1, 'POINT')}">---</td>
				<td th:if="${showPostsigning}" th:text="${#numbers.formatDecimal(post_carpetAreaPerSeat, 1, 'COMMA', 1, 'POINT')}">---</td>
				<td th:if="${showPrehandover}" th:text="${#numbers.formatDecimal(carpetAreaPerSeat, 1, 'COMMA', 1, 'POINT')}">---</td>
			</tr>
		</table>

	
	<table style="background:#000;height:30px;width:100%;margin-top:20px;">
            <tr>
                <td class="text-middle text-left" style="padding:6px;"><p style="font-size:14px;color:#fff;">Copyright © 2019 PVR. All Rights Reserved</p></td>

                <td class="text-middle text-right" style="padding:6px;"><p style="font-size:14px;color:#fff;float:right;">Private And Confidential</p></td>
            </tr>
        </table>
</body>
</html>