<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
	xmlns:th="http://www.thymeleaf.org">
<head>
<style>
body{font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;}
tbody,thead,tr{border-color:inherit}img{height: 635px !important},table{max-width:100%}.headStrip,.map_frame,.pdf_wrapper{position:relative}@page{size:A4 landscape}img{width:auto}tbody,thead{vertical-align:middle}td,th,tr{vertical-align:inherit}*{margin:0;padding:0;box-sizing:border-box}table{display:table;border-spacing:2px;border-collapse:collapse;width:100%;margin-bottom:2rem;margin-top:2rem;background-color:transparent;border:1px solid rgba(0,0,0,.06)}thead{display:table-header-group}tbody{display:table-row-group}tr{display:table-row}td,th{display:table-cell}.table thead th,.table tr th{font-size:16px;font-weight:600;color:#000;background:#ffc906;border:1px solid gray;}h1,h2,h3,h4{text-transform:capitalize;letter-spacing:.5px;font-weight:500}.table td,.table th{text-align:center;font-size:15px;padding: 15px 10px;vertical-align:top;border-top:1px solid rgba(0,0,0,.06)}.table td:first-of-type,.table th:first-of-type{text-align:left}.table-bordered,.table-bordered td,.table-bordered th{border:1px solid gray;}h1,h2{font-size:26px;margin:20px 0 0}.pdf_wrapper hr{border-color:#ffc906;box-shadow:none;outline:0;margin:10px 0 20px;border-width:2px;unicode-bidi:unset;border-style:solid}.pdf_wrapper{width:1080px;margin:50px auto}.map_frame{height:450px;width:100%;overflow:hidden;margin:30px 0 20px}.transparent tr td{background:0 0!important}.text-center{text-align:center!important}.text-right{text-align:right}tr:nth-child(even) td{background:#f3f3f3}.text-middle{vertical-align:middle!important;text-align:center!important}.text-left{text-align:left!important}.p-m-0{margin:0;padding:0!important}.border-hide{border:hidden}.mb-2{margin-bottom:2rem}.top-shadow{box-shadow:inset 0 2px 0 0 #000}.total_row,.total_row td{background:#f3f3f3!important}.dicrease-font-size tr td,.dicrease-font-size tr th{font-size:12px!important}h3,h4{font-size:22px;margin:0 0 20px}.graph-frame{margin-bottom:1rem}.half-width{max-width:50%}.fixed-layout{table-layout:fixed}.black_row{background-color:#000!important}.black_row td{color:#fff!important}.headStrip{margin-top:30px;padding:12px 15px;font-size:22px;background:#ffc906}fieldset{width:100%;opacity:.2;border-bottom:0;border-left:0;border-right:0;margin:20px 0}fieldset legend{text-align:center;font-size:16px;color:#000;padding:0 15px}#chats{margin:0;padding:0}#chats li{display:inline-block;width:100%;margin:0 0 15px}#chats li h4{float:left;font-size:20px;width:150px;margin:0}#chats li .chat_textarea{border-radius:6px 25px 25px 20px;background:#eee;float:right;padding:15px;width:calc(100% - 160px)}.subtitle{color:#fff!important;background-color:orange}
td, th, p, small, span{text-transform:capitalize!important;}
</style>
<body>
	<!-- <img alt="mastercard" width="100%" height="100%"
		src="/home/pvradmin/Documents/images/home-featured-img1.jpg"></img> -->
		
		<!-- <img alt="mastercard" width="100%" height="100%"
		src="/home/orange/Documents/report-images/home-featured-img1.jpg"></img> -->
		<img alt="mastercard" width="100%" height="200%"
		src="pvr-logo-pdf.png" th:attr="src=${projectDetails?.reportsImagePath}+'/home-featured-img1.jpg'"></img>

		<table class="table table-bordered fixed-layout layout-fixed" style="background:#400101;">
			<tbody>
			<tr style="border:hidden!important;">
				<td class="text-center" style="border-right: 1px solid #000000;font-size:20px;text-transform:capitalize;color:#fff;" th:text="${projectDetails?.projectName} + ', '+${projectDetails?.projectLocation?.city} + ', '+${projectDetails?.projectLocation?.state}">Project Name</td>
				<td class="text-center" style="border-left: 1px solid #000000;font-size:20px;text-transform:capitalize;color:#fff;" th:text="${projectDetails?.DateOfSendForApproval}">Date First Submitted For Approval</td>
			</tr>
			</tbody>
		</table>
	<!-- <p class="subtitle" th:text="${projectDetails?.reportSignature}"
		style="font-size: 18px; text-transform: uppercase; color: #ffffff !important; margin: 20px 20px 0 0; float: right;">Pitampura
		Mall, Delhi - Pre Signing - 4</p> -->
</body>
</html>