<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
body{font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;}
tbody,thead,tr{border-color:inherit}img,table{max-width:100%}.headStrip,.map_frame,.pdf_wrapper{position:relative}@page{size:A4 landscape}img{width:auto}tbody,thead{vertical-align:middle}td,th,tr{vertical-align:inherit}*{margin:0;padding:0;box-sizing:border-box}table{display:table;border-spacing:2px;border-collapse:collapse;width:100%;margin-bottom:2rem;margin-top:2rem;background-color:transparent;border:1px solid rgba(0,0,0,.06)}thead{display:table-header-group}tbody{display:table-row-group}tr{display:table-row}td,th{display:table-cell}.table thead th,.table tr th{font-size:16px;font-weight:600;color:#000;background:#ffc906;border:1px solid gray;}h1,h2,h3,h4{text-transform:capitalize;letter-spacing:.5px;font-weight:500}.table td,.table th{text-align:center;font-size:15px;padding: 5px 10px;vertical-align:top;border-top:1px solid rgba(0,0,0,.06)}.table td:first-of-type,.table th:first-of-type{text-align:left}.table-bordered,.table-bordered td,.table-bordered th{border:1px solid gray;}h1,h2{font-size:26px;margin:20px 0 0}.pdf_wrapper hr{border-color:#ffc906;box-shadow:none;outline:0;margin:10px 0 20px;border-width:2px;unicode-bidi:unset;border-style:solid}.pdf_wrapper{width:1080px;margin:50px auto}.map_frame{height:450px;width:100%;overflow:hidden;margin:30px 0 20px}.transparent tr td{background:0 0!important}.text-center{text-align:center!important}.text-right{text-align:right}tr:nth-child(even) td{background:#f3f3f3}.text-middle{vertical-align:middle!important;text-align:center!important}.text-left{text-align:left!important}.p-m-0{margin:0;padding:0!important}.border-hide{border:hidden}.mb-2{margin-bottom:2rem}.top-shadow{box-shadow:inset 0 2px 0 0 #000}.total_row,.total_row td{background:#f3f3f3!important}.dicrease-font-size tr td,.dicrease-font-size tr th{font-size:12px!important}h3,h4{font-size:22px;margin:0 0 20px}.graph-frame{margin-bottom:1rem}.half-width{max-width:50%}.fixed-layout{table-layout:fixed}.black_row{background-color:#000!important}.black_row td{color:#fff!important}.headStrip{margin-top:30px;padding:12px 15px;font-size:22px;background:#ffc906}fieldset{width:100%;opacity:.2;border-bottom:0;border-left:0;border-right:0;margin:20px 0}fieldset legend{text-align:center;font-size:16px;color:#000;padding:0 15px}#chats{margin:0;padding:0}#chats li{display:inline-block;width:100%;margin:0 0 15px}#chats li h4{float:left;font-size:20px;width:150px;margin:0}#chats li .chat_textarea{border-radius:6px 25px 25px 20px;background:#eee;float:right;padding:15px;width:calc(100% - 160px)}
td, th, p, small, span{text-transform:capitalize!important;}
</style>
</head>
<body>

<table style="background:#000;height:50px;width:100%;margin-bottom:20px;">
            <tr>
                <td style="padding: 5px 10px;"><img width="60px" src="pvr-logo-01.png" th:attr="src=${projectDetails?.reportsImagePath}+'/pvr-logo-01.png'"/></td>
                <td class="text-middle text-right" style="padding: 5px 10px;"><p class="text-right text-middle" style="font-size:16px;text-transform:uppercase;color:#fecb0e;float:right;" th:text="${projectDetails?.reportSignature}">Pitampura Mall, Delhi - Pre Signing - 4</p></td>
            </tr>
  </table>

	<h1 style="margin-bottom:15px;">Key Assumptions</h1>
        <table class="table table-bordered transparent dicrease-font-size" style="margin-bottom:20px;">
            <tbody>
            <tr>
                <th width="200" class="text-left">Revenue Assumptions</th>
                <th th:each="growth,iterStat : ${leasePeriod}" th:if="${iterStat.index<14}" >Yr <span th:text="${#strings.substringBefore(growth,'.')}"></span></th>
            </tr>
            <tr>
                <td width="200" class="text-left">Admit Growth (%)</td>
                <td th:each="growth,iterStat : ${admitgrwoth}" th:if="${iterStat.index<14}"><span th:text="${growth}"></span></td>
                
            </tr>
            <tr>
                <td width="200" class="text-left">ATP Growth (%)</td>
                <td th:each="growth,iterStat : ${atpGrowth}" th:if="${iterStat.index<14}"><span th:text="${growth}"></span></td>
            </tr>
            <tr>
                <td width="200" class="text-left">SPH Growth (%)</td>
                 <td th:each="growth,iterStat : ${sphGrowth}" th:if="${iterStat.index<14}"><span th:text="${growth}"></span></td>
            </tr>
            <tr>
                <td width="200" class="text-left">SponsorshipIncome Growth (%) </td>
                 <td th:each="growth,iterStat : ${sponshorshipGrowth}" th:if="${iterStat.index<14}"><span th:text="${growth}"></span></td>
            </tr>
            <tr>
                <td width="200" class="text-left">Convenience feegrowth (%)</td>
                <td th:each="growth,iterStat : ${conveninceGrowth}" th:if="${iterStat.index<14}"><span th:text="${growth}"></span></td>
            </tr>
            <tr>
                <td width="200" class="text-left" >Other incomegrowth (%)</td>
                <td th:each="growth,iterStat : ${otherIncomegrowth}" th:if="${iterStat.index<14}"><span th:text="${growth}"></span></td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered transparent dicrease-font-size">
        <tr class="total_row">
            <td colspan="15" class="text-left"><b style="font-size:17px;color:#000;font-weight:700;">Cost Assumptions</b></td>
        </tr>
        <tr>
            <td width="200" class="text-left">FHC (%)</td>
            <td th:each="growth,iterStat : ${fhcPercentage}" th:if="${iterStat.index<14}"><span th:text="${growth}"></span></td>
        </tr>
        <tr>
            <td width="200" class="text-left">F&amp;B COGS (%)</td>
            <td th:each="growth,iterStat : ${fnbCogs}" th:if="${iterStat.index<14}"><span th:text="${growth}"></span></td>
        </tr>
        <tr>
            <td width="200" class="text-left">Personnel Expenses Growth (%)</td>
            <td th:each="growth,iterStat : ${Personnel_Cost}" th:if="${iterStat.index<14}"><span th:text="${growth}"></span></td>
        </tr>
        <tr>
            <td width="200" class="text-left">Electricity &amp;Air-conditioning Growth (%)</td>
           <td th:each="growth,iterStat : ${Electricity_Water}" th:if="${iterStat.index<14}"><span th:text="${growth}"></span></td>
        </tr>
        <tr>
            <td width="200" class="text-left">Repair and Maintenance Growth (%)</td>
            <td th:each="growth,iterStat : ${repairMaintaince}" th:if="${iterStat.index<14}"><span th:text="${growth}"></span></td>
        </tr>
        <tr>
            <td width="200" class="text-left">Other Overheadexpenses Growth (%)</td>
            <td th:each="growth,iterStat : ${otherOverHeadExpense}" th:if="${iterStat.index<14}"><span th:text="${growth}"></span></td>
        </tr>
        <tr>
            <td width="200" class="text-left">Rent expense Growth (%)</td>
            <td th:each="growth,iterStat : ${rentExpense}" th:if="${iterStat.index<14}"><span th:text="${growth}"></span></td>
        </tr>
        <tr>
            <td width="200" class="text-left">Common AreaMaintenance Growth (%)</td>
            <td th:each="growth,iterStat : ${camAreaMaintance}" th:if="${iterStat.index<14}"><span th:text="${growth}"></span></td>
        </tr>
        <tr>
            <td width="200" class="text-left">Property tax (%)</td>
            <td th:each="growth,iterStat : ${propertyTax}" th:if="${iterStat.index<14}"><span th:text="${growth}"></span></td>
        </tr>
        <tr>
            <td width="220" class="text-left">Maintenance capex % of initial (%)</td>
            <td th:each="growth,iterStat : ${maintenceCapexInitial}" th:if="${iterStat.index<14}"><span th:text="${growth}"></span></td>
        </tr>
    </table>

	<table style="background:#000;height:30px;width:100%;margin-top:20px;margin-bottom:30px;">
         <tr>
             <td class="text-middle text-left" style="padding:6px;"><p style="font-size:14px;color:#fff;">Copyright © 2019 PVR. All Rights Reserved</p></td>

                <td class="text-middle text-right" style="padding:6px;"><p style="font-size:14px;color:#fff;float:right;">Private And Confidential</p></td>
         </tr>
     </table>
</body>

</html>