<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
	xmlns:th="http://www.thymeleaf.org">
<head>
<style>
body {
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial,
		sans-serif;
}
td, th, p, small, span{text-transform:capitalize!important;}
tbody, thead, tr {
	border-color: inherit
}

img, table {
	max-width: 100%
}

.headStrip, .map_frame, .pdf_wrapper {
	position: relative
}

@page {
	size: A4 landscape
}

img {
	width: auto
}

tbody, thead {
	vertical-align: middle
}

td, th, tr {
	vertical-align: inherit
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

table {
	display: table;
	border-spacing: 2px;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 2rem;
	margin-top: 2rem;
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, .06)
}

thead {
	display: table-header-group
}

tbody {
	display: table-row-group
}

tr {
	display: table-row
}

td, th {
	display: table-cell
}

.table thead th, .table tr th {
	font-size: 16px;
	font-weight: 600;
	color: #000;
	background: #ffc906;
	border: 1px solid gray;
}

h1, h2, h3, h4 {
	letter-spacing: .5px;
	font-weight: 500;
	text-transform:capitalize;
}

.table td, .table th {
	text-align: center;
	font-size: 16px;
	padding: 6px 10px;
	vertical-align: top;
	border-top: 1px solid rgba(0, 0, 0, .06)
}

.table td:first-of-type, .table th:first-of-type {
	text-align: left
}

.table-bordered, .table-bordered td, .table-bordered th {
	border: 1px solid gray;
}

h1, h2 {
	font-size: 26px;
	margin: 20px 0 0
}

.pdf_wrapper hr {
	border-color: #ffc906;
	box-shadow: none;
	outline: 0;
	margin: 10px 0 20px;
	border-width: 2px;
	unicode-bidi: unset;
	border-style: solid
}

.pdf_wrapper {
	width: 1080px;
	margin: 50px auto
}

.map_frame {
	height: 450px;
	width: 100%;
	overflow: hidden;
	margin: 30px 0 20px
}

.transparent tr td {
	background: 0 0 !important
}

.text-center {
	text-align: center !important
}

.text-right {
	text-align: right
}

tr:nth-child(even) td {
	background: #f3f3f3
}

.text-middle {
	vertical-align: middle !important;
	text-align: center !important
}

.text-left {
	text-align: left !important
}

.p-m-0 {
	margin: 0;
	padding: 0 !important
}

.border-hide {
	border: hidden
}

.mb-2 {
	margin-bottom: 2rem
}

.top-shadow {
	box-shadow: inset 0 2px 0 0 #000
}

.total_row, .total_row td {
	background: #f3f3f3 !important
}

.dicrease-font-size tr td, .dicrease-font-size tr th {
	font-size: 12px !important
}

h3, h4 {
	font-size: 22px;
	margin: 0 0 20px
}

.graph-frame {
	margin-bottom: 1rem
}

.half-width {
	max-width: 50%
}

.fixed-layout {
	table-layout: fixed
}

.black_row {
	background-color: #000 !important
}

.black_row td {
	color: #fff !important
}

.headStrip {
	margin-top: 30px;
	padding: 12px 15px;
	font-size: 22px;
	background: #ffc906
}

fieldset {
	width: 100%;
	opacity: .2;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	margin: 20px 0
}

fieldset legend {
	text-align: center;
	font-size: 16px;
	color: #000;
	padding: 0 15px
}

#chats {
	margin: 0;
	padding: 0
}

#chats li {
	display: inline-block;
	width: 100%;
	margin: 0 0 15px
}

#chats li h4 {
	float: left;
	font-size: 20px;
	width: 150px;
	display: inline-block;
	position: relative;
	margin: 0
}

#chats li .chat_textarea {
	border-radius: 6px 25px 25px 20px;
	background: #eee;
	float: right;
	padding: 15px;
	width: 850px
}
</style>
</head>
<body>
	<table
		style="background: #000; height: 50px; width: 100%; margin-bottom: 20px;">
		<tr>
			<td style="padding: 5px 10px;"><img width="60px"
				src="pvr-logo-01.png" th:attr="src=${projectDetails?.reportsImagePath}+'/pvr-logo-01.png'" /></td>
			<td class="text-middle text-right" style="padding: 5px 10px;"><p
					class="text-right text-middle"
					style="font-size: 16px; text-transform: uppercase; color: #fecb0e; float: right;"
					th:text="${projectDetails?.reportSignature}">Pitampura Mall,
					Delhi - Pre Signing - 4</p></td>
		</tr>
	</table>

	<h1 style="margin-bottom: 15px;">Key Lease Terms</h1>
	<!-- <div class="pdf_wrapper"> -->
	<table class="table table-bordered transparent"
		style="margin-bottom: 7px;">

		<tbody class="mb-2">
			<tr>
				<th colspan="2" class="text-left">Project Timeline</th>
			</tr>
			<tr>
				<td class="text-left">Lease Tenure (Years)</td>
				<td width="250" class="text-center"
					th:text="${projectDetails?.lesserLesse?.leasePeriod}">15 years</td>
			</tr>
			<tr>
				<td class="text-left">PVR Lock in period (Years)</td>
				<td width="250" class="text-center"
					th:text="${projectDetails?.lesserLesse?.pvrLockInPeriod}">10
					years</td>
			</tr>
			<tr>
				<td class="text-left">Developer Lock in period (Years)</td>
				<td width="250" class="text-center"
					th:text="${projectDetails?.lesserLesse?.devloperLockedInPeriod}">xxx</td>
			</tr>
			<tr>
				<td class="text-left">Tentative handover date</td>
				<td width="250" class="text-center"
					th:text="${projectDetails?.DateOfHandover}">July 2024</td>
			</tr>
			<tr>
				<td class="text-left">Likely date of opening</td>
				<td width="250" class="text-center"
					th:text="${projectDetails?.DateOfOpening}">Dec 2024</td>
			</tr>
		</tbody>
	</table>

	<table class="table table-bordered transparent"
		style="margin-bottom: 7px;">

		<tbody class="mb-2">
			<tr>
				<th colspan="2" class="text-left">Others</th>
			</tr>
			<tr>
				<td class="text-left">Developer scope of work</td>
				<td width="250" class="text-center" th:text="${projectDetails?.lesserLesse.devloperScopeOfWorkOption}">Option 1</td>
			</tr>
			<tr>
				<td class="text-left">Key money contribution by PVR (INR lacs)</td>
				<td width="250" class="text-center" th:text="${#numbers.formatDecimal(projectDetails?.lesserLesse?.toDevloper, 1, 'COMMA', 0, 'POINT')}">xxx</td>
			</tr>
			<tr>
			<td class="text-left">Key money contribution from PVR (INR lacs)</td>
				<td class="text-right" th:text="${#numbers.formatDecimal(projectDetails?.lesserLesse?.fromDevloper, 1, 'COMMA', 0, 'POINT')}">Key money contribution by developer (INR
					lacs)</td>
			</tr>
		</tbody>
	</table>

	<table class="table table-bordered transparent"
		style="margin-bottom: 7px;">
		<tbody class="mb-2">
			<tr>
				<th colspan="2" class="text-left">Project Area</th>
			</tr>
			<tr>
				<td class="text-left">Gross leasable area <span style="text-transform: lowercase !important;">(sq. ft.)</span></td>
				<td width="250" class="text-center"
					th:text="${#numbers.formatDecimal(projectDetails?.lesserLesse?.leasableArea, 1, 'COMMA', 0, 'POINT')}">10,000</td>
			</tr>
			<tr>
				<td class="text-left">Loading percentage</td>
				<td width="250" class="text-center"> 
				<span th:text="${projectDetails?.lesserLesse?.loadingPercentage}"> </span><span>%</span></td>
			</tr>
			<tr>
				<td class="text-left">Carpet area <span style="text-transform: lowercase !important;">(sq. ft.)</span></td>
				<td width="250" class="text-center"
					th:text="${#numbers.formatDecimal(projectDetails?.lesserLesse?.carpetArea, 1, 'COMMA', 0, 'POINT')}">7,000</td>
			</tr>
			<tr>
				<td class="text-left">Gross Leasable Area per seat <span style="text-transform: lowercase !important;">(sq. ft.)</span></td>
				<td width="200" class="text-right"
					th:text="${#numbers.formatDecimal(projectDetails?.areaPerSeat, 1, 'COMMA', 0, 'POINT')}">7</td>

			</tr>
		</tbody>
	</table>


	<table
		style="background: #000; height: 30px; width: 100%; margin-top: 10px; margin-bottom: 30px;">
		<tr>
			<td class="text-middle text-left" style="padding:6px;"><p style="font-size:14px;color:#fff;">Copyright © 2019 PVR. All Rights Reserved</p></td>
                <td class="text-middle text-right" style="padding:6px;"><p style="font-size:14px;color:#fff;float:right;">Private And Confidential</p></td>
		</tr>
	</table>
</body>
</html>
