<head>
<style>
body {
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial,
		sans-serif;
}

tbody, thead, tr {
	border-color: inherit
}

img, table {
	max-width: 100%
}

.headStrip, .map_frame, .pdf_wrapper {
	position: relative
}

@page {
	size: A4 landscape
}

img {
	width: auto
}

tbody, thead {
	vertical-align: middle
}

td, th, tr {
	vertical-align: inherit
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

table {
	display: table;
	border-spacing: 2px;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 2rem;
	margin-top: 2rem;
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, .06)
}

thead {
	display: table-header-group
}

tbody {
	display: table-row-group
}

tr {
	display: table-row
}

td, th {
	display: table-cell
}

.table thead th, .table tr th {
	font-size: 16px;
	font-weight: 600;
	color: #000;
	background: #ffc906;
	border: 1px solid gray;
}

h1, h2, h3, h4 {
	letter-spacing: .5px;
	font-weight: 500;
	text-transform:capitalize;
}

.table td, .table th {
	text-align: center;
	font-size: 16px;
	padding: 12px 10px;
	vertical-align: top;
	border-top: 1px solid rgba(0, 0, 0, .06)
}

.table td:first-of-type, .table th:first-of-type {
	text-align: left
}

.table-bordered, .table-bordered td, .table-bordered th {
	border: 1px solid gray;
}

h1, h2 {
	font-size: 26px;
	margin: 20px 0 0
}

.pdf_wrapper hr {
	border-color: #ffc906;
	box-shadow: none;
	outline: 0;
	margin: 10px 0 20px;
	border-width: 2px;
	unicode-bidi: unset;
	border-style: solid
}

.pdf_wrapper {
	width: 1080px;
	margin: 50px auto
}

.map_frame {
	height: 450px;
	width: 100%;
	overflow: hidden;
	margin: 30px 0 20px
}

.transparent tr td {
	background: 0 0 !important
}

.text-center {
	text-align: center !important
}

.text-right {
	text-align: right
}

tr:nth-child(even) td {
	background: #fff
}

.text-middle {
	vertical-align: middle !important;
	text-align: center !important
}

.text-left {
	text-align: left !important
}

.p-m-0 {
	margin: 0;
	padding: 0 !important
}

.border-hide {
	border: hidden
}

.mb-2 {
	margin-bottom: 2rem
}

.top-shadow {
	box-shadow: inset 0 2px 0 0 #000
}

.total_row, .total_row td {
	background: #f3f3f3 !important
}

.dicrease-font-size tr td, .dicrease-font-size tr th {
	font-size: 12px !important
}

h3, h4 {
	font-size: 22px;
	margin: 0 0 20px
}

.graph-frame {
	margin-bottom: 1rem
}

.half-width {
	max-width: 50%
}

.fixed-layout {
	table-layout: fixed
}

.black_row {
	background-color: #000 !important
}

.black_row td {
	color: #fff !important
}

.headStrip {
	margin-top: 30px;
	padding: 12px 15px;
	font-size: 22px;
	background: #ffc906
}

fieldset {
	width: 100%;
	opacity: .2;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	margin: 20px 0
}

fieldset legend {
	text-align: center;
	font-size: 16px;
	color: #000;
	padding: 0 15px
}

#chats {
	margin: 0;
	padding: 0
}

#chats li {
	display: inline-block;
	width: 100%;
	margin: 0 0 15px
}

#chats li h4 {
	float: left;
	font-size: 20px;
	width: 150px;
	margin: 0
}

#chats li .chat_textarea {
	border-radius: 6px 25px 25px 20px;
	background: #eee;
	float: right;
	padding: 15px;
	width: calc(100% - 160px)
}

td, th, p, small, span {
	text-transform: capitalize !important;
}
</style>
</head>
<body>

	<table
		style="background: #000; height: 50px; width: 100%; margin-bottom: 20px;">
		<tr>
			<td style="padding: 5px 10px;"><img width="60px"
				src="pvr-logo-01.png" th:attr="src=${projectDetails?.reportsImagePath}+'/pvr-logo-01.png'" /></td>
			<td class="text-middle text-right" style="padding: 5px 10px;"><p
					class="text-right text-middle"
					style="font-size: 16px; text-transform: uppercase; color: #fecb0e; float: right;"
					th:text="${projectDetails?.reportSignature}">Pitampura Mall,
					Delhi - Pre Signing - 4</p></td>
		</tr>
	</table>


	<h1 style="margin-bottom: 15px;">Key Lease terms Security Deposit</h1>

	<table class="table table-bordered fixed-layout layout-fixed"
		style="margin-top: 0; margin-bottom: 150px">
		<tbody>
			<tr>
				<td class="text-left">Rent Security Deposit Terms</td>

				<td class="text-left" th:if="${projectDetails?.lesserLesse?.rentType== 'month'}" >Number of Months</td>
				<td class="text-left" th:if="${projectDetails?.lesserLesse?.rentType== 'fixed'}" >Fixed</td>
			</tr>
			<tr th:if="${projectDetails?.lesserLesse?.rentType== 'month'}">
				<td class="text-left">Number of months of rent </td>
				<td class="text-left"th:text="${projectDetails?.lesserLesse?.securityDepositForMonthRent}" > </td>
			</tr>
			<tr th:if="${projectDetails?.lesserLesse?.rentType== 'fixed'}">
				<td class="text-left">Rent MG security Deposit (INR)</td>
				<td class="text-left"th:text="${#numbers.formatDecimal(projectDetails?.lesserLesse?.rentSecurityDepositForFixedZeroMg, 1, 'COMMA', 1, 'POINT')}" ></td>
			</tr>
			<tr>
				<td class="text-left">CAM Security Deposit Terms</td>
				<td class="text-left" th:if="${projectDetails?.lesserLesse?.camType== 'month'}" >Number of Months</td>
				<td class="text-left" th:if="${projectDetails?.lesserLesse?.camType== 'fixed'}" >Fixed</td>
			</tr>
			<tr th:if="${projectDetails?.lesserLesse?.camType== 'month'}">
				<td class="text-left">Number of months of CAM</td>
				<td class="text-left"th:text="${projectDetails?.lesserLesse?.securityDepositForMonthCam}">xxx</td>
			</tr>
			<tr th:if="${projectDetails?.lesserLesse?.camType== 'fixed'}">
				<td class="text-left">CAM MG
					security Deposit (INR)</td>

				<td class="text-left"th:text="${#numbers.formatDecimal(projectDetails?.lesserLesse?.camSecurityDepositForFixedZeroMg, 1, 'COMMA', 2, 'POINT')}">xxx</td>
			</tr>
			<tr>
				<td class="text-left">Utility Deposit (INR lacs)</td>
				<td class="text-left"
					th:text="${#numbers.formatDecimal(projectDetails?.lesserLesse?.utilitySecurityDeposit/100000, 1, 'COMMA', 0, 'POINT')}">xxx</td>
			</tr>
			<tr>
				<td class="text-left">Payment Schedule</td>
				<td class="text-left"
					th:text="${projectDetails?.lesserLesse?.paymentSchedule}">xxx</td>
			</tr>
		</tbody>
	</table>



	<table
		style="background: #000; height: 30px; width: 100%; margin-top: 230px; margin-bottom: 0;">
		<tr>
			<td class="text-middle text-left" style="padding:6px;"><p style="font-size:14px;color:#fff;">Copyright © 2019 PVR. All Rights Reserved</p></td>
                <td class="text-middle text-right" style="padding:6px;"><p style="font-size:14px;color:#fff;float:right;">Private And Confidential</p></td>
		</tr>
	</table>
</body>

</html>