<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
body{font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;}
tbody,thead,tr{border-color:inherit}img,table{max-width:100%}.headStrip,.map_frame,.pdf_wrapper{position:relative}@page{size:A4 landscape}img{width:auto}tbody,thead{vertical-align:middle}td,th,tr{vertical-align:inherit}*{margin:0;padding:0;box-sizing:border-box}table{display:table;border-spacing:2px;border-collapse:collapse;width:100%;margin-bottom:2rem;margin-top:2rem;background-color:transparent;border:1px solid rgba(0,0,0,.06)}thead{display:table-header-group}tbody{display:table-row-group}tr{display:table-row}td,th{display:table-cell}.table thead th,.table tr th{font-size:16px;font-weight:600;color:#000;background:#ffc906;border:1px solid gray;}h1,h2,h3,h4{text-transform:capitalize;letter-spacing:.5px;font-weight:500}.table td,.table th{text-align:center;font-size:15px;padding: 5px 10px;vertical-align:top;border-top:1px solid rgba(0,0,0,.06)}.table td:first-of-type,.table th:first-of-type{text-align:left}.table-bordered,.table-bordered td,.table-bordered th{border:1px solid gray;}h1,h2{font-size:26px;margin:20px 0 0}.pdf_wrapper hr{border-color:#ffc906;box-shadow:COMMA;outline:0;margin:10px 0 20px;border-width:2px;unicode-bidi:unset;border-style:solid}.pdf_wrapper{width:1080px;margin:50px auto}.map_frame{height:450px;width:100%;overflow:hidden;margin:30px 0 20px}.transparent tr td{background:0 0!important}.text-center{text-align:center!important}.text-right{text-align:right}tr:nth-child(even) td{background:#f3f3f3}.text-middle{vertical-align:middle!important;text-align:center!important}.text-left{text-align:left!important}.p-m-0{margin:0;padding:0!important}.border-hide{border:hidden}.mb-2{margin-bottom:2rem}.top-shadow{box-shadow:inset 0 2px 0 0 #000}.total_row,.total_row td{background:#f3f3f3!important}.dicrease-font-size tr td,.dicrease-font-size tr th{font-size:12px!important}h3,h4{font-size:22px;margin:0 0 20px}.graph-frame{margin-bottom:1rem}.half-width{max-width:50%}.fixed-layout{table-layout:fixed}.black_row{background-color:#000!important}.black_row td{color:#fff!important}.headStrip{margin-top:30px;padding:12px 15px;font-size:22px;background:#ffc906}fieldset{width:100%;opacity:.2;border-bottom:0;border-left:0;border-right:0;margin:20px 0}fieldset legend{text-align:center;font-size:16px;color:#000;padding:0 15px}#chats{margin:0;padding:0}#chats li{display:inline-block;width:100%;margin:0 0 15px}#chats li h4{float:left;font-size:20px;width:150px;margin:0}#chats li .chat_textarea{border-radius:6px 25px 25px 20px;background:#eee;float:right;padding:15px;width:calc(100% - 160px)}
td, th, p, small, span{text-transform:capitalize!important;}
</style>
</head>
<body>
	<table style="background:#000;height:50px;width:100%;margin-bottom:20px;">
            <tr>
                <td style="padding: 5px 10px;"><img width="60px" src="pvr-logo-01.png" th:attr="src=${projectDetails?.reportsImagePath}+'/pvr-logo-01.png'"/></td>
                <td class="text-middle text-right" style="padding: 5px 10px;"><p class="text-right text-middle" style="font-size:16px;text-transform:uppercase;color:#fecb0e;float:right;" th:text="${projectDetails?.reportSignature}">Pitampura Mall, Delhi - Pre Signing - 4</p></td>
            </tr>
        </table>

		<h1 style="margin-bottom:5px;">Key Project Cost Assumptions</h1>
        <table class="table table-bordered transparent">
            <thead>
                <tr>
                    <th width="300" class="text-left">Description</th>
                    <th>Cost (INR Lacs)</th>
                    <th>Dep Rate (%)</th>
                    <th>Annual Dep (INR Lacs)</th>
                </tr>
            </thead>
           	<tbody>
                <!-- <tr th:each="projectCost,iterStat:${projectCostSummary}" th:if="${iterStat.index<19}">
                    <td width="300" class="text-left" th:text=${projectCost.description}>PVR Elante Chandigarh</td>
                    <td th:text="${#numbers.formatDecimal(projectCost.cost, 1, 'COMMA', 1, 'POINT')}">Chandigarh</td>
                    <td th:text="${#numbers.formatDecimal(projectCost.depRate, 1, 'COMMA', 1, 'POINT')}">8</td>
                    <td th:text="${#numbers.formatDecimal(projectCost.annualDep, 1, 'COMMA', 1, 'POINT')}">NA</td>
                </tr> -->
                <tr>
                	<th colspan="4" class="text-left">
              			Land Cost
              		</th>
                </tr>
                <tr>
                	<td class="text-left">Land Cost</td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[0].cost, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[0].depRate, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[0].annualDep, 1, 'COMMA', 1, 'POINT')}"></td>
                </tr>
                <tr>
                	<td class="text-left"><b>Total Land Cost</b></td>
                	<td><b th:text="${#numbers.formatDecimal(projectCostSummary[1].cost, 1, 'COMMA', 1, 'POINT')}"></b></td>
                	<td></td>
                	<td><b th:text="${#numbers.formatDecimal(projectCostSummary[1].annualDep, 1, 'COMMA', 1, 'POINT')}"></b></td>
                </tr>
                 <tr>
                	<th colspan="4" class="text-left">
              			Leasehold Improvements
              		</th>
                </tr>
                <tr>
                	<td class="text-left">Civil & Interior Works</td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[3].cost, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[3].depRate, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[3].annualDep, 1, 'COMMA', 1, 'POINT')}"></td>
                </tr>
                 <tr>
                	<td class="text-left">Electrical Works</td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[4].cost, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[4].depRate, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[4].annualDep, 1, 'COMMA', 1, 'POINT')}"></td>
                </tr>
                 <tr>
                	<td class="text-left">Architect & Consultant Cost</td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[5].cost, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[5].depRate, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[5].annualDep, 1, 'COMMA', 1, 'POINT')}"></td>
                </tr>
                <tr>
                	<td class="text-left"><b>Total Leasheold Improvements</b></td>
                	<td><b th:text="${#numbers.formatDecimal(projectCostSummary[6].cost, 1, 'COMMA', 1, 'POINT')}"></b></td>
                	<td><b th:text="${#numbers.formatDecimal(projectCostSummary[6].depRate, 1, 'COMMA', 1, 'POINT')}"></b></td>
                	<td><b th:text="${#numbers.formatDecimal(projectCostSummary[6].annualDep, 1, 'COMMA', 1, 'POINT')}"></b></td>
                </tr>
                 <tr>
                	<th colspan="4" class="text-left">
              			Plant & Machinery
              		</th>
                </tr>
                <tr>
                	<td class="text-left">Projectors Cost</td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[8].cost, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[8].depRate, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[8].annualDep, 1, 'COMMA', 1, 'POINT')}"></td>
                </tr>
                 <tr>
                	<td class="text-left">Sound Equipment</td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[9].cost, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[9].depRate, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[9].annualDep, 1, 'COMMA', 1, 'POINT')}"></td>
                </tr>
                 <tr>
                	<td class="text-left">Screens</td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[10].cost, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[10].depRate, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[10].annualDep, 1, 'COMMA', 1, 'POINT')}"></td>
                </tr>
                 <tr>
                	<td class="text-left">Other Projection Equipment</td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[11].cost, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[11].depRate, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[11].annualDep, 1, 'COMMA', 1, 'POINT')}"></td>
                </tr>
                 <tr>
                	<td class="text-left">IMAX Equipment </td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[12].cost, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[12].depRate, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[12].annualDep, 1, 'COMMA', 1, 'POINT')}"></td>
                </tr>
                 <tr>
                	<td class="text-left">4DX Equipment </td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[13].cost, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[13].depRate, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[13].annualDep, 1, 'COMMA', 1, 'POINT')}"></td>
                </tr>
                 <tr>
                	<td class="text-left">Air Conditioning  </td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[14].cost, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[14].depRate, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[14].annualDep, 1, 'COMMA', 1, 'POINT')}"></td>
                </tr>
                 <tr>
                	<td class="text-left">Fire Fighting Equipment </td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[15].cost, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[15].depRate, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[15].annualDep, 1, 'COMMA', 1, 'POINT')}"></td>
                </tr>
                 <tr>
                	<td class="text-left">Concession Equipment </td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[16].cost, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[16].depRate, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[16].annualDep, 1, 'COMMA', 1, 'POINT')}"></td>
                </tr>
                <tr>
                	<td class="text-left"><b>Total Plant & Machinery</b></td>
                	<td><b th:text="${#numbers.formatDecimal(projectCostSummary[17].cost, 1, 'COMMA', 1, 'POINT')}"></b></td>
                	<td><b th:text="${#numbers.formatDecimal(projectCostSummary[17].depRate, 1, 'COMMA', 1, 'POINT')}"></b></td>
                	<td><b th:text="${#numbers.formatDecimal(projectCostSummary[17].annualDep, 1, 'COMMA', 1, 'POINT')}"></b></td>
                </tr>
                
            </tbody>
        </table>
        
        <h1 style="margin-top:0px;margin-bottom:10px">Key Project Cost Assumptions</h1>
        <table class="table table-bordered transparent" style="margin-top: 5px">
            <thead>
                <tr>
                    <th width="300" class="text-left">Description</th>
                    <th>Cost (INR Lacs)</th>
                    <th>Dep Rate (%)</th>
                    <th>Annual Dep (INR Lacs)</th>
                </tr>
            </thead>
           	<tbody>
               <!--  <tr th:each="projectCost,iterStat:${projectCostSummary}" th:if="${iterStat.index &lt; 38 and iterStat.index &gt; 18}">
                    <td width="300" class="text-left" th:text=${projectCost.description}>PVR Elante Chandigarh</td>
                    <td th:text="${#numbers.formatDecimal(projectCost.cost, 1, 'COMMA', 1, 'POINT')}">Chandigarh</td>
                    <td th:text="${#numbers.formatDecimal(projectCost.depRate, 1, 'COMMA', 1, 'POINT')}">8</td>
                    <td th:text="${#numbers.formatDecimal(projectCost.annualDep, 1, 'COMMA', 1, 'POINT')}">NA</td>
                </tr> -->
                  <tr>
                	<th colspan="4" class="text-left">
              			Furniture & Fixtures
              		</th>
                </tr>
                <tr>
                	<td class="text-left">Signages</td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[19].cost, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[19].depRate, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[19].annualDep, 1, 'COMMA', 1, 'POINT')}"></td>
                </tr>
                 <tr>
                	<td class="text-left">Poster Display Boxes </td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[20].cost, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[20].depRate, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[20].annualDep, 1, 'COMMA', 1, 'POINT')}"></td>
                </tr>
                 <tr>
                	<td class="text-left">LCD/Plasma</td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[21].cost, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[21].depRate, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[21].annualDep, 1, 'COMMA', 1, 'POINT')}"></td>
                </tr>
                 <tr>
                	<td class="text-left">Banner Frames</td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[22].cost, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[22].depRate, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[22].annualDep, 1, 'COMMA', 1, 'POINT')}"></td>
                </tr>
                 <tr>
                	<td class="text-left">Other Signages</td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[23].cost, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[23].depRate, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[23].annualDep, 1, 'COMMA', 1, 'POINT')}"></td>
                </tr>
                 <tr>
                	<td class="text-left">Carpet</td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[24].cost, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[24].depRate, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[24].annualDep, 1, 'COMMA', 1, 'POINT')}"></td>
                </tr>
                 <tr>
                	<td class="text-left">Seats </td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[25].cost, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[25].depRate, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[25].annualDep, 1, 'COMMA', 1, 'POINT')}"></td>
                </tr>
               
                <tr>
                	<td class="text-left"><b>Total Furniture & Fixture</b></td>
                	<td><b th:text="${#numbers.formatDecimal(projectCostSummary[26].cost, 1, 'COMMA', 1, 'POINT')}"></b></td>
                	<td><b th:text="${#numbers.formatDecimal(projectCostSummary[26].depRate, 1, 'COMMA', 1, 'POINT')}"></b></td>
                	<td><b th:text="${#numbers.formatDecimal(projectCostSummary[26].annualDep, 1, 'COMMA', 1, 'POINT')}"></b></td>
                </tr>
                 <tr>
                	<th colspan="4" class="text-left">
              			IT, Comm., Office & Operating Supplies
              		</th>
                </tr>
                <tr>
                	<td class="text-left">IT Hardware & Software</td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[28].cost, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[28].depRate, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[28].annualDep, 1, 'COMMA', 1, 'POINT')}"></td>
                </tr>
                 <tr>
                	<td class="text-left">Commu., Office & Operating Supplies</td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[29].cost, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[29].depRate, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[29].annualDep, 1, 'COMMA', 1, 'POINT')}"></td>
                </tr>
                <tr>
                	<td class="text-left"><b>Total IT, Comm., Office & Operating Supplies</b></td>
                	<td><b th:text="${#numbers.formatDecimal(projectCostSummary[30].cost, 1, 'COMMA', 1, 'POINT')}"></b></td>
                	<td><b th:text="${#numbers.formatDecimal(projectCostSummary[30].depRate, 1, 'COMMA', 1, 'POINT')}"></b></td>
                	<td><b th:text="${#numbers.formatDecimal(projectCostSummary[30].annualDep, 1, 'COMMA', 1, 'POINT')}"></b></td>
                </tr>
                <tr>
                	<th class="text-left">
              			Preoperative Expenses
              		</th>
              		<th><b th:text="${#numbers.formatDecimal(projectCostSummary[31].cost, 1, 'COMMA', 1, 'POINT')}"></b></th>
              		<th><b th:text="${#numbers.formatDecimal(projectCostSummary[31].depRate, 1, 'COMMA', 1, 'POINT')}"></b></th>
              		<th><b th:text="${#numbers.formatDecimal(projectCostSummary[31].annualDep, 1, 'COMMA', 1, 'POINT')}"></b></th>
                </tr>
                <tr>
                	<th class="text-left">
              			Total Project Cost
              		</th>
              		<th><b th:text="${#numbers.formatDecimal(projectCostSummary[32].cost, 1, 'COMMA', 1, 'POINT')}"></b></th>
              		<th><b th:text="${#numbers.formatDecimal(projectCostSummary[32].depRate, 1, 'COMMA', 1, 'POINT')}"></b></th>
              		<th><b th:text="${#numbers.formatDecimal(projectCostSummary[32].annualDep, 1, 'COMMA', 1, 'POINT')}"></b></th>
                </tr>
                <tr>
                	<td class="text-left">Contingency @ 10%</td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[33].cost, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[33].depRate, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[33].annualDep, 1, 'COMMA', 1, 'POINT')}"></td>
                </tr>
                 <tr>
                	<th class="text-left">
              			Total Project Cost after Contingencies
              		</th>
              		<th><b th:text="${#numbers.formatDecimal(projectCostSummary[34].cost, 1, 'COMMA', 1, 'POINT')}"></b></th>
              		<th></th>
              		<th></th>
                </tr>
               <!--  <tr>
                	<td class="text-left">Security Deposit</td>
                	<td></td>
                	<td></td>
                	<td></td>
                </tr> -->
               <!--  <tr>
                	<td class="text-left">Salvage from disposal of assets</td>
                	<td th:text="${#numbers.formatDecimal(projectCostSummary[36].cost, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td></td>
                	<td></td>
                </tr> -->
                 <tr>
                	<td class="text-left">Security Deposit (INR Lacs)</td>
                	<td th:text="${#numbers.formatDecimal(projectDetails?.lesserLesse?.rentSecurityDepositForFixedZeroMg/100000, 1, 'COMMA', 2, 'POINT')}"></td>
                	<td></td>
                	<td></td>
                </tr>
                 <tr>
                	<td class="text-left">Advance Rent (INR Lacs)</td>
                	<td th:text="${#numbers.formatDecimal(projectDetails?.lesserLesse?.advanceRent/100000, 1, 'COMMA', 2, 'POINT')}"></td>
                	<td></td>
                	<td></td>
                </tr>
                <tr>
                	<th class="text-left">
              			Total Project Cost Inc SD and Inc Advance Rent (INR Lacs)
              		</th>
              		<th><b th:text="${#numbers.formatDecimal((projectCostSummary[38].cost + projectDetails?.lesserLesse?.advanceRent/100000 + projectDetails?.lesserLesse?.rentSecurityDepositForFixedZeroMg/100000), 1, 'COMMA', 2, 'POINT')}"></b></th>
              		<th></th>
              		<th></th>
                </tr>
            </tbody>
        </table>
	
		 <!-- <table style="background:#000;height:15px;width:100%;margin-top:0px">
            <tr>
                <td class="text-middle text-left" style="padding:6px;"><p style="font-size:14px;color:#fff;">Copyright © 2019 PVR. All Rights Reserved</p></td>
                <td class="text-middle text-right" style="padding:6px;"><p style="font-size:14px;color:#fff;float:right;">Private And Confidential</p></td>
            </tr>
        </table>
        -->
</body>
</html>