<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
body {
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial,
		sans-serif;
}

tbody, thead, tr {
	border-color: inherit
}

img, table {
	max-width: 100%
}

.headStrip, .map_frame, .pdf_wrapper {
	position: relative
}

@page {
	size: A4 landscape
}

img {
	width: auto
}

tbody, thead {
	vertical-align: middle
}

td, th, tr {
	vertical-align: inherit
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

table {
	display: table;
	border-spacing: 2px;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 2rem;
	margin-top: 2rem;
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, .06)
}

thead {
	display: table-header-group
}

tbody {
	display: table-row-group
}

tr {
	display: table-row
}

td, th {
	display: table-cell
}

.table thead th, .table tr th {
	font-size: 16px;
	font-weight: 600;
	color: #000;
	background: #ffc906;
	border: 1px solid gray;
}

h1, h2, h3, h4 {
	letter-spacing: .5px;
	font-weight: 500;
	text-transform:capitalize;
}

.table td, .table th {
	text-align: center;
	font-size: 15px;
	padding: 5px 10px;
	vertical-align: top;
	border-top: 1px solid rgba(0, 0, 0, .06)
}

.table td:first-of-type, .table th:first-of-type {
	text-align: left
}

.table-bordered, .table-bordered td, .table-bordered th {
	border: 1px solid gray;
}

h1, h2 {
	font-size: 26px;
	margin: 20px 0 0;
	text-transform:capitalize;
}

.pdf_wrapper hr {
	border-color: #ffc906;
	box-shadow: none;
	outline: 0;
	margin: 10px 0 20px;
	border-width: 2px;
	unicode-bidi: unset;
	border-style: solid
}

.pdf_wrapper {
	width: 1080px;
	margin: 50px auto
}

.map_frame {
	height: 450px;
	width: 100%;
	overflow: hidden;
	margin: 30px 0 20px
}

.transparent tr td {
	background: 0 0 !important
}

.text-center {
	text-align: center !important
}

.text-right {
	text-align: right
}

tr:nth-child(even) td {
	background: #f3f3f3
}

.text-middle {
	vertical-align: middle !important;
	text-align: center !important
}

.text-left {
	text-align: left !important
}

.p-m-0 {
	margin: 0;
	padding: 0 !important
}

.border-hide {
	border: hidden
}

.mb-2 {
	margin-bottom: 2rem
}

.top-shadow {
	box-shadow: inset 0 2px 0 0 #000
}

.total_row, .total_row td {
	background: #f3f3f3 !important
}

.dicrease-font-size tr td, .dicrease-font-size tr th {
	font-size: 12px !important
}

h3, h4 {
	font-size: 22px;
	margin: 0 0 20px;
	text-transform:capitalize;
}

.graph-frame {
	margin-bottom: 1rem
}

.half-width {
	max-width: 50%
}

.fixed-layout {
	table-layout: fixed
}

.black_row {
	background-color: #000 !important
}

.black_row td {
	color: #fff !important
}

.headStrip {
	margin-top: 30px;
	padding: 12px 15px;
	font-size: 22px;
	background: #ffc906
}

fieldset {
	width: 100%;
	opacity: .2;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	margin: 20px 0
}

fieldset legend {
	text-align: center;
	font-size: 16px;
	color: #000;
	padding: 0 15px
}

#chats {
	margin: 0;
	padding: 0
}

#chats li {
	display: inline-block;
	width: 100%;
	margin: 0 0 15px
}

#chats li h4 {
	float: left;
	font-size: 20px;
	width: 150px;
	margin: 0
}

#chats li .chat_textarea {
	border-radius: 6px 25px 25px 20px;
	background: #eee;
	float: right;
	padding: 15px;
	width: calc(100% - 160px)
}

td, th, p, small, span {
	text-transform: capitalize !important;
}
</style>
</head>
<body>

	<table
		style="background: #000; height: 50px; width: 100%; margin-bottom: 20px;">
		<tr>
			<td style="padding: 5px 10px;"><img width="60px"
				src="pvr-logo-01.png" th:attr="src=${projectDetail?.reportsImagePath}+'/pvr-logo-01.png'" /></td>
			<td class="text-middle text-right" style="padding: 5px 10px;"><p
					class="text-right text-middle"
					style="font-size: 16px; text-transform: uppercase; color: #fecb0e; float: right;"
					th:text="${projectDetail?.reportSignature}">Pitampura Mall,
					Delhi - Pre Signing - 4</p></td>
		</tr>
	</table>

	<h1 style="margin-bottom: 15px;">Key Revenue Assumptions Admits</h1>
	<h3
		style="text-decoration: underline; margin-bottom: 10px; font-style: italic; letter-spacing: 2px;">Benchmark
		Cinemas</h3>

	<table class="table table-bordered transparent fixed-layout"
		style="margin-bottom: 20px;">
		<thead>
			<tr>
				<th class="text-left text-middle">Particulars</th>
				<th colspan="3" class="p-m-0">
					<table class="p-m-0 border-hide fixed-layout">
						<thead>
							<tr>
								<th colspan="3" class="text-center text-middle">PVR
									Properties</th>
							</tr>
							<tr>
								<th width="155" class="text-center"
									th:each="occupancy,iterStat:${cinemaMaster}" th:if="${iterStat.index<5}"><span
									th:text=${occupancy.cinema_name}></span></th>
							</tr>
						</thead>
					</table>
				</th>

			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="text-left">Screens (nos)</td>
				<td width="155" th:each="occupancy,iterStat:${cinemaMaster}" th:if="${iterStat.index<5}"><span
					th:text="${occupancy.noOfScreen}"></span></td>
			</tr>
		<!-- 	<tr>
				<td class="text-left">Seats (nos)</td>
				<td width="155" th:each="occupancy,iterStat:${cinemaMaster}"><span
					th:text="${occupancy.seatCapacity}"></span></td>
			</tr> -->
			<tr>
				<td class="text-left">Admits</td>
				<td width="155" th:each="occupancy,iterStat:${cinemaMaster}" th:if="${iterStat.index<5}"><span
					th:text="${ occupancy.admits == null ? 0 : #numbers.formatDecimal(occupancy.admits, 1, 'COMMA', 0, 'POINT')}"></span></td>
			</tr>
		</tbody>
	</table>
	
	<div th:if="${#lists.size(cinemaMaster)>4}">
	<table class="table table-bordered transparent fixed-layout"
		style="margin-bottom: 20px;">
		<thead>
			<tr>
				<th class="text-left text-middle">Particulars</th>
				<th colspan="3" class="p-m-0">
					<table class="p-m-0 border-hide fixed-layout">
						<thead>
							<tr>
								<th colspan="3" class="text-center text-middle">PVR
									Properties</th>
							</tr>
							<tr>
								<th width="155" class="text-center"
									th:each="occupancy,iterStat:${cinemaMaster}" th:if="${iterStat.index &gt; 4 and iterStat.index &lt; 10}"><span
									th:text=${occupancy.cinema_name}></span></th>
							</tr>
						</thead>
					</table>
				</th>

			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="text-left">Screens (nos)</td>
				<td width="155" th:each="occupancy,iterStat:${cinemaMaster}" th:if="${iterStat.index &gt; 4 and iterStat.index &lt; 10}"><span
					th:text="${occupancy.noOfScreen}"></span></td>
			</tr>
		<!-- 	<tr>
				<td class="text-left">Seats (nos)</td>
				<td width="155" th:each="occupancy,iterStat:${cinemaMaster}"><span
					th:text="${occupancy.seatCapacity}"></span></td>
			</tr> -->
			<tr>
				<td class="text-left">Admits</td>
				<td width="155" th:each="occupancy,iterStat:${cinemaMaster}" th:if="${iterStat.index &gt; 4 and iterStat.index &lt; 10}"><span
					th:text="${ occupancy.admits == null ? 0 : #numbers.formatDecimal(occupancy.admits, 1, 'COMMA', 0, 'POINT')}"></span></td>
			</tr>
		</tbody>
	</table>
	</div>
	
	<div th:if="${#lists.size(cinemaMaster)>9}">
	<table class="table table-bordered transparent fixed-layout"
		style="margin-bottom: 20px;">
		<thead>
			<tr>
				<th class="text-left text-middle">Particulars</th>
				<th colspan="3" class="p-m-0">
					<table class="p-m-0 border-hide fixed-layout">
						<thead>
							<tr>
								<th colspan="3" class="text-center text-middle">PVR
									Properties</th>
							</tr>
							<tr>
								<th width="155" class="text-center"
									th:each="occupancy,iterStat:${cinemaMaster}" th:if="${iterStat.index &gt; 9 and iterStat.index &lt; 15}"><span
									th:text=${occupancy.cinema_name}></span></th>
							</tr>
						</thead>
					</table>
				</th>

			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="text-left">Screens (nos)</td>
				<td width="155" th:each="occupancy,iterStat:${cinemaMaster}" th:if="${iterStat.index &gt; 9 and iterStat.index &lt; 15}"><span
					th:text="${occupancy.noOfScreen}"></span></td>
			</tr>
		<!-- 	<tr>
				<td class="text-left">Seats (nos)</td>
				<td width="155" th:each="occupancy,iterStat:${cinemaMaster}"><span
					th:text="${occupancy.seatCapacity}"></span></td>
			</tr> -->
			<tr>
				<td class="text-left">Admits</td>
				<td width="155" th:each="occupancy,iterStat:${cinemaMaster}" th:if="${iterStat.index &gt; 9 and iterStat.index &lt; 15}"><span
					th:text="${ occupancy.admits == null ? 0 : #numbers.formatDecimal(occupancy.admits, 1, 'COMMA', 0, 'POINT')}"></span></td>
			</tr>
		</tbody>
	</table>
	</div>
	
	<h3
		style="text-decoration: underline; margin-bottom: 10px; font-style: italic; letter-spacing: 2px;">Proposed
		Values</h3>
	<table class="table table-bordered transparent fixed-layout"
		style="margin-bottom: 20px;">
		<thead>
			<tr>
				<th class="text-left text-middle">Format</th>
				<th colspan="3" class="p-m-0">
					<table class="p-m-0 border-hide">
						<thead>
							<tr>
								<th colspan="3" class="text-center text-middle">Seat Types</th>
							</tr>
							<tr>
								<th width="155" class="text-center">Normal</th>
								<th width="155" class="text-center">Recliner</th>
								<th width="155" class="text-center">Lounger</th>
							</tr>
						</thead>
					</table>
				</th>

			</tr>
		</thead>
		<tbody th:each="occupancy,iterStat:${projectDetail?.occupancy}">
			<tr>
				<td class="text-left"><span th:text="${occupancy.formatType}"></span></td>
				<td><span th:text="${#numbers.formatDecimal(occupancy?.admits?.normals, 1, 'COMMA', 0, 'POINT')}"></span></td>
				<td class="text-center"><span th:text="${#numbers.formatDecimal(occupancy?.admits?.recliner, 1, 'COMMA', 0, 'POINT')}">210</span></td>
				<td class="text-center"><span th:text="${#numbers.formatDecimal(occupancy?.admits?.longers, 1, 'COMMA', 0, 'POINT')}">210</span></td>
			</tr>
		</tbody>
	</table>


	<table
		style="background: #000; height: 30px; width: 100%; margin-top: 190px; margin-bottom: 30px;">
		<tr>
			<td class="text-middle text-left" style="padding:6px;"><p style="font-size:14px;color:#fff;">Copyright © 2019 PVR. All Rights Reserved</p></td>
                <td class="text-middle text-right" style="padding:6px;"><p style="font-size:14px;color:#fff;float:right;">Private And Confidential</p></td>
		</tr>
	</table>
</body>

</html>