


<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
body{font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;}
tbody,thead,tr{border-color:inherit}img,table{max-width:100%}.headStrip,.map_frame,.pdf_wrapper{position:relative}@page{size:A4 landscape}img{width:auto}tbody,thead{vertical-align:middle}td,th,tr{vertical-align:inherit}*{margin:0;padding:0;box-sizing:border-box}table{display:table;border-spacing:2px;border-collapse:collapse;width:100%;margin-bottom:2rem;margin-top:2rem;background-color:transparent;border:1px solid rgba(0,0,0,.06)}thead{display:table-header-group}tbody{display:table-row-group}tr{display:table-row}td,th{display:table-cell}.table thead th,.table tr th{font-size:16px;font-weight:600;color:#000;background:#ffc906;border:1px solid gray;}h1,h2,h3,h4{text-transform:capitalize;letter-spacing:.5px;font-weight:500}.table td,.table th{text-align:center;font-size:15px;padding: 5px 10px;vertical-align:top;border-top:1px solid rgba(0,0,0,.06)}.table td:first-of-type,.table th:first-of-type{text-align:left}.table-bordered,.table-bordered td,.table-bordered th{border:1px solid gray;}h1,h2{font-size:26px;margin:20px 0 0}.pdf_wrapper hr{border-color:#ffc906;box-shadow:COMMA;outline:0;margin:10px 0 20px;border-width:2px;unicode-bidi:unset;border-style:solid}.pdf_wrapper{width:1080px;margin:50px auto}.map_frame{height:450px;width:100%;overflow:hidden;margin:30px 0 20px}.transparent tr td{background:0 0!important}.text-center{text-align:center!important}.text-right{text-align:right}tr:nth-child(even) td{background:#f3f3f3}.text-middle{vertical-align:middle!important;text-align:center!important}.text-left{text-align:left!important}.p-m-0{margin:0;padding:0!important}.border-hide{border:hidden}.mb-2{margin-bottom:2rem}.top-shadow{box-shadow:inset 0 2px 0 0 #000}.total_row,.total_row td{background:#f3f3f3!important}.dicrease-font-size tr td,.dicrease-font-size tr th{font-size:12px!important}h3,h4{font-size:22px;margin:0 0 20px}.graph-frame{margin-bottom:1rem}.half-width{max-width:50%}.fixed-layout{table-layout:fixed}.black_row{background-color:#000!important}.black_row td{color:#fff!important}.headStrip{margin-top:30px;padding:12px 15px;font-size:22px;background:#ffc906}fieldset{width:100%;opacity:.2;border-bottom:0;border-left:0;border-right:0;margin:20px 0}fieldset legend{text-align:center;font-size:16px;color:#000;padding:0 15px}#chats{margin:0;padding:0}#chats li{display:inline-block;width:100%;margin:0 0 15px}#chats li h4{float:left;font-size:20px;width:150px;margin:0}#chats li .chat_textarea{border-radius:6px 25px 25px 20px;background:#eee;float:right;padding:15px;width:calc(100% - 160px)}
td, th, p, small, span{text-transform:capitalize!important;}


</style>
</head>
<body>
	<table style="background:#000;height:50px;width:100%;margin-bottom:0px;">
            <tr>
                <td style="padding: 5px 10px;"><img width="60px" src="pvr-logo-01.png" th:attr="src=${projectDetails?.reportsImagePath}+'/pvr-logo-01.png'"/></td>
                <td class="text-middle text-right" style="padding: 5px 10px;"><p class="text-right text-middle" style="font-size:16px;text-transform:uppercase;color:#fecb0e;float:right;" th:text="${projectDetails?.reportSignature}">Pitampura Mall, Delhi - Pre Signing - 4</p></td>
            </tr>
        </table>

		<h1 style="margin-bottom:3px;margin-top:5px">At Post Signing Stage - Cost Comparison</h1>
        <table class="table table-bordered transparent">
            <thead>
                <tr>
                    <th width="300" class="text-left">Description</th>
                    <th>Post- Signing (INR Lacs)</th>
                    <th>Pre - Signing (INR lacs</th>
                </tr>
            </thead>
           	<tbody>
                <tr>
                	<th colspan="4" class="text-left">
              			Land Cost
              		</th>
                </tr>
                <tr>
                	<td class="text-left">Land Cost</td>
                	<td th:text="${#numbers.formatDecimal(postSigningCost.postSignLandCost, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(postSigningCost.preSignLandCost, 1, 'COMMA', 1, 'POINT')}"></td>
                </tr>
                <tr>
                	<td class="text-left"><b>Total Land Cost</b></td>
                	<td><b th:text="${#numbers.formatDecimal(postSigningCost.postSignToltaLandCost, 1, 'COMMA', 1, 'POINT')}"></b></td>
                	<td><b th:text="${#numbers.formatDecimal(postSigningCost.preSignToltaLandCost, 1, 'COMMA', 1, 'POINT')}"></b></td>
                </tr>
                 <tr>
                	<th colspan="4" class="text-left">
              			Leasehold Improvements
              		</th>
                </tr>
                <tr>
                	<td class="text-left">Civil & Interior Works</td>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.postSignCivilInteriorWorks, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignCivilInteriorWorks, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.postSignCivilInteriorWorks, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignCivilInteriorWorks, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignCivilInteriorWorks, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.preSignCivilInteriorWorks, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	
                	<!--
                	<td th:text="${#numbers.formatDecimal(postSigningCost.postSignCivilInteriorWorks, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(postSigningCost.preSignCivilInteriorWorks, 1, 'COMMA', 1, 'POINT')}"></td>  -->
                	
                </tr>
                 <tr>
                	<td class="text-left">Electrical Works</td>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.postSignElectricalWorks, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignElectricalWorks, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.postSignElectricalWorks, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignElectricalWorks, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignElectricalWorks, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.preSignElectricalWorks, 1, 'COMMA', 1, 'POINT')}"></span></th>
                </tr>
                 <tr>
                	<td class="text-left">Architect & Consultant Cost</td>
                   	<th th:style="${#numbers.formatDecimal(postSigningCost.postSignArchitectConsultantCost, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignArchitectConsultantCost, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.postSignArchitectConsultantCost, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignArchitectConsultantCost, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignArchitectConsultantCost, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.preSignArchitectConsultantCost, 1, 'COMMA', 1, 'POINT')}"></span></th>
                </tr>
                <tr>
                	<td class="text-left"><b>Total Leasheold Improvements</b></td>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.postSignArchitectConsultantCost, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignArchitectConsultantCost, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><b th:text="${#numbers.formatDecimal(postSigningCost.postSignArchitectConsultantCost, 1, 'COMMA', 1, 'POINT')}"></b></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignArchitectConsultantCost, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignArchitectConsultantCost, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><b th:text="${#numbers.formatDecimal(postSigningCost.preSignArchitectConsultantCost, 1, 'COMMA', 1, 'POINT')}"></b></th>
                	
                </tr>
                 <tr>
                	<th colspan="4" class="text-left">
              			Plant & Machinery
              		</th>
                </tr>
                <tr>
                	<td class="text-left">Projectors Cost</td>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.postSignProjectorsCost, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignProjectorsCost, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.postSignProjectorsCost, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignProjectorsCost, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignProjectorsCost, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.preSignProjectorsCost, 1, 'COMMA', 1, 'POINT')}"></span></th>
                </tr>
                 <tr>
                	<td class="text-left">Sound Equipment</td>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.postSignSoundEquipment, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignSoundEquipment, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.postSignSoundEquipment, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignSoundEquipment, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignSoundEquipment, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.preSignSoundEquipment, 1, 'COMMA', 1, 'POINT')}"></span></th>
                </tr>
                 <tr>
                	<td class="text-left">Screens</td>
                    <th th:style="${#numbers.formatDecimal(postSigningCost.postSignScreens, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignScreens, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.postSignScreens, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignScreens, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignScreens, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.preSignScreens, 1, 'COMMA', 1, 'POINT')}"></span></th>
                </tr>
                 <tr>
                	<td class="text-left">Other Projection Equipment</td>
                    <th th:style="${#numbers.formatDecimal(postSigningCost.postSignOtherProjectionEquipment, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignOtherProjectionEquipment, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.postSignOtherProjectionEquipment, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignOtherProjectionEquipment, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignOtherProjectionEquipment, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.preSignOtherProjectionEquipment, 1, 'COMMA', 1, 'POINT')}"></span></th>
                </tr>
                 <tr>
                	<td class="text-left">IMAX Equipment </td>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.postSignIMAXEquipment, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignIMAXEquipment, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.postSignIMAXEquipment, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignIMAXEquipment, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignIMAXEquipment, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.preSignIMAXEquipment, 1, 'COMMA', 1, 'POINT')}"></span></th>
                </tr>
                 <tr>
                	<td class="text-left">4DX Equipment </td>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.postSign4DXEquipment, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSign4DXEquipment, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.postSign4DXEquipment, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSign4DXEquipment, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSign4DXEquipment, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.preSign4DXEquipment, 1, 'COMMA', 1, 'POINT')}"></span></th>
                </tr>
                 <tr>
                	<td class="text-left">Air Conditioning  </td>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.postSignAirConditioning, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignAirConditioning, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.postSignAirConditioning, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignAirConditioning, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignAirConditioning, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.preSignAirConditioning, 1, 'COMMA', 1, 'POINT')}"></span></th>
                </tr>
                 <tr>
                	<td class="text-left">Fire Fighting Equipment </td>
                    <th th:style="${#numbers.formatDecimal(postSigningCost.postSignFireFightingEquipment, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignFireFightingEquipment, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.postSignFireFightingEquipment, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignFireFightingEquipment, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignFireFightingEquipment, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.preSignFireFightingEquipment, 1, 'COMMA', 1, 'POINT')}"></span></th>
                </tr>
                 <tr>
                	<td class="text-left">Concession Equipment </td>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.postSignConcessionEquipment, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignConcessionEquipment, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.postSignConcessionEquipment, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignConcessionEquipment, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignConcessionEquipment, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.preSignConcessionEquipment, 1, 'COMMA', 1, 'POINT')}"></span></th>
                </tr>
                <tr>
                	<td class="text-left"><b>Total Plant & Machinery</b></td>
                    <th th:style="${#numbers.formatDecimal(postSigningCost.postSignTotalPlantMachinery, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignTotalPlantMachinery, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><b th:text="${#numbers.formatDecimal(postSigningCost.postSignTotalPlantMachinery, 1, 'COMMA', 1, 'POINT')}"></b></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignTotalPlantMachinery, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignTotalPlantMachinery, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><b th:text="${#numbers.formatDecimal(postSigningCost.preSignTotalPlantMachinery, 1, 'COMMA', 1, 'POINT')}"></b></th>
                </tr>
                
            </tbody>
        </table>
        
        <h1 style="margin-top:20px;margin-bottom:4px">At Post Signing Stage - Cost Comparison</h1>
        <table class="table table-bordered transparent" style="margin-top: -1px">
            <thead>
                <tr>
                    <th width="300" class="text-left">Description</th>
                    <th>Post- Signing (INR Lacs)</th>
                    <th>Pre - Signing (INR lacs</th>
                </tr>
            </thead>
           	<tbody>
                  <tr>
                	<th colspan="4" class="text-left">
              			Furniture & Fixtures
              		</th>
                </tr>
                <tr>
                	<td class="text-left">Signages</td>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.postSignSignages, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignSignages, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.postSignSignages, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignSignages, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignSignages, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.preSignSignages, 1, 'COMMA', 1, 'POINT')}"></span></th>
                </tr>
                 <tr>
                	<td class="text-left">Poster Display Boxes </td>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.postSignPosterDisplayBoxes, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignPosterDisplayBoxes, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.postSignPosterDisplayBoxes, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignPosterDisplayBoxes, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignPosterDisplayBoxes, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.preSignPosterDisplayBoxes, 1, 'COMMA', 1, 'POINT')}"></span></th>
                </tr>
                 <tr>
                	<td class="text-left">LCD/Plasma</td>
                    <th th:style="${#numbers.formatDecimal(postSigningCost.postSignLCDPlasma, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignLCDPlasma, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.postSignLCDPlasma, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignLCDPlasma, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignLCDPlasma, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.preSignLCDPlasma, 1, 'COMMA', 1, 'POINT')}"></span></th>
                </tr>
                 <tr>
                	<td class="text-left">Banner Frames</td>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.postSignBannerFrames, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignBannerFrames, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.postSignBannerFrames, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignBannerFrames, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignBannerFrames, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.preSignBannerFrames, 1, 'COMMA', 1, 'POINT')}"></span></th>
                </tr>
                 <tr>
                	<td class="text-left">Other Signages</td>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.postSignOtherSignages, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignOtherSignages, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.postSignOtherSignages, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignOtherSignages, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignOtherSignages, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.preSignOtherSignages, 1, 'COMMA', 1, 'POINT')}"></span></th>
                </tr>
                 <tr>
                	<td class="text-left">Carpet</td>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.postSignCarpet, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignCarpet, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.postSignCarpet, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignCarpet, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignCarpet, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.preSignCarpet, 1, 'COMMA', 1, 'POINT')}"></span></th>
                </tr>
                 <tr>
                	<td class="text-left">Seats </td>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.postSignSeats, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignSeats, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.postSignSeats, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignSeats, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignSeats, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.preSignSeats, 1, 'COMMA', 1, 'POINT')}"></span></th>
                </tr>
               
                <tr>
                	<td class="text-left"><b>Total Furniture & Fixture</b></td>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.postSignTotalFurnitureFixture, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignTotalFurnitureFixture, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><b th:text="${#numbers.formatDecimal(postSigningCost.postSignTotalFurnitureFixture, 1, 'COMMA', 1, 'POINT')}"></b></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignTotalFurnitureFixture, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignTotalFurnitureFixture, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><b th:text="${#numbers.formatDecimal(postSigningCost.preSignTotalFurnitureFixture, 1, 'COMMA', 1, 'POINT')}"></b></th>
                </tr>
                 <tr>
                	<th colspan="4" class="text-left">
              			IT, Comm., Office & Operating Supplies
              		</th>
                </tr>
                <tr>
                	<td class="text-left">IT Hardware & Software</td>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.postSignITHardwareSoftware, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignITHardwareSoftware, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.postSignITHardwareSoftware, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignITHardwareSoftware, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignITHardwareSoftware, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.preSignITHardwareSoftware, 1, 'COMMA', 1, 'POINT')}"></span></th>
                </tr>
                 <tr>
                	<td class="text-left">Commu., Office & Operating Supplies</td>
                	
                	<th th:style="${#numbers.formatDecimal(postSigningCost.postSignCommuOfficeOperatingSupplies, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignCommuOfficeOperatingSupplies, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.postSignCommuOfficeOperatingSupplies, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignCommuOfficeOperatingSupplies, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignCommuOfficeOperatingSupplies, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.preSignCommuOfficeOperatingSupplies, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	
                	<!-- 
                	<td th:text="${#numbers.formatDecimal(postSigningCost.postSignCommuOfficeOperatingSupplies, 1, 'COMMA', 1, 'POINT')}"></td>
                	<td th:text="${#numbers.formatDecimal(postSigningCost.preSignCommuOfficeOperatingSupplies, 1, 'COMMA', 1, 'POINT')}"></td>
                	 -->
                	
                </tr>
                <tr>
                	<td class="text-left"><b>Total IT, Comm., Office & Operating Supplies</b></td>
                	
                	<th th:style="${#numbers.formatDecimal(postSigningCost.postSignTotalITCommOfficeOperatingSupplies, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignTotalITCommOfficeOperatingSupplies, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><b th:text="${#numbers.formatDecimal(postSigningCost.postSignTotalITCommOfficeOperatingSupplies, 1, 'COMMA', 1, 'POINT')}"></b></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignTotalITCommOfficeOperatingSupplies, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignTotalITCommOfficeOperatingSupplies, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><b th:text="${#numbers.formatDecimal(postSigningCost.preSignTotalITCommOfficeOperatingSupplies, 1, 'COMMA', 1, 'POINT')}"></b></th>
                	
                	<!-- 
                	<td><b th:text="${#numbers.formatDecimal(postSigningCost.postSignTotalITCommOfficeOperatingSupplies, 1, 'COMMA', 1, 'POINT')}"></b></td>
                	<td><b th:text="${#numbers.formatDecimal(postSigningCost.preSignTotalITCommOfficeOperatingSupplies, 1, 'COMMA', 1, 'POINT')}"></b></td>
                	 -->
                	
                </tr>
                <tr>
                	<th class="text-left">
              			Preoperative Expenses
              		</th>
              		<th><b th:text="${#numbers.formatDecimal(postSigningCost.postSignPreoperativeExpenses, 1, 'COMMA', 1, 'POINT')}"></b></th>
              		<th><b th:text="${#numbers.formatDecimal(postSigningCost.preSignPreoperativeExpenses, 1, 'COMMA', 1, 'POINT')}"></b></th>
                </tr>
                <tr>
                	<th class="text-left">
              			Total Project Cost
              		</th>
              		<th><b th:text="${#numbers.formatDecimal(postSigningCost.postSignTotalProjectCost, 1, 'COMMA', 1, 'POINT')}"></b></th>
              		<th><b th:text="${#numbers.formatDecimal(postSigningCost.preSignTotalProjectCost, 1, 'COMMA', 1, 'POINT')}"></b></th>
                </tr>
                <tr>
                	<td class="text-left">Contingency @ 2.5%</td>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.postSignContingency, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignContingency, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.postSignContingency, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignContingency, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignContingency, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.preSignContingency, 1, 'COMMA', 1, 'POINT')}"></span></th>
                </tr>
                 <tr>
                	<th class="text-left">
              			Total Project Cost after Contingencies
              		</th>
              		<th th:text="${#numbers.formatDecimal(postSigningCost.postSignTotalProjectCostafterContingencies, 1, 'COMMA', 1, 'POINT')}"></th>
              		<th th:text="${#numbers.formatDecimal(postSigningCost.preSignTotalProjectCostafterContingencies, 1, 'COMMA', 1, 'POINT')}"></th>
                </tr>
                <tr>
                	<td class="text-left">Security Deposit</td>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.postSignSecurityDeposit, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignSecurityDeposit, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.postSignSecurityDeposit, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignSecurityDeposit, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignSecurityDeposit, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.preSignSecurityDeposit, 1, 'COMMA', 1, 'POINT')}"></span></th>
                </tr>
                <tr>
                	<td class="text-left">Salvage from disposal of assets</td>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.postSignSalvagefromdisposalofassets, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.preSignSalvagefromdisposalofassets, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.postSignSalvagefromdisposalofassets, 1, 'COMMA', 1, 'POINT')}"></span></th>
                	<th th:style="${#numbers.formatDecimal(postSigningCost.preSignSalvagefromdisposalofassets, 1, 'COMMA', 1, 'POINT')} == ${#numbers.formatDecimal(postSigningCost.postSignSalvagefromdisposalofassets, 1, 'COMMA', 1, 'POINT')} ? 'background-color: white' :'background-color: #F0F0F0'"><span style="font-weight: normal" th:text="${#numbers.formatDecimal(postSigningCost.preSignSalvagefromdisposalofassets, 1, 'COMMA', 1, 'POINT')}"></span></th>
                </tr>
                
                <tr>
                	<th class="text-left">
              			Grand Total
              		</th>
              		<th th:text="${#numbers.formatDecimal(postSigningCost.postSignGrandTotal, 1, 'COMMA', 1, 'POINT')}"></th>
              		<th th:text="${#numbers.formatDecimal(postSigningCost.preSignGrandTotal, 1, 'COMMA', 1, 'POINT')}"></th>
                </tr>
            </tbody>
        </table>
	
		 <!-- <table style="background:#000;height:20px;width:100%;margin-top:9px">
            <tr>
                <td class="text-middle text-left" style="padding:6px;"><p style="font-size:14px;color:#fff;">Copyright © 2019 PVR. All Rights Reserved</p></td>
                <td class="text-middle text-right" style="padding:6px;"><p style="font-size:14px;color:#fff;float:right;">Private And Confidential</p></td>
            </tr>
        </table>
        -->
</body>
</html>

