<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
body{font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;}
tbody,thead,tr{border-color:inherit}img,table{max-width:100%}.headStrip,.map_frame,.pdf_wrapper{position:relative}@page{size:A4 landscape}img{width:auto}tbody,thead{vertical-align:middle}td,th,tr{vertical-align:inherit}*{margin:0;padding:0;box-sizing:border-box}table{display:table;border-spacing:2px;border-collapse:collapse;width:100%;margin-bottom:2rem;margin-top:2rem;background-color:transparent;border:1px solid rgba(0,0,0,.06)}thead{display:table-header-group}tbody{display:table-row-group}tr{display:table-row}td,th{display:table-cell}.table thead th,.table tr th{font-size:16px;font-weight:600;color:#000;background:#ffc906;border:1px solid gray}h1,h2,h3,h4{text-transform:capitalize;letter-spacing:.5px;font-weight:500}.table td,.table th{text-align:center;font-size:15px;padding: 4px 10px;vertical-align:top;border-top:1px solid rgba(0,0,0,.06)}.table td:first-of-type,.table th:first-of-type{text-align:left}.table-bordered,.table-bordered td,.table-bordered th{border:2px solid #adadad}h1,h2{font-size:26px;margin:20px 0 0}.pdf_wrapper hr{border-color:#ffc906;box-shadow:COMMA;outline:0;margin:10px 0 20px;border-width:2px;unicode-bidi:unset;border-style:solid}.pdf_wrapper{width:1080px;margin:50px auto}.map_frame{height:450px;width:100%;overflow:hidden;margin:30px 0 20px}.transparent tr td{background:0 0!important}.text-center{text-align:center!important}.text-right{text-align:right}tr:nth-child(even) td{background:#f3f3f3}.text-middle{vertical-align:middle!important;text-align:center!important}.text-left{text-align:left!important}.p-m-0{margin:0;padding:0!important}.border-hide{border:hidden}.mb-2{margin-bottom:2rem}.top-shadow{box-shadow:inset 0 2px 0 0 #000}.total_row,.total_row td{background:#f3f3f3!important}.dicrease-font-size tr td,.dicrease-font-size tr th{font-size:15px!important}h3,h4{font-size:22px;margin:0 0 20px}.graph-frame{margin-bottom:1rem}.half-width{max-width:50%}.fixed-layout{table-layout:fixed}.black_row{background-color:#000!important}.black_row td{color:#fff!important}.headStrip{margin-top:30px;padding:12px 15px;font-size:22px;background:#ffc906}fieldset{width:100%;opacity:.2;border-bottom:0;border-left:0;border-right:0;margin:20px 0}fieldset legend{text-align:center;font-size:16px;color:#000;padding:0 15px}#chats{margin:0;padding:0}#chats li{display:inline-block;width:100%;margin:0 0 15px}#chats li h4{float:left;font-size:20px;width:150px;margin:0}#chats li .chat_textarea{border-radius:6px 25px 25px 20px;background:#eee;float:right;padding:15px;width:calc(100% - 160px)}
td, th, p, small, span{text-transform:capitalize!important;}
</style>
</head>
<body>
<!-- <table style="background:#000;height:50px;width:100%;margin-bottom:20px;">
            <tr>
                <td style="padding: 5px 10px;"><img width="60px" src="E:\pvr\report-images\pvr-logo-pdf.png"/></td>
                <td class="text-middle text-right" style="padding: 5px 10px;"><p class="text-right text-middle" style="font-size:16px;text-transform:uppercase;color:#fecb0e;float:right;" th:text="${projectDetails?.reportSignature}">Pitampura Mall, Delhi - Pre Signing - 4</p></td>
            </tr>
  </table> -->

<h3 style="margin-bottom:5px;">Summary P&amp;L</h3>
            <table class="table table-bordered transparent dicrease-font-size " style="margin-bottom:20px">
                <tr>
                    <th class="text-left" style="width:200px">Particulars (INR Lacs) </th>
              <th th:each="lease,iterStat:${pandlDetails?.leasePeriod}" th:if="${iterStat.index<8}">Yr-<span th:text="${lease}"></span></th>
                </tr>
                <tr>
				 <td style="width:200px" class="text-left">Occupancy %</td>
			     <td th:each="lease,iterStat:${pandlDetails?.occupancyForEachYear}" th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 2, 'POINT')}"></span></td>
		       </tr>
		        <tr>
				 <td style="width:200px" class="text-left">Admissions (No.)</td>
			     <td th:each="lease,iterStat:${pandlDetails?.admitsYearWise}" th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 0, 'POINT')}"></span></td>
		       </tr>
		        <tr>
				 <td style="width:200px" class="text-left">ATP (INR)</td>
			     <td th:each="lease,iterStat:${pandlDetails?.atpForEachYear}" th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 0, 'POINT')}"></span></td>
		       </tr>
		        <tr>
				 <td style="width:200px" class="text-left">SPH (INR)</td>
			     <td th:each="lease,iterStat:${pandlDetails?.sphForEachYear}" th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 0, 'POINT')}"></span></td>
		       </tr>
                <tr>
                    <td  style="width:200px" class="text-left">Net Sale of Tickets</td>
                   <td th:each="lease,iterStat:${pandlDetails?.netTicketSales}" th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>
                <tr>
                    <td style="width:200px" class="text-left">Sale of F&amp;B </td>
                    <td th:each="lease,iterStat:${pandlDetails?.netFnBSalesForEachYear}" th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>
                <tr >
                    <td style="width:200px" class="text-left">Sponsorship Revenues </td>
                   <td th:each="lease,iterStat:${pandlDetails?.adRevenueForEachYear}"  th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>
                <tr>
                    <td style="width:200px" class="text-left">VAS Income </td>
                     <td th:each="lease,iterStat:${pandlDetails?.vasIncomeForEachYear}"  th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>
                <tr>
                    <td style="width:200px" class="text-left">Other Operating Income </td>
                    <td th:each="lease,iterStat:${pandlDetails?.otherOperatingIncome}"  th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>
                <tr class="total_row">
                    <td style="width:200px" class="text-left"><b>Total Revenues</b> </td>
                    <td th:each="lease,iterStat:${pandlDetails?.totalRevenueForEachYear}"  th:if="${iterStat.index<8}"><b><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></b></td>
                </tr>
                <tr>
                    <td style="width:200px" class="text-left">Film Distributor’s Share </td>
                    <td th:each="lease,iterStat:${pandlDetails?.filmDistributorShare}"  th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>
                <tr>
                    <td style="width:200px" class="text-left">Consumption of F&amp;B </td>
                    <td th:each="lease,iterStat:${pandlDetails?.consumptionOfFnBForEachYear}"  th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>
                <tr class="total_row">
                    <td style="width:200px" class="text-left"><b>Gross Margin </b> </td>
                    <td th:each="lease,iterStat:${pandlDetails?.grossMarginForEachYear}" th:if="${iterStat.index<8}"><b><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 0, 'POINT')}"></span></b></td>
                </tr>
                <tr class="total_row">
                    <td style="width:200px" class="text-left"><b><i>Gross Margin (%)</i></b></td>
                    <td th:each="lease,iterStat:${pandlDetails?.grossMarginPercent}" th:if="${iterStat.index<8}"><b><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 1, 'POINT')}"></span></b></td>
                    
                </tr>
                <tr>
                    <td style="width:200px" class="text-left">Personnel Expenses </td>
                     <td th:each="lease,iterStat:${pandlDetails?.personnelExpenseForEachYear}" th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>
                <tr>
                    <td style="width:200px" class="text-left">Electricity &amp; water charges </td>
                    <td th:each="lease,iterStat:${pandlDetails?.electricityAndWaterExpenseForEachYear}" th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>
                <tr>
                    <td style="width:200px" class="text-left">Repairs and maintenance </td>
                    <td th:each="lease,iterStat:${pandlDetails?.repairAndMaintenanceExpenseExpenseForEachYear}" th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>
                <tr>
                    <td style="width:200px" class="text-left">Other Operating Expenses  </td>
                    <td th:each="lease,iterStat:${pandlDetails?.otherOperatingExpensesForEachYear}" th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>
                <tr class="total_row">
                    <td style="width:200px" class="text-left"><b>Total Fixed Expenditure </b>   </td>
                    <td th:each="lease,iterStat:${pandlDetails?.expenditureExRentAndCamForEachYear}" th:if="${iterStat.index<8}"><b><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></b></td>
                </tr>
                <tr class="total_row">
                    <td style="width:200px" class="text-left"><b>EBITDAR </b>  </td>
                    <td th:each="lease,iterStat:${pandlDetails?.ebitdarForEachYear}" th:if="${iterStat.index<8}"><b><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></b></td>
                </tr>
                <tr>
                    <td style="width:200px" class="text-left">Rent </td>
                    <td th:each="lease,iterStat:${pandlDetails?.rentEachYear}" th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>
                <tr>
                    <td style="width:200px" class="text-left">Common Area Maintenance  </td>
                    <td th:each="lease,iterStat:${pandlDetails?.camEachYear}" th:if="${iterStat.index<8}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>              
                <tr class="total_row">
                    <td style="width:200px" class="text-left"><b>EBITDA</b>  </td>
                    <td th:each="lease,iterStat:${pandlDetails?.getEBITDAForEachYear}" th:if="${iterStat.index<8}"><b><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></b></td>
                </tr>
                <tr class="total_row">
                    <td style="width:200px" class="text-left"><b><i>EBITDA Margin (%)</i></b> </td>
                   <td th:each="lease,iterStat:${pandlDetails?.getEBITDAMarginForEachYear}" th:if="${iterStat.index<8}"><b><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 1, 'POINT')}"></span></b></td>
                </tr> 
                <tr class="total_row">
                    <td style="width:200px" class="text-left"><b><i>Rent/Revenue (%)</i></b></td>
                   <td th:each="lease,iterStat:${pandlDetails?.rentRationDetails}" th:if="${iterStat.index<8}"><b><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 1, 'POINT')}"></span></b></td>
                </tr>
                <tr class="total_row">
                    <td style="width:200px" class="text-left"><b><i>(Rent+CAM)/Revenue (%)</i></b></td>
                    <td th:each="lease,iterStat:${pandlDetails?.rentCamRevenueRatioDetails}" th:if="${iterStat.index<8}"><b><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 1, 'POINT')}"></span></b></td>
                </tr>
            </table>
      <div th:if="${#lists.size(pandlDetails?.leasePeriod)>7}">
		<h3 style="margin-bottom:5px;">Summary P&amp;L</h3>
            <table class="table table-bordered transparent dicrease-font-size " style="margin-bottom:20px;">
                 <tr>
                    <th class="text-left" style="width:200px" >Particulars (INR Lacs)</th>
              <th th:each="lease,iterStat:${pandlDetails?.leasePeriod}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}">Yr-<span th:text="${lease}"></span></th>
                </tr>
               <tr>
				 <td style="width:200px" class="text-left">Occupancy %</td>
			     <td th:each="lease,iterStat:${pandlDetails?.occupancyForEachYear}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 2, 'POINT')}"></span></td>
		       </tr>
		        <tr>
				 <td style="width:200px" class="text-left">Admissions (No.) </td>
			     <td th:each="lease,iterStat:${pandlDetails?.admitsYearWise}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 0, 'POINT')}"></span></td>
		       </tr>
		        <tr>
				 <td style="width:200px" class="text-left">ATP(INR)</td>
			     <td th:each="lease,iterStat:${pandlDetails?.atpForEachYear}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 0, 'POINT')}"></span></td>
		       </tr>
		        <tr>
				 <td style="width:200px" class="text-left">SPH (INR)</td>
			     <td th:each="lease,iterStat:${pandlDetails?.sphForEachYear}" th:if="${iterStat.index &gt; 7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 0, 'POINT')}"></span></td>
		       </tr>
                <tr>
                    <td  style="width:200px" class="text-left">Net Sale of Tickets </td>
                   <td th:each="lease,iterStat:${pandlDetails?.netTicketSales}" th:if="${iterStat.index>7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>
                <tr>
                    <td style="width:200px" class="text-left">Sale of F&amp;B  </td>
                    <td th:each="lease,iterStat:${pandlDetails?.netFnBSalesForEachYear}" th:if="${iterStat.index>7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>
                <tr >
                    <td style="width:200px" class="text-left">Sponsorship Revenues </td>
                   <td th:each="lease,iterStat:${pandlDetails?.adRevenueForEachYear}"  th:if="${iterStat.index>7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>
                <tr>
                    <td style="width:200px" class="text-left">VAS Income  </td>
                     <td th:each="lease,iterStat:${pandlDetails?.vasIncomeForEachYear}"  th:if="${iterStat.index>7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>
                <tr>
                    <td style="width:200px" class="text-left">Other Operating Income  </td>
                    <td th:each="lease,iterStat:${pandlDetails?.otherOperatingIncome}"  th:if="${iterStat.index>7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>
                <tr class="total_row">
                    <td style="width:200px" class="text-left"><b>Total Revenues </b> </td>
                    <td th:each="lease,iterStat:${pandlDetails?.totalRevenueForEachYear}"  th:if="${iterStat.index>7 and iterStat.index &lt; 15}"><b><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></b></td>
                </tr>
                <tr>
                    <td style="width:200px" class="text-left">Film Distributor’s Share </td>
                    <td th:each="lease,iterStat:${pandlDetails?.filmDistributorShare}"  th:if="${iterStat.index>7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>
                <tr>
                    <td style="width:200px" class="text-left">Consumption of F&amp;B</td>
                    <td th:each="lease,iterStat:${pandlDetails?.consumptionOfFnBForEachYear}"  th:if="${iterStat.index>7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>
                <tr class="total_row">
                    <td style="width:200px" class="text-left"><b>Gross Margin</b> </td>
                    <td th:each="lease,iterStat:${pandlDetails?.grossMarginForEachYear}" th:if="${iterStat.index>7 and iterStat.index &lt; 15}"><b><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 0, 'POINT')}"></span></b></td>
                </tr>
                <tr class="total_row">
                    <td style="width:200px" class="text-left"><b><i>Gross Margin (%)</i></b></td>
                    <td th:each="lease,iterStat:${pandlDetails?.grossMarginPercent}" th:if="${iterStat.index>7 and iterStat.index &lt; 15}"><b><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 1, 'POINT')}"></span></b></td>
                    
                </tr>
                <tr>
                    <td style="width:200px" class="text-left">Personnel Expenses </td>
                     <td th:each="lease,iterStat:${pandlDetails?.personnelExpenseForEachYear}" th:if="${iterStat.index>7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>
                <tr>
                    <td style="width:200px" class="text-left">Electricity &amp; water charges </td>
                    <td th:each="lease,iterStat:${pandlDetails?.electricityAndWaterExpenseForEachYear}" th:if="${iterStat.index>7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>
                <tr>
                    <td style="width:200px" class="text-left">Repairs and maintenance </td>
                    <td th:each="lease,iterStat:${pandlDetails?.repairAndMaintenanceExpenseExpenseForEachYear}" th:if="${iterStat.index>7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>
                <tr>
                    <td style="width:200px" class="text-left">Other Operating Expenses </td>
                    <td th:each="lease,iterStat:${pandlDetails?.otherOperatingExpensesForEachYear}" th:if="${iterStat.index>7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>
                <tr class="total_row">
                    <td style="width:200px" class="text-left"><b>Total Fixed Expenditure</b>   </td>
                    <td th:each="lease,iterStat:${pandlDetails?.expenditureExRentAndCamForEachYear}" th:if="${iterStat.index>7 and iterStat.index &lt; 15}"><b><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></b></td>
                </tr>
                <tr class="total_row">
                    <td style="width:200px" class="text-left"><b>EBITDAR</b>  </td>
                    <td th:each="lease,iterStat:${pandlDetails?.ebitdarForEachYear}" th:if="${iterStat.index>7 and iterStat.index &lt; 15}"><b><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></b></td>
                </tr>
                <tr>
                    <td style="width:200px" class="text-left">Rent </td>
                    <td th:each="lease,iterStat:${pandlDetails?.rentEachYear}" th:if="${iterStat.index>7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>
                <tr>
                    <td style="width:200px" class="text-left">Common Area Maintenance </td>
                    <td th:each="lease,iterStat:${pandlDetails?.camEachYear}" th:if="${iterStat.index>7 and iterStat.index &lt; 15}"><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>              
                <tr class="total_row">
                    <td style="width:200px" class="text-left"><b>EBITDA </b>   </td>
                    <td th:each="lease,iterStat:${pandlDetails?.getEBITDAForEachYear}" th:if="${iterStat.index>7 and iterStat.index &lt; 15}"><b><span th:text="${#numbers.formatDecimal(lease.value/100000, 1, 'COMMA', 0, 'POINT')}"></span></b></td>
                </tr>
                <tr class="total_row">
                    <td style="width:200px" class="text-left"><b><i>EBITDA Margin (%)</i></b></td>
                   <td th:each="lease,iterStat:${pandlDetails?.getEBITDAMarginForEachYear}" th:if="${iterStat.index>7 and iterStat.index &lt; 15}"><b><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 1, 'POINT')}"></span></b></td>
                </tr> 
                <tr class="total_row">
                    <td style="width:200px" class="text-left"><b><i>Rent/Revenue (%)</i></b></td>
                   <td th:each="lease,iterStat:${pandlDetails?.rentRationDetails}" th:if="${iterStat.index>7 and iterStat.index &lt; 15}"><b><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 1, 'POINT')}"></span></b></td>
                </tr>
                <tr class="total_row">
                    <td style="width:200px" class="text-left"><b><i>(Rent+CAM)/Revenue (%)</i></b> </td>
                    <td th:each="lease,iterStat:${pandlDetails?.rentCamRevenueRatioDetails}" th:if="${iterStat.index>7 and iterStat.index &lt; 15}"><b><span th:text="${#numbers.formatDecimal(lease.value, 1, 'COMMA', 1, 'POINT')}"></span></b></td>
                </tr>
                </table>
          </div>
                
</body>

</html>