
<div th:fragment="header">
	<ul id="tabs" class="nav nav-tabs responsive" role="tablist">
		<li class="nav-item" >
			<a id="tab_A"  th:href ="${projectId != null} ?  @{/post-signing/development-details/}+${projectId} : '#'" 
				class="nav-link" th:classappend="${activeStep1}" role="tab">Development<br>
					Details
			</a>
		</li>

		<li class="nav-item"><a id="tab_B"  th:href ="${projectId != null} ?  @{/post-signing/developer-details/}+${projectId} : '#'"
			class="nav-link" th:classappend="${activeStep2}" role="tab">developer<br>
				details
		</a></li>

		<li class="nav-item"><a id="tab_C"  th:href ="${projectId != null} ?  @{/post-signing/upcoming-cinemas/}+${projectId} : '#'"
			class="nav-link step-3" th:classappend="${activeStep3}"  role="tab">Upcoming <br>Cinemas
		</a></li>

		<li class="nav-item"><a id="tab_D"  th:href ="${projectId != null} ?  @{/post-signing/lessor-lessee-schedule/}+${projectId} : '#'" 
			class="nav-link step-4" th:classappend="${activeStep4}"  role="tab">Lessor
				Lessee <br>schedule
		</a></li>

		<li class="nav-item"><a id="tab_E"  th:href ="${projectId != null} ?  @{/post-signing/project-layout-assumptions/}+${projectId} : '#'"  
			class="nav-link step-5" th:classappend="${activeStep5}"  role="tab">Project
				layout <br>assumptions
		</a></li>

		<li class="nav-item"><a id="tab_F" th:href ="${projectId != null} ?  @{/post-signing/operating-assumptions/}+${projectId} : '#'"  
			class="nav-link step-6" th:classappend="${activeStep6}"  role="tab">Operating <br>
				Assumptions
		</a></li>

		<li class="nav-item"><a id="tab_G"  th:href ="${projectId != null} ?  @{/post-signing/summary-sheet/}+${projectId} : '#'"  
			class="nav-link step-7" th:classappend="${activeStep7}"  role="tab">Summary<br>
				sheet
		</a></li>

	</ul>
</div>