<div th:fragment="customCss">
	<style>
.tabsParent .tab-content>.tab-pane .card-body table tr td input {
	height: 30px;
}
</style>
</div>
<div th:fragment="content">

	<section class="mainContainer">
		<div class="col-md-12 col-sm-12">


			<div class="tabsParent">
				<div th:insert="postSigning/header :: header"></div>

				<div id="content" class="tab-content" role="tablist">

					<div id="step-5" class=" tab-pane fade show active" role="tabpanel"
						aria-labelledby="tab_E">
						<div id="collapse-C" class="collapse show" role="tabpanel"
							aria-labelledby="heading-C">
								<form class="client-form" id="projectLayoutForm"  onsubmit="return validate();"
									 method="POST" th:object="${projectDetails}" autocomplete="off"
									enctype="multipart/form-data">
								<div class="card-body">

									<div class="row">
										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<input type="hidden" name="id" th:value="${projectDetails?.id}"  /> <label
													for="exampleInputEmail1" class="bmd-label-static" style="margin-left:7px">No.
													of Screens<span style="color: red;"> *</span></label>
													<input type="text" class="form-control" name="noOfScreens" th:value="${(projectDetails?.noOfScreens != null) ? projectDetails.noOfScreens : '1'}"  
													id="screenNo" />
											</fieldset>
										</div>
										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label for="exampleInputEmail1" class="bmd-label-static">Cinema
													Category<span style="color: red;" id="select_required"> *</span></label>
													 <select class="form-control" name="cinemaCategory"
													id="exampleSelect1" required>
													<option value="">Select Category</option>
													<option th:selected="${projectDetails?.cinemaCategory == 'A' ? 'true' : 'false'}"   value="A">A</option>
													<option th:selected="${projectDetails?.cinemaCategory == 'A+' ? 'true' : 'false'}" value="A+">A+</option>
													<option th:selected="${projectDetails?.cinemaCategory == 'A++' ? 'true' : 'false'}" value="A++">A++</option>
													<option th:selected="${projectDetails?.cinemaCategory == 'ICON' ? 'true' : 'false'}" value="ICON">Iconic</option>

												</select>
											</fieldset>
										</div>

										<div id="stickID" style="top: 0px;">
											<label for="exampleInputEmail1" class="bmd-label-static">Report
												ID</label> <input type="hidden" name="reportId"
												th:value="${reportId}">
											<p class="reportIdText"
												th:text="${projectDetails == null} ? ${reportId} : ${projectDetails?.reportId}"></p>
										</div>

									</div>


								</div>

								<div class="title_strip mb-0" style="margin-top: -20px;">
									<h5>SCREEN SEAT MATRIX</h5>
								</div>

								<div class="card-body p-0">
									<div class="innerTableParent">
										<table id="step3Table" class="table table-bordered">
											<thead>
												<tr>
													<th scope="col">#</th>
													<th scope="col">FORMAT</th>
													<th colspan="3" class="p-0">
														<table class="w-100 thead_sub_table">
															<thead>
																<tr>
																	<th colspan="3" class="text-center">Seat Types</th>
																</tr>
																<tr>
																	<th>Normals</th>
																	<th>Recliner</th>
																	<th>Loungers</th>
																</tr>
															</thead>
														</table>
													</th>
													<th scope="col">Total</th>
												</tr>
											</thead>
											<tbody id="screenDetailTbody">
													<tr class="categoryTitle">
													<th scope="row" class="screenName">Screen 1</span></th> 
													<td><select id="cinemaFormatField" th:field="*{cinemaFormat[0].formatType}"
														name="cinemaFormat[0].formatType" class="form-control">
															<option th:selected="${projectDetails?.cinemaFormat[0]?.formatType == 'mainstream' ? 'true' : 'false'}" value="mainstream">MainStream</option>
															<option th:selected="${projectDetails?.cinemaFormat[0]?.formatType == 'gold' ? 'true' : 'false'}"  value="gold">Gold</option>
															<option th:selected="${projectDetails?.cinemaFormat[0]?.formatType == 'imax' ? 'true' : 'false'}" value="imax">Imax</option>
															<option th:selected="${projectDetails?.cinemaFormat[0]?.formatType == 'pxl' ? 'true' : 'false'}" value="pxl">PXL</option>
															<option th:selected="${projectDetails?.cinemaFormat[0]?.formatType == 'playhouse' ? 'true' : 'false'}" value="playhouse">PlayHouse</option>
															<option th:selected="${projectDetails?.cinemaFormat[0]?.formatType == 'ultrapremium' ? 'true' : 'false'}" value="ultrapremium">Director's Cut</option>
															<option th:selected="${projectDetails?.cinemaFormat[0]?.formatType == '4dx' ? 'true' : 'false'}" value="4dx">4DX</option>
														<!-- 	<option th:selected="${projectDetails?.cinemaFormat[0]?.formatType == 'premier' ? 'true' : 'false'}" value="premier">Premier</option> -->
															<option th:selected="${projectDetails?.cinemaFormat[0]?.formatType == 'onyx' ? 'true' : 'false'}" value="onyx">Onyx</option>
															<option th:selected="${projectDetails?.cinemaFormat[0]?.formatType == 'luxe' ? 'true' : 'false'}" value="luxe">Luxe</option>
													</select></td>
													<td>
														<input type="text" id="a" class="qty1 intLimitTextBox"
														  th:field="*{cinemaFormat[0].normal}" placeholder="Enter Value"
														onkeyup="this.value = this.value.replace(/[^0-9.]/, '')" required>
														</td>
													<td><input type="text" id="b" class="qty1 intLimitTextBox"
														th:field="*{cinemaFormat[0].recliners}" 
														 placeholder="Enter Value"
														onkeyup="this.value = this.value.replace(/[^0-9.]/, '')" ></td>
													<td><input type="text" id="c" class="qty1 intLimitTextBox"
														placeholder="Enter Value" 
														th:field="*{cinemaFormat[0].lounger}" 
														onkeyup="this.value = this.value.replace(/[^0-9.]/, '')" required></td>
													<td><input type="text" id="d0" class="totalColumn" readonly
														 placeholder="0"
														th:field="*{cinemaFormat[0].total}" 
														style="width: 70px; pointer-events: none;"></td>
												</tr>
											
											
												<!-- -->
												<div th:each="entry, iStat : ${projectDetails?.cinemaFormat}" >
												<input type="hidden" id="screen_size" th:value="${iStat.size}">
												<tr  th:if="${iStat.index>0}" th:id="screen_detail[__${iStat.index}__]" id="screen_detail" class="categoryTitle">
													 
													<th scope="row" class="screenName">Screen <span th:id="screen_no[__${iStat.index}__]" th:text="${iStat.index}+1"></span></th> 
													<td><select id="cinemaFormatField" th:field="*{cinemaFormat[__${iStat.index}__]?.formatType}"
														name="cinemaFormat[0].formatType" class="form-control">
															<option th:selected="${entry?.formatType == 'mainstream' ? 'true' : 'false'}" value="mainstream">MainStream</option>
															<option th:selected="${entry?.formatType == 'gold' ? 'true' : 'false'}"  value="gold">Gold</option>
															<option th:selected="${entry?.formatType == 'imax' ? 'true' : 'false'}" value="imax">Imax</option>
															<option th:selected="${entry?.formatType == 'pxl' ? 'true' : 'false'}" value="pxl">PXL</option>
															<option th:selected="${entry?.formatType == 'playhouse' ? 'true' : 'false'}" value="playhouse">PlayHouse</option>
															<option th:selected="${entry?.formatType == 'ultrapremium' ? 'true' : 'false'}" value="ultrapremium">Director's Cut</option>
															<option th:selected="${entry?.formatType == '4dx' ? 'true' : 'false'}" value="4dx">4DX</option>
															<!-- <option th:selected="${entry?.formatType == 'premier' ? 'true' : 'false'}" value="premier">Premier</option> -->
															<option th:selected="${entry?.formatType == 'onyx' ? 'true' : 'false'}" value="onyx">Onyx</option>
															<option th:selected="${entry?.formatType == 'luxe' ? 'true' : 'false'}" value="luxe">Luxe</option>
													</select></td>
													<td><input type="text" id="a" class="qty1 intLimitTextBox"
														name="cinemaFormat[0].normal" 
														 th:field="*{cinemaFormat[__${iStat.index}__].normal}" placeholder="Enter Value"
														onkeyup="this.value = this.value.replace(/[^0-9.]/, '')"
														th:value="${entry.normal}" required></td>
													<td><input type="text" id="b" class="qty1 intLimitTextBox"
														th:field="*{cinemaFormat[__${iStat.index}__].recliners}" 
														name="cinemaFormat[0].recliners" placeholder="Enter Value"
														onkeyup="this.value = this.value.replace(/[^0-9.]/, '')"
														th:value="${entry.recliners}" required></td>
													<td><input type="text" id="c" class="qty1 intLimitTextBox"
														name="cinemaFormat[0].lounger" placeholder="Enter Value" 
														th:field="*{cinemaFormat[__${iStat.index}__].lounger}" 
														onkeyup="this.value = this.value.replace(/[^0-9.]/, '')"
														th:value="${entry.lounger}" required></td>
													<td><input type="text" id="d0" class="totalColumn" readonly
														name="cinemaFormat[0].total" placeholder="0"
														th:field="*{cinemaFormat[__${iStat.index}__].total}" 
														style="width: 70px; pointer-events: none;"
														th:value="${entry.total}"></td>
												</tr>
												</div>
											</tbody>
											<tbody>
												<tr id="subtotal">
													<th scope="row">Total</th>
													<td></td>
													<td style="color: #000; font-weight: 700"><input readonly
														type="text" class="normalsValSum" name="normalsValSum"
														th:value="${projectDetails?.normalsValSum}"></td>
													<td style="color: #000; font-weight: 700"><input readonly
														type="text" class="reclinerValSum" name="reclinerValSum"
														th:value="${projectDetails?.reclinerValSum}"></td>
													<td style="color: #000; font-weight: 700"><input readonly
														type="text" class="loungersValSum" name="loungersValSum"
														th:value="${projectDetails?.loungersValSum}"></td>
													<td style="color: #000; font-weight: 700"><input readonly
														type="text" class="totalColumnValSum"
														name="totalColumnValSum"
														th:value="${projectDetails?.totalColumnValSum}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>


								<div class="title_strip mb-0" style="margin-top: -20px;">
									<h5>SEAT DIMENSION MATRIX</h5>
								</div>
								<div class="card-body p-0">
									<div class="innerTableParent">
										<table id="step3Table1" class="table table-bordered">
											<thead>
												<tr>
													<th scope="col">#</th>
													<th scope="col">FORMAT</th>
													<th colspan="3" class="p-0">
														<table class="w-100 thead_sub_table">
															<thead>
																<tr>
																	<th colspan="3" class="text-center"> Seat Dimensions (mm x mm)</th>
																</tr>
																<tr>
																	<th>Normals</th>
																	<th>Recliner</th>
																	<th>Loungers</th>
																</tr>
															</thead>
														</table>
													</th>
												</tr>
											</thead>
											<tbody id="seatDimensionTbody">

												<tr  class="categoryTitle">
													<th scope="row" class="screenName">Screen 1</th>
													<td><select disabled="disabled" id="cinemaFormatField" style="background-image:none !important"
														class="form-control" th:field="*{seatDimension[0].formatType}">
															<option value="mainstream">MainStream</option>
															<option value="gold">Gold</option>
															<option value="imax">Imax</option>
															<option value="pxl">PXL</option>
															<option value="playhouse">PlayHouse</option>
															<option value="ultrapremium">Director's Cut</option>
															<option value="4dx">4DX</option>
															<option value="onyx">Onyx</option>
														    <option value="luxe">Luxe</option>
													</select></td>
													<td><input type="text" id="a2" class="qty1 "
														 placeholder="Enter Value"
														th:field="*{seatDimension[0].normalSeatDimension}"></td>
													
													<td><input type="text" id="b2" class="qty1 "
														th:field="*{seatDimension[0].reclinerSeatDimension}"
														placeholder="Enter Value" 
														></td>
													
													<td><input type="text" id="c2" class="qty1 "
														th:field="*{seatDimension[0].loungerSeatDimension}"
														placeholder="Enter Value"
														></td>
												</tr>
											<div th:each="entry, iStat : ${projectDetails?.seatDimension}">
												<tr  id="seat_dimension" th:if="${iStat.index>0}" th:id="seat_dimension[__${iStat.index}__]" class="categoryTitle">
													<th scope="row" class="screenName">Screen <span th:id="screen_no[__${iStat.index}__]" th:text="${iStat.index}+1"></span></th>
													<td><select name="seatDimension[0].formatType" disabled="disabled" id="cinemaFormatField" style="background-image:none !important"
														class="form-control" th:field="*{seatDimension[__${iStat.index}__].formatType}">
															<option value="mainstream">MainStream</option>
															<option value="gold">Gold</option>
															<option value="imax">Imax</option>
															<option value="pxl">PXL</option>
															<option value="playhouse">PlayHouse</option>
															<option value="ultrapremium">Director's Cut</option>
															<option value="4dx">4DX</option>
															<option value="onyx">Onyx</option>
															<option value="luxe">Luxe</option>
													</select></td>
													<td><input type="text" id="a2" class="qty1 "
														name="seatDimension[0].normalSeatDimension" placeholder="Enter Value"
														th:field="*{seatDimension[__${iStat.index}__]?.normalSeatDimension}"
														th:value="${entry.normalSeatDimension}"></td>
													
													<td><input type="text" id="b2" class="qty1 "
														name="seatDimension[0].reclinerSeatDimension"
														th:field="*{seatDimension[__${iStat.index}__]?.reclinerSeatDimension}"
														placeholder="Enter Value" 
														th:value="${entry.reclinerSeatDimension}"
														></td>
													
													<td><input type="text" id="c2" class="qty1 "
														th:value="${entry.loungerSeatDimension}"
														th:field="*{seatDimension[__${iStat.index}__]?.loungerSeatDimension}"
														name="seatDimension[0].loungerSeatDimension" placeholder="Enter Value"
														></td>
												</tr>
												</div> 
											</tbody>

										</table>
									</div>
								</div>

								<div class="title_strip mb-0">
									<h5>Upload project design layout</h5>
								</div>

							<div class="title_strip mb-0">
									<h5>Upload project design layout</h5>
								</div>

								<div class="card-body py-0">
									<div class="row">
										<div class="col-lg-12 col-sm-12">
											<div class="fileUploadtableParent">
												<span class="messageChooseFile">Please Choose File</span>
												<table style="border:none" id="fileUploadtable" width="100%">
													<tbody style="background-color:#f2f2f2">	
														<tr class="add_row" th:each="keyor,iterStat : ${filor}">
															<td style="padding-left:10px"  th:text="${keyor}"></td>
															<td><input type="text" name="oldfile[]" th:value="${keyor}" hidden/></td>
															<td class="text-right">
															  <button style="margin-right:15px;margin-top:3px" type="button" class="btn btn-danger btn-raised"  id="deleteFileUpload" title="Delete file">Delete file</button>
															</td>
														</tr>	
													</tbody>
													<tfoot>
														<tr>
															<td colspan="10"><button class="btn btn-success btn-sm" style="background-color:#ffc906;color: black;margin-top:10px" type="button" id="addFileUpload" title='Add new file'/>Add new file</button></td>
														</tr>
													</tfoot>	
												</table>
											</div>
											<p class="file_must_be text-left"><span id="fileError">File must be .pdf only</span></p>
										</div>
									</div>		
								</div>

								<div class="card-body" th:if="${projectDetails?.status < 105 }">
									<div class="p-4 buttonGroup_nextCancelSave">
										<a th:href="@{/dashboard}"><button type="button"
											class="cancelBtn btn btn-raised btn-secondary" id="yo">CANCEL</button></a>
										<button type="button" id="save"
											class="nextBtn btn-raised btn btn-success">NEXT</button>
										<button type="button" id="save_close"
											class="saveCloseBtn btn btn-raised btn-secondary">SAVE
											&amp; CLOSE</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>


		</div>
	</section>
</div>




<div th:fragment="customJs">
	<script type="text/javascript" th:src="@{/./js/post-signing-step-5.js}"></script>
</div>