<!--  css  file-->
<div th:fragment="customCss"></div>


<!--  content body -->
<div th:fragment="content">

<!-- ******************************************************* Query Modal ************************************************************** -->
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<form id="modal-form">
				<div class="modal-content">
					<div class="modal-header">
						<p>
							Report <span id="modal-span" name="modal-span"></span> - <span
								id="query-type"></span>
						</p>
						<input type="hidden" id="projectId" name="projectId"></input> 
						<input type=hidden id="queryType" name="queryType"></input>
						<input type="hidden" id="currentUserId" name="currentUserId" th:value=${session.userId}></input>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<i class="fas fa-times"></i>
						</button>
					</div>
					<div class="modal-body p-0 mt-0">
						<a href="javascript:void(0);" id="viewOtherComments">view
							previous comments</a>
						<div class="chat">
							<div class="card">
							
							 	<div class="card-body msg_card_body content mCustomScrollbar">
								<!-- 	<div class="d-flex justify-content-start mb-3">
										<div class="img_cont_msg">
											<img th:src="@{/images/userIcon_chatbox.png}"
												class="rounded-circle user_img_msg">
											<p>User</p>
										</div>
										<div class="msg_cotainer">
											Hi, how are you samim? <span class="msg_time">8:40 AM,
												Today</span>
										</div>
									</div>
									<div class="d-flex justify-content-end mb-3">
										<div class="msg_cotainer_send">
											Hi Maryam i am good tnx how about you? <span
												class="msg_time_send">8:55 AM, Today</span>
										</div>
										<div class="img_cont_msg">
											<img th:src="@{/images/clientIcon_chatbox.png}"
												class="rounded-circle user_img_msg">
											<p>Rahul</p>
										</div>
									</div> -->


								</div> 
							</div>
						</div>
						<div class="modal-footer">
							<div class="w-100">

								<div class="input-group">
									<textarea id="msg" name="msg" class="form-control type_msg"
										placeholder="Type a message"></textarea>
								</div>
								<a href="javascript:void(0);" class="addCommentBtn"
									id="submitQuery">Add Comments</a>
							</div>

						</div>

					</div>
				</div>
			</form>

		</div>

	</div>
	<!-- ******************************************************* Query Modal End ************************************************************** -->


	<section class="mainContainer">

		<div class="col-md-12 col-sm-12">

			<div class="tabsParent">
				<div th:insert="postSigning/header :: header"></div>


				<div id="content" class="tab-content" role="tablist">

					<div id="step7" class=" tab-pane fade show active" role="tabpanel"
						aria-labelledby="step_G">
						<div id="collapse-e" class="collapse show" role="tabpanel"
							aria-labelledby="heading-e">
							<form id="step-7" class="client-form" method="POST"
								autocomplete="off" th:object="${projectDetails}">
								<div class="card-body">
									<div class="row">
										<div id="detail_project"></div>

										<table class="table table-bordered mt-5 mb-3">
											<thead>
												<tr>
													<th scope="col" class="firstColumn" colspan="3">FEASIBILITY
														METRICS</th>
												</tr>
												<tr class="categoryTitle">
													<td class="firstColumn">EBITDA Payback</td>
													<td><span
														th:text="${#numbers.formatDecimal(projectDetails?.finalSummary?.payBackPBDIT, 1, 'COMMA', 2, 'POINT')}"></span></td>
														
												</tr>
												<tr class="categoryTitle">
													<td class="firstColumn">IRR</td>
													<td><span
														th:text="${#numbers.formatDecimal(projectDetails?.finalSummary?.irr, 1, 'COMMA', 2, 'POINT')}"> </span></td>
												</tr>
												<tr>
												<td colspan="4"><a href="javascript:void(0);"
															id="view-calculation">View Details</a></td>
												</tr>
											</thead>
										</table>
										<input type="hidden" name="id" th:value="${projectDetails?.id}" id="id"/> 
											<input 	type="hidden" id="reportId" name="reportId" th:value="${projectDetails?.reportId}">

										<table class="table table-bordered my-5">
											<thead>
												<tr>
													<th scope="col" style="width:250px;" class="firstColumn">&nbsp;</th>
													<th scope="col" style="width:150px;">suggested values</th>
													<th scope="col" style="width:180px;">Manual input values</th>
													<th scope="col" style="width:200px;">Comments</th>
													<th scope="col" style="width:120px;">Query</th>
												</tr>
												<tr class="categoryTitle">
													<th colspan="5" class="firstColumn"
														style="text-transform: uppercase;">revenue
														assumptions</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="firstColumn">Total Admits (Lacs) <br><a
														href="javascript:void(0);" class="float-right" id="total-admits">View Details</a></td>
													<td id="totalAdmits_finalSummary_cost">
													<span 
													th:text="${projectDetails?.finalSummary?.totalAdmits?.costType} != null ? ${#numbers.formatDecimal(projectDetails?.finalSummary?.totalAdmits?.costType / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.finalSummary?.totalAdmits?.costType, 1, 'COMMA', 2, 'POINT')} "> </span>
													</td>
													<td id="totalAdmits_finalSummary_inputValue">
													<span  
													th:text="${projectDetails?.finalSummary?.totalAdmits?.inputValues} != null ? ${#numbers.formatDecimal(projectDetails?.finalSummary?.totalAdmits?.inputValues / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.finalSummary?.totalAdmits?.inputValues, 1, 'COMMA', 2, 'POINT')} "
													> </span>
													</td>
													<!-- <td id="totalAdmits_finalSummary_comments">
													<span type="text" th:text="${projectDetails?.finalSummary?.totalAdmits?.comments}"> </span>
													</td> -->
													<td><span class="bmd-form-group">
															<span class="w-100 commentArea"
															th:text="${projectDetails?.finalSummary?.totalAdmits?.comments}">
														</span>
													</span></td>
													
													
													<!-- <td id="totalAdmits_finalSummary_comments">
													<span th:text="${projectDetails?.finalSummary?.totalAdmits?.comments}"> </span>
													</td>  -->
													<td id="totalAdmits"><span class="bmd-form-group">
															<!-- <span
															th:text="${projectDetails?.finalSummary?.totalAdmits?.comments}">
														</span> -->
															<button type="button"
																th:class="${#lists.isEmpty(projectDetails?.finalSummary?.totalAdmits?.query)} ? 'float-right btnQuery grayQueryBtn' : 'float-right btnQuery query-modal'">
																<img th:src="@{/images/queryBtnReply.png}"> Add
																Comment
															</button>
													</span></td>
												</tr>
												<tr>
													<td class="firstColumn">Occupancy <br><a
														href="javascript:void(0);" class="float-right" id="rev-occupany">View
															Details</a></td>

													<td id="occupancy_finalSummary_cost"><span
														th:text="${#numbers.formatDecimal(projectDetails?.finalSummary?.occupancy?.costType, 1, 'COMMA', 2, 'POINT')}">
													</span></td>
													<td id="occupancy_finalSummary_inputValue"><span
														th:text="${#numbers.formatDecimal(projectDetails?.finalSummary?.occupancy?.inputValues, 1, 'COMMA', 2, 'POINT')}">
													</span></td>
													<!-- <td id="occupancy_finalSummary_comments">
													<span th:text="${projectDetails?.finalSummary?.occupancy?.comments}"> </span>
													</td> -->
													<td><span class="bmd-form-group">
															<span class="w-100 commentArea"
															th:text="${projectDetails?.finalSummary?.occupancy?.comments}">
														</span>
													</span></td>
													<td id="occupancy"><span class="bmd-form-group">
															<button type="button"
																th:class="${#lists.isEmpty(projectDetails?.finalSummary?.occupancy?.query)} ? 'float-right btnQuery grayQueryBtn' : 'float-right btnQuery query-modal'">
																<img th:src="@{/images/queryBtnReply.png}"> Add
																Comment
															</button>
													</span>
													</td>
												</tr>
												<tr>
													<td class="firstColumn">ATP (INR) <br><a
														href="javascript:void(0);" class="float-right" id="rev-atp">View
															Details</a></td>

													<td id="atp_finalSummary_cost"><span
														th:text="${#numbers.formatDecimal(projectDetails?.finalSummary?.atp?.costType, 1, 'COMMA', 2, 'POINT')}">
													</span></td>
													<td id="atp_finalSummary_inputValue"><span
														th:text="${#numbers.formatDecimal(projectDetails?.finalSummary?.atp?.inputValues, 1, 'COMMA', 2, 'POINT')}">
													</span></td>
													<!-- <td id="atp_finalSummary_comments">
													<span th:text="${projectDetails?.finalSummary?.atp?.comments}"> </span>
													</td> -->
													<td><span class="bmd-form-group"> <span  class="w-100 commentArea"
															th:text="${projectDetails?.finalSummary?.atp?.comments}">
														</span>
													</span>
													</td>
													<td id="atp"><span class="bmd-form-group"> 
															<button type="button" id="exampleModal"
																th:class="${#lists.isEmpty(projectDetails?.finalSummary?.atp?.query)} ? 'float-right btnQuery grayQueryBtn' : 'float-right btnQuery query-modal'">
																<img th:src="@{/images/queryBtnReply.png}"> Add
																Comment

															</button>
													</span>
													</td>

												</tr>
												<tr>
													<td class="firstColumn">SPH (INR) <br><a
														href="javascript:void(0);" class="float-right" id="rev-sph">View
															Details</a></td>

													<td id="sph_finalSummary_cost"><span
														th:text="${#numbers.formatDecimal(projectDetails?.finalSummary?.sph?.costType, 1, 'COMMA', 2, 'POINT')}">
													</span></td>
													<td id="sph_finalSummary_inputValue"><span
														th:text="${#numbers.formatDecimal(projectDetails?.finalSummary?.sph?.inputValues, 1, 'COMMA', 2, 'POINT')}">
													</span></td>
													<!-- <td id="sph_finalSummary_comments"><span
														th:text="${projectDetails?.finalSummary?.sph?.comments}">
													</span></td> -->
													<td><span class="bmd-form-group">
														<span  class="w-100 commentArea" th:text="${projectDetails?.finalSummary?.sph?.comments}"></span>
														
														</span></td>
														<td id="sph"><span class="bmd-form-group">
														<button type="button" 
																th:class="${#lists.isEmpty(projectDetails?.finalSummary?.sph?.query)} ? 'float-right btnQuery grayQueryBtn' : 'float-right btnQuery query-modal'" >
																<img th:src="@{/images/queryBtnReply.png}"> Add
																Comment
															</button>
														</span></td>
												</tr>
												<tr>
													<td class="firstColumn">Ad Revenue (INR Lacs) <br><a
														href="javascript:void(0);" class="float-right" id="rev-ad-revenue">View
															Details</a></td>

													<td id="adRevenue_finalSummary_cost"><span
													th:text="${projectDetails?.finalSummary?.adRevenue?.costType} != null ? ${#numbers.formatDecimal(projectDetails?.finalSummary?.adRevenue?.costType/ 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.finalSummary?.adRevenue?.costType, 1, 'COMMA', 2, 'POINT')} "
													>
													</span></td>
													<td id="adRevenue_finalSummary_inputValue"><span
													th:text="${projectDetails?.finalSummary?.adRevenue?.inputValues } != null ? ${#numbers.formatDecimal(projectDetails?.finalSummary?.adRevenue?.inputValues / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.finalSummary?.adRevenue?.inputValues , 1, 'COMMA', 2, 'POINT')} "
													>
													</span></td>
													<!-- <td id="adRevenue_finalSummary_comments"><span
														th:text="${projectDetails?.finalSummary?.adRevenue?.comments}">
													</span></td> -->
													<td><span class="bmd-form-group">
													<span  class="w-100 commentArea" th:text="${projectDetails?.finalSummary?.adRevenue?.comments}"> </span>
															</span></td>
													<td id="adRevenue"><span class="bmd-form-group">
															<button type="button" 
																th:class="${#lists.isEmpty(projectDetails?.finalSummary?.adRevenue?.query)} ? 'float-right btnQuery grayQueryBtn' : 'float-right btnQuery query-modal'" >
																<img th:src="@{/images/queryBtnReply.png}"> Add
																Comment
															</button>
															</span></td>

												</tr>
												<tr>
													<td class="firstColumn">Cogs %<br><a
														href="javascript:void(0);" class="float-right" id="rev-sph">View
															Details</a></td>

													<td id="cogs_suggestedValue"><span
													th:text="${projectDetails?.cogs?.suggestedValue} != null ? ${#numbers.formatDecimal(projectDetails?.cogs?.suggestedValue, 1, 'COMMA', 2, 'POINT')} : 0.00"
													>
													</span></td>
													<td id="cogs_inputValue"><span
													th:text="${projectDetails?.cogs?.inputValues } != null ? ${#numbers.formatDecimal(projectDetails?.cogs?.inputValues, 1, 'COMMA', 2, 'POINT')} : 0.00"
													>
													</span></td>
													<td><span class="bmd-form-group">
													<span  class="w-100 commentArea" th:text="${projectDetails?.cogs?.comments}"> </span>
															</span></td>
													<td id="cogsQuery"><span class="bmd-form-group">
															<button type="button" id="cogsQueryButton"
																th:class="${#lists.isEmpty(projectDetails?.cogs?.query)} ? 'float-right btnQuery grayQueryBtn' : (${projectDetails?.cogs?.lastQueryUserId==#strings.substring(session?.userId,1,(#strings.length(session?.userId)-1))}?'float-right greenBtnQuery query-modal':'float-right btnQuery query-modal')">
																<img id="cogsImg" th:src="${projectDetails?.cogs?.lastQueryUserId==#strings.substring(session?.userId,1,(#strings.length(session?.userId)-1))}?@{/images/queryBtnReply-green.png}:@{/images/queryBtnReply.png}"> Add
																Comment
															</button>
															</span></td>

												</tr>
											</tbody>
											<thead>
												<tr class="categoryTitle">
													<th scope="col" colspan="5" class="firstColumn"
														style="text-transform: uppercase;">cost parameters</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="firstColumn">Personnel Expenses <br>(INR Lacs)<br>
														<a href="javascript:void(0);" class="float-right" id="personnel-expenses">View
															Details</a>
													</td>

													<td id="expenses_costType_Final_summary"><span
													th:text="${projectDetails?.finalSummary?.personalExpense?.costType } != null ? ${#numbers.formatDecimal(projectDetails?.finalSummary?.personalExpense?.costType / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.finalSummary?.personalExpense?.costType , 1, 'COMMA', 2, 'POINT')} "
													></span></td>
														
														
													<td id="expenses_inputValue_Final_summary"><span
													th:text="${projectDetails?.finalSummary?.personalExpense?.inputValues } != null ? ${#numbers.formatDecimal(projectDetails?.finalSummary?.personalExpense?.inputValues / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.finalSummary?.personalExpense?.inputValues , 1, 'COMMA', 2, 'POINT')} "
													></span></td>
													
													<!-- <td id="expenses_comments_Final_summary"><span
														th:text="${projectDetails?.finalSummary?.personalExpense?.comments}">
													</span></td> -->
													<td><span class="bmd-form-group">
													<span  class="w-100 commentArea" th:text="${projectDetails?.finalSummary?.personalExpense?.comments}"> </span>
														</span></td>
													<td id="personalExpense"><span class="bmd-form-group">
															<button type="button" 
																th:class="${#lists.isEmpty(projectDetails?.finalSummary?.personalExpense?.query)} ? 'float-right btnQuery grayQueryBtn' : 'float-right btnQuery query-modal'" >
																<img th:src="@{/images/queryBtnReply.png}"> Add
																Comment
															</button>
														</span></td>
												</tr>
												<tr>
													<td class="firstColumn">Electricity & water <br>expenses
														(INR Lacs)<br> <a href="javascript:void(0);" class="float-right" id="electricity-water">View
															Details</a>
													</td>
													<td id="electricity_cost_Final_summary"><span
													th:text="${projectDetails?.finalSummary?.electricityWaterExpanse?.costType } != null ? ${#numbers.formatDecimal(projectDetails?.finalSummary?.electricityWaterExpanse?.costType / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.finalSummary?.electricityWaterExpanse?.costType, 1, 'COMMA', 2, 'POINT')} "
													></span>
													</td>
													<td id="electricity_inputValue_Final_summary"><span
													th:text="${projectDetails?.finalSummary?.electricityWaterExpanse?.inputValues } != null ? ${#numbers.formatDecimal(projectDetails?.finalSummary?.electricityWaterExpanse?.inputValues / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.finalSummary?.electricityWaterExpanse?.inputValues, 1, 'COMMA', 2, 'POINT')} "
													></span>
													</td>
													<!-- <td id="electricity_comments_Final_summary"><span
														th:text="${projectDetails?.finalSummary?.electricityWaterExpanse?.comments}"></span>
													</td> -->
													<td><span class="bmd-form-group">
															<span  class="w-100 commentArea" th:text="${projectDetails?.finalSummary?.electricityWaterExpanse?.comments}"></span>
																	</span>
													</td>
													<td id="electricityWaterExpanse"><span class="bmd-form-group">
																<button type="button" 
																th:class="${#lists.isEmpty(projectDetails?.finalSummary?.electricityWaterExpanse?.query)} ? 'float-right btnQuery grayQueryBtn' : 'float-right btnQuery query-modal'" >
																<img th:src="@{/images/queryBtnReply.png}"> Add
																Comment
															</button>
																	</span>
													</td>
												</tr>
												<tr>
													<td class="firstColumn">Total R&M expenses <br>(INR Lacs)<br>
														<a href="javascript:void(0);" class="float-right" id="rm-expenses">View
															Details</a>
													</td>
													<td id="RM_cost_Final_summary"><span
													th:text="${projectDetails?.finalSummary?.totalRmExpenses?.costType  } != null ? ${#numbers.formatDecimal(projectDetails?.finalSummary?.totalRmExpenses?.costType  / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.finalSummary?.totalRmExpenses?.costType , 1, 'COMMA', 2, 'POINT')} "
													></span>
													</td>
													<td id="RM_inputValue_Final_summary"><span
													th:text="${projectDetails?.finalSummary?.totalRmExpenses?.inputValues  } != null ? ${#numbers.formatDecimal(projectDetails?.finalSummary?.totalRmExpenses?.inputValues  / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.finalSummary?.totalRmExpenses?.inputValues , 1, 'COMMA', 2, 'POINT')} "
													></span>
													</td>
													<!-- <td id="RM_comments_Final_summary"><span
														th:text="${projectDetails?.finalSummary?.totalRmExpenses?.comments}"></span></td> -->
														
														<td><span class="bmd-form-group">
														<span  class="w-100 commentArea" th:text="${projectDetails?.finalSummary?.totalRmExpenses?.comments}"></span>
																
																</span>
														</td>
														<td id="totalRmExpenses"><span class="bmd-form-group">
					
																<button type="button" 
																th:class="${#lists.isEmpty(projectDetails?.finalSummary?.totalRmExpenses?.query)} ? 'float-right btnQuery grayQueryBtn' : 'float-right btnQuery query-modal'" >
																<img th:src="@{/images/queryBtnReply.png}"> Add
																Comment
															</button>
																
																</span>
														</td>
												</tr>
											 <tr>
													<td class="firstColumn">Total overhead expenses <br>(INR Lacs)
														<!-- <a href="javascript:void(0);" class="float-right">View
															Details</a> -->
													</td>

													<td id="overhead_cost_Final_summary">
													<span 
													th:text="${projectDetails?.totalOverheadSuggestedSum } != null ? ${#numbers.formatDecimal(projectDetails?.totalOverheadSuggestedSum  / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.totalOverheadSuggestedSum , 1, 'COMMA', 2, 'POINT')} "
													></span>
													</td>
													<td id="overhead_inputValue_Final_summary">
													<span 
													th:text="${projectDetails?.totalOverheadInputSum } != null ? ${#numbers.formatDecimal(projectDetails?.totalOverheadInputSum  / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.totalOverheadInputSum , 1, 'COMMA', 2, 'POINT')} "
													></span></td>
													<td id="overhead_comments_Final_summary">
													<span th:text="${projectDetails?.finalSummary?.totalAdmits?.comments}"></span>
													</td>
													<td></td>
												</tr> 
											</tbody>
										</table>
										<div class="title_strip mb-0">
											<h5>lease terms</h5>
										</div>
										<table class="table table-bordered mb-5 mt-0 fixed-layout">
											<thead>
												<tr class="categoryTitle">
													<td class="firstColumn">Lease period (years)</td>

													<td><span class="bmd-form-group"
														th:text="${projectDetails?.finalSummary?.leasePeriod}"></span>
													</td>

												</tr>
												<tr class="categoryTitle">
													<td class="firstColumn">Annual Rent (INR Lacs) <br><a
														href="javascript:void(0);" class="float-right" id="annual-rent">View
															Details</a>
													</td>

													<td><span class="bmd-form-group"
														th:text="${projectDetails?.finalSummary?.annualRent} != null ? ${#numbers.formatDecimal(projectDetails?.finalSummary?.annualRent / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.finalSummary?.annualRent, 1, 'COMMA', 2, 'POINT')}"></span>
													</td>

												</tr>
												<tr class="categoryTitle">
													<td class="firstColumn">Annual CAM (INR Lacs)</td>

													<td><span class="bmd-form-group"
														th:text="${projectDetails?.finalSummary?.annualCam} != null ? ${#numbers.formatDecimal(projectDetails?.finalSummary?.annualCam / 100000, 1, 'COMMA', 2, 'POINT')} : ${#numbers.formatDecimal(projectDetails?.finalSummary?.annualCam, 1, 'COMMA', 2, 'POINT')} ">
													</span></td>


												</tr>
											</thead>
										</table>
										<div class="title_strip mb-0">
											<h5>capex assumptions</h5>
										</div>
										<table class="table table-bordered mb-0 mt-0">
											<thead>
												<tr class="categoryTitle">
													<td class="firstColumn">Total Project Cost (INR Lacs)</td>
													<td><span class="bmd-form-group"> <span
															id="final_cost_summary"
															th:text="${#numbers.formatDecimal(projectDetails?.projectCost, 1, 'COMMA', 2, 'POINT')}"></span>
													</span></td>
													<td id="totalProjectCost"><span class="bmd-form-group">
															 <button type="button" 
																th:class="${#lists.isEmpty(projectDetails?.finalSummary?.totalProjectCost?.query)} ? 'float-right btnQuery grayQueryBtn' : 'float-right btnQuery query-modal'" >
																<img th:src="@{/images/queryBtnReply.png}"> Add
																Comment
															</button>
															
															</span>
													</td>

												</tr>
												<tr class="categoryTitle">
													<td class="firstColumn">Security Deposit (INR Lacs)</td>
													<td><span class="bmd-form-group"> <span
															id="final_cost_summary"
															th:text="${#numbers.formatDecimal(projectDetails?.lesserLesse?.rentSecurityDepositForFixedZeroMg/100000, 1, 'COMMA', 2, 'POINT')}"></span>
													</span></td>
												</tr>
												<tr class="categoryTitle">
													<td class="firstColumn">Advance Rent (INR Lacs)</td>
													<td><span class="bmd-form-group"> <span
															id="final_cost_summary"
															th:text="${#numbers.formatDecimal(projectDetails?.lesserLesse?.advanceRent/100000, 1, 'COMMA', 2, 'POINT')}"></span>
													</span></td>
												</tr>
												<tr class="categoryTitle">
													<td class="firstColumn">Total Project Cost Inc SD and Inc Advance Rent (INR Lacs)</td>
													<td><span class="bmd-form-group"> <span
															id="final_cost_summary"
															th:text="${#numbers.formatDecimal((projectDetails?.projectCost + projectDetails?.lesserLesse?.advanceRent/100000 + projectDetails?.lesserLesse?.rentSecurityDepositForFixedZeroMg/100000), 1, 'COMMA', 2, 'POINT')}"></span>
													</span></td>
												</tr>
												<tr class="categoryTitle">
													<td class="firstColumn">Project Cost Per Screen Inc SD and Inc Advance Rent (INR Lacs)</td>
													<td><span class="bmd-form-group"> <span
															id="final_cost_summary"
															th:text="${#numbers.formatDecimal((projectDetails?.projectCost + projectDetails?.lesserLesse?.advanceRent/100000 + projectDetails?.lesserLesse?.rentSecurityDepositForFixedZeroMg/100000)/projectDetails?.noOfScreens, 1, 'COMMA', 2, 'POINT')}"></span>
													</span></td>
												</tr>
												<tr class="categoryTitle">
													<td colspan="4" style="border-bottom-style: hidden;"
														id="viewModalData"><a href="javascript:void(0);"
														id="viewDetailModal" data-toggle="modal"
														data-target="#viewDetailModal">View Project Costs</a></td>
												</tr>
											</thead>
										</table>
										
										<div class="title_strip mb-0">
											<h5>Executive Note</h5>
										</div>
										 <table class="table table-bordered mb-5 mt-0 fixed-layout">
											<thead>
												<tr class="categoryTitle" th:each="instance : ${projectDetails.executiveNoteMap}">
													<td style="width:400px;font-size:17px" th:text="${instance.key}"></td>
													<td><span style="font-size:17px" th:text="${instance.value}"></span></td>
												</tr>
											</thead>
										</table>
										<p style="margin-top:20px;margin-left:30px" th:text="${projectDetails?.userDesignation} + ' Comment'"></p>
										<textarea rows="6" cols="160" style="margin-top: 10px;margin-left:30px;margin-right:10px"
											name="executiveNote"
											id="executiveNote"
											th:text="${projectDetails?.executiveNote}">
                                        </textarea>
                                        <button type="button" id="saveExecutiveNote"
										   class="" style="color: white; background-color: green; border: none;padding-top:5px;padding-bottom:5px; padding-left: 10px;padding-right:10px; margin-left: 30px;margin-top:10px;border-radius: 2px">SAVE
										</button>
										
										<!-- ADVANCE RENT TABLE START HERE -->
                                        
                                    <!--     <div class="title_strip">
											<h5>Advance Rent</h5>
										</div>

										<div class="col-lg-6 col-sm-6" id="lesserLesse_advance_rent">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Advance Rent (INR)
												    <span style="color: red;"></span>
													<span class="text-danger" id="lesserLesse_advanceRentErr"></span></label> 
													<input type="text"
													class="form-control decimalLimit" id="lesserLesse_advanceRent" name="lesserLesse.advanceRent"
													placeholder="Enter value"
													th:value="${projectDetails?.lesserLesse?.advanceRent}">
											</fieldset>
										</div>

										<div class="col-lg-6 col-sm-6 blank-field">
											<fieldset class="form-group"></fieldset>
										</div>

										<div class="col-lg-6 col-sm-6" id="lesserLesse_advanceRent_period">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Period (years)
													<span style="color: red;"></span>
													 <span class="text-danger" id="lesserLesse_advanceRentPeriodErr"></span></label> 
													 <input type="text" class="form-control numberLimit"
													id="lesserLesse_advanceRentPeriod"
													name="lesserLesse.advanceRentPeriod"
													 placeholder="Enter value"
													th:value="${projectDetails?.lesserLesse?.advanceRentPeriod}">
											</fieldset>
										</div>

										<div class="col-lg-12 col-sm-12 mb-3"
											id="advanceRent_fixed_table">
											<h5 class="viewYearDetails">
												ADJUSTMENT DETAILS <i class="fas fa-angle-up"></i>
											</h5>
											<span style="color: red;"></span>
											<span class="text-danger" id="advanceRent_fixed_tableErr"></span>
											<div class="collapse_div" id="advanceRent_fixed_table_collapse">
												<div class="card card-body fixedTable_content p-0">
													<div id="table-scroll" class="table-scroll">

														<div class="table-wrap">
															<table class="main-table" id="tblAdvanceRent">
																<thead id="theadAdvanceRentTable">
																</thead>
																<tbody id="tbodyAdvanceRentTable">
																</tbody>
															</table>
														</div>

													</div>
												</div>
											</div>
										</div> -->
										
										<!-- ADVANCE RENT TABLE END HERE -->
				
										<div th:if="${projectDetails?.status==108}" class="w-100">
											<div class="title_strip mb-0" >
												<h5>Reject Reason</h5>
											</div>
											<div class="card-body" >
												<span th:text="${projectDetails?.rejectReasonMsg} != null ? ${projectDetails?.rejectReasonMsg} : ''"></span>
											
											</div>
										</div>
									</div>
								</div>

								<div class="card-body">
									<div class="p-4 buttonGroup_nextCancelSave">
										<a th:href="@{/report/files/} +${projectDetails?.id}"><button
												type="button" class="cancelBtn btn btn-raised btn-secondary"
												id="downloadFullReportBtn">download full report</button></a>
												<!--
												<a><button
												type="button" style="margin-left:20px;background-color:#ffc906" class=""
												>DOWNLOAD</button></a> -->
										<button type="button" 
											class="nextBtn btn-raised btn btn-success sendForApproval"
											th:if="${projectDetails?.status < 105}">SUBMIT FOR APPROVAL</button>
										 <button type="button" id="update" th:if="${projectDetails?.status == 108}"
											class="saveCloseBtn btn btn-raised btn-secondary">
											UPDATE
											<div class="ripple-container"></div>
										</button> 
									</div>
								</div>
							</form>
						</div>

					</div>
				</div>
				
				
					<div th:insert="projectDetail/summarySheetModal :: summarySheet"></div>
				<!-- Modal -->
				<div class="modal fade" id="approverModal" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document"
						style="max-width: 500px;">
						<div class="modal-content" style="height: auto;">
							<div class="modal-header">
								<p class="modal-title" id="exampleModalLongTitle">Submit</p>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body text-center">
								<div class="col-md-12 my-4">
									<h5>Do you want to approve</h5>
								</div>
								<input type="hidden" id="hiddenId" />
							</div>
							<div class="modal-footer text-center"
								style="height: auto; display: block;">
								<button type="button"
									class="saveCloseBtn btn btn-raised btn-secondary"
									data-dismiss="modal">Close</button>
								<button type="button" class="nextBtn btn-raised btn btn-primary"
									id="save">Ok</button>
							</div>
				
						</div>
					</div>
				</div>

			</div>

		</div>
	</section>


</div>







<div th:fragment="customJs">

<script type="text/javascript" th:src="@{/./js/post-signing-step-7.js}"></script>
<script type="text/javascript" th:src="@{/./js/view-modal.js}"></script>


</div>