<style>
.select-dropdown{display:none}
.select-dropdown{height:300px;overflow-y:scroll}
.select-dropdown ul{
    position: absolute;
    background: #fff;
    height: 200px;
    z-index: 99;
    overflow-y: auto;
    padding: 0 !important;
    box-shadow: 0 0 4px rgba(0,0,0,0.1), 0 5px 20px rgba(0,0,0,0.05);
}
</style>


<div th:fragment="customCss">
	<link rel="stylesheet"
		href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
</div>
<div th:fragment="content">
	<section class="mainContainer">
		<div class="col-md-12 col-sm-12">
			<div id="dasboardTabsParent">
				<div class="title_strip mb-0">
					<h5>BD Report Assign</h5>
				</div>
				<div class="dataSourceUploadParent px-3 pt-4 pb-3">
			</span>
				<form method="POST" enctype="multipart/form-data" action="#">
					<div class="row">
						<div class="col-lg-4 col-sm-4 mb-2">
							
							<select id="bd1" name="type1">
			                         <option value="0"> Select BD User </option>
			                         <option th:each="country : ${bduser}"
			                            th:value="${country.id}"
			                            th:utext="${country.username}"/>
			                  </select>
						</div>
						
						
						<div class="col-lg-4 col-sm-4 mb-2">
							<select id="bd2" name="type2" >
                         <option value="0"> Select BD User </option>
                         <option th:each="country : ${bduser}"
                            th:value="${country.id}"
                            th:utext="${country.username}"/>
					</select>	
						</div>
						<div class="col-lg-4 col-sm-4 mb-2">
							<div class="upload-btn-wrapper">
								<button id="assignbtn" class="btn mb-0"  onclick="reload_cart();return false;">
									<img src="images/uploadIcon-white.png">Assign to User
								</button>
							</div>
						</div>
						</div>				
				</form>
			</div>
			</div>
			

			
			<div id="dasboardTabsParent" class="feasibilityReports">
				<div class="innerTableParent OperatingAssumptions mt-4">
					<div class="heading_title_strip mb-3"
						style="background: transparent; padding: 7px 0 5px;">
						<h3>Feasibility reports</h3>
					</div>
					<div class="table_parent">
						<div class="table-responsive">
							<table class="table table-bordered mb-5 mt-3" id="data-table">
								<thead>
									<tr>
										<th scope="col" class="columnDefault first_column">Report ID</th>
										<th scope="col" class="columnDefault second_column">project Name</th>
										<th scope="col" class="columnDefault second_column">project Type</th>
										<th scope="col" class="columnDefault status_field">Status</th>
										<th scope="col" class="columnDefault las_update_field">Creation Date</th>
										<th scope="col" class="columnDefault actions_field last_column">Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${projectDetails != null }"
										th:each="project,iterator : ${projectDetails}">
										<td class="first_column">
										<a
											th:href="@{pre-handover/operating-assumptions/}+${project.id}"
											sec:authorize="hasAnyRole('ROLE_OPERATION_TEAM', 'ROLE_PROJECT_TEAM')">
												<span th:if="${project.reportId != null }"
												th:text="${project.reportId}"></span>

										</a>
										 <!-- <a th:href="@{project/getProjectId/}+${project.id}"
											sec:authorize="hasAnyRole('ROLE_BD', 'ROLE_ADMIN')"> <span
												th:if="${project.reportId != null }"
												th:text="${project.reportId}"></span>
										</a>  -->
										<a th:if="${project?.feasibilityState == 'pre_signing' }"
										th:href="@{project/getProjectId/}+${project.id}"
											sec:authorize="hasAnyRole('ROLE_BD', 'ROLE_ADMIN')"> <span
												th:if="${project.reportId != null }"
												th:text="${project.reportId}"></span>
										</a> 
										
										<a th:if="${project?.feasibilityState == 'post_signing' }"
										th:href="@{post-signing/getProjectId/}+${project.id}"
											sec:authorize="hasAnyRole('ROLE_BD', 'ROLE_ADMIN')"> <span
												th:if="${project.reportId != null }"
												th:text="${project.reportId}"></span>
										</a> 
										
											<a th:if="${project?.feasibilityState == 'pre_handover' }"
											th:href="@{pre-handover/getProjectId/}+${project.id}"
											sec:authorize="hasAnyRole('ROLE_BD', 'ROLE_ADMIN')"> <span
												th:if="${project.reportId != null }"
												th:text="${project.reportId}"></span>
										</a> 
										
										<a th:href="@{project/review/}+${project.id}"
											sec:authorize="hasAnyRole('ROLE_APPROVER')"> <span
												th:if="${project.reportId != null }"
												th:text="${project.reportId}"></span>
										</a></td>
										<td class="second_column"><span
											th:if="${project.projectName != null }"
											th:text="${project.projectName}"></span></td>

										<td class="second_column"><span
											th:if="${project?.feasibilityState != null }"
											th:text="${project?.feasibilityState=='pre_signing'} ? 'Pre-Signing' : (${project.feasibilityState == 'post_signing'} ? 'Post-Signing' : 'Pre-Handover')"></span></td>

									
										<!-- <td class="status_column"><span
											
											th:text="${project?.dashboardStatusName}"></span>
										</td> -->
										<td class="status_column" th:if="${project?.status == 200}"><span th:text="Accepted"></span></td>
										<td class="status_column" th:if="${project?.status == 410 or project?.status == 210 or project?.status == 310}"><span th:text="Archived"></span></td>
										<td class="status_column" th:if="${project?.status == 105 or project?.status == 106 or project?.status == 107 or project?.status == 109 or project?.status == 110 or project?.status == 111 or project?.status == 112 or project?.status == 113}">
										<span  th:text="'Approval Pending'"></span></td>
										<td class="status_column" th:if="${project?.status == 108 and project?.status == false}"><span  th:text="'Approval Pending'"></span></td>
										<td class="status_column" th:if="${project?.status == 91 or project?.status == 92 or project?.status == 93 or project?.status == 94 or project?.status == 95 or project?.status == 96}">
										<span th:text="Draft"></span>
										</td>
										
										<td class="lastUpdate_column"><span
											th:if="${project.createdDate != null }"
											th:text="${#dates.format(project.createdDate, 'dd-MMM-yyyy')}"></span>
										</td>
										
										<!-- Last Column  Start-->
										
										<td class="text-center">
										<input type="checkbox" th:value="${project.reportIdVersion}" name="sport">
										</td>
										
									</tr>

								</tbody>

							</table>
						</div>
					</div>



				</div>
			</div>


			
	
		</div>
	</section>
</div>

<div th:fragment="customJs">
	<script th:src="@{/./js/upload-data-source.js}"></script>
	<!-- <script>
		function initMap() {

			var myOptions = {
				zoom : 8,
				center : {
					lat : 20.5937,
					lng : 78.9629
				},
				mapTypeId : google.maps.MapTypeId.HYBRID
			}

			const map = new google.maps.Map(document.getElementById('map'),
					myOptions);
		}
	</script> -->
	<script type="text/javascript">
	
	$(document).ready( function () {
	    $('#data-table').DataTable();
	} );
	$('#bd2').change(function(){
		$("#bd1 option[value='"+$('#bd2').val()+"']").remove();
	});
var selected=	window.location.href.split('/');
if(selected[5]=== undefined)
	{}
else{
	$("#bd1").val(selected[5]);
	$("#bd2 option[value='"+selected[5]+"']").remove();
}
	$('#bd1').change(function(){
		var bdid1 = $('#bd1').val(); 
	    if( bdid1 == '0'){
	    } else 
	    {
	    location.href = selected[0]+"//"+selected[2]+"/dashboard/getbdreport/"+bdid1   
	}
	});
	</script>
	<div th:fragment="customJs"> 
	<script th:src="@{/./js/bdSetting.js}"></script>
	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<!-- <script th:src="@{/./js/bd.js}"></script> -->
	<!-- 	<script>
	$('#dateRange').bootstrapMaterialDatePicker({ weekStart : 0 });
	</script> -->

</div>
</div>
