<div th:fragment="customCss"></div>

<div th:fragment="content">
	<section class="mainContainer">
		<div class="col-md-12 col-sm-12">
			<div class="title_strip mb-0">
				<h5>Data upload</h5>
			</div>

			<div class="dataSourceUploadParent py-4">
				<form method="POST" enctype="multipart/form-data" action="#"
					th:action="@{/upload/files}" th:object="${UploadFilesMapper}">
					<div class="row">
						<div class="col-lg-4 col-sm-4 mb-3">
							<select name="type">
								<option value="">select datasource</option>
								<option value="1001">Competition Master</option>
								<option value="1002">BBDO</option>
								<!-- <option value="1003">Cinema-Master</option> -->
								<option value="1004">City Tier</option>
								<option value="1005">Navision</option>
								<option value="1006">Cinema Category</option>
							</select>
						</div>

						<div class="col-lg-8 col-sm-8 mb-3">
							<div class="upload-btn-wrapper">
								<button class="btn">
									<img src="images/uploadIcon-white.png">File to upload
								</button>
								<input id="chooseFile" type="file" name="file" spellcheck="true">
								<input id="uploadFile" class="" type="submit" value="Upload"
									disabled />
							</div>
						</div>

				</form>
			</div>
			
			
			<!-- <div class="dataSourceUploadParent py-4">
				<form method="POST" enctype="multipart/form-data" action="#"
					th:action="@{/upload/projectCostSummary}" th:object="${UploadFilesMapper}">
					<div class="row">
						<div class="col-lg-4 col-sm-4 mb-3">
							
						</div>

						<div class="col-lg-8 col-sm-8 mb-3">
							<div class="upload-btn-wrapper">
								<button class="btn">
									<img src="images/uploadIcon-white.png">File to upload
								</button>
								<input id="chooseFile" type="file" name="file" spellcheck="true">
								<input id="uploadFile" class="" type="submit" value="Upload"
									 />
							</div>
						</div>

					 <div id="map" style="height: 400px; width: 500px;"></div>
				</form>
			</div> -->
	
		</div>
	</section>
</div>

<div th:fragment="customJs">
	<script th:src="@{/./js/upload-data-source.js}"></script>
	<!-- <script>
		function initMap() {

			var myOptions = {
				zoom : 8,
				center : {
					lat : 20.5937,
					lng : 78.9629
				},
				mapTypeId : google.maps.MapTypeId.HYBRID
			}

			const map = new google.maps.Map(document.getElementById('map'),
					myOptions);
		}
	</script> -->
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCatyZLSASD1xIuiOctecSipsxqeJgPZLM&callback=initMap">
	</script>
</div>