
<div th:fragment="header">
	<ul id="tabs" class="nav nav-tabs responsive" role="tablist">
		<li class="nav-item" >
			<a id="tab_A"  th:href ="${projectId != null} ?  @{/pre-handover/development-details/}+${projectId} : '#'" 
				class="nav-link" th:classappend="${activeStep1}" role="tab">Development<br>
					Details
			</a>
		</li>

		<li class="nav-item"><a id="tab_B"  th:href ="${disableHeader != true} ?  @{/pre-handover/developer-details/}+${projectId} : '#'"
			class="nav-link" th:classappend="${activeStep2}" role="tab">developer<br>
				details
		</a></li>

		<li class="nav-item"><a id="tab_C"  th:href ="${disableHeader != true} ?  @{/pre-handover/upcoming-cinemas/}+${projectId} : '#'"
			class="nav-link step-3" th:classappend="${activeStep3}"  role="tab">Upcoming <br>Cinemas
		</a></li>

		<li class="nav-item"><a id="tab_D"  th:href ="${disableHeader != true} ?  @{/pre-handover/lessor-lessee-schedule/}+${projectId} : '#'" 
			class="nav-link step-4" th:classappend="${activeStep4}"  role="tab">Lessor
				Lessee <br>schedule
		</a></li>

		<li class="nav-item"><a id="tab_E"  th:href ="${disableHeader != true} ?  @{/pre-handover/project-layout-assumptions/}+${projectId} : '#'"  
			class="nav-link step-5" th:classappend="${activeStep5}"  role="tab">Project
				layout <br>assumptions
		</a></li>

		<li sec:authorize="hasAnyRole('ROLE_BD')" class="nav-item" th:if="${(projectDetails?.isSendForOpsAndProject==true && projectDetails?.isOperationSubmit==true && projectDetails?.isProjectSubmit==true) or projectDetails?.isRejected ==true  }"><a id="tab_F"  th:href ="${disableHeader != true} ?  @{/pre-handover/operating-assumptions/}+${projectId} : '#'"  
			class="nav-link step-6" th:classappend="${activeStep6}"  role="tab">Operating <br>
				Assumptions
		</a></li>
		
		<li sec:authorize="hasAnyRole('ROLE_OPERATION_TEAM', 'ROLE_PROJECT_TEAM')" class="nav-item" th:if="${projectDetails?.status>=95}"><a id="tab_F"  th:href ="${projectId != null} ?  @{/pre-handover/operating-assumptions/}+${projectId} : '#'"  
			class="nav-link step-6" th:classappend="${activeStep6}"  role="tab">Operating <br>
				Assumptions
		</a></li>
		

		<li sec:authorize="hasAnyRole('ROLE_BD')" class="nav-item" th:if="${projectDetails?.status>=96}"><a id="tab_G"  th:href ="${projectId != null} ?  @{/pre-handover/summary-sheet/}+${projectId} : '#'"  
			class="nav-link step-7" th:classappend="${activeStep7}"  role="tab">Summary<br>
				sheet
		</a></li>
		<li sec:authorize="hasAnyRole('ROLE_OPERATION_TEAM','ROLE_PROJECT_TEAM')" class="nav-item" th:if="${projectDetails?.status>=105}"><a id="tab_G"  th:href ="${projectId != null} ?  @{/pre-handover/summary-sheet/}+${projectId} : '#'"  
			class="nav-link step-7" th:classappend="${activeStep7}"  role="tab">Summary<br>
				sheet
		</a></li>
		
		
		<li sec:authorize="hasAnyRole('ROLE_BD')" class="nav-item" th:if="${projectDetails?.status>=96}"><a id="tab_H"  th:href ="${projectId != null} ?  @{/pre-handover/get-pandl-tab/}+${projectId} : '#'"  
			class="nav-link step-8" th:classappend="${activeStep8}"  role="tab">P&ampL<br> Tab
		</a></li>
		<li sec:authorize="hasAnyRole('ROLE_OPERATION_TEAM','ROLE_PROJECT_TEAM')" class="nav-item" th:if="${projectDetails?.status>=105}"><a id="tab_H"  th:href ="${projectId != null} ?  @{/pre-handover/get-pandl-tab/}+${projectId} : '#'"  
			class="nav-link step-8" th:classappend="${activeStep8}"  role="tab">P&ampL<br>Tab
		</a></li>

	</ul>
</div>