<div th:fragment="customCss"></div>
<div th:fragment="content">

	<section class="mainContainer">
		<div class="col-md-12 col-sm-12">


			<div class="tabsParent">
				<div th:insert="preHandover/header :: header"></div>

				<div id="content" class="tab-content" role="tablist">

					<div id="step-4" class=" tab-pane fade show active" role="tabpanel"
						aria-labelledby="tab_D">
						<div id="collapse-B" class="collapse show" role="tabpanel"
							aria-labelledby="heading-B">
							<div class="card-body">
								<form id="lesserLesseeForm" class="client-form"
								 th:object="${projectDetails}" method="POST" autocomplete="off">

									<div class="row">
										<div id="stickID" style="top: 0;">
											<label for="exampleInputEmail1" class="bmd-label-static">Report
												ID</label> <input type="hidden" name="reportId"
												th:value="${projectDetails?.reportId}">
											<p class="reportIdText"
												th:text="${projectDetails == null} ? ${reportId} : ${projectDetails?.reportId}"></p>
										</div>
										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<input type="hidden" id="id" name="id" th:value="${projectDetails?.id}" /> <label
													class="bmd-label-static" for="date">Lease period
													(years)<span style="color: red;"> *</span> <span class="text-danger" id="leaseperiodError"></span></label>
													<input type="text" th:disabled="${user != null}"
													class="form-control leaseLimit" id="leasePeriod"
													name="lesserLesse.leasePeriod" placeholder="Enter Value"
													onkeyup="this.value = this.value.replace(/[^0-9.]/, '')"
													th:value="${projectDetails?.lesserLesse?.leasePeriod}">
											</fieldset>
										</div>

										<div class="col-lg-6 col-sm-6 blank-field">
											<fieldset class="form-group"></fieldset>
										</div>

										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">PVR Lock in
													Period (years)<span style="color: red;"> *</span> <span class="text-danger" id="pvrLockError"></span></label> 
													<input type="text" class="form-control leaseLimit" id="pvrLock"
													name="lesserLesse.pvrLockInPeriod"
													placeholder="Enter Value"
													onkeyup="this.value = this.value.replace(/[^0-9.]/, '')"
													th:value="${projectDetails?.lesserLesse?.pvrLockInPeriod}">
											</fieldset>
										</div>

										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Developer
													Lock in Period (years)<span style="color: red;"> *</span> <span class="text-danger" id="developer1Error"></span></label>
													<input type="text" class="form-control leaseLimit"
													id="deve1" name="lesserLesse.devloperLockedInPeriod"
													placeholder="Enter Value"
													onkeyup="this.value = this.value.replace(/[^0-9.]/, '')"
													th:value="${projectDetails?.lesserLesse?.devloperLockedInPeriod}">
											</fieldset>
										</div>

										<div class="title_strip">
											<h5>Area</h5>
										</div>

										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Carpet area
													(sq. ft.)<span style="color: red;"> *</span> <span class="text-danger" id="carpetAreaError"></span></label> <input type="text" class="form-control decimalLimit"
													id="carpetArea" name="lesserLesse.carpetArea"
													placeholder="Enter value"
													th:value="${projectDetails?.lesserLesse?.carpetArea}">
											</fieldset>
										</div>

										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Loading
													percentage<span style="color: red;"> *</span> <span class="text-danger" id="loadingPercentageError"></span></label> <input required="required" type="text"
													class="form-control decimalLimit" id="loadingPercentage"
													name="lesserLesse.loadingPercentage"
													placeholder="Enter Value"
													th:value="${projectDetails?.lesserLesse?.loadingPercentage}">
											</fieldset>
										</div>

										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Gross Leasable
													area (sq. ft.)<span style="color: red;"> *</span> <span class="text-danger" id="leasableAreaError"></span></label> <input type="text" class="form-control decimalLimit"
													id="leasableArea" name="lesserLesse.leasableArea"
													placeholder="Enter value"
													th:value="${projectDetails?.lesserLesse?.leasableArea}">
											</fieldset>
										</div>

										<div class="col-lg-6 col-sm-6 blank-field">
											<fieldset class="form-group"></fieldset>
										</div>

										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Covered area
													(sq. ft.)<span style="color: red;"> *</span> <span class="text-danger" id="coveredAreaError"></span></label> <input type="text" class="form-control decimalLimit"
													id="coveredArea" name="lesserLesse.coveredArea"
													placeholder="Enter value"
													th:value="${projectDetails?.lesserLesse?.coveredArea}">
											</fieldset>
										</div>

										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Height (ft.)<span style="color: red;"> *</span> <span class="text-danger" id="heightMsg"></span></label>
												<input type="text" class="form-control decimalLimit" id="height"
													name="lesserLesse.height" placeholder="Enter value"
													th:value="${projectDetails?.lesserLesse?.height}">
											</fieldset>
										</div>

										<div class="title_strip">
											<h5>rent terms</h5>
										</div>

										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Payment
													terms<span style="color: red;"> *</span> <span class="text-danger" id="paymentTermError"></span></label>
													 <select class="form-control" id="rentPaymentTerm"
													name="lesserLesse.rentPaymentTerm">
													<option value="select_terms"><span>Select
															Terms</span></option>
													<option
														th:selected="${projectDetails?.lesserLesse?.rentPaymentTerm == 'fixed' ? 'true' : 'false'}"
														value="fixed"><span>Fixed</span></option>
													<option
														th:selected="${projectDetails?.lesserLesse?.rentPaymentTerm == 'revenue_share' ? 'true' : 'false'}"
														value="revenue_share"><span>Revenue
														Share</span></option>
													<option
														th:selected="${projectDetails?.lesserLesse?.rentPaymentTerm == 'mg_revenue_share' ? 'true' : 'false'}"
														value="mg_revenue_share"><span>Max (MG,
														Revenue Share)</span></option>
													<option
														th:selected="${projectDetails?.lesserLesse?.rentPaymentTerm == 'other_1' ? 'true' : 'false'}"
														value="other_1"><span>Other 1</span></option>
													<option th:selected="${projectDetails?.lesserLesse?.rentPaymentTerm == 'other_2' ? 'true' : 'false'}" value="other_2"><span>Other 2</span></option>
												</select>
											</fieldset>
										</div>

										<div class="col-lg-6 col-sm-6 blank-field">
											<fieldset class="form-group"></fieldset>
										</div>

										<div id="starting_year_mg" class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Starting
													year for M G<span style="color: red;"> *</span>
													 <span class="text-danger" id="startingYearError"></span></label> <input type="text" class="form-control numberLimit"
													id="startingYearForMG" name="lesserLesse.startingYearForMG"
													placeholder="Enter Value"
													th:value="${projectDetails?.lesserLesse?.startingYearForMG}">
											</fieldset>
										</div>

										<div id="mg_type" class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">MG Type<span style="color: red;"> *</span> <span class="text-danger" id=""></span></label> <select
													class="form-control" id="mg_type_select"
													name="rentTerm.paymentTerm">
													<option value="choose_mg_type"><span>Choose
															MG Types</span></option>
													<option th:selected="${projectDetails?.rentTerm?.paymentTerm == 'fixed' ? 'true' : 'false'}" value="fixed"><span>Fixed</span></option>
													<option th:selected="${projectDetails?.rentTerm?.paymentTerm == 'average' ? 'true' : 'false'}" value="average"><span>Average</span></option>
												</select>
											</fieldset>

										</div>

										<div id="rentINR" class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Rent (INR
													per sq. ft. per month excl. taxes)<span style="color: red;"> *</span> <span class="text-danger" id="rentMsg"></span></label> <input type="text"
													class="form-control decimalLimit" id="rent" name="rentTerm.rent"
													placeholder="Enter Value"
													th:value="${projectDetails?.rentTerm?.rent}">
											</fieldset>
										</div>

										<div id="FixedYears" class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Frequency of
													Escalation for Fixed Rent (years)<span style="color: red;"> *</span> <span class="text-danger" id="freqEscError"></span></label> <input type="text"
													class="form-control numberLimit"
													id="rentFrequencyOfEscaltionYears_fixed"
													name="rentTerm.rentFrequencyOfEscaltionYears_fixed"
													placeholder="Enter Value" th:value="${projectDetails?.rentTerm?.rentFrequencyOfEscaltionYears_fixed}">
											</fieldset>
										</div>

										<div id="FixedRent" class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Percentage
													Escalation for Fixed Rent<span style="color: red;"> *</span> <span class="text-danger" id="percEscError"></span></label> <input type="text"
													class="form-control decimalLimit" id="percentageEscalationInRent_fixed"
													name="rentTerm.percentageEscalationInRent_fixed"
													placeholder="Enter Value" th:value="${projectDetails?.rentTerm?.percentageEscalationInRent_fixed}">
											</fieldset>
										</div>

										<div id="boxOfficePercentage" class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">
													Percentage Share of Box Office Revenue <span style="color: red;"> *</span> <span class="text-danger" id="box_officeErr"></span></label> <input type="text"
													class="form-control decimalLimit" id="box_office_percentage"
													name="rentTerm.boxOfficePercentage"
													placeholder="Enter Value" th:value="${projectDetails?.rentTerm?.boxOfficePercentage}">
											</fieldset>
										</div>

										<div id="f_bPercentage" class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">
													Percentage Share of F&B Revenue <span style="color: red;"> *</span> <span class="text-danger" id="fandbErr"></span></label> <input type="text"
													class="form-control decimalLimit" id="f_and_b_percentage" 
													name="rentTerm.fAndBPercentage" placeholder="Enter Value"
													th:value="${projectDetails?.rentTerm?.fAndBPercentage}">
											</fieldset>
										</div>

										<div id="sale_percentage" class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">
													Percentage Share of Ad Sales Revenue <span style="color: red;"> *</span> 
													<span class="text-danger" id="addsaleErr"></span></label> <input type="text"
													class="form-control decimalLimit" id="ad_sale_percentage"
													name="rentTerm.adSalePercentage" placeholder="Enter Value"
													th:value="${projectDetails?.rentTerm?.adSalePercentage}">
											</fieldset>
										</div>

										<div id="other_revenue_percentage" class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">
													Percentage Share of Other Revenue<span style="color: red;"> *</span>
													 <span class="text-danger" id="otherspercentErr"></span></label> <input type="text"
													class="form-control decimalLimit" id="others_percentage"
													name="rentTerm.othersPercentage" placeholder="Enter Value"
													th:value="${projectDetails?.rentTerm?.othersPercentage}">
											</fieldset>
										</div>

										<div id="frequencyEscalationYear" class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Frequency of
													Escalation (years)<span style="color: red;"> *</span>
													 <span class="text-danger" id="rentFrequencyYearErr"></span></label> <input type="text" class="form-control numberLimit"
													id="rentFrequencyOfEscaltionYears"
													name="rentTerm.freqOfEscalation" placeholder="Enter Value"
													th:value="${projectDetails?.rentTerm?.freqOfEscalation}">
											</fieldset>
										</div>

										<div id="percentageEscalationRent" class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Percentage
													of Escalation<span style="color: red;"> *</span>
													 <span class="text-danger" id="percentageEscalationError"></span></label> <input type="text"
													class="form-control decimalLimit" id="percentageEscalationInRent"
													name="rentTerm.percOfEscalation" placeholder="Enter Value"
													th:value="${projectDetails?.rentTerm?.percOfEscalation}">
											</fieldset>
										</div>


										<div id="f_b_kiosk" class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">F&B Kiosk
													Percentage <span style="color: red;"> *</span> <span class="text-danger" id="fandb1Err"></span></label>
													 <input type="text" class="form-control" id=""
													name="" placeholder="Enter Value"
													onkeyup="this.value = this.value.replace(/[^0-9.]/, '')"
													>
											</fieldset>
										</div>


										<div id=""
											class="col-lg-12 col-sm-12 mt-3">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Explain Rent
													Agreement<span style="color: red;"> *</span> 
													<span class="text-danger" id="rentAggrementError"></span></label>
													 <input type="text" class="form-control" id="explainRentAgreement"
													name="rentTerm.explainRentAgreement"
													placeholder="Please Explain"
													th:value="${projectDetails?.rentTerm?.explainRentAgreement}">
											</fieldset>
										</div>



										<!-- Fixed Option Table -->
										<div class="col-lg-12 col-sm-12" id="fixed_table">
											<h5 class="viewYearDetails">
												VIEW YEARLY DETAILS <i class="fas fa-angle-up"></i>
											</h5>
											<div class="collapse_div" id="fixed_table_collapse">
												<div class="card card-body fixedTable_content p-0">
													<div id="table-scroll" class="table-scroll">

														<div class="table-wrap">
															<table class="main-table" id="tblFixed">
																<thead id="theadFixedTable">
																</thead>
																<tbody id="tbodyFixedTable">

																</tbody>

															</table>
														</div>

													</div>
												</div>
											</div>
										</div>
										<!-- Fixed Option Table -->

										<!-- Revenue Share Option  Table ""-->

										<div class="col-lg-12 col-sm-12" id="revenue_share_table">
											<h5 class="viewYearDetails">
												VIEW YEARLY DETAILS <i class="fas fa-angle-up"></i>
											</h5>
											<div class="collapse_div" id="fixed_table_collapse">
												<div class="card card-body fixedTable_content p-0">
													<div id="table-scroll" class="table-scroll">

														<div class="table-wrap">
															<table class="main-table" id="tblRevenueShare">
																<thead id="theadRevenueShare">

																</thead>
																<tbody id="tbodyRevenueShareTable">

																</tbody>
															</table>
														</div>

													</div>
												</div>
											</div>
										</div>

										<!-- Revenue Share Option Table -->

										<!-- Max MG Revenue Share Table -->
										<div class="col-lg-12 col-sm-12" id="mg_revenue_share_table">
											<h5 class="viewYearDetails">
												VIEW YEARLY DETAILS <i class="fas fa-angle-up"></i>
											</h5>
											<div class="collapse_div" id="mg_revenueShare_table_collapse"
												style="">
												<div class="card card-body fixedTable_content p-0">
													<div id="table-scroll" class="table-scroll">

														<div class="table-wrap">
															<table class="main-table" id="tblMgRevenueShare" style="">
																<thead id="theadMgRevenueShare">

																</thead>
																<tbody id="tbodyMgRevenueShareTable">


																</tbody>
															</table>
														</div>

													</div>
												</div>
											</div>
										</div>
										<!-- Max MG Revenue Share Table   -->


										<!-- Other 1 Table -->
										<div class="col-lg-12 col-sm-12" id="other1_table">
											<h5 class="viewYearDetails">
												VIEW YEARLY DETAILS <i class="fas fa-angle-up"></i>
											</h5>
											<div class="collapse_div" id="mg_revenueShare_table_collapse"
												style="">
												<div class="card card-body fixedTable_content p-0">
													<div id="table-scroll" class="table-scroll">

														<div class="table-wrap">
															<table class="main-table" id="tblOther_1" style="">
																<thead id="theadOther_1">

																</thead>
																<tbody id="tbodyOther_1">


																</tbody>
															</table>
														</div>

													</div>
												</div>
											</div>
										</div>
										<!-- End of Other 1 Table   -->

										<!-- Other 2 Table -->
										<div class="col-lg-12 col-sm-12" id="other2_table">
											<h5 class="viewYearDetails">
												VIEW YEARLY DETAILS <i class="fas fa-angle-up"></i>
											</h5>
											<div class="collapse_div"
												id="other1_revenueShare_table_collapse" style="">
												<div class="card card-body fixedTable_content p-0">
													<div id="table-scroll" class="table-scroll">

														<div class="table-wrap">
															<table class="main-table" id="tblOther_2" style="">
																<thead id="theadOther_2">

																</thead>
																<tbody id="tbodyOther_2">


																</tbody>
															</table>
														</div>

													</div>
												</div>
											</div>
										</div>
										<!-- End of Other 2 Table   -->


										<!--End of Revenue share -->

										<div class="title_strip">
											<h5>CAM terms</h5>
										</div>

										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">CAM payment
													terms<span style="color: red;"> *</span> 
													<span class="text-danger" id="camPay"></span></label> 
													<select class="form-control" id="cam_payment_terms"
													name="camTerm.camPaymentTerm">
													<option value=""><span>Choose
															CAM Terms</span></option>
													<option th:selected="${projectDetails?.camTerm?.camPaymentTerm == 'fixed' ? 'true' : 'false'}"
													 value="fixed"><span>Fixed</span></option>
													<option th:selected="${projectDetails?.camTerm?.camPaymentTerm == 'actuals' ? 'true' : 'false'}"
													value="actuals"><span>Actuals</span></option>
													<option th:selected="${projectDetails?.camTerm?.camPaymentTerm == 'included' ? 'true' : 'false'}"
													value="included"><span>Included</span></option>
												</select>
											</fieldset>
										</div>

										<div class="col-lg-6 col-sm-6 blank-field">
											<fieldset class="form-group"></fieldset>
										</div>

										<div class="col-lg-6 col-sm-6" id="cam_rateINR">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">CAM rate
													(INR per sq ft per month excl. taxes)<span style="color: red;"> *</span>
													 <span class="text-danger" id="camRateError"></span></label> <input type="text"
													class="form-control decimalLimit" id="camRate" name="camTerm.camRate"
													placeholder="Enter value"
													th:value="${projectDetails?.camTerm?.camRate}">
											</fieldset>
										</div>

										<div class="col-lg-6 col-sm-6 blank-field">
											<fieldset class="form-group"></fieldset>
										</div>

										<div class="col-lg-6 col-sm-6" id="frequency_escalation_years">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Frequency of
													escalation in years<span style="color: red;"> *</span>
													 <span class="text-danger" id="camfrequencyOfEscaltionYearsErr"></span></label> <input type="text" class="form-control numberLimit"
													id="camfrequencyOfEscaltionYears"
													name="camTerm.frequencyOfEscaltionYears"
													 placeholder="Enter value"
													th:value="${projectDetails?.camTerm?.frequencyOfEscaltionYears}">
											</fieldset>
										</div>

										<div class="col-lg-6 col-sm-6" id="percentage_escalation_CAM">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Percentage
													escalation in CAM<span style="color: red;"> *</span> 
													<span class="text-danger" id="camPercentageEscalationErr"></span></label>
													 <input type="text" class="form-control decimalLimit"
													id="camPercentageEscalation"
													name="camTerm.percentageEscalation"
													placeholder="Enter value"
													th:value="${projectDetails?.camTerm?.percentageEscalation}">
											</fieldset>
										</div>

										<div class="col-lg-12 col-sm-12 mb-3"
											id="camTerms_fixed_table">
											<h5 class="viewYearDetails">
												VIEW YEARLY DETAILS <i class="fas fa-angle-up"></i>
											</h5>
											<div class="collapse_div" id="camTerms_fixed_table_collapse">
												<div class="card card-body fixedTable_content p-0">
													<div id="table-scroll" class="table-scroll">

														<div class="table-wrap">
															<table class="main-table" id="tblCamFixed">
																<thead id="theadCamFixedTable">

																</thead>

																<tbody id="tbodyCamFixedTable">

																</tbody>
															</table>
														</div>

													</div>
												</div>
											</div>
										</div>

										<div id="cam_explainRentAgreement" class="col-lg-12 col-sm-12">
											<fieldset class="form-group bmd-form-group">
												<label class="control-label bmd-label-static" for="date">Explain
													Cam Agreement<span style="color: red;"> *</span> <span class="text-danger" id="camAggrementErr"></span></label> <input type="text" class="form-control" id="camAgreement"
													name="camTerm.explainCamAgreement"
													placeholder="Please Explain" spellcheck="true"
													th:value="${projectDetails?.camTerm?.explainCamAgreement}">
											</fieldset>
										</div>
										
										<!-- ADVANCE RENT TABLE START HERE -->
                                        
                                        <div class="title_strip">
											<h5>Advance Rent</h5>
										</div>

										<div class="col-lg-6 col-sm-6" id="lesserLesse_advance_rent">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Advance Rent (INR)
												    <span style="color: red;"></span>
													<span class="text-danger" id="lesserLesse_advanceRentErr"></span></label> 
													<input type="text"
													class="form-control decimalLimit" id="lesserLesse_advanceRent" name="lesserLesse.advanceRent"
													placeholder="0.0"
													th:value="${#numbers.formatDecimal(projectDetails?.lesserLesse?.advanceRent, 1, 'NONE', 2, 'POINT')}">
											</fieldset>
										</div>

										<div class="col-lg-6 col-sm-6 blank-field">
											<fieldset class="form-group"></fieldset>
										</div>

										<div class="col-lg-6 col-sm-6" id="lesserLesse_advanceRent_period">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Period of Advance Rent Recovery (years)
													<span style="color: red;"></span>
													 <span class="text-danger" id="lesserLesse_advanceRentPeriodErr"></span></label> 
													 <input type="text" class="form-control numberLimit"
													id="lesserLesse_advanceRentPeriod"
													name="lesserLesse.advanceRentPeriod"
													 placeholder="0"
													th:value="${projectDetails?.lesserLesse?.advanceRentPeriod}">
											</fieldset>
										</div>

										<div class="col-lg-12 col-sm-12 mb-3"
											id="advanceRent_fixed_table">
											<h5 class="viewYearDetails">
												ADJUSTMENT DETAILS <i class="fas fa-angle-up"></i>
											</h5>
											<span style="color: red;"></span>
											<span class="text-danger" id="advanceRent_fixed_tableErr"></span>
											<div class="collapse_div" id="advanceRent_fixed_table_collapse">
												<div class="card card-body fixedTable_content p-0">
													<div id="table-scroll" class="table-scroll">

														<div class="table-wrap">
															<table class="main-table" id="tblAdvanceRent">
																<thead id="theadAdvanceRentTable">
																</thead>
																<tbody id="tbodyAdvanceRentTable">
																</tbody>
															</table>
														</div>

													</div>
												</div>
											</div>
										</div>
										
										<!-- ADVANCE RENT TABLE END HERE -->


										<div class="title_strip">
											<h5>Security deposit assumptions</h5>
										</div>

										<div class="col-lg-6 col-sm-6" id="camTypeDiv">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="">Cam Type<span style="color: red;"> *</span>
												 <span class="text-danger" id="camTypeErr"></span></label>
												  <select
													class="form-control" id="camType"
													name="lesserLesse.camType">
													<option value=""><span>Select Option</span></option>
													<option th:selected="${projectDetails?.lesserLesse?.camType == 'month' ? 'true' : 'false'}" value="month"><span>No of months</span></option>
													<option th:selected="${projectDetails?.lesserLesse?.camType == 'fixed' ? 'true' : 'false'}" value="fixed"><span>Fixed</span></option>
												</select>
											</fieldset>
										</div>

										<div class="col-lg-6 col-sm-6" id="rentTypeDiv">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="">Rent Type<span style="color: red;"> *</span>
												 <span class="text-danger" id="rentTypeErr"></span></label> <select
													class="form-control" id="rentType"
													name="lesserLesse.rentType">
													<option value=""><span>Select Option</span></option>
													<option th:selected="${projectDetails?.lesserLesse?.rentType == 'month' ? 'true' : 'false'}" value="month"><span>No of months</span></option>
													<option th:selected="${projectDetails?.lesserLesse?.rentType == 'fixed' ? 'true' : 'false'}" value="fixed"><span>Fixed</span></option>
												</select>
											</fieldset>
										</div>

										<div class="col-lg-6 col-sm-6" id="monthCam">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Security
													deposit (No. of months of cam)<span style="color: red;"> *</span> 
													<span style="color: red;" id="securityDeposit"></span></label> <input type="text"
													class="form-control intLimit" id="hvac"
													name="lesserLesse.securityDepositForMonthCam"
													placeholder="Enter value" 
													th:value="${projectDetails?.lesserLesse?.securityDepositForMonthCam}">
											</fieldset>
										</div>

										<div class="col-lg-6 col-sm-6" id="monthRent">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Security
													deposit (No. of months of rent)<span style="color: red;"> *</span> 
													<span style="color: red;" id="securitydepositeErr"></span></label> <input type="text"
													class="form-control intLimit" id="hvac1"
													name="lesserLesse.securityDepositForMonthRent"
													placeholder="Enter value"
													th:value="${projectDetails?.lesserLesse?.securityDepositForMonthRent}">
											</fieldset>
										</div>
										<div class="col-lg-6 col-sm-6" id="camZeroMg">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">CAM security
													deposit for Zero MG(INR)<span style="color: red;"> *</span> 
													<span style="color: red;" id="fireandsafetyerr"></span></label> <input type="text"
													class="form-control decimalLimit" id="fireAndSafety"
													name="lesserLesse.camSecurityDepositForFixedZeroMg"
													th:value="${#numbers.formatDecimal(projectDetails?.lesserLesse?.camSecurityDepositForFixedZeroMg, 1, 'NONE', 2, 'POINT')}" placeholder="Enter value">
											</fieldset>
										</div>


										<div class="col-lg-6 col-sm-6" id="rentZeroMg">
											<fieldset class="form-group">
												<label class="bmd-label-static" for=""> Rent Security
													deposit for Zero MG<span style="color: red;"> *</span>
													 <span style="color: red;" id="rentsecuritydepositerr"></span></label> <input type="text" class="form-control decimalLimit"
													id="rentSecuritydeposit" name="lesserLesse.rentSecurityDepositForFixedZeroMg"
													placeholder="Enter value" th:value="${#numbers.formatDecimal(projectDetails?.lesserLesse?.rentSecurityDepositForFixedZeroMg, 1, 'NONE', 2, 'POINT')}">
											</fieldset>
										</div>



										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Utility
													security deposit (INR)<span style="color: red;"> *</span> <span class="text-danger" id="electriCityerr"></span></label> <input type="text"
													class="form-control decimalLimit" id="electricity"
													name="lesserLesse.utilitySecurityDeposit"
													th:value="${#numbers.formatDecimal(projectDetails?.lesserLesse?.utilitySecurityDeposit, 1, 'NONE', 2, 'POINT')}"
													placeholder="Enter value">
											</fieldset>
										</div>

										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="">Additional
													deposit on escalation<span style="color: red;"> *</span> <span class="text-danger" id="additionalDepositeIdErr"></span></label> <select class="form-control" id="additionalDepositeId"
													name="lesserLesse.additionDepositOnEscaltion">
													<option value=""><span>Select Option</span></option>
													<option th:selected="${projectDetails?.lesserLesse?.additionDepositOnEscaltion == 1 ? 'true' : 'false'}" value="1"><span>Yes</span></option>
													<option th:selected="${projectDetails?.lesserLesse?.additionDepositOnEscaltion == 0 ? 'true' : 'false'}" value="0"><span>No</span></option>
												</select>
											</fieldset>
										</div>

										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="">Payment Schedule<span style="color: red;"> *</span> <span class="text-danger" id="paymentScheduleErr"></span></label>
												<input class="form-control" type="text" id="paymentSchedule"
													name="lesserLesse.paymentSchedule"
													placeholder="Enter text"
													th:value="${projectDetails?.lesserLesse?.paymentSchedule}">
											</fieldset>
										</div>

										<div class="title_strip">
											<h5>key money contributions</h5>
										</div>

										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="">From Developer (INR Lacs)<span style="color: red;"> *</span>
												 <span class="text-danger" id="fromdevelopererr"></span></label> 
												 <input
													type="text" class="form-control decimalLimit" id="fromDeveloper"
													name="lesserLesse.fromDevloper" placeholder="Enter Value"
													th:value="${projectDetails?.lesserLesse?.fromDevloper}">
											</fieldset>
										</div>

										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="">To Developer (INR Lacs)<span style="color: red;"> *</span>
												 <span class="text-danger" id="todevelopererr"></span></label> <input
													type="text" class="form-control decimalLimit" id="toDevloper"
													name="lesserLesse.toDevloper" placeholder="Enter Value"
													th:value="${projectDetails?.lesserLesse?.toDevloper}">
											</fieldset>
										</div>

										<div class="title_strip">
											<h5>Tax</h5>
										</div>

										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="">Property Tax - Only if being paid by PVR else 0
													(INR per Sq.ft per month)<span style="color: red;"> *</span> 
													<span class="text-danger" id="propertyTaxErr"></span></label> 
													<input type="text"
													class="form-control decimalLimit" id="propertyTax" name="lesserLesse.propertyTax"
													placeholder="Enter Value"
													th:value="${projectDetails?.lesserLesse?.propertyTax}">
											</fieldset>
										</div>

										<div class="title_strip">
											<h5>developer's scope of work</h5>
										</div>

										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Select
													Option<span style="color: red;"> *</span> <span class="text-danger" id=""></span></label> <select class="form-control" id="CAMPaymentTerm"
													name="lesserLesse.devloperScopeOfWorkOption">
													<option th:selected="${projectDetails?.lesserLesse?.devloperScopeOfWorkOption == 'Option_1' ? 'true' : 'false'}" value="Option_1"><span>Option 1</span>
													</option>
													<option th:selected="${projectDetails?.lesserLesse?.devloperScopeOfWorkOption == 'Option_2' ? 'true' : 'false'}" value="Option_2"><span>Option 2
														</span></option>
													<option th:selected="${projectDetails?.lesserLesse?.devloperScopeOfWorkOption == 'Option_3' ? 'true' : 'false'}" value="Option_3"><span>Option 3
														</span></option>
													<option th:selected="${projectDetails?.lesserLesse?.devloperScopeOfWorkOption == 'Option_4' ? 'true' : 'false'}" value="Option_4"><span>Option 4</span></option>
												</select>
											</fieldset>
										</div>

										<div class="col-lg-12 col-sm-12">
											<a href="javascript:void(0);" class="externalLink" id="lesserLesseView">View
												Option Details</a>
										</div>

									</div>
									<div sec:authorize="hasAnyRole('ROLE_BD')" class="p-4 buttonGroup_nextCancelSave" th:if="${projectDetails?.status < 105 }">
										<a th:href="@{/dashboard}"><button type="button"
											class="cancelBtn btn btn-raised btn-secondary">CANCEL</button></a>
										<button type="button" id="save"
											class="nextBtn btn-raised btn btn-success">NEXT</button>
										<button type="button" id="save_close"
											class="saveCloseBtn btn btn-raised btn-secondary">SAVE
											& CLOSE</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					
				</div>
			</div>


		</div>
		</section>
		
	<!--OPTION-1 Start  -->
<div class="modal fade" id="lesserLesseModal" tabindex="-1" role="dialog"
	aria-labelledby="lesserLesseModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content content mCustomScrollbar">
			<div class="modal-header">
				<p>Developer Scope of Work</p>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<i class="fas fa-times"></i>
				</button>
			</div>
			
			<div class="modal-body p-3 mt-1 pdf_modal_table_style">
				<p id="subtitle"></p>
				<table class="table table-bordered transparent fixed-layout">
                <thead>
                    <tr>
                        <th class=" text-left" style="width: 50px">1</th>
                        <th class=" text-left">Civil Structure</th>
                        <th style="width: 150px" class="text-center text-middle"><span class="selected_option"></span></th>
                    </tr>
                </thead>
                 <tbody>
                    <tr>
                        <td class="text-left">i</td>
                        <td class="text-left">The Developer shall provide a complete water tight shell with proper Drainage system for the roof to ensure no water stagnation on the same. R.C.C Structure (slabs, Columns and beams) construction shall be provided as per applicable I.S. Codes and being earthquake resistant and the construction of the same shall be done as per the layouts approved by PVR.</td>
                        <td class="text-center text-middle" id="d1"><div id="1"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">ii</td>
                        <td class="text-left">Auditorium floor and steps shall be finished with 125 mm thick PCC (M25 GRADE) or steel deck system with 125 mm thick PCC (M25 GRADE), with smooth concrete finish. Projection room shall be finished with 100 mm thick PCC or steel deck system with concrete finish. Auditorium steps to be as per masonry layouts provided by PVR. All edge profiles to be protected with metal channel as per the PVR specs. & conduits for step lights to be done as per layout submitted by PVR the details of which are attached as step conduit.pdf</td>
                        <td class="text-center text-middle" id="d2"><div id="2"></div></td>
                    </tr>
                     <tr>
                        <td class="text-left">iii</td>
                        <td class="text-left">Toilet blocks and AHU rooms shall be rendered waterproof by specialized waterproofing treatment.</td>
                        <td class="text-center text-middle" id="d3"><div id="3"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">iv</td>
                        <td class="text-left">Any cutouts or openings in structure required for mep services to be provided by the Developer as per PVR's requirement.</td>
                        <td class="text-center text-middle" id="d4"><div id="4"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">v</td>
                        <td class="text-left">The columns shall be placed as per the drawings approved by PVR
                    and only in the demising wall and the projection room wall. No column will obstruct the view of the screen, path of the rays falling on
                    the screen, corridors, or any access. Design to be discussed and
                    agreed between both the Parties.</td>
                        <td class="text-center text-middle" id="d5"><div id="5"></div></td>
                    </tr>
                </tbody>
            </table>
			</div>
			<div class="modal-body p-3 mt-1 pdf_modal_table_style">
				<table class="table table-bordered transparent fixed-layout">
                <thead>
                    <tr>
                        <th class=" text-left" style="width: 50px">2</th>
                        <th class=" text-left">Roof Construction</th>
                        <th style="width: 150px" class="text-center text-middle"><span class="selected_option"></span></th>
                    </tr>
                </thead>
                 <tbody>
                    <tr>
                        <td class="text-left">i</td>
                        <td class="text-left">The Developer to provide water tight, sound proof roof conforming to
							applicable I.S. codes and being earthquake resistant. The roof shall be
							rendered waterproof by specialized waterproofing treatment. The Devel-
							oper shall be solely responsible for and held liable for any damage to the
							interiors & equipment’s, and loss of any business that result from water
							leakages arising from defects in civil work.</td>
                        <td class="text-center text-middle" id="d6"><div id="6"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">ii</td>
                        <td class="text-left">The auditoriums will have the necessary clear height 11 mtr below the
							beam at screen side and clear height below the beam at projection wall
							side according to the plan & sections given by PVR. (Height to not be
							lesser than 9 metres in any case)</td>
                        <td class="text-center text-middle" id="d7"><div id="7"></div></td>
                    </tr>
                     <tr>
                        <td class="text-left">iii</td>
                        <td class="text-left">Under deck insulation or over deck insulation shall be provided as per the
							acoustical and thermic requirement.</td>
                        <td class="text-center text-middle" id="d8"><div id="8"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">iv</td>
                        <td class="text-left">No services will pass through one auditorium to another auditorium</td>
                        <td class="text-center text-middle" id="d9"><div id="9"></div></td>
                    </tr>
                </tbody>
            </table>
			</div>
			<div class="modal-body p-3 mt-1 pdf_modal_table_style">
				<table class="table table-bordered transparent fixed-layout">
                <thead>
                    <tr>
                        <th class=" text-left" style="width: 50px">3</th>
                        <th class=" text-left">Interior and Exterior Walls</th>
                        <th style="width: 150px" class="text-center text-middle"><span class="selected_option"></span></th>
                    </tr>
                </thead>
                 <tbody>
                    <tr>
                        <td class="text-left">i</td>
                        <td class="text-left">Non Auditorium walls to be with Traditional Brick/ AAC Block of thickness varying from 200 - 300 mm which shall be provided as per the masonry drg.s provided by PVR.</td>
                        <td class="text-center text-middle" id="d10"><div id="10"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">ii</td>
                        <td class="text-left">Auditorium walls to be sound proof walls made of either two layers of plastered traditional brickwork/ AAC Block with an insulation gap for sound proofing totaling to 460 mm – 560 mm OR Gypsum sound-proof drywalls as per the layout & specifications given by PVR.</td>
                        <td class="text-center text-middle" id="d11"><div id="11"></div></td>
                    </tr>
                     <tr>
                        <td class="text-left">iii</td>
                        <td class="text-left">Necessary RCC, Riser and beams stiffeners, lintels, and connections shall be provided as may be required by the Developer considering the PVR layouts.</td>
                        <td class="text-center text-middle" id="d12"><div id="12"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">iv</td>
                        <td class="text-left">In case of dry wall in Auditoriums, support structure in the wall to mount the speakers and other audio equipment shall be provided.</td>
                        <td class="text-center text-middle" id="d13"><div id="13"></div></td>
                    </tr>
                </tbody>
            </table>
			</div>
			<div class="modal-body p-3 mt-1 pdf_modal_table_style">
				<table class="table table-bordered transparent fixed-layout">
                <thead>
                    <tr>
                        <th class=" text-left" style="width: 50px">4</th>
                        <th class=" text-left">Wall Finishing</th>
                        <th style="width: 150px" class="text-center text-middle"><span class="selected_option"></span></th>
                    </tr>
                </thead>
                 <tbody>
                    <tr>
                        <td class="text-left">i</td>
                        <td class="text-left">All Multiplex exterior walls shall be finished with double coat plaster and painted as per builder's elevation scheme. Exterior walls of Multiplex Space facing in the mall shall be completed as per Mall’s finishes.</td>
                        <td class="text-center text-middle" id="d14"><div id="14"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">ii</td>
                        <td class="text-left">All interior wall surfaces & interior columns shall be plastered with smooth P.O.P punning finish and painted as per PVR’s specifications. </td>
                        <td class="text-center text-middle" id="d15"><div id="15"></div></td>
                    </tr>
                </tbody>
            </table>
			</div>
			<div class="modal-body p-3 mt-1 pdf_modal_table_style">
				<table class="table table-bordered transparent fixed-layout">
                <thead>
                    <tr>
                        <th class=" text-left" style="width: 50px">5</th>
                        <th class=" text-left">Doors and windows</th>
                        <th style="width: 150px" class="text-center text-middle"><span class="selected_option"></span></th>
                    </tr>
                </thead>
                 <tbody>
                    <tr>
                        <td class="text-left">i</td>
                        <td class="text-left">All exit & entry doors for Audi's should be 55 dB acoustical & 2 hr. fire rated as per PVR’s specifications and fire exit doors as per specifications provided by PVR to be provided by the Developer. These doors should be as per the requirements of the CFO and other requirements for fire clearances.</td>
                        <td class="text-center text-middle" id="d16"><div id="16"></div></td>
                    </tr>
                </tbody>
            </table>
			</div>
			<div class="modal-body p-3 mt-1 pdf_modal_table_style">
				<table class="table table-bordered transparent fixed-layout">
                <thead>
                    <tr>
                        <th class=" text-left" style="width: 50px">6</th>
                        <th class=" text-left">Gypsum works & false ceiling</th>
                        <th style="width: 150px" class="text-center text-middle"><span class="selected_option"></span></th>
                    </tr>
                </thead>
                 <tbody>
                    <tr>
                        <td class="text-left">i</td>
                        <td class="text-left">All false ceiling within the multiplex (both inside and outside the auditoriums) shall be done by the Developer as per the design & specification provided by PVR.</td>
                        <td class="text-center text-middle" id="d17"><div id="17"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">ii</td>
                        <td class="text-left">All gypsum work and false ceiling in the Multiplex to be done by the Developer to comply with the firefighting and acoustic norms.</td>
                        <td class="text-center text-middle" id="d18"><div id="18"></div></td>
                    </tr>
                </tbody>
            </table>
			</div>
			<div class="modal-body p-3 mt-1 pdf_modal_table_style">
				<table class="table table-bordered transparent fixed-layout">
                <thead>
                    <tr>
                        <th class=" text-left" style="width: 50px">7</th>
                        <th class=" text-left">Plumbing and Drainage</th>
                        <th style="width: 150px" class="text-center text-middle"><span class="selected_option"></span></th>
                    </tr>
                </thead>
                 <tbody>
                    <tr>
                        <td class="text-left">i</td>
                        <td class="text-left">Complete Plumbing & Drainage (soil, waste piping, air vent and encasing for the python) with internal distribution shall be provided for toilet blocks, concession, all kitchen areas and any other wet areas. The Developer shall provide a total sunken area (Free of beams/any structure) with sleeves or under slab connectivity with the building shafts as per the drawings provided by PVR.</td>
                        <td class="text-center text-middle" id="d19"><div id="19"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">ii</td>
                        <td class="text-left">Raw Water, treated water and RO water supply shall be  provided at all designated areas marked in the layout provided by PVR and will preferably through hydro pneumatic, and if not, should be designed in such a way to give continuous water supply with adequate pressure (Min of 2-2.5 Kg/sqcm).</td>
                        <td class="text-center text-middle" id="d20"><div id="20"></div></td>
                    </tr>
                </tbody>
            </table>
			</div>
			<div class="modal-body p-3 mt-1 pdf_modal_table_style">
				<table class="table table-bordered transparent fixed-layout">
                <thead>
                    <tr>
                        <th class=" text-left" style="width: 50px">8</th>
                        <th class=" text-left">Toilets</th>
                        <th style="width: 150px" class="text-center text-middle"><span class="selected_option"></span></th>
                    </tr>
                </thead>
                 <tbody>
                    <tr>
                        <td class="text-left">i</td>
                        <td class="text-left">Completely finished toilets with all fixtures and fittings shall be provided by the Developer as per PVR’s specifications.</td>
                        <td class="text-center text-middle" id="d21"><div id="21"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">ii</td>
                        <td class="text-left">The toilet count for WC's, wash basins, and urinals to follow the NBC guidelines. </td>
                        <td class="text-center text-middle" id="d22"><div id="22"></div></td>
                    </tr>
                </tbody>
            </table>
			</div>
			<div class="modal-body p-3 mt-1 pdf_modal_table_style">
				<table class="table table-bordered transparent fixed-layout">
                <thead>
                    <tr>
                        <th class=" text-left" style="width: 50px">9</th>
                        <th class=" text-left">Handicapped Access</th>
                        <th style="width: 150px" class="text-center text-middle"><span class="selected_option"></span></th>
                    </tr>
                </thead>
                 <tbody>
                    <tr>
                        <td class="text-left">i</td>
                        <td class="text-left">The Multiplex shall be accessible to handicapped persons.</td>
                        <td class="text-center text-middle" id="d23"><div id="23"></div></td>
                    </tr>
                </tbody>
            </table>
			</div>
			<div class="modal-body p-3 mt-1 pdf_modal_table_style">
				<table class="table table-bordered transparent fixed-layout">
                <thead>
                    <tr>
                        <th class=" text-left" style="width: 50px">10</th>
                        <th class=" text-left">HVAC</th>
                        <th style="width: 150px" class="text-center text-middle"><span class="selected_option"></span></th>
                    </tr>
                </thead>
                 <tbody>
                    <tr>
                        <td class="text-left">i</td>
                        <td class="text-left">The Developer shall be providing the complete HVAC system, including AHU'S, FCU, TFA, Inline fans, axial flow fans, Air washer Unit of Zeco, Edgetech, blue star or equivalent make, cooling towers, condensing, chilled water pumps, piping with insulation, electrical panels, and cables. All Audi’s AHUs shall be floor mounted and provided for on terrace. Rest all AHU can be ceiling suspended.</td>
                        <td class="text-center text-middle" id="d24"><div id="24"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">ii</td>
                        <td class="text-left">AHUs provided shall be double-skinned. All piping and accessories up to and including AHUs with necessary motorized modulating valves, balancing valves, butterfly valves, automatic fire dampers integrated with fire panel, drain piping, starter panels, cables, VCD, VFD, fire rated canvas connection and acoustic insulation, etc. shall be provided by the Developer. </td>
                        <td class="text-center text-middle" id="d25"><div id="25"></div></td>
                    </tr>
                     <tr>
                        <td class="text-left">iii</td>
                        <td class="text-left">The AHU locations shall be mutually agreed to satisfy the output parameters. AHU configuration shall be as per PVR’s specifications. Separate AHUs shall be provided for each auditorium and projector rooms. The entire HVAC system shall operate around 35 dB level inside the auditorium at the seating level.</td>
                        <td class="text-center text-middle" id="d26"><div id="26"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">iv</td>
                        <td class="text-left">The installation of the chillers / cooling towers / pumps shall be done in such a way that no vibration is transmitted to the multiplex floor. </td>
                        <td class="text-center text-middle" id="d27"><div id="27"></div></td>
                    </tr>
                     <tr>
                        <td class="text-left">v</td>
                        <td class="text-left">Each Audi shall be provided with dedicated smoke extraction & compensation air axial flow fans with two hr. fire rating, starter panels and cabling as per National Building Code. </td>
                        <td class="text-center text-middle" id="d28"><div id="28"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">vi</td>
                        <td class="text-left">Air conditioning for the office rooms and the server room with back-up shall be split / cassette units to be provided by the Developer. </td>
                        <td class="text-center text-middle" id="d29"><div id="29"></div></td>
                    </tr>
                     <tr>
                        <td class="text-left">vii</td>
                        <td class="text-left">The chilled water shall be supplied at each AHU, TFA & Fan coil units at 7 deg C & 3.5 Kg/Sqcm pressure to maintain inside temperature of 22 ± 1 deg C. </td>
                        <td class="text-center text-middle" id="d30"><div id="30"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">viii</td>
                        <td class="text-left">The Developer shall also provide complete low side of the HVAC including ducts with internal & external insulation, grills/ louvers/diffusers/jet nozzles, dampers, sound attenuators,  etc. for Multiplex as per PVR’s drawings & specifications. </td>
                        <td class="text-center text-middle" id="d31"><div id="31"></div></td>
                    </tr>
                     <tr>
                        <td class="text-left">ix</td>
                        <td class="text-left">Concession, kitchen, Toilets & Projector room shall be provided with dedicated exhaust system along with dedicated Treated Fresh Air Units. </td>
                        <td class="text-center text-middle" id="d32"><div id="32"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">x</td>
                        <td class="text-left">Dedicated Screw Chillers to be provided by the Developer and replacement of such Dedicated Chillers to be done by the Developer during the tenure of the Lease</td>
                        <td class="text-center text-middle" id="d33"><div id="33"></div></td>
                    </tr>
                </tbody>
            </table>
			</div>
			<div class="modal-body p-3 mt-1 pdf_modal_table_style">
				<table class="table table-bordered transparent fixed-layout">
                <thead>
                    <tr>
                        <th class=" text-left" style="width: 50px">11</th>
                        <th class=" text-left">Electricity</th>
                        <th style="width: 150px" class="text-center text-middle"><span class="selected_option"></span></th>
                    </tr>
                </thead>
                 <tbody>
                    <tr>
                        <td class="text-left">i</td>
                        <td class="text-left">For the purpose hereinabove, the Developers shall procure HT Electricity for the Mall prior to Handover Date.</td>
                        <td class="text-center text-middle" id="d34"><div id="34"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">ii</td>
                        <td class="text-left">The Developer shall install equipment, machinery and cables at its own cost for use of low tension electricity by PVR. For the costs incurred towards operation, maintenance and replacement of capital equipment, transformer house structure, cabling and distribution panels including but not limited to consumables, manpower, transmission losses, ‘step down’ losses from HT to LT, insurance for unforeseen circumstances and all recurring expenses for the above the PVR shall pay to the Developer per month an additional amount upto 2% of the actual bill per unit of electricity consumed.</td>
                        <td class="text-center text-middle" id="d35"><div id="35"></div></td>
                    </tr>
                     <tr>
                        <td class="text-left">iii</td>
                        <td class="text-left">Stabilized power supply 3-phase 4 wire, along with 2 numbers GI & 5 copper adequately sized body earth strips shall be provided at locations within the scheduled Multiplex as per PVR’s suggestions. Cables of adequate size in cable trays shall be terminated into the PVR main electrical panel and PVR smoke panel. PVR smoke panel shall be fed directly from Developer’s emergency panel, which will be used only in case of fire/emergency. Metering shall also be provided. The supply shall be with power factor correction of no less than 0.98. The above will be designed to achieve the parameters given by PVR.</td>
                        <td class="text-center text-middle" id="d36"><div id="36"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">iv</td>
                        <td class="text-left">100% DG power backup shall be provided by the Developer for all times. Standby should be provided in case of power and DG failure. Sufficient diesel storage shall be maintained for smooth operations of DG set. Cables of adequate size shall be terminated into the PVR main electrical and smoke panel.</td>
                        <td class="text-center text-middle" id="d37"><div id="37"></div></td>
                    </tr>
                     <tr>
                        <td class="text-left">v</td>
                        <td class="text-left">Electrical panels, Internal conduting and wiring for lighting, power, UPS, fire alarm and detection, access control, CCTV, Telephone and Data, shall be provided by the Developer for the Multiplex. All light fixtures and fittings shall be included. The above mentioned work shall be carried out as per PVR’s designs and specifications.</td>
                        <td class="text-center text-middle" id="d38"><div id="38"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">vi</td>
                        <td class="text-left">The DG set shall be provided with automatic change-over, AMF panel, synchronization panel, chimney, fuel tank, acoustic enclosure, and so on complete. Uninterrupted power supply to the scheduled Multiplex (0 seconds time gap) with UPS system shall be provided by the Developer.</td>
                        <td class="text-center text-middle" id="d39"><div id="39"></div></td>
                    </tr>
                     <tr>
                        <td class="text-left">vii</td>
                        <td class="text-left">Replacement of DG sets during the tenure of the Lease shall be carried out by the Developer</td>
                        <td class="text-center text-middle" id="d40"><div id="40"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">viii</td>
                        <td class="text-left">Total and constant power required shall be approximately 35-40 KW per Audi. However, details shall be provided by PVR during design stage.</td>
                        <td class="text-center text-middle" id="d41"><div id="41"></div></td>
                    </tr>
                     <tr>
                        <td class="text-left">ix</td>
                        <td class="text-left">Lightening protection shall be provided by the Developer. </td>
                        <td class="text-center text-middle" id="d42"><div id="42"></div></td>
                    </tr>
                </tbody>
            </table>
			</div>
			<div class="modal-body p-3 mt-1 pdf_modal_table_style">
				<table class="table table-bordered transparent fixed-layout">
                <thead>
                    <tr>
                        <th class=" text-left" style="width: 50px">12</th>
                        <th class=" text-left">Fire Detection and Protection</th>
                        <th style="width: 150px" class="text-center text-middle"><span class="selected_option"></span></th>
                    </tr>
                </thead>
                 <tbody>
                    <tr>
                        <td class="text-left">i</td>
                        <td class="text-left">For the multiplex and exit corridors, the Developer shall provide complete fire Detection & protection systems including Fire detection loop with detectors for all areas above & below the false ceiling with main fire panel and repeater panel, Fire hydrant with hose reel and other accessories with cabinet, Sprinklers for upright type & pendant type including flexible piping including any other equipment as per statutory regulations and CFO's requirements. The same shall be done as per PVR’s drawings and specifications. Pumps shall be provided to ensure adequate pressure in the sprinkler & fire hydrant headers. </td>
                        <td class="text-center text-middle" id="d43"><div id="43"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">ii</td>
                        <td class="text-left">Fire extinguishers will be also provided in entire multiplex area as per the fire clearance requirements and layout proposed by PVR.</td>
                        <td class="text-center text-middle" id="d44"><div id="44"></div></td>
                    </tr>
                     <tr>
                        <td class="text-left">iii</td>
                        <td class="text-left">Integration of fire panel at cinema level with mall fire panel to be done by developer with all necessary equipment’s.</td>
                        <td class="text-center text-middle" id="d45"><div id="45"></div></td>
                    </tr>
                   
                </tbody>
            </table>
			</div>
			<div class="modal-body p-3 mt-1 pdf_modal_table_style">
				<table class="table table-bordered transparent fixed-layout">
                <thead>
                    <tr>
                        <th class=" text-left" style="width: 50px">13</th>
                        <th class=" text-left">Rolling Shutters </th>
                        <th style="width: 150px" class="text-center text-middle"><span class="selected_option"></span></th>
                    </tr>
                </thead>
                 <tbody>
                    <tr>
                        <td class="text-left">i</td>
                        <td class="text-left">Motorized Rolling shutters, glass door with glazing or alternative locking mechanism shall be provided at main multiplex’ entry.</td>
                        <td class="text-center text-middle" id="d46"><div id="46"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">ii</td>
                        <td class="text-left">Front façade glazing towards the atrium to be provided by the Developer as per the details provided by PVR.</td>
                        <td class="text-center text-middle" id="d47"><div id="47"></div></td>
                    </tr>
                </tbody>
            </table>
			</div>
			<div class="modal-body p-3 mt-1 pdf_modal_table_style">
				<table class="table table-bordered transparent fixed-layout">
                <thead>
                    <tr>
                        <th class=" text-left" style="width: 50px">14</th>
                        <th class=" text-left">Communication and Security</th>
                        <th style="width: 150px" class="text-center text-middle"><span class="selected_option"></span></th>
                    </tr>
                </thead>
                 <tbody>
                    <tr>
                        <td class="text-left">i</td>
                        <td class="text-left">Wiring and ducts at one point within scheduled Multiplex for telephone tapping (25 pairs) shall be provided by the Developer. The location shall be provided by PVR.</td>
                        <td class="text-center text-middle" id="d48"><div id="48"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">ii</td>
                        <td class="text-left">Location for the VSAT and RF Antenna at terrace facing south to be provided by the Developer. The location for the same to be provided near to a shaft for the conduiting till the server room.</td>
                        <td class="text-center text-middle" id="d49"><div id="49"></div></td>
                    </tr>
                </tbody>
            </table>
			</div>
			<div class="modal-body p-3 mt-1 pdf_modal_table_style">
				<table class="table table-bordered transparent fixed-layout">
	                <thead>
	                    <tr>
	                        <th class=" text-left" style="width: 50px">15</th>
	                        <th class=" text-left">Vertical Transportation</th>
	                        <th style="width: 150px" class="text-center text-middle"><span class="selected_option"></span></th>
	                    </tr>
	                </thead>
	                 <tbody>
	                    <tr>
	                        <td class="text-left">i</td>
	                        <td class="text-left">1 service elevator (2,000 kg capacity) in common with the other occupants of the Mall from ground up to the projection floor level shall be provided. </td>
	                        <td class="text-center text-middle" id="d50"><div id="50"></div></td>
	                    </tr>
	                    <tr>
	                        <td class="text-left">ii</td>
	                        <td class="text-left">Common staircases and escalators till Multiplex levels shall be provided as per mutually agreed layout.</td>
	                        <td class="text-center text-middle" id="d51"><div id="51"></div></td>
	                    </tr>
	                </tbody>
          	   </table>
			</div>
			<div class="modal-body p-3 mt-1 pdf_modal_table_style">
				<table class="table table-bordered transparent fixed-layout">
                <thead>
                    <tr>
                        <th class=" text-left" style="width: 50px">16</th>
                        <th class=" text-left">Requirements for Fit-out Construction</th>
                        <th style="width: 150px" class="text-center text-middle"><span class="selected_option"></span></th>
                    </tr>
                </thead>
                 <tbody>
                    <tr>
                        <td class="text-left">i</td>
                        <td class="text-left">Continuous power supply for construction purpose shall be made available from the date of possession till the final completion. Electricity charges for the power consumed shall be paid by PVR according to the state electricity board rates. Permanent electricity shall be available after the completion of fit out for final running of the cinema.</td>
                        <td class="text-center text-middle" id="d52"><div id="52"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">ii</td>
                        <td class="text-left">One point water supply of 1” diameter line for construction purpose at location mutually agreed shall be made available from the date of possession till final completion. Permanent water supply shall be made available. The Developer shall also provide the drainage system. </td>
                        <td class="text-center text-middle" id="d53"><div id="53"></div></td>
                    </tr>
                     <tr>
                        <td class="text-left">iii</td>
                        <td class="text-left">The Developer shall provide temporary storage space (3000 sq. ft.) and maneuvering space for lifting equipment into the Multiplex at a mutually agreed location</td>
                        <td class="text-center text-middle" id="d54"><div id="54"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">iv</td>
                        <td class="text-left">The Developer to support PVR in Debris removal from cinema level to mall exit.</td>
                        <td class="text-center text-middle" id="d55"><div id="55"></div></td>
                    </tr>
                </tbody>
            </table>
			</div>
			<div class="modal-body p-3 mt-1 pdf_modal_table_style">
				<table class="table table-bordered transparent fixed-layout">
                <thead>
                    <tr>
                        <th class=" text-left" style="width: 50px">17</th>
                        <th class=" text-left">Box Office and Kiosks</th>
                        <th style="width: 150px" class="text-center text-middle"><span class="selected_option"></span></th>
                    </tr>
                </thead>
                 <tbody>
                    <tr>
                        <td class="text-left">i</td>
                        <td class="text-left">The Developer shall provide space for the Box Office on the Ground floor and/or next to the Multiplex entrance with Carpet area 250- 300 SQ. FT with a queuing space of 5 mt. </td>
                        <td class="text-center text-middle" id="d56"><div id="56"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">ii</td>
                        <td class="text-left">The air conditioning and electricity to the box office premises to be provided by the developer along with routing for data cable from PVR server room </td>
                        <td class="text-center text-middle" id="d57"><div id="57"></div></td>
                    </tr>
                     <tr>
                        <td class="text-left">iii</td>
                        <td class="text-left">PVR would be given space at ground floor & lobby level box office to place Automated Ticketing Machines each with a space of 5 sq-ft, at mutually discussed locations.</td>
                        <td class="text-center text-middle" id="d58"><div id="58"></div></td>
                    </tr>
                </tbody>
            </table>
			</div>
			<div class="modal-body p-3 mt-1 pdf_modal_table_style">
				<table class="table table-bordered transparent fixed-layout">
                <thead>
                    <tr>
                        <th class=" text-left" style="width: 50px">18</th>
                        <th class=" text-left">External Signage</th>
                        <th style="width: 150px" class="text-center text-middle"><span class="selected_option"></span></th>
                    </tr>
                </thead>
                 <tbody>
                    <tr>
                        <td class="text-left">i</td>
                        <td class="text-left">Area on the shopping mall facades for PVR logo at three places of size 5mtr X 5 mtr </td>
                        <td class="text-center text-middle" id="d59"><div id="59"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">ii</td>
                        <td class="text-left">Area for billboards (20' x 10' each) on façade with completely finished framework, structure & access. The location of the billboards shall be mutually decided by the parties. One billboard per screen to be provided on façade as per agreed locations.</td>
                        <td class="text-center text-middle" id="d60"><div id="60"></div></td>
                    </tr>
                     <tr>
                        <td class="text-left">iii</td>
                        <td class="text-left">Area for PVR logo, display Boards, LCD and Led's at Box office on Ground floor as per mutual agreement.</td>
                        <td class="text-center text-middle" id="d61"><div id="61"></div></td>
                    </tr>
                     <tr>
                        <td class="text-left">iv</td>
                        <td class="text-left">Façade cleaning system and catwalk shall be provided by the Developer, at no extra cost for cleaning, maintenance and changing of the above signage, including the billboards.</td>
                        <td class="text-center text-middle" id="d62"><div id="62"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">v</td>
                        <td class="text-left">The Developer shall provide the space and foundation, with electricity connection, for the 20 mt totem pole on mutually agreed location on the exterior of the mall according to the PVR’s specifications. </td>
                        <td class="text-center text-middle" id="d63"><div id="63"></div></td>
                    </tr>
                     <tr>
                        <td class="text-left">vi</td>
                        <td class="text-left">Tapping, cabling and electrical supply for the above shall be provided from the nearest electrical point.</td>
                        <td class="text-center text-middle" id="d64"><div id="64"></div></td>
                    </tr>
                </tbody>
            </table>
			</div>
			<div class="modal-body p-3 mt-1 pdf_modal_table_style">
				<table class="table table-bordered transparent fixed-layout">
                <thead>
                    <tr>
                        <th class=" text-left" style="width: 50px">19</th>
                        <th class=" text-left">Internal Signage</th>
                        <th style="width: 150px" class="text-center text-middle"><span class="selected_option"></span></th>
                    </tr>
                </thead>
                 <tbody>
                    <tr>
                        <td class="text-left">i</td>
                        <td class="text-left">The Developer shall provide adequate space to PVR for two PVR’s logos one each at the Multiplex entrance & Mall’s atrium visible from ground floor of size not less than 20 ft wide and 5 ft in height.</td>
                        <td class="text-center text-middle" id="d65"><div id="65"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">ii</td>
                        <td class="text-left">The Developer shall provide space to PVR poster wall at the Ground floor box office with electrical connection.</td>
                        <td class="text-center text-middle" id="d66"><div id="66"></div></td>
                    </tr>
                     <tr>
                        <td class="text-left">iii</td>
                        <td class="text-left">The Developer will provide the directional signage’s showing way to the Multiplex and area for movie promotional banners, standees or any other display signage in the mall.</td>
                        <td class="text-center text-middle" id="d67"><div id="67"></div></td>
                    </tr>
                     <tr>
                        <td class="text-left">iv</td>
                        <td class="text-left">The Developer shall provide areas within the mall lobbies, corridors, and atriums for cross-promotions and programming displays at mutually agreed locations. </td>
                        <td class="text-center text-middle" id="d68"><div id="68"></div></td>
                    </tr>
                </tbody>
            </table>
			</div>
			<div class="modal-body p-3 mt-1 pdf_modal_table_style">
				<table class="table table-bordered transparent fixed-layout">
                <thead>
                    <tr>
                        <th class=" text-left" style="width: 50px">20</th>
                        <th class=" text-left">Temporary Signage’s During Multiplex Commercial Launch - For 3 months on Free of Cost basis</th>
                        <th style="width: 150px" class="text-center text-middle"><span class="selected_option"></span></th>
                    </tr>
                </thead>
                 <tbody>
                    <tr>
                        <td class="text-left">i</td>
                        <td class="text-left">Floor mounted standees on all floors – Total 25 in number</td>
                        <td class="text-center text-middle" id="d69"><div id="69"></div></td>
                    </tr>
                    <tr>
                        <td class="text-left">ii</td>
                        <td class="text-left">Multiplex promotional danglers in the Mall – Total 200 in number</td>
                        <td class="text-center text-middle" id="d70"><div id="70"></div></td>
                    </tr>
                     <tr>
                        <td class="text-left">iii</td>
                        <td class="text-left">Drop down banners in Mall’s Atrium – 10 in number</td>
                        <td class="text-center text-middle" id="d71"><div id="71"></div></td>
                    </tr>
                     <tr>
                        <td class="text-left">iv</td>
                        <td class="text-left">Space for banners in basement parking areas – 20 in number</td>
                        <td class="text-center text-middle" id="d72"><div id="72"></div></td>
                    </tr>
                </tbody>
            </table>
			</div>
			<div class="modal-body p-3 mt-1 pdf_modal_table_style">
				<table class="table table-bordered transparent fixed-layout">
                <thead>
                    <tr>
                        <th class=" text-left" style="width: 50px">21</th>
                        <th class=" text-left">AMC</th>
                        <th style="width: 150px" class="text-center text-middle"><span class="selected_option"></span></th>
                    </tr>
                </thead>
                 <tbody>
                    <tr>
                        <td class="text-left">i</td>
                        <td class="text-left">The Developer shall maintain the infrastructure and amenities as per the best industry standards of maintenance and shall ensure that there is no down time of critical amenities like electricity, air conditioning, lifts etc., leading to a loss of PVR’s Business.</td>
                        <td class="text-center text-middle" ><div id="73"></div></td>
                    </tr>
                   
                </tbody>
            </table>
			</div>
			<div class="modal-body p-3 mt-1 pdf_modal_table_style">
				<table class="table table-bordered transparent fixed-layout">
                <thead>
                    <tr>
                        <th class=" text-left" style="width: 50px">22</th>
                        <th class=" text-left">Garbage disposal</th>
                        <th style="width: 150px" class="text-center text-middle"><span class="selected_option"></span></th>
                    </tr>
                </thead>
                 <tbody>
                    <tr>
                        <td class="text-left">i</td>
                        <td class="text-left">The Developer shall provide the garbage disposal system for the entire Mall. The lifts always be kept in clean and hygienic conditions.</td>
                        <td class="text-center text-middle" ><div id="74"></div></td>
                    </tr>
                   
                </tbody>
            </table>
			</div>
		</div>
	</div>
</div>
<!--  -->	
		
</div>


<div th:fragment="customJs">
	<script type="text/javascript" th:src="@{/./js/pre-handover-step-4.js}"></script>
</div>