<!--  css  file-->
<div th:fragment="customCss"></div>

<!--  content body -->
<div th:fragment="content">

	<section class="mainContainer">

		<div class="col-md-12 col-sm-12">

			<div class="tabsParent">
				<div th:insert="preHandover/header :: header"></div>

				<div id="content" class="tab-content" role="tablist">

					<div id="step-3" class=" tab-pane fade  show active" role="tabpanel"
						aria-labelledby="tab_C">
						<div id="collapse-g" class="collapse show" role="tabpanel"
							aria-labelledby="heading-g">
							<form id="upcomingCinemaForm" class="client-form" 
								 th:object="${projectDetails}" method="POST" autocomplete="off"
								enctype="multipart/form-data">
							<div id="stickID" style="top: 0;">
											<label for="exampleInputEmail1" class="bmd-label-static">Report
												ID</label> <input type="hidden" name="reportId"
												th:value="${reportId}">
											<p class="reportIdText"
												th:text="${projectDetails == null} ? ${reportId} : ${projectDetails?.reportId}"></p>
										</div>
										<input type="hidden" name="id" th:value="${projectDetails?.id}" />
								<div class="title_strip mb-0">
									<h5>pvr properties</h5>
								</div>
								
								
								<div class="card-body">
								
								
								
								<div id="repeaterGrandParent">
								
									<div class="property_repater_parent mb-4"
										id="property_repater_parent">
										<div class="row">
											<div class="subTitle_strip my-0">
												<h5>property -<span> 1</span></h5>
												<ul><li><a class="pvrPropertiesresetBtn" href="javascript:void(0);"><i
															class="fas fa-redo"></i> Reset</a></li>
												</ul>
											</div>
											<div class="col-lg-6 col-sm-6">
												<fieldset class="form-group">
													
													<label for="exampleInputEmail1" class="bmd-label-static">Name
														<span style="color: red" id="">* <span id="step_3_IdError"></span></span>
													</label> 
													<input type="text" class="form-control" value=""
														name="pvrProperties[0].propertyName"
														th:field="*{pvrProperties[0].propertyName}"
														id="step_3_name" placeholder="Enter property name">
												</fieldset>
											</div>
											
										
											
											<div class="col-lg-6 col-sm-6">
												<fieldset class="form-group">
													<label for="exampleInputEmail1" class="bmd-label-static">Address
														<span style="color: red" id="">* <span id="exampleInputAddressError"></span></span>
													</label> <input type="text" class="form-control exampleInputAddress"
														name="pvrProperties[0].address" id="exampleInputAddress"
														placeholder="Enter address"
														th:field="*{pvrProperties[0].address}">
												</fieldset>
											</div>
									
											<div class="col-lg-6 col-sm-6">
												<fieldset class="form-group">
													<label for="exampleInputEmail1" class="bmd-label-static">Number
														of screens <span style="color: red" id="">* <span id="exampleInputscreenError"></span></span>
													</label> <input type="text" class="form-control numberLimit"
														id="exampleInputscreen"
														placeholder="Enter number of screens"
														onkeyup="this.value = this.value.replace(/[^0-9.]/, '')"
														th:field="*{pvrProperties[0].noOfScreen}">
												</fieldset>
											</div>
											<div class="col-lg-6 col-sm-6">
												<fieldset class="form-group">
													<label for="exampleInputEmail1" class="bmd-label-static">Seat
														capacity <span style="color: red" id="" >* <span id="exampleInputseatError"></span></span>
													</label> <input type="text" class="form-control numberLimit"
														id="exampleInputseat"
														th:field="*{pvrProperties[0].seatCapacity}"
														placeholder="Enter seat capacity"
														onkeyup="this.value = this.value.replace(/[^0-9.]/, '')">
												</fieldset>
											</div>
											<div class="col-lg-6 col-sm-6">
												<fieldset class="form-group">
													<label for="start-date" class="bmd-label-static">Tentative
														opening date <span style="color: red">* <span id="openingDateError"></span></span>
													</label> <input type="text" placeholder="Select opening date"
														class="date-field form-control uc_datepicker"  data-dtp="dtp_EDQ9R"
														id="from1" 
														th:field="*{pvrProperties[0].tenatativeOpeningDate}">
												</fieldset>
											</div>
										</div>
									</div>
									
									
									
									
									<div class="property_repater_parent mb-4"
										id="property_repater_parent" th:if="${!(projectDetails.pvrProperties).empty}" th:each="entry,itr : ${projectDetails?.pvrProperties}">
										<input type="hidden" th:value="${itr.size}" id="pvr_properties_size">
										<div class="row" th:if="${itr.index>0}">
											<div class="subTitle_strip my-0">
												<h5>property - <span th:text="${itr.index + 1}"></span></h5>
												<ul>
													<li><a class="resetBtn" href="javascript:void(0);">
														<i class="fas fa-redo"></i> Reset</a>
													</li>
													<li><a class="deleteBtn deletePVRBtn" href="javascript:void(0);">
														<i class="fas fa-trash-alt"></i> Delete</a>
													</li>
												</ul>
											</div>
											<div class="col-lg-6 col-sm-6">
												<fieldset class="form-group">
													<label for="exampleInputEmail1" class="bmd-label-static">Name
														<span style="color: red" id="">* <span id="step_3_IdError"></span></span>
													</label> 
													<input type="text" class="form-control validate_required"
														name="pvrProperties[0].propertyName"
														th:field="*{pvrProperties[__${itr.index}__].propertyName}"
														id="step_3_name" placeholder="Enter Property Name"
														th:value="${entry.propertyName}">
												</fieldset>
											</div>
											
										
											
											<div class="col-lg-6 col-sm-6">
												<fieldset class="form-group">
													<label for="exampleInputEmail1" class="bmd-label-static">Address
														<span style="color: red" id="">* <span id="exampleInputAddressError"></span></span>
													</label> <input type="text" class="form-control validate_required exampleInputAddress"
														name="pvrProperties[0].address" id="exampleInputAddress"
														placeholder="Enter address"
														th:field="*{pvrProperties[__${itr.index}__].address}"
														th:value="${entry.address}">
												</fieldset>
											</div>
										
											<div class="col-lg-6 col-sm-6">
												<fieldset class="form-group">
													<label for="exampleInputEmail1" class="bmd-label-static">Number
														of screens <span style="color: red" id="">* <span id="exampleInputscreenError"></span></span>
													</label> <input type="text" class="form-control numberLimit validate_required" 
														name="pvrProperties[0].noOfScreen" id="exampleInputscreen"
														placeholder="Enter number of screens"
														onkeyup="this.value = this.value.replace(/[^0-9.]/, '')"
														th:field="*{pvrProperties[__${itr.index}__].noOfScreen}"
														th:value="${entry.noOfScreen}">
												</fieldset>
											</div>
											<div class="col-lg-6 col-sm-6">
												<fieldset class="form-group">
													<label for="exampleInputEmail1" class="bmd-label-static">Seat
														Capacity <span style="color: red" id="" >* <span id="exampleInputseatError"></span></span>
													</label> <input type="text" class="form-control numberLimit validate_required"
														name="pvrProperties[0].seatCapacity"
														id="exampleInputseat"
														th:field="*{pvrProperties[__${itr.index}__].seatCapacity}"
														placeholder="Enter seat capacity"
														onkeyup="this.value = this.value.replace(/[^0-9.]/, '')"
														th:value="${entry.seatCapacity}">
												</fieldset>
											</div>
											<div class="col-lg-6 col-sm-6">
												<fieldset class="form-group">
													<label for="start-date" class="bmd-label-static">Tentative
														opening date <span style="color: red">* <span id="openingDateError"></span></span>
													</label> <input type="text" placeholder="Select opening date"
														class="date-field form-control uc_datepicker validate_required" data-dtp="dtp_EDQ9R"
														id="from" name="pvrProperties[0].tenatativeOpeningDate"
														th:field="*{pvrProperties[__${itr.index}__].tenatativeOpeningDate}"
														th:value="${entry.tenatativeOpeningDate}">
												</fieldset>
											</div>
										</div>
										</div>
										
									</div>
									
									
									
									<button type="button" class=" btn btn-raised btn-secondary"
										id="addProperty" spellcheck="true">
										<i class="fas fa-plus-circle"></i>ADD ANOTHER PROPERTY
										<div class="ripple-container"></div>
									</button>
									
								</div>
								
								

								<div class="title_strip mb-0">
									<h5>COMPETITION properties</h5>
								</div>

								<div class="card-body" >
									<div id="repeaterGrandParent1">
									<div class="competition_properties mb-4"
										id="competition_properties">
										<div class="row">
											<div class="subTitle_strip my-0">
												<h5>
													property -<span> 1</span>
												</h5>
												<ul>
													<li><a class="compitionResetBtn" href="javascript:void(0);"><i
															class="fas fa-redo"></i> Reset</a></li>
												</ul>
											</div>
											<div class="col-lg-6 col-sm-6">
												<fieldset class="form-group">
													<label for="exampleInputEmail1" class="bmd-label-static">Name
														<span style="color: red" id="name1Error">* <span id="step_3_name1Error"></span></span>
													</label> <input type="text" class="form-control"
														id="step_3_name1" placeholder="Enter property name"
														th:field="*{competitveProperties[0].propertyName}">
												</fieldset>
											</div>
											<div class="col-lg-6 col-sm-6">
												<fieldset class="form-group">
													<label for="exampleInputEmail1" class="bmd-label-static">Address
														<span style="color: red">* <span id="exampleInputAddress1Error"></span></span>
													</label> <input type="text" class="form-control exampleInputAddress"
														th:field="*{competitveProperties[0].address}"
														id="exampleInputAddress1" placeholder="Enter address">
												</fieldset>
											</div>
											<div class="col-lg-6 col-sm-6">
												<fieldset class="form-group">
													<label for="exampleInputEmail1" class="bmd-label-static">Number
														of screens <span style="color: red">* <span id="exampleInputscreen1Error"></span></span>
													</label> <input type="text" class="form-control numberLimit"
														id="exampleInputscreen1"
														placeholder="Enter number of screens"
														th:field="*{competitveProperties[0].noOfScreen}"
														onkeyup="this.value = this.value.replace(/[^0-9.]/, '')">
												</fieldset>
											</div>
											<div class="col-lg-6 col-sm-6">
												<fieldset class="form-group">
													<label for="exampleInputEmail1" class="bmd-label-static">Seat
														capacity (Optional)</label> <input type="text"
														class="form-control numberLimit competetionSeatCap"
														id="exampleInputEmail1" placeholder="Enter seat capacity"
														th:field="*{competitveProperties[0].seatCapacity}"
														onkeyup="this.value = this.value.replace(/[^0-9.]/, '')">
												</fieldset>
											</div>
											<div class="col-lg-6 col-sm-6">
												<fieldset class="form-group">
													<label for="start-date" class="bmd-label-static">Tentative
														opening date <span style="color: red">* <span id="to1Error"></span></span>
													</label> <input type="text" placeholder="Select opening date"
														class="date-field form-control uc_datepicker" data-dtp="dtp_EDQ9R"
														id="to1" th:field="*{competitveProperties[0].tenatativeOpeningDate}">
												</fieldset>
											</div>
										</div>
									</div>
									<div class="competition_properties mb-4"
										id="competition_properties" th:each="entry,itr : ${projectDetails?.competitveProperties}">
										<input type="hidden" th:value="${itr.size}" id="pvr_competition_size">
										<div class="row" th:if="${itr.index>0}">
											<div class="subTitle_strip my-0">
												<h5>
													property -<span> <span th:text="${itr.index + 1}"></span></span>
												</h5>
												<ul>
													<li><a class="resetBtn" href="javascript:void(0);">
														<i class="fas fa-redo"></i> Reset</a>
													</li>
													<li><a class="deleteBtn deleteCOMPBtn" href="javascript:void(0);">
														<i class="fas fa-trash-alt"></i> Delete</a>
													</li>
												</ul>
											</div>
											<div class="col-lg-6 col-sm-6">
												<fieldset class="form-group">
													<label for="exampleInputEmail1" class="bmd-label-static">Name
														<span style="color: red" id="name1Error">* <span id="step_3_name1Error"></span></span>
													</label> <input type="text" class="form-control validate_required1"
														name="competitveProperties[0].propertyName"
														id="step_3_name1" placeholder="Enter property name"
														th:field="*{competitveProperties[__${itr.index}__].propertyName}"
														th:value="${entry.propertyName}">
												</fieldset>
											</div>
											<div class="col-lg-6 col-sm-6">
												<fieldset class="form-group">
													<label for="exampleInputEmail1" class="bmd-label-static">Address
														<span style="color: red">* <span id="exampleInputAddress1Error"></span></span>
													</label> <input type="text" class="form-control validate_required1 exampleInputAddress"
														name="competitveProperties[0].address"
														th:field="*{competitveProperties[__${itr.index}__].address}"
														id="exampleInputAddress1" placeholder="Enter Address"
														th:value="${projectDetails?.competitveProperties[0]?.address}">
												</fieldset>
											</div>
											<div class="col-lg-6 col-sm-6">
												<fieldset class="form-group">
													<label for="exampleInputEmail1" class="bmd-label-static">Number
														of screens <span style="color: red">* <span id="exampleInputscreen1Error"></span></span>
													</label> <input type="text" class="form-control numberLimit validate_required1"
														name="competitveProperties[0].noOfScreen"
														id="exampleInputscreen1"
														placeholder="Enter number of screens"
														th:field="*{competitveProperties[__${itr.index}__].noOfScreen}"
														onkeyup="this.value = this.value.replace(/[^0-9.]/, '')"
														th:value="${entry.noOfScreen}">
												</fieldset>
											</div>
											<div class="col-lg-6 col-sm-6">
												<fieldset class="form-group">
													<label for="exampleInputEmail1" class="bmd-label-static">Seat
														Capacity (Optional)</label> <input type="text"
														class="form-control numberLimit"
														name="competitveProperties[0].seatCapacity"
														id="exampleInputEmail1" placeholder="Enter seat capacity"
														th:field="*{competitveProperties[__${itr.index}__].seatCapacity}"
														onkeyup="this.value = this.value.replace(/[^0-9.]/, '')"
														th:value="${entry.seatCapacity}">
												</fieldset>
											</div>
											<div class="col-lg-6 col-sm-6">
												<fieldset class="form-group">
													<label for="start-date" class="bmd-label-static">Tentative
														Opening Date <span style="color: red">* <span id="to1Error"></span></span>
													</label> <input type="text" placeholder="Select Opening Date"
														class="date-field form-control uc_datepicker validate_required1" data-dtp="dtp_EDQ9R"
														id="to1" th:field="*{competitveProperties[__${itr.index}__].tenatativeOpeningDate}"
														name="competitveProperties[0].tenatativeOpeningDate"
														th:value="${entry.tenatativeOpeningDate}">
												</fieldset>
											</div>
										</div>
									</div>
									</div>
									<button type="button" class=" btn btn-raised btn-secondary"
										id="addCompetitionProperties" spellcheck="true">
										<i class="fas fa-plus-circle"></i>ADD ANOTHER PROPERTY
										<div class="ripple-container"></div>
									</button>
								</div>

								<div sec:authorize="hasAnyRole('ROLE_BD')" class="card-body" th:if="${projectDetails?.status < 105 }">
									<div class="p-4 buttonGroup_nextCancelSave">
										<a th:href="@{/dashboard}"><button type="button"
												class="cancelBtn btn btn-raised btn-secondary" id="yo">CANCEL</button></a>
										<button type="button" id="save"
											class="nextBtn btn-raised btn btn-success">NEXT</button>
										<button type="button" id="save_close"
											class="saveCloseBtn btn btn-raised btn-secondary">SAVE
											&amp; CLOSE</button>
									</div>
								</div>
							</form>
						</div>
					</div>
			
				</div>
			</div>
		</div>

</section>

</div>

<div th:fragment="customJs">
<script	th:src="@{/./js/bootstrap-material-datetimepicker.js}"></script>
			<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCatyZLSASD1xIuiOctecSipsxqeJgPZLM&libraries=places&callback=initMap"
		async defer></script>

<script type="text/javascript" th:src="@{/./js/pre-handover-step-3.js}"></script>

</div>