<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<title>Pvr</title>
<link rel="icon" th:href="@{/images/faviconIcon.png}" sizes="16x16 32x32" type="image/png"> 
<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
<!-- <link rel="stylesheet" th:href="@{/./css/bootstrap-material-datetimepicker.css}" /> -->
<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<link rel="stylesheet" th:href="@{/./css/jquery.mCustomScrollbar.css}" />
<link rel="stylesheet" th:href="@{/./css/jquery.mCustomScrollbar.min.css}" />
<link rel="stylesheet" th:href="@{/./css/bootstrap-material.css}" />
<link rel="stylesheet" th:href="@{/./css/style.css}" />
<link rel="stylesheet" th:href="@{/./css/bootstrap-select.css}" />



<object th:insert="${view} :: customCss" th:remove="tag">Header
	goes here!</object>
</head>
<body >
	<div th:include="fragments/components :: header" th:remove="tag">Header
		goes here!</div>
		<div class="mainBodyContent">

		<div th:include="${view} :: content" th:remove="tag">Content
		goes here!</div>

		</div>

	
		<script th:src="@{/./js/jquery-slim.min.js}"></script>

	<script th:src="@{/./js/jquery-3.3.1.min.js}"></script>

	<script th:src="@{/./js/moment.js}"></script>
	<script th:src="@{/./js/popper.min.js}"></script>
	<script th:src="@{/./js/bootstrap-material.js}"></script>

	<script th:src="@{/./js/jquery.mCustomScrollbar.concat.min.js}"></script>
	<script th:src="@{/./js/jquery.mCustomScrollbar.js}"></script>


	<script th:src="@{/./js/bootstrap-select.min.js}"></script>
	
	<script type="text/javascript">
			// Navigation Active state

			$(function() {
				setNavigation();
			});

			function setNavigation() {
				var path = window.location.pathname;
				path = path.replace(/\/$/, "");
				path = decodeURIComponent(path);
				$(".sidebar ul li a").each(function() {
					var href = $(this).attr('href');
					if (path === href) {
						$(this).addClass('active');
					}
				});
				/* if(path.indexOf('project/summary-sheet/')>0) {
			          $('.feasibilitMenuyAnchor').addClass('active');
			    } */
			}
		</script>

<script>
$(document).ready(function(){
$('.sidebar ul li.dropdown_hasMenu').on('click', function(){
	$(this).find('ul.hasSubmenu').slideToggle();
});
});
</script>

	<div th:insert="${view} :: customJs" th:remove="tag">Header
		goes here!</div>
</body>

</html>