@page {
size: A4 landscape;
}
img{max-width:100%;width:auto;}
tbody, thead {
vertical-align: middle;
border-color: inherit
}

tbody, thead, tr {
border-color: inherit
}

td, th, tr {
vertical-align: inherit
}

* {
margin: 0;
padding: 0;
box-sizing: border-box
}

table {
display: table;
border-spacing: 2px;
border-collapse: collapse;
width: 100%;
max-width: 100%;
margin-bottom: 2rem;
margin-top: 2rem;
background-color: transparent;
border: 1px solid rgba(0, 0, 0, .06);
font-family: HelveticaNeue-Medium
}

thead {
display: table-header-group
}

tbody {
display: table-row-group
}

tr {
display: table-row
}

td, th {
display: table-cell
}

.table thead th, .table tr th {
font-size: 16px;
font-weight: 600;
color: #000;
background: #ffc906;
border: 2px solid #000
}

.table td, .table th {
text-align: center;
font-size: 15px;
padding: 10px;
vertical-align: top;
border-top: 1px solid rgba(0, 0, 0, .06)
}

.table td:first-of-type, .table th:first-of-type {
text-align: left;
}

.table-bordered, .table-bordered td, .table-bordered th {
border: 2px solid #ccc
}

@font-face {
font-family: Cafeta;
src: url(static/fonts/Cafeta.eot), url(static/fonts/Cafeta.woff) format('woff'),
url(static/fonts/Cafeta.ttf) format('truetype'), url(static/fonts/Cafeta.svg#Cafeta)
format('svg'), url(static/fonts/Cafeta.eot?#iefix)
format('embedded-opentype');
font-weight: 400;
font-style: normal
}

@font-face {
font-family: HelveticaNeue-Roman;
src: url(static/fonts/HelveticaNeue-Roman.eot),
url(static/fonts/HelveticaNeue-Roman.woff) format('woff'),
url(static/fonts/HelveticaNeue-Roman.ttf) format('truetype'),
url(static/fonts/HelveticaNeue-Roman.svg#HelveticaNeue-Roman) format('svg'),
url(static/fonts/HelveticaNeue-Roman.eot?#iefix) format('embedded-opentype');
font-weight: 400;
font-style: normal
}

@font-face {
font-family: HelveticaNeueRegular;
src: url(static/fonts/HelveticaNeueRegular.eot),
url(static/fonts/HelveticaNeueRegular.woff) format('woff'),
url(static/fonts/HelveticaNeueRegular.ttf) format('truetype'),
url(static/fonts/HelveticaNeueRegular.svg#HelveticaNeueRegular) format('svg'),
url(static/fonts/HelveticaNeueRegular.eot?#iefix) format('embedded-opentype');
font-weight: 400;
font-style: normal
}

@font-face {
font-family: HelveticaNeue-Medium;
src: url(static/fonts/HelveticaNeue-Medium.eot),
url(static/fonts/HelveticaNeue-Medium.woff) format('woff'),
url(static/fonts/HelveticaNeue-Medium.ttf) format('truetype'),
url(static/fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium) format('svg'),
url(static/fonts/HelveticaNeue-Medium.eot?#iefix) format('embedded-opentype');
font-weight: 400;
font-style: normal;
font-display: block
}

h1, h2 {
letter-spacing: 0.5px;
font-family: Cafeta;
font-size: 30px;
margin-top: 40px;
margin: 20px 0 0;
font-weight: 500;
}

.pdf_wrapper hr {
border-color: #ffc906;
box-shadow: none;
outline: 0;
margin: 10px 0 20px;
border-width: 2px;
unicode-bidi: unset;
border-style: solid
}

.pdf_wrapper {
position: relative;
width: 1080px;
margin: 50px auto
}

.map_frame {
height: 450px;
position: relative;
width: 100%;
overflow: hidden;
margin: 30px 0 20px
}

.transparent tr td {
background: 0 0 !important
}

.text-center {
text-align: center !important;
}

.text-right {
text-align: right
}

tr:nth-child(even) td {
background: #ccc
}

.text-middle {
vertical-align: middle !important;
text-align: center !important;
}

.text-left {
text-align: left !important;
}

.p-m-0 {
margin: 0;
padding: 0 !important;
}

.border-hide {
border: hidden;
}

.mb-2 {
margin-bottom: 2rem;
}

.top-shadow {
box-shadow: inset 0 2px 0 0px #000;
}

.total_row td, .total_row {
background: #ccc !important;
}

.dicrease-font-size tr td, .dicrease-font-size tr th {
font-size: 12px !important;
}

h3, h4 {
letter-spacing: 0.5px;
font-family: Cafeta;
font-size: 24px;
margin: 0 0 20px;
font-weight: 500;
}

.graph-frame {
margin-bottom: 1rem;
}

.half-width {
max-width: 50%;
}

.fixed-layout {
table-layout: fixed;
}

.black_row {
background-color: #000 !important;
}

.black_row td {
color: #fff !important;
}

.headStrip {
position: relative;
margin-top: 30px;
padding: 12px 15px;
font-size: 22px;
background: #ffc906;
font-family: HelveticaNeue-Medium;
}

fieldset {
width: 100%;
opacity: 0.2;
border-bottom: 0;
border-left: 0;
border-right: 0;
margin: 20px 0 20px;
}

fieldset legend {
text-align: center;
font-size: 16px;
font-family: HelveticaNeue-Medium;
color: #000;
padding: 0 15px;
}

#chats {
margin: 0;
padding: 0;
}

#chats li {
display: inline-block;
width: 100%;
margin: 0 0 15px;
}

#chats li h4 {
margin: 8px 0 0;
float: left;
font-size: 20px;
width: 150px;
margin: 0 0;
}

#chats li .chat_textarea {
border-radius: 6px 25px 25px 20px;
background: #eee;
font-family: HelveticaNeue-Medium;
float: right;
padding: 15px;
width: calc(100% - 160px);
}