<div th:fragment="customCss"></div>
<div th:fragment="content">

	<section class="mainContainer">
		<div class="col-md-12 col-sm-12">


			<div class="tabsParent">
				<div th:insert="projectDetail/header :: header"></div>

				<div id="content" class="tab-content" role="tablist">
					<div id="step-1" class=" tab-pane fade show active" role="tabpanel"
						aria-labelledby="tab_A">
						<div id="collapse-A" class="collapse show" role="tabpanel"
							aria-labelledby="heading-A">

							<div class="card-body">
								<form class="client-form" id="plan"
									 th:object="${projectDetails}" 
									method="POST" enctype="multipart/form-data" autocomplete="off">
									<div class="row">
										<!-- Project Details Content Here -->
										<div class="col-lg-6 col-sm-6" id="feasibility_state">
											<fieldset class="form-group">
												<label for="exampleInputEmail1"
													class="bmd-label-static d-block">Feasibility State
													<span style="color: red">*</span>
												</label>
												<!-- Default unchecked -->
												<div th:if="${projectDetails?.id==null or projectDetails?.id==''}">
												<div class="custom-control custom-radio d-inline">
													<input type="radio" class="custom-control-input"
														id="defaultUnchecked1" name="feasibilityState"
														value="pre_signing" checked> <label
														class="custom-control-label" for="defaultUnchecked1">Pre
														Signing</label>
												</div>
												<div class="custom-control custom-radio d-inline">
													<input type="radio" class="custom-control-input"
														id="defaultUnchecked2" name="feasibilityState"
														value="post_signing"> <label
														class="custom-control-label" for="defaultUnchecked2">Post
														Signing</label>
												</div>
												<div class="custom-control custom-radio d-inline">
													<input type="radio" class="custom-control-input"
														id="defaultUnchecked3" name="feasibilityState"
														value="pre_handover"> <label
														class="custom-control-label" for="defaultUnchecked3">Pre-Handover</label>
												</div>
												</div>
												
												<div th:if="${projectDetails?.id!=null && projectDetails?.feasibilityState=='pre_signing'}">
													<div class="custom-control custom-radio d-inline">
														<input type="radio" class="custom-control-input"
															id="defaultUnchecked1" name="feasibilityState"
															value="pre_signing" checked> <label
															class="custom-control-label" for="defaultUnchecked1">Pre
															Signing</label>
													</div>
												</div>
												
											</fieldset>
										</div>

										<div id="stickID">
											<label for="exampleInputEmail1" class="bmd-label-static">Report
												ID</label> <input type="hidden" name="reportId"
												th:value="${projectDetails?.reportId}">
											<p class="reportIdText"
												th:text="${projectDetails == null} ? ${reportId} : ${projectDetails?.reportId}"></p>
										</div>


										<div class="col-lg-6 col-sm-6 blank-field">
											<fieldset class="form-group"></fieldset>
										</div>


										<div class="col-lg-6 col-sm-6" id="new_exciting">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="">New /
													Existing <span style="color: red">*</span>
												</label><select class="form-control" id="reportType"
													name="reportType" required="required">
													<option value="new"
														th:selected="${projectDetails?.reportType == 'new'}">New</option>
													<option value="existing"
														th:selected="${projectDetails?.reportType == 'existing'}">Existing</option>

												</select>
											</fieldset>
										</div>

										<div class="col-lg-6 col-sm-6 blank-field">
											<fieldset class="form-group"></fieldset>
										</div>


										<div id="project-name-div"
											class="col-lg-6 col-sm-6 projectName_field"
											style="display: block;">
											<fieldset class="form-group">
												<label for="exampleInputEmail1" class="bmd-label-static">Project
													Name <span style="color: red">*</span> <span
													class="text-danger" id="projectNameError"></span>
												</label> <input type="text" class="form-control" name="projectName"
													id="projectName" placeholder="Enter Project Name" 
													th:value="${projectDetails?.projectName}" required />
											</fieldset>
										</div>

										<div id="project-select-div"
											class="col-lg-6 col-sm-6 projectName_field"
											style="display: none">
											<fieldset class="form-group">
												<label for="exampleInputEmail1" class="bmd-label-static">Project
													Name <span style="color: red">*</span> <span
													class="text-danger" id="projectListError"></span>
												</label> <select id="project_list" class="form-control">
													<option th:each="project: ${projectList}"
														th:value="${project?.id}"
														th:selected="${projectDetails?.id == project?.id}"
														th:text="${project?.projectName}"></option>
												</select>

											</fieldset>
										</div>




										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label for="exampleInputEmail1" class="bmd-label-static">Address
													<span style="color: red">*</span><span class="text-danger"
													id="pac-inputError"></span>
												</label> <input type="text" class="form-control"
													name="projectLocation.locality" id="pac-input"
													placeholder="Enter Address" required
													th:value="${projectDetails?.projectLocation?.locality}">

											</fieldset>
										</div>


										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label for="exampleInputEmail1" class="bmd-label-static">Development
													Size (sq. ft.) <span style="color: red">*</span><span
													class="text-danger" id="exampleInputEmail1Error"></span>
												</label><input type="text" class="form-control decimalLimit"
													name="totalDeveloperSize" id="exampleInputEmail1"
													placeholder="Enter Development Size" required
													th:value="${projectDetails?.totalDeveloperSize}"
													onkeyup="this.value = this.value.replace(/[^0-9.]/, '')">
											</fieldset>
										</div>
										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label for="exampleInputEmail1" class="bmd-label-static">Retail
													Area of Project (sq. ft.) <span style="color: red">*</span><span
													class="text-danger" id="exampleInputEmail2Error"></span>
												</label><input type="text" class="form-control decimalLimit"
													name="retailAreaOfProject" id="exampleInputEmail2"
													placeholder="Enter Retail Area Of The Project" required
													onkeyup="this.value = this.value.replace(/[^0-9.]/, '')"
													th:value="${projectDetails?.retailAreaOfProject}">
											</fieldset>
										</div>

										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label class="bmd-label-static" for="date">Type of
													Project <span style="color: red">*</span><span id=""></span>
												</label><select class="form-control" id="" name="projectType">
													<option value="Greenfield"
														th:selected="${projectDetails?.projectType == 'Greenfield'}"><span>Greenfield</span></option>
													<option value="Stand_Alone"
														th:selected="${projectDetails?.projectType == 'Stand_Alone'}"><spane>Stand
														Alone</span></option>
													<option value="Retro_Fit"
														th:selected="${projectDetails?.projectType == 'Retro_Fit'}"><spane>Retro
														Fit</span></option>

												</select>
											</fieldset>
										</div>
										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label for="exampleInputEmail1" class="bmd-label-static">Tenancy
													Mix <span style="color: red">*</span><span
													class="text-danger" id="exampleInputEmail3Error"></span>
												</label><input type="text" class="form-control" name="tenancyMix"
													id="exampleInputEmail3" placeholder="Enter Tenancy Mix"
													required th:value="${projectDetails?.tenancyMix}">

											</fieldset>
										</div>
										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label for="exampleInputEmail1" class="bmd-label-static">Upcoming
													Infrastructure Development <span style="color: red">*</span><span
													class="text-danger" id="exampleInputEmail4Error"></span>
												</label><input type="text" class="form-control" required
													name="upcomingInfrastructureDevlopment"
													id="exampleInputEmail4" placeholder="Enter Text"
													th:value="${projectDetails?.upcomingInfrastructureDevlopment}">
											</fieldset>
										</div>

										
                                        <div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label for="exampleInputEmail1" class="bmd-label-static">Is Mall
													 <span style="color: red">*</span><span
													class="text-danger" id="exampleInputEmail4Error"></span>
												</label>
												
											   <div>
												    <div class="custom-control custom-radio d-inline">
														<input type="radio" id="saleModel" name="saleModel" class="custom-control-input"
									                  	th:value="${projectDetails?.saleModel}"> <label
															class="custom-control-label isMallRadio" >Sale Model
															</label>
													</div>
													<div class="custom-control custom-radio d-inline">
														<input type="radio" id="leaseModel" name="leaseModel" class="custom-control-input"
													    th:value="${projectDetails?.leaseModel}"> <label
															class="custom-control-label isMallRadio" >Lease Model
															</label>
													</div>
											   </div>
										
											</fieldset>
										</div>

										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label for="start-date" class="bmd-label-static">Date
													of Handover <span style="color: red">*</span><span
													class="text-danger" id="fromError"></span>
												</label><input type="text" placeholder="Select Date"
													class="date-field form-control" data-dtp="dtp_EDQ9R"
													id="dateOfHandover" name="dateOfHandover" required
													th:value="${projectDetails?.DateOfHandover}">
											</fieldset>
										</div>
										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label for="start-date" class="bmd-label-static">Date
													of Opening <span style="color: red">*</span><span
													class="text-danger" id="toError"></span>
												</label><input type="text" placeholder="Select Date"
													class="date-field form-control" data-dtp="dtp_EDQ9R"
													id="dateOfOpening" name="dateOfOpening" required
													th:value="${projectDetails?.DateOfOpening}">
											</fieldset>
										</div>
										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group bmd-form-group">
												<label for="exampleInputEmail1" class="bmd-label-static">Upload
													Project Presentation </label>

												<div class="file-select mt-2">
													<p class="selectFile">Select .pdf only</p>
													<input type="file" name="uploadFileStep1" id="uploadfile"
														value="Choose a file" accept="application/pdf" />
												</div>
												<p class="file_must_be text-left">
													<span id="fileError">File must be .pdf only</span>
												</p>
											</fieldset>
										</div>
										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<input type="hidden" class="form-control"
													th:value="${projectDetails?.projectLocation?.city}"
													name="projectLocation.city" id="city">
											</fieldset>
										</div>
										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<input type="hidden" class="form-control"
													th:value="${projectDetails?.projectLocation?.state}"
													name="projectLocation.state" id="stateCity">
											</fieldset>
										</div>

										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<input type="hidden" class="form-control"
													th:value="${projectDetails?.reportIdSubVersion}"
													name="reportIdSubVersion" id="">
											</fieldset>
										</div>
										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<input type="hidden" class="form-control"
													th:value="${projectDetails?.reportIdVersion}"
													name="reportIdVersion" id="">
											</fieldset>
										</div>
										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<input type="hidden" class="form-control" th:value="${projectDetails?.projectLocation?.latitude}"
													name="projectLocation.latitude" id="latitude">
											</fieldset>
										</div>
										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<input type="hidden" class="form-control" th:value="${projectDetails?.projectLocation?.longitude}"
													name="projectLocation.longitude" id="longitude">
											</fieldset>
										</div>
										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<input type="hidden" class="form-control" name="id"
													th:value="${projectDetails?.id}">
											</fieldset>
										</div>

									</div>


									<div class="p-4 buttonGroup_nextCancelSave"
										th:if="${projectDetails?.status < 105 }">
										<a th:href="@{/dashboard}"><button type="button"
												class="cancelBtn btn btn-raised btn-secondary">CANCEL</button></a>
										<button type="button" id="save"
											class="nextBtn btn-raised btn btn-success" value="NEXT">NEXT</button>
										<button type="button" id="save_close"
											class="saveCloseBtn btn btn-raised btn-secondary">SAVE
											& CLOSE</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>


<div th:fragment="customJs">
	<script	th:src="@{/./js/bootstrap-material-datetimepicker.js}"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCatyZLSASD1xIuiOctecSipsxqeJgPZLM&libraries=places&callback=initMap"
		async defer></script>
	<script type="text/javascript" th:src="@{/./js/developmentDetails.js}"></script>

</div>



