<div th:fragment="customCss"></div>
<div th:fragment="content">

	<section class="mainContainer">
		<div class="col-md-12 col-sm-12">


			<div class="tabsParent">
				<div th:insert="projectDetail/header :: header"></div>

				<div id="content" class="tab-content" role="tablist">
				
					<div id="step-2" class=" tab-pane fade show active" role="tabpanel"
						aria-labelledby="tab_B">
						<div id="collapse-f" class="collapse show"  role="tabpanel"
							aria-labelledby="heading-B">
							<!-- <form id="step_2"> -->
							<form id="developerDetailForm" class="client-form"
								 th:object="${projectDetails}" method="POST" enctype="multipart/form-data" autocomplete="off">
								<div class="title_strip mb-0">
									<h5>company information</h5>
								</div>
								<div class="card-body">

									<div class="row">
										<div id="stickID" style="top: 0;">
											<label for="exampleInputEmail1" class="bmd-label-static">Report
												ID</label> <input type="hidden" name="reportId"
												th:value="${reportId}">
											<p class="reportIdText"
												th:text="${projectDetails == null} ? ${reportId} : ${projectDetails?.reportId}"></p>
										</div>
										
										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												 <label
													for="exampleInputEmail1" class="bmd-label-static">Developer
													Name<span style="color: red">*</span> <span class="text-danger" id="developerNameError"></span></label> <input type="text" class="form-control"
													name="developer" id="developerName" maxlength="40"
													placeholder="Enter Developer Name"
													th:value="${projectDetails?.developer}">
											</fieldset>
										</div>
										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label for="exampleInputEmail1" class="bmd-label-static">Name
													of Owners<span style="color: red">*</span> <span class="text-danger" id="nameOfOwnerError"></span></label> <input type="text" class="form-control"
													name="developerOwner" id="nameOfOwner" maxlength="100"
													placeholder="Enter Name of Owners"
													th:value="${projectDetails?.developerOwner}">
											</fieldset>
										</div>
										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label for="exampleInputEmail1" class="bmd-label-static">Gross
													Turnover (INR Cr.)</label> <input type="text" class="form-control grossTurnOverLimit"
													name="grossTurnOver" id="exampleInputEmail1"
													placeholder="Enter Gross Turnover"
													onkeyup="this.value = this.value.replace(/[^0-9.]/, '')"
													th:value="${projectDetails?.grossTurnOver}">
											</fieldset>
										</div>

										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label for="exampleInputEmail1" class="bmd-label-static">Retail
													Projects Delivered</label> <input type="text" class="form-control"
													name="retailProjectDelivered" id="exampleInputEmail1"
													placeholder="Enter Retail Project Delivered"
													th:value="${projectDetails?.retailProjectDelivered}">
											</fieldset>
										</div>

										<div class="col-lg-6 col-sm-6" id="three_project_delivered">
											<fieldset class="form-group">
												<label for="exampleInputEmail1" class="bmd-label-static">Top
													Three Projects Delivered</label> <span class="w-100"><h6>1</h6>
													<input type="text" class="form-control"
													name="projectDelivered1" id="exampleInputEmail1"
													placeholder="Enter Project Name"
													th:value="${projectDetails?.projectDelivered1}"> </span> <span
													class="w-100"><h6>2</h6> <input type="text"
													class="form-control" name="projectDelivered2"
													id="exampleInputEmail2"
													placeholder="Enter Project Name"
													th:value="${projectDetails?.projectDelivered2}"> </span> <span
													class="w-100"><h6>3</h6> <input type="text"
													class="form-control" name="projectDelivered3"
													id="exampleInputEmail3"
													placeholder="Enter Project Name"
													th:value="${projectDetails?.projectDelivered3}"> </span>
											</fieldset>
										</div>

										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label for="exampleInputEmail1" class="bmd-label-static">Total
													Development Area Delivered (Mn sq. ft.)</label> <input type="text"
													class="form-control decimalLimit" name="totalDevlopedAreDelivered" id=""
													placeholder="Enter Development Area Delivered"
													onkeyup="this.value = this.value.replace(/[^0-9.]/, '')"
													th:value="${projectDetails?.totalDevlopedAreDelivered}">
											</fieldset>
										</div>
										
										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												 <label
													for="exampleInputEmail1" class="bmd-label-static">Developer
													Website<span style="color: red">*</span> <span class="text-danger" id=""></span></label> <input type="text" class="form-control"
													  maxlength="40"
													placeholder="Website"
													name="developerWebsite"
													id="developerWebsite"
													th:value="${projectDetails?.developerWebsite}">
											</fieldset>
										</div>
										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label for="exampleInputEmail1" class="bmd-label-static">Architect Name of Mall
													<span style="color: red">*</span> <span class="text-danger" id=""></span></label> <input type="text" class="form-control"
													 maxlength="100"
													placeholder="Architect Name"
													 name="architectNameOfMall"
													id="architectNameOfMall"
													th:value="${projectDetails?.architectNameOfMall}">
											</fieldset>
										</div>
							         </div>
						
								</div>
								
								

								<div class="title_strip mb-0">
									<h5>Association with PVR</h5>
								</div>

								<div class="card-body">

									<div class="row">
										<div class="col-lg-6 col-sm-6" id="pvr_project_delivered">
											<fieldset class="form-group">
												<label for="exampleInputEmail1" class="bmd-label-static">PVR 
													Projects Delivered</label>
												 <div class="fieldParent" >
													<select class="form-control" name="pvrProjectDelivered[0]"
														id="project_deliverd">
														<option value=""> Select Cinema</option>
													 	<option th:if="${projectDetails.pvrProjectDeliveredFlag == false}" th:each="cinemaMaster: ${cinemaMasterDetails}"
															th:value="${cinemaMaster?.hopk}"
															th:text="${cinemaMaster?.cinema_name}"></option> 
														
														<option th:if="${projectDetails.pvrProjectDeliveredFlag == true}" th:each="cinemaMaster: ${cinemaMasterDetails}"
															th:value="${cinemaMaster?.hopk}"
															th:selected="${projectDetails?.pvrProjectDelivered[0] == cinemaMaster?.hopk }"
															th:text="${cinemaMaster?.cinema_name}"></option>
															
													<!-- 	<option th:selected="${projectDetails?.pvrProjectDelivered[0] == '1' ? 'true' : 'false'}" value="1">Select Project</option>
														<option th:selected="${projectDetails?.pvrProjectDelivered[0] == '2' ? 'true' : 'false'}" value="2">2</option>
														<option th:selected="${projectDetails?.pvrProjectDelivered[0] == '3' ? 'true' : 'false'}" value="3">3</option>
														<option th:selected="${projectDetails?.pvrProjectDelivered[0] == '4' ? 'true' : 'false'}" value="4">4</option> -->
													</select>
												</div> 
												 <div class="fieldParent" th:each="app, itr: ${projectDetails?.pvrProjectDelivered}" th:if="${itr.index>0}">
													<input type="hidden" th:value="${itr.size}" id="delivered_projects_size">
													<select class="form-control" name="pvrProjectDelivered[0]"
														th:field="*{pvrProjectDelivered[__${itr.index}__]}"
														id="project_deliverd">
															<option th:each="cinemaMaster: ${cinemaMasterDetails}"
															th:value="${cinemaMaster?.hopk}"
															th:selected="${app == cinemaMaster?.hopk}"
															th:text="${cinemaMaster?.cinema_name}"></option>
													<!-- 	<option th:selected="${app == '1' ? 'true' : 'false'}" value="1">Select Project</option>
														<option th:selected="${app == '2' ? 'true' : 'false'}" value="2">2</option>
														<option th:selected="${app == '3' ? 'true' : 'false'}" value="3">3</option>
														<option th:selected="${app == '4' ? 'true' : 'false'}" value="4">4</option> -->
													</select>
													<i class="fas fa-trash-alt crossIcon"></i> 
												</div> 
											</fieldset>
											<button type="button" class=" btn btn-raised btn-secondary"
												id="addMoreBtn">
												<i class="fas fa-plus-circle"></i>Add More
											</button>
										</div>
										<div class="col-lg-6 col-sm-6" id="pvr_project_pipeline">
											<fieldset class="form-group">
												<label for="exampleInputEmail1" class="bmd-label-static">PVR
													Projects in Pipeline</label>
												<div class="fieldParent"  >
													<input type="text" class="form-control"
														th:field="*{pvrProjectPipeline[0]}" id="exampleInputEmail1"
														placeholder="Enter Project">
												</div>
												<div class="fieldParent" th:each="app,itr: ${projectDetails.pvrProjectPipeline}" >
													<input type="hidden" th:value="${itr.size}" id="pipeline_projects_size">
													<input type="text" class="form-control"
														name="pvrProjectPipeline[0]" id="exampleInputEmail1"
														th:value="${app}"
														th:if="${itr.index>0}"
														th:field="*{pvrProjectPipeline[__${itr.index}__]}"
														placeholder="Enter Project">
												</div>
												
											</fieldset>
											<button type="button" class=" btn btn-raised btn-secondary"
												id="addMoreBtn">
												<i class="fas fa-plus-circle crossIcon"></i>Add More
											</button>
										</div>
										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<label for="exampleInputEmail1" class="bmd-label-static">Current
													Project Financing</label> <input type="text" class="form-control"
													name="currentProjectFinancing" id="exampleInputEmail1"
													placeholder="Enter Current Project Financing"
													th:value="${projectDetails?.currentProjectFinancing}">
											</fieldset>
										</div>

									</div>

								</div>

								<div class="title_strip mb-0">
									<h5>Upload Developer Credit Rating Report</h5>
								</div>

								<div class="card-body">
									<div class="row">
										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<div class="file-upload">
													<span class="clearFile"><i class="fas fa-times"
														title="Clear File"></i></span>
														
													<div class="file-select mt-2">
														<p class="selectFile">Select .pdf only</p>
														<input type="file" name="uploadFileStep2" id="uploadfile" value="Choose a file" accept="application/pdf"/>
													</div>
														<p class="file_must_be text-left"><span id="fileError">File must be .pdf only</span></p>
													<!-- <div class="file-select">
														<div class="file-select-name noFile" id="noFile">Select
															File</div>
														<input type="file"  name="uploadFileStep2" id="chooseFile"
															class="chooseFile w-100" accept="application/pdf">
													</div>
													<p class="file_must_be text-left" ><span id="fileError">File must be .pdf only</span></p> -->
												</div>
											</fieldset>
										</div>
									</div>
								</div>
										<div class="col-lg-6 col-sm-6">
											<fieldset class="form-group">
												<input type="hidden" class="form-control"
													name="id" th:value="${projectDetails?.id}">
											</fieldset>
										</div>

								<div class="card-body" th:if="${projectDetails?.status < 105 }">
									<div class="p-4 buttonGroup_nextCancelSave">
										<a th:href="@{/dashboard}"><button type="button"
											class="cancelBtn btn btn-raised btn-secondary" id="yo">CANCEL</button></a>
										<button type="button" id="save"
											class="nextBtn btn-raised btn btn-success">NEXT</button>
										<button type="button" id="save_close"
											class="saveCloseBtn btn btn-raised btn-secondary">SAVE
											&amp; CLOSE</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
</div>





<div th:fragment="customJs">
	<script type="text/javascript" th:src="@{/./js/developerDetails.js}"></script>
</div>