
<div th:fragment="header">
	<ul id="tabs" class="nav nav-tabs responsive" role="tablist">
		<li class="nav-item"><a id="tab_A"
			th:href = "${projectId != null} ?  @{/project/developmentDetails/}+${projectId} : '#'"
			class="nav-link " th:classappend="${activeStep1}">Development<br> Details
		</a></li>

		<li class="nav-item"><a id="tab_B"
			th:href = "${projectId != null} ?  @{/project/developerDetails/}+${projectId} : '#'"
			class="nav-link step-2" th:classappend="${activeStep2}">developer<br> details
		</a></li>

		<li class="nav-item"><a id="tab_C"
			th:href = "${projectId != null} ?  @{/project/upcomingCinemas/}+${projectId} : '#'"
			class="nav-link step-3" th:classappend="${activeStep3}">Upcoming <br>Cinemas
		</a></li>

		<li class="nav-item"><a id="tab_D"
			th:href = "${projectId != null} ?  @{/project/lesserLessee/}+${projectId} : '#'"
			class="nav-link step-4" th:classappend="${activeStep4}">Lessor Lessee <br>schedule
		</a></li>

		<li class="nav-item"><a id="tab_E"
			th:href = "${projectId != null} ?  @{/project/projectLayout/}+${projectId} : '#'"
			class="nav-link step-5" th:classappend="${activeStep5}">Project layout <br>assumptions
		</a></li>

		<li class="nav-item"><a id="tab_F"
			th:href = "${projectId != null} ?  @{/project/operatingAssumptions/}+${projectId} : '#'"
			class="nav-link step-6" th:classappend="${activeStep6}">Operating <br> Assumptions
		</a></li>

		<li class="nav-item"><a id="tab_G"
			th:href = "${projectId != null} ?  @{/project/summary-sheet/}+${projectId} : '#'"
			class="nav-link step-7" th:classappend="${activeStep7}">Summary<br> sheet
		</a></li>
		<li class="nav-item"><a id="tab_H"
			th:href = "${projectId != null} ?  @{/project/get-pandl-tab/}+${projectId} : '#'"
			class="nav-link step-8" th:classappend="${activeStep8}">P&ampL <br> Tab
		</a></li>

	</ul>
</div>


