
<div th:fragment="operatingAssumptions">

		<!-----------------  WEBSALES MODAL START  ----------------------------->
	<div class="modal fade" id="webSalesModal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">WEB SALES</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="web-sales-table">
				
					
				</div>
				
			</div>
		</div>
	</div>
	<!-- ------------WEBSALES MODAL END ---------------------- -->
	
	<!-- ------------ADREVENUEMODAL MODAL START --------------------------->
	<div class="modal fade" id="AdRevenueModal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">AD REVENUE</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="ad-revenue-table">
				</div>
				
			</div>
		</div>
	</div>
	<!-- --------------------- ADREVENUEMODAL MODAL START END ----------------------------->
	
	<!-- ------------PERSONNEL EXPENSES MODAL START --------------------------->
	<div class="modal fade" id="personnel-expenses-modal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">PERSONNEL EXPENSES</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="personnel-expenses-table">
				</div>
				
			</div>
		</div>
	</div>
	<!-- --------------------- PERSONNEL EXPENSES MODAL END ----------------------------->
	
	<!-- ------------ELECTRICITY & WATER EXPENSES MODAL START --------------------------->
	<div class="modal fade" id="electricity-water-modal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">ELECTRICITY & WATER EXPENSES</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="electricity-water-table">
				</div>
				
			</div>
		</div>
	</div>
	<!-- ---------------------ELECTRICITY & WATER EXPENSES MODAL END ----------------------------->
	
	<!-- ------------TOTAL R&M EXPENSES MODAL START --------------------------->
	<div class="modal fade" id="rm-expenses-modal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">TOTAL R&M EXPENSES</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="rm-expenses-table">
				</div>
				
			</div>
		</div>
	</div>
	<!-- --------------------- TOTAL R&M EXPENSES MODAL END ----------------------------->
	
	<!-- ------------HOUSEKEEPING EXPENSES MODAL START --------------------------->
	<div class="modal fade" id="housekeeping-expenses-modal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">HOUSEKEEPING EXPENSE</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="housekeeping-expenses-table">
				</div>
				
			</div>
		</div>
	</div>
	<!-- --------------------- HOUSEKEEPING EXPENSES MODAL END ----------------------------->
	
	<!-- ------------SECURITY EXPENSES MODAL START --------------------------->
	<div class="modal fade" id="security-expenses-modal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">SECURITY EXPENSE</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="security-expenses-table">
				</div>
				
			</div>
		</div>
	</div>
	<!-- --------------------- SECURITY EXPENSES MODAL END ----------------------------->
	
	
	<!-- ------------COMMUNICATION  EXPENSES MODAL START --------------------------->
	<div class="modal fade" id="communication-expenses-modal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">COMMUNICATION  EXPENSE</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="communication-expenses-table">
				</div>
				
			</div>
		</div>
	</div>
	<!-- --------------------- COMMUNICATION  EXPENSES MODAL END ----------------------------->
	
	
	<!-- ------------TRAVELLING AND CONVEYANCE   EXPENSES MODAL START --------------------------->
	<div class="modal fade" id="travelling-expenses-modal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">TRAVELLING AND CONVEYANCE EXPENSE</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="travelling-expenses-table">
				</div>
				
			</div>
		</div>
	</div>
	<!-- --------------------- TRAVELLING AND CONVEYANCE   EXPENSES MODAL END ----------------------------->
		
	
	<!-- ------------LEGAL FEE   EXPENSES MODAL START --------------------------->
	<div class="modal fade" id="legafee-expenses-modal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">LEGAL FEE</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="legafee-expenses-table">
				</div>
				
			</div>
		</div>
	</div>
	<!-- --------------------- LEGAL FEE   EXPENSES MODAL END ----------------------------->
	
			
	
	<!-- ------------INSURANCE  EXPENSES MODAL START --------------------------->
	<div class="modal fade" id="insurance-expenses-modal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">INSURANCE EXPENSE</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="insurance-expenses-table">
				</div>
				
			</div>
		</div>
	</div>
	<!-- ---------------------INSURANCE EXPENSES MODAL END ----------------------------->
	
			
	
	<!-- ------------INTERNET  EXPENSES MODAL START --------------------------->
	<div class="modal fade" id="internet-expenses-modal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">INTERNET EXPENSES</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="internet-expenses-table">
				</div>
				
			</div>
		</div>
	</div>
	<!-- ---------------------INTERNET  EXPENSES MODAL END ----------------------------->
	
			
	
	<!-- ------------PRINTING AND STATIONARY  EXPENSES MODAL START --------------------------->
	<div class="modal fade" id="printing-expenses-modal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">PRINTING AND STATIONARY EXPENSE</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="printing-expenses-table">
				</div>
				
			</div>
		</div>
	</div>
	<!-- --------------------- PRINTING AND STATIONARY EXPENSES MODAL END ----------------------------->
	
			
	
	<!-- ------------MARKETING EXPENSE MODAL START --------------------------->
	<div class="modal fade" id="marketing-expenses-modal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">MARKETING EXPENSE</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="marketing-expenses-table">
				</div>
				
			</div>
		</div>
	</div>
	<!-- --------------------- MARKETING EXPENSE MODAL END ----------------------------->
	
			
	
	<!-- ------------MISCELLANEOUS EXPENSES MODAL START --------------------------->
	<div class="modal fade" id="miscellaneous-expenses-modal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">MISCELLANEOUS EXPENSES</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="miscellaneous-expenses-table">
				</div>
				
			</div>
		</div>
	</div>
	<!-- --------------------- MISCELLANEOUS EXPENSES MODAL END ----------------------------->
	
	<!-- ------------OCCUPANCY  MODAL START --------------------------->
	<div class="modal fade" id="occupancyModal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">REVENUE ASSUMPTIONS - OCCUPANCY</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="occupancy-table">
				
					
				</div>
				
			</div>
		</div>
	</div>
	<!-- --------------------- OCCUPANCY MODAL END ----------------------------->
	
	<!-- ------------ATP  MODAL START --------------------------->
	<div class="modal fade" id="atpModal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">REVENUE ASSUMPTIONS - ATP</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="atp-table">
					
				</div>
				
			</div>
		</div>
	</div>
	<!-- --------------------- ATP MODAL END ----------------------------->
	
		<!-- ------------SPH  MODAL START --------------------------->
	<div class="modal fade" id="sphModal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">REVENUE ASSUMPTIONS - SPH</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="sph-table">
				</div>
				
			</div>
		</div>
	</div>
	<!-- --------------------- ATP MODAL END ----------------------------->
	
</div>





