
<div th:fragment="summarySheet">

		<!-----------------  TOTAL ADMITS START  ----------------------------->
	<div class="modal fade" id="totalAdmitsModal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">TOTAL ADMITS</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="admits-table">
				
				</div>
				
			</div>
		</div>
	</div>
	<!-- ------------TOTAL ADMITS START END ---------------------- -->
	
	<!-- ------------OCCUPANCY MODAL START --------------------------->
	<div class="modal fade" id="occupancyModal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">REVENUE ASSUMPTIONS - OCCUPANCY</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="occupancy-table">
				
					
				</div>
				
			</div>
		</div>
	</div>
	<!-- --------------------- OCCUPANCY MODAL START END ----------------------------->
	
	<!-- ------------ATP MODAL START --------------------------->
	<div class="modal fade" id="atpModal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">REVENUE ASSUMPTIONS - ATP</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="atp-table">
					
				</div>
				
			</div>
		</div>
	</div>
	<!-- --------------------- ATP MODAL START END ----------------------------->
	
	
	
	<!-- ------------SPH MODAL START --------------------------->
	<div class="modal fade" id="sphModal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">REVENUE ASSUMPTIONS - SPH</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="sph-table">
				</div>
				
			</div>
		</div>
	</div>
	<!-- --------------------- SPH MODAL START END ----------------------------->
	
	<!-- ------------ADREVENUEMODAL MODAL START --------------------------->
	<div class="modal fade" id="AdRevenueModal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">REVENUE ASSUMPTIONS - AD REVENUE</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="ad-revenue-table">
				</div>
				
			</div>
		</div>
	</div>
	<!-- --------------------- ADREVENUEMODAL MODAL START END ----------------------------->
	
	<!-- ------------PERSONNEL EXPENSES MODAL START --------------------------->
	<div class="modal fade" id="personnel-expenses-modal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">PERSONNEL EXPENSES</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="personnel-expenses-table">
				</div>
				
			</div>
		</div>
	</div>
	<!-- --------------------- PERSONNEL EXPENSES MODAL END ----------------------------->
	
	<!-- ------------ELECTRICITY & WATER EXPENSES MODAL START --------------------------->
	<div class="modal fade" id="electricity-water-modal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">ELECTRICITY & WATER EXPENSES</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="electricity-water-table">
				</div>
				
			</div>
		</div>
	</div>
	<!-- ---------------------ELECTRICITY & WATER EXPENSES MODAL END ----------------------------->
	
	<!-- ------------TOTAL R&M EXPENSES MODAL START --------------------------->
	<div class="modal fade" id="rm-expenses-modal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">TOTAL R&M EXPENSES</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="rm-expenses-table">
				</div>
				
			</div>
		</div>
	</div>
	<!-- --------------------- TOTAL R&M EXPENSES MODAL END ----------------------------->
	
	
	<!-- ------------ANNAUL RENT MODAL START --------------------------->
	<div class="modal fade" id="annual-rent-modal" tabindex="-1" role="dialog"
		aria-labelledby="totalAdmitsModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">ANNUAL RENT</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="annual-rent-table">
				</div>
				
			</div>
		</div>
	</div>
	<!-- --------------------- ANNAUL RENT MODAL END ----------------------------->
	
		<!-- ------------VIEW CALCULATION RENT MODAL START --------------------------->
	<div class="modal fade" id="view-calculation-modal" tabindex="-1" role="dialog"
		aria-labelledby="viewCalculation" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p class="text-center text-middle">SUMMARY P&L</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_modal_table_style" id="view-calculation-table">
				</div>
				
			</div>
		</div>
	</div>
	<!-- --------------------- VIEW CALCULATION MODAL END ----------------------------->
</div>





