<div th:fragment="customCss">
	<link rel="stylesheet"
		href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
</div>

<div th:fragment="content">
	<section class="mainContainer">
		<div class="col-md-12 col-sm-12">


			<div id="dasboardTabsParent" class="feasibilityReports">
				<div class="innerTableParent OperatingAssumptions mt-4">
					<div class="heading_title_strip mb-3"
						style="background: transparent; padding: 7px 0 5px;">
						<h3>Feasibility reports</h3>
					</div>
					<div class="table_parent">
						<div class="table-responsive">
							<table class="table table-bordered mb-5 mt-3" id="data-table">
								<thead>
									<tr>
										<th scope="col" class="first_column">Report ID</th>
										<th scope="col" class="second_column">project Name</th>
										<th scope="col" class="">project Type</th>
										<th scope="col">Status</th>
										<th scope="col">Last Updated</th>
									
									</tr>
								</thead>
								<tbody>
									<tr th:if="${projectDetails != null }"
										th:each="project,iterator : ${projectDetails}">
										<td class="first_column">
											<a	th:href="@{/project/getProjectId/}+${project.id}"
											     sec:authorize="hasAnyRole('ROLE_BD')"> <span
													th:if="${project.reportId != null }"
													th:text="${project.reportId}"></span>
											</a>
											
											<a th:href="@{/project/review/}+${project.id}"
											    sec:authorize="hasAnyRole('ROLE_APPROVER')"> <span
												th:if="${project.reportId != null }"
												th:text="${project.reportId}"></span>
										</a>
											
											
										</td>
										<td class="second_column"><span
											th:if="${project.projectName != null }"
											th:text="${project.projectName}"></span></td>
											
										<td class="second_column"><span
											th:if="${project?.feasibilityState != null }"
											th:text="${project?.feasibilityState=='pre_signing'} ? 'Pre-Signing' : (${project.feasibilityState == 'post_signing'} ? 'Post-Signing' : 'Pre-Handover')"></span></td>
											
										<td th:if="${project?.status == 200}" th:text="Accepted"></td>
										<td th:if="${project?.status == 110 or project?.status == 210 or project?.status == 310}" th:text="Archived"></td>
										<td th:if="${project?.status == 0}" th:text="Deleted"></td>
										<td th:data-order="${project.updatedDate}"><span th:if="${project.updatedDate != null }"
											th:text="${#dates.format(project.updatedDate, 'dd-MMM-yyyy')}"></span>
										</td>
								
									</tr>

								</tbody>

								</div>
								</div>


								</div>
								</section>
								</div>



								<div th:fragment="customJs">
									<script type="text/javascript" charset="utf8"
										src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
									<script th:src="@{/./js/index.js}"></script>


								</div>