<!-- <<<<<<< HEAD
<div th:fragment="customCss">
<link rel="stylesheet"
		href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<style>
input[readonly] {
background-color:transparent!important}
#addAtpDiv {display:none;}
#addAtpDiv.showTable {
display:block!important;
}

td {
	text-transform: capitalize;
}
</style>
</div>

<div th:fragment="content">
<section class="mainContainer grothAssumption_grandParent">
  <div class="col-md-12 col-sm-12">
  <form id="atpcp" class="client-form" action="#" th:action="@{/admin/saveAtpCap}" method="POST"
  onsubmit="return validate();" autocomplete="off"> 

	<div class="heading_title_strip mb-0">
		<h3 class="d-inline">ATP Cap</h3>
		<button style="float: right;margin-bottom: 10px;display: none;" class="nextBtn btn-raised btn	 btn-primary"
						 	id="atpList" type="button" value="ATP LIST">ATP LIST</button>
		<button style="float: right;margin-bottom: 10px;" class="nextBtn btn-raised btn	 btn-success"
						 	data-toggle="modal" data-target="#myModal"	id="addFhc" type="button" value="Add">Add</button>
	</div>
	<div class="alert alert-success alert-dismissible" th:if=${success}>
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	 	<span th:text="${success}"></span>
	</div>
	<div id="addAtpDiv" sty>
		<div class="row">
			         <div class="col-lg-6 col-sm-6">
						<fieldset class="form-group" id="field">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">Enter State
								<span style="color: red">*</span><span class="text-danger"
								id="nameError"></span>
							</label>
							<input type="text" class="form-control" name="atpCapDetails[0].state" 
							maxlength="20" placeholder="Enter Value" id="atpstate" required="required">
						</fieldset>
					</div>
					<div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">
							Select Screen Type
							<span style="color: red">*</span><span
								class="text-danger" id="valueError"></span>
							</label>
							<select id="screentype" name="screenType" class="form-control"  required="required">
								<option value="" disabled selected >Screen Type</option>
								<option value="mainstream">MainStream</option>
								<option value="gold">Gold</option>
								<option value="imax">Imax</option>
								<option value="pxl">PXL</option>
								<option value="playhouse">PlayHouse</option>
								<option value="ultrapremium">Director's Cut</option>
								<option value="4dx">4DX</option>
								<option value="onyx">Onyx</option>
							</select>
						</fieldset>
					</div>
					<div class="col-lg-12 col-sm-12">
						<table class="table table-bordered mb-4 fixed-layout">
							<tr>
								<th>Seat Type</th>
								<th >Cap Value</th>
							</tr>
							<tr>
								<td><input type="text" name="atpCapDetails[0].seatType[0]" style="background-image:none!important" value="normal" id ="cap" class="form-control"  readonly="readonly"></td>
								<td class="text-center"><input type="text" name="atpCapDetails[0].camValue[0]" style="background-image:none!important" placeholder="Enter Value" id ="cap" class="form-control decimalLimit"  required="required"></td>
							</tr>
							<tr>
								<td><input type="text" name="atpCapDetails[0].seatType[1]" style="background-image:none!important" value="recliners" id ="cap" class="form-control"  readonly="readonly"></td>
								<td class="text-center"><input type="text" name="atpCapDetails[0].camValue[1]"  style="background-image:none!important"placeholder="Enter Value" id ="cap" class="form-control decimalLimit"  required="required"></td>
							</tr>
							<tr>
								<td><input type="text" name="atpCapDetails[0].seatType[2]" style="background-image:none!important" value="lounger" id ="cap" class="form-control"  readonly="readonly"></td>
								<td class="text-center"><input type="text" name="atpCapDetails[0].camValue[2]" style="background-image:none!important" placeholder="Enter Value" id ="cap" class="form-control decimalLimit"  required="required"></td>
							</tr>	
						</table>
					</div>
					<div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">ATP Growth Rate
								<span style="color: red">*</span><span class="text-danger"
								id="nameError"></span>
							</label>
							<input type="text" class="form-control decimalLimit" placeholder="Enter Value"  name="atpCapDetails[0].atpGrowthRate" id="atpgrowthRate"  required="required">
						</fieldset>
					</div>
					<div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">ATP Cap Growth Year
								<span style="color: red">*</span><span class="text-danger"
								id="nameError"></span>
							</label>
							<input type="text" class="form-control decimalLimit" placeholder="Enter Value"  name="atpCapDetails[0].growthYear" id="growthyear"  required="required">
						</fieldset>
					</div>
				</div>
				<div class="row">
				<div class="form-group col-md-8">
				</div>
				<div class="form-group col-md-4">
		   	 <button type="reset" style="font-size: 22px;padding: 9px 12px;min-width: 150px;float: right;background:#bdc1bd!important;" id="reset" class="btn btn-danger btn-raised resetBtn tableFormatingBtn addBtnColor">Reset</button>
		   	 <input type="submit" style="font-size: 22px;padding: 9px 12px;min-width: 150px;float: right; margin-right:15px;" class="btn btn-success btn-raised tableFormatingBtn" value="Add">
		    </div>
		    </div>
		</div>
		<div id="tableDiv">
	<table class="table table-bordered mb-4 fixed-layout" id="atpCapTable">
	<thead>
		<tr>
			<th>State Name</th>
			<th>Screen Type</th>
			<th>Seat Type</th>
			<th>Cap Value</th>
			<th>ATP Growth Rate</th>
			<th>ATP Cap Growth Year</th>
			<th>ATP Cap Start Year</th>
			<th class="text-center">Action</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="atp : ${atpCapting?.atpCapDetails}">
			<td th:text="${atp?.state}">
				<input type="text" class="form-control" style="background-image:none!important"  id="state" th:value="${atp?.state}" readonly>
			</td>
			<td >
				<span th:each="atpc : ${atp?.atpDetails}" >
					<span th:text="${atpc?.key}"></span>
				</span>
				
			</td>
			<td>
			<span th:each="atpc : ${atp?.atpDetails}">
				<p th:each="seat : ${atpc.value}" th:text="${seat?.key}"></p>
			     <input type="text" class="form-control" style="background-image:none!important"  id="seat" th:each="seat : ${atpc.value}" th:value="${seat.key}" readonly>
			</span>
			</td>
			<td>
			<span th:each="atpc : ${atp?.atpDetails}">
			 <p    th:each="seat,i : ${atpc.value}" th:text="${seat?.value}" th:class="'seatTypeCap_'+${i.index}"></p> 
			</span>
			</td>
			<td th:text="${atp?.atpGrowthRate}" >
			</td>
			<td th:text="${atp?.growthYear}" >
			</td>
			<td>
			<input type="text" class="form-control" style="background-image:none!important"  id="startyear" th:value="${atp?.startYear}" readonly>
			</td>
			<td  class="text-center">
				<img th:src="@{/images/editIconImg.png}" style="cursor: pointer;" class="editAtp"
					data-toggle="tooltip" data-placement="bottom" title="Edit" alt="edit">
										 &emsp;
				<img th:src="@{/images/deleteIconImg.png}" style="cursor: pointer;" class="deleteAtp"
					alt="delete" data-toggle="tooltip" data-placement="bottom" title="Delete">
										
			</td>
		</tr> 
		</tbody>
	</table> 
	</div>
	</form></div></section>
	
	
	  The Modal
  <div class="modal" id="editModal">
    <div class="modal-dialog modal-sm" style="max-width: 800px;">
      <div class="modal-content" style="height: auto;">
      
        Modal Header
        <div class="modal-header">
          <p class="modal-title">EDIT FHC</p>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        Modal body
        <div class="modal-body">
        	<form th:action="@{/admin/saveAtpCap}" id="fhc_form" th:object="${fhcMapper}" 
				method="POST" autocomplete="off" >
	        	<div class="row">
	        	hiden fields
	        	<input type="hidden" class="form-control" name="atpCapDetails[0].state" placeholder="Enter Value" id="hiddenState">
	        	<input type="hidden" class="form-control" name="screenType" placeholder="Enter Value" id="hiddenScreenType">
	        	
			         <div class="col-lg-12 col-sm-12">
						<table class="table table-bordered mb-4 fixed-layout">
							<tr>
								<th>Seat Type</th>
								<th >Cap Value</th>
							</tr>
							<tr>
								<td><input type="text" name="atpCapDetails[0].seatType[0]" style="background-image:none!important" value="normal" id ="cap" class="form-control"  readonly="readonly"></td>
								<td class="text-center"><input type="text" name="atpCapDetails[0].camValue[0]" style="background-image:none!important" placeholder="Enter Value" id ="edit_normal" class="form-control decimalLimit"  required="required"></td>
							</tr>
							<tr>
								<td><input type="text" name="atpCapDetails[0].seatType[1]" style="background-image:none!important" value="recliners" id ="cap" class="form-control"  readonly="readonly"></td>
								<td class="text-center"><input type="text" name="atpCapDetails[0].camValue[1]"  style="background-image:none!important"placeholder="Enter Value" id ="edit_recliners" class="form-control decimalLimit"  required="required"></td>
							</tr>
							<tr>
								<td><input type="text" name="atpCapDetails[0].seatType[2]" style="background-image:none!important" value="lounger" id ="cap" class="form-control"  readonly="readonly"></td>
								<td class="text-center"><input type="text" name="atpCapDetails[0].camValue[2]" style="background-image:none!important" placeholder="Enter Value" id ="edit_lounger" class="form-control decimalLimit"  required="required"></td>
							</tr>	
						</table>
					</div>
					<div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">ATP Growth Rate
								<span style="color: red">*</span><span class="text-danger"
								id="nameError"></span>
							</label>
							<input type="text" class="form-control decimalLimit" placeholder="Enter Value"  name="atpCapDetails[0].atpGrowthRate" id="edit_atpgrowthRate" required="required">
						</fieldset>
					</div>
					<div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">ATP Cap Growth Year
								<span style="color: red">*</span><span class="text-danger"
								id="nameError"></span>
							</label>
							<input type="text" class="form-control decimalLimit" placeholder="Enter Value"  name="atpCapDetails[0].growthYear" id="edit_growthyear" required="required">
						</fieldset>
					</div>
				</div>
				<div class="row" style="">
					  <button type="button" style="background-color: red;color: white;float: right;margin-left: 600px" class=" btn-raised btn" data-dismiss="modal">Close</button> &emsp;
	         		  <button type="submit" id="save" class=" btn-raised btn btn-success">Save</button>
				</div>
			</form>	
        </div>
        
      </div>
    </div>
  </div>
</div>
	
<div th:fragment="customJs">
<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
   <script th:src="@{/./js/atpCap.js}"></script> 
   <script>
	function initMap() {
		var input = document.getElementById('atpstate');
	     console.log(input);
	     /*var inn = input.substring(input.indexOf("1")+1) */
		

		var options = {
				types: ['(cities)'], 
				//types: ['(regions)'], 
			componentRestrictions : {
				country : [ 'IN' ]
			}
		};

		var autocomplete = new google.maps.places.Autocomplete(input,
				options);

		google.maps.event
				.addListener(
						autocomplete,
						'place_changed',
						function() {

							var place = autocomplete.getPlace();
							console.log(place.address_components);

							for (var i = 0; i < place.address_components.length; i += 1) {

								var addressObj = place.address_components[i];
								for (var j = 0; j < addressObj.types.length; j += 1) {
									if (addressObj.types[j] === 'country') {
										//console.log(addressObj.long_name);
									} else if (addressObj.types[j] === 'administrative_area1') {
										//console.log('state '+ addressObj.long_name);
									} else if (addressObj.types[j] === 'locality') {
										console.log('city '
												+ addressObj.long_name);
										$('#city')
												.val(addressObj.long_name);
										//$('#city').attr('disabled','disabled');
									} else if (addressObj.types[j] === 'administrative_area_level_1') {
										console.log(addressObj.long_name)
										$('#atpstate').val(
												addressObj.long_name);
										//$('#stateCity').attr('disabled','disabled');
									}
								}

							}

						});
	}
</script>

<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCatyZLSASD1xIuiOctecSipsxqeJgPZLM&libraries=places&callback=initMap"
	async defer></script> 

======= -->
<div th:fragment="customCss">
<link rel="stylesheet"
		href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<style>
input[readonly] {
background-color:transparent!important}
#addAtpDiv {display:none;}
#addAtpDiv.showTable {
display:block!important;
}

td {
	text-transform: capitalize;
}
</style>
</div>

<div th:fragment="content">
<section class="mainContainer grothAssumption_grandParent">
  <div class="col-md-12 col-sm-12">
  <form id="atpcp" class="client-form" action="#" th:action="@{/admin/saveAtpCap}" method="POST"
  onsubmit="return validate();" autocomplete="off"> 

	<div class="heading_title_strip mb-0">
		<h3 class="d-inline">ATP Cap</h3>
		<button style="float: right;margin-bottom: 10px;display: none;" class="nextBtn btn-raised btn	 btn-primary"
						 	id="atpList" type="button" value="ATP LIST">ATP LIST</button>
		<button style="float: right;margin-bottom: 10px;" class="nextBtn btn-raised btn	 btn-success"
						 	data-toggle="modal" data-target="#myModal"	id="addFhc" type="button" value="Add">Add</button>
	</div>
	<div class="alert alert-success alert-dismissible" th:if=${success}>
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	 	<span th:text="${success}"></span>
	</div>
	<div id="addAtpDiv" sty>
		<div class="row">
			         <div class="col-lg-6 col-sm-6">
						<fieldset class="form-group" id="field">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">Enter State
								<span style="color: red">*</span><span class="text-danger"
								id="nameError"></span>
							</label>
							<input type="text" class="form-control" name="atpCapDetails[0].state" 
							maxlength="20" placeholder="Enter Value" id="atpstate" required="required">
						</fieldset>
					</div>
					<div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">
							Select Screen Type
							<span style="color: red">*</span><span
								class="text-danger" id="valueError"></span>
							</label>
							<select id="screentype" name="screenType" class="form-control"  required="required">
								<option value="" disabled selected >Screen Type</option>
								<option value="mainstream">MainStream</option>
								<option value="gold">Gold</option>
								<option value="imax">Imax</option>
								<option value="pxl">PXL</option>
								<option value="playhouse">PlayHouse</option>
								<option value="ultrapremium">Director's Cut</option>
								<option value="4dx">4DX</option>
								<option value="onyx">Onyx</option>
							</select>
						</fieldset>
					</div>
					<div class="col-lg-12 col-sm-12">
						<table class="table table-bordered mb-4 fixed-layout">
							<tr>
								<th>Seat Type</th>
								<th >Cap Value</th>
							</tr>
							<tr>
								<td><input type="text" name="atpCapDetails[0].seatType[0]" style="background-image:none!important" value="normal" id ="cap" class="form-control"  readonly="readonly"></td>
								<td class="text-center"><input type="text" name="atpCapDetails[0].camValue[0]" style="background-image:none!important" placeholder="Enter Value" id ="cap" class="form-control decimalLimit"  required="required"></td>
							</tr>
							<tr>
								<td><input type="text" name="atpCapDetails[0].seatType[1]" style="background-image:none!important" value="recliners" id ="cap" class="form-control"  readonly="readonly"></td>
								<td class="text-center"><input type="text" name="atpCapDetails[0].camValue[1]"  style="background-image:none!important"placeholder="Enter Value" id ="cap" class="form-control decimalLimit"  required="required"></td>
							</tr>
							<tr>
								<td><input type="text" name="atpCapDetails[0].seatType[2]" style="background-image:none!important" value="lounger" id ="cap" class="form-control"  readonly="readonly"></td>
								<td class="text-center"><input type="text" name="atpCapDetails[0].camValue[2]" style="background-image:none!important" placeholder="Enter Value" id ="cap" class="form-control decimalLimit"  required="required"></td>
							</tr>	
						</table>
					</div>
				<!-- 	<div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">ATP Growth Rate
								<span style="color: red">*</span><span class="text-danger"
								id="nameError"></span>
							</label>
							<input type="text" class="form-control decimalLimit" placeholder="Enter Value"  name="atpCapDetails[0].atpGrowthRate" id="atpgrowthRate"  required="required">
						</fieldset>
					</div>
					<div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">ATP Cap Growth Year
								<span style="color: red">*</span><span class="text-danger"
								id="nameError"></span>
							</label>
							<input type="text" class="form-control decimalLimit" placeholder="Enter Value"  name="atpCapDetails[0].growthYear" id="growthyear"  required="required">
						</fieldset>
					</div> -->
				</div>
				<div class="row">
				<div class="form-group col-md-8">
				</div>
				<div class="form-group col-md-4">
		   	 <button type="reset" style="font-size: 22px;padding: 9px 12px;min-width: 150px;float: right;background:#bdc1bd!important;" id="reset" class="btn btn-danger btn-raised resetBtn tableFormatingBtn addBtnColor">Reset</button>
		   	 <input type="submit" style="font-size: 22px;padding: 9px 12px;min-width: 150px;float: right; margin-right:15px;" class="btn btn-success btn-raised tableFormatingBtn" value="Add">
		    </div>
		    </div>
		</div>
		<div id="tableDiv">
	<table class="table table-bordered mb-4 fixed-layout" id="atpCapTable">
	<thead>
		<tr>
			<th>State Name</th>
			<th>Screen Type</th>
			<th>Seat Type</th>
			<th>Cap Value</th>
		    <th>ATP Growth Rate</th>
			<th>ATP Cap Growth Year</th> 
<!-- 		<th>ATP Cap Start Year</th> -->
			<th>Date Of Revision</th>
			<th class="text-center">Action</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="atp : ${atpCapting?.atpCapDetails}">
			<td th:text="${atp?.state}">
				<!-- <input type="text" class="form-control" style="background-image:none!important"  id="state" th:value="${atp?.state}" readonly> -->
			</td>
			<td >
				<span th:each="atpc : ${atp?.atpDetails}" >
					<span th:text="${atpc?.key}"></span>
				</span>
				
			</td>
			<td>
			<span th:each="atpc : ${atp?.atpDetails}">
				<p th:each="seat : ${atpc.value}" th:text="${seat?.key}"></p>
			    <!--  <input type="text" class="form-control" style="background-image:none!important"  id="seat" th:each="seat : ${atpc.value}" th:value="${seat.key}" readonly> -->
			</span>
			</td>
			<td>
			<span th:each="atpc : ${atp?.atpDetails}">
			 <p    th:each="seat,i : ${atpc.value}" th:text="${seat?.value}" th:class="'seatTypeCap_'+${i.index}"></p> 
			</span>
			</td>
			<td th:text="${atp?.atpGrowthRate}" ></td>
			<td th:text="${atp?.growthYear}" ></td>
			<td th:text="${atp?.dateOfRevision}"></td>
			<!-- <td>
			<input type="text" class="form-control" style="background-image:none!important"  id="startyear" th:value="${atp?.startYear}" readonly>
			</td> -->
			<td  class="text-center">
				<img th:src="@{/images/editIconImg.png}" style="cursor: pointer;" class="editAtp"
					data-toggle="tooltip" data-placement="bottom" title="Edit" alt="edit">
										 &emsp;
				<img th:src="@{/images/deleteIconImg.png}" style="cursor: pointer;" class="deleteAtp"
					alt="delete" data-toggle="tooltip" data-placement="bottom" title="Delete">
										
			</td>
		</tr> 
		</tbody>
	</table> 
	</div>
	</form></div></section>
	
	
	  <!-- The Modal -->
  <div class="modal" id="editModal">
    <div class="modal-dialog modal-sm" style="max-width: 800px;">
      <div class="modal-content" style="height: auto;">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <p class="modal-title">EDIT FHC</p>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        	<form th:action="@{/admin/saveAtpCap}" id="fhc_form" th:object="${fhcMapper}" 
				method="POST" autocomplete="off" >
	        	<div class="row">
	        	<!-- hiden fields -->
	        	<input type="hidden" class="form-control" name="atpCapDetails[0].state" placeholder="Enter Value" id="hiddenState">
	        	<input type="hidden" class="form-control" name="screenType" placeholder="Enter Value" id="hiddenScreenType">
	        	<!--  -->
			         <div class="col-lg-12 col-sm-12">
						<table class="table table-bordered mb-4 fixed-layout">
							<tr>
								<th>Seat Type</th>
								<th >Cap Value</th>
							</tr>
							<tr>
								<td><input type="text" name="atpCapDetails[0].seatType[0]" style="background-image:none!important" value="normal" id ="cap" class="form-control"  readonly="readonly"></td>
								<td class="text-center"><input type="text" name="atpCapDetails[0].camValue[0]" style="background-image:none!important" placeholder="Enter Value" id ="edit_normal" class="form-control decimalLimit"  required="required"></td>
							</tr>
							<tr>
								<td><input type="text" name="atpCapDetails[0].seatType[1]" style="background-image:none!important" value="recliners" id ="cap" class="form-control"  readonly="readonly"></td>
								<td class="text-center"><input type="text" name="atpCapDetails[0].camValue[1]"  style="background-image:none!important"placeholder="Enter Value" id ="edit_recliners" class="form-control decimalLimit"  required="required"></td>
							</tr>
							<tr>
								<td><input type="text" name="atpCapDetails[0].seatType[2]" style="background-image:none!important" value="lounger" id ="cap" class="form-control"  readonly="readonly"></td>
								<td class="text-center"><input type="text" name="atpCapDetails[0].camValue[2]" style="background-image:none!important" placeholder="Enter Value" id ="edit_lounger" class="form-control decimalLimit"  required="required"></td>
							</tr>	
						</table>
					</div>
				<!-- 	<div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">ATP Growth Rate
								<span style="color: red">*</span><span class="text-danger"
								id="nameError"></span>
							</label>
							<input type="text" class="form-control decimalLimit" placeholder="Enter Value"  name="atpCapDetails[0].atpGrowthRate" id="edit_atpgrowthRate" required="required">
						</fieldset>
					</div>
					<div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">ATP Cap Growth Year
								<span style="color: red">*</span><span class="text-danger"
								id="nameError"></span>
							</label>
							<input type="text" class="form-control decimalLimit" placeholder="Enter Value"  name="atpCapDetails[0].growthYear" id="edit_growthyear" required="required">
						</fieldset>
					</div> -->
				</div>
				<div class="row" style="">
					  <button type="button" style="background-color: red;color: white;float: right;margin-left: 600px" class=" btn-raised btn" data-dismiss="modal">Close</button> &emsp;
	         		  <button type="submit" id="save" class=" btn-raised btn btn-success">Save</button>
				</div>
			</form>	
        </div>
        
      </div>
    </div>
  </div>
</div>
	
<div th:fragment="customJs">
<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
   <script th:src="@{/./js/atpCap.js}"></script> 
   <script>
	function initMap() {
		var input = document.getElementById('atpstate');
	     console.log(input);
	     /*var inn = input.substring(input.indexOf("1")+1) */
		

		var options = {
				types: ['(cities)'], 
				//types: ['(regions)'], 
			componentRestrictions : {
				country : [ 'IN' ]
			}
		};

		var autocomplete = new google.maps.places.Autocomplete(input,
				options);

		google.maps.event
				.addListener(
						autocomplete,
						'place_changed',
						function() {

							var place = autocomplete.getPlace();
							console.log(place.address_components);

							for (var i = 0; i < place.address_components.length; i += 1) {

								var addressObj = place.address_components[i];
								for (var j = 0; j < addressObj.types.length; j += 1) {
									if (addressObj.types[j] === 'country') {
										//console.log(addressObj.long_name);
									} else if (addressObj.types[j] === 'administrative_area1') {
										//console.log('state '+ addressObj.long_name);
									} else if (addressObj.types[j] === 'locality') {
										console.log('city '
												+ addressObj.long_name);
										$('#city')
												.val(addressObj.long_name);
										//$('#city').attr('disabled','disabled');
									} else if (addressObj.types[j] === 'administrative_area_level_1') {
										console.log(addressObj.long_name)
										$('#atpstate').val(
												addressObj.long_name);
										//$('#stateCity').attr('disabled','disabled');
									}
								}

							}

						});
	}
</script>

<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCatyZLSASD1xIuiOctecSipsxqeJgPZLM&libraries=places&callback=initMap"
	async defer></script> 
</div>