<div th:fragment="customCss"></div>

<div th:fragment="content">
	<section class="mainContainer grothAssumption_grandParent">
		<div class="col-md-12 col-sm-12">
		
  <form id="fixedConstant" class="client-form" action="#" commandName="fixedConstant1" th:action="@{/assumption/saveCapexAssumption}" th:object="${capexAssumption}" method="POST" onsubmit="return check();">
  
			    <div class="heading_title_strip mb-0">
				<h3>Capex Assumptions</h3>
				<button class="submitBtn" type="submit" id="submitBtnCapex">SAVE</button>
			</div>
			<table class="table table-bordered mb-4 fixed-layout">
				<tbody>
					<tr>
						<td>% initial capex year 0</td>
						<td><input name="initailCapexInZeroYear" id="zeroyear" type="text" th:value="${capexAssump?.initailCapexInZeroYear}"/></td>
					</tr>
					<tr>
						<td>% of initial capex in Yr 1</td> 
						<td><input name="initailCapexInOneYear" id="oneyear" type="text" th:value="${capexAssump?.initailCapexInOneYear}"/></td>
					</tr>
					<tr>
						<td>% of initial capex in Yr 7</td>
						<td><input name="initailCapexInSevenYear" id="sevenyear" type="text" th:value="${capexAssump?.initailCapexInSevenYear}"/></td>
					</tr>
					<tr>
						<td>Capex Contingency</td>
						<td><input name="capexContingency" id="capexcon" type="text" th:value="${capexAssump?.capexContingency}"/></td>
					</tr>
					<tr>
						<td>Debt proportion</td>
						<td><input name="debtProportion" id="debtpro" type="text" th:value="${capexAssump?.debtProportion}"/></td>
					</tr> 
					<tr>
						<td>Equity proportion</td> 
						<td><input name="equityProportion" id="equitypro" type="text"  th:value="${capexAssump?.equityProportion}"/></td>
					</tr>
					<tr>
						<td>Cost of debt</td>
						<td><input name="costOfDebt" id="costdebt" type="text" th:value="${capexAssump?.costOfDebt}"/></td>
					</tr>
					<tr>
						<td>Debt tenure</td>
						<td><input name="debtTenure" id="tenure" type="text" th:value="${capexAssump?.debtTenure}"/></td>
					</tr>
					<tr>
						<td>Cost of equity</td>
						<td><input name="costOfEquity" id="costequity" type="text" th:value="${capexAssump?.costOfEquity}"/></td>
					</tr>
					<!-- pattern="[A-Za-z]{3}" -->
				</tbody>
			</table> 
			</form>
		</div>
	</section>
</div>

<div th:fragment="customJs">
 <script th:src="@{/./js/capexAssumption.js}"></script> 
</div>