<div th:fragment="customCss">
	<link rel="stylesheet"
		href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
</div>

<div th:fragment="content">
	<section class="mainContainer">
		<div class="col-md-12 col-sm-12">

			<div id="dasboardTabsParent" class="feasibilityReports">
				<div class="innerTableParent OperatingAssumptions mt-4">
					<div class="heading_title_strip mb-3"
						style="background: transparent; padding: 7px 0 5px;">
						<!-- <h1><span th:if="${status!=null}" th:text="${status}"></span></h1> -->
						<h3>Feasibility reports</h3>
					</div>
					<div class="table_parent">
						<div class="table-responsive">
							<table class="table table-bordered mb-5 mt-3" id="data-table">
								<thead>
									<tr>
										<th scope="col" class="first_column">Report ID</th>
										<th scope="col" class="second_column">project Name</th>
										<th scope="col" class="">project Type</th>
										<!-- <th scope="col">Status</th> -->
										<th scope="col">Created Date</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${projectDetails != null }"
										th:each="project,iterator : ${projectDetails}">
										<td class="first_column">
											<a	th:href="@{/project/getProjectId/}+${project.id}">
											 <span id="projIdSpan"
													th:if="${project.reportId != null }"
													th:text="${project.reportId}"></span>
											</a>
											<input type="hidden" th:id="projIdVer" name="projectId" th:value="${project.reportIdVersion}"  />
											<a th:href="@{/project/review/}+${project.id}"
											    sec:authorize="hasAnyRole('ROLE_APPROVER')"> <span
												th:if="${project.reportId != null }"
												th:text="${project.reportId}"></span>
										    </a>
										</td>
										<td class="second_column"><span th:id="'projNamespan_'+${project.reportIdVersion}"
											th:if="${project.projectName != null }"
											th:text="${project.projectName}"></span></td>
											
										<td class="second_column"><span
											th:if="${project?.feasibilityState != null }"
											th:text="${project?.feasibilityState=='pre_signing'} ? 'Pre-Signing' : (${project.feasibilityState == 'post_signing'} ? 'Post-Signing' : 'Pre-Handover')"></span></td>
											
										<!-- <td th:if="${project?.status == 200}" th:text="Accepted"></td>
										<td th:if="${project?.status == 410 or project?.status == 210 or project?.status == 310}" th:text="Archived"></td>
										<td th:if="${project?.status == 0}" th:text="Deleted"></td>
										<td th:if="${project?.status == 91 or project?.status == 92 or project?.status == 93 or project?.status == 94 or project?.status == 95 or project?.status == 96}" th:text="Draft"></td> -->
										<!-- <td th:if="${project?.status == 108 or project?.status == 208 or project?.status == 308}" th:text="Rejected"></td>
										<td th:if="${project?.status == 109 or project?.status == 209 or project?.status == 309}" th:text="Pending Query"></td>
										<td th:if="${project?.status == 106 or project?.status == 107 or project?.status == 309
														or project?.status == 109 or project?.status == 209 or project?.status == 309
														or project?.status == 109 or project?.status == 209 or project?.status == 309}" th:text="Pending Query"></td> -->
										
										<td><span th:if="${project.createdDate != null }"
											th:text="${#dates.format(project.createdDate, 'dd-MMM-yyyy')}"></span>
										</td>
										<td class="last_column">
											<span>
												<a class="">
													<button class="float-left queryBtn" spellcheck="true"
													id="changeName" th:name = "'changeName_'+${project.reportIdVersion}+'_'+${project.projectName}">
														<!-- <img src="images/copy-icons.png"/>  -->
														<span style="font-weight:bold;font-size:22px;"></span>Change Project Name
													</button>
											    </a>
											</span>
									    </td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
	            </div>
	        </div>
	   </div>
    </section>
 
    <!-- Modal to change project name -->
	<div class="modal fade" id="projectNameModal" tabindex="-1" role="dialog"
           aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
           <div class="modal-dialog modal-dialog-centered" role="document"
               style="max-width: 500px;">
               <div class="modal-content" style="height: auto;">
                   <div class="modal-header">
                       <p class="modal-title" id="exampleModalLongTitle">Submit</p>
                       <button type="button" class="close" data-dismiss="modal"
                           aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                       </button>
                   </div>
                   <div class="modal-body text-center">
                       <div class="col-md-12 my-4">
                       <span style="color: red">*<span class="text-danger" id="rejectError"></span></span>
                           <h5>Project Name</h5>
                           <textarea id="oldProjectName" name="projName" rows="4" cols="40" disabled></textarea>
                                                               
                       </div>
                   </div>
                   <div class="modal-body text-center">
                       <div class="col-md-12 my-4">
                       <span style="color: red">*<span class="text-danger" id="rejectError"></span></span>
                           <h5>Please Enter New Project Name</h5>
                           <textarea id="newProjName" name="newProjName" rows="4" cols="40" ></textarea>
                           <input type="hidden" id="projr"name="projectId"/>
                           
                       </div>
                   </div>
                   <div class="modal-footer text-center"
                       style="height: auto; display: block;">
                       <button type="button"
                           class="saveCloseBtn btn btn-raised btn-secondary"
                           data-dismiss="modal">Close</button>
                   <!-- 	<a th:href="@{/project/reject/}+${projectDetails.id}"><button
                                       type="button"
                                       class="saveCloseBtn btn btn-raised btn-secondary"
                                       spellcheck="true" style="margin-left: 16px;">reject</button></a> -->
                           <button type="button" id="saveName"
                             class="saveCloseBtn btn btn-raised btn-secondary"
                             spellcheck="true" style="margin-left: 16px;">Submit</button>
                   </div>
              </div>
            </div>
      </div>
</div>


<div th:fragment="customJs">
	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" th:src="@{/./js/view-modal.js}"></script>
	
	<script th:src="@{/./js/changeProjName.js}"></script>
	
	<script>
	    $(function() {
	    var table = $("#data-table").dataTable({
	            "order" : [],
	            "deferRender" : true,
	            "columnDefs" : [ {
	                "targets" :4,
	                "orderable" : true,
	            } ]
	        });
	    });
	</script>

</div>

