<div th:fragment="customCss">
	<style>
input[readonly] {
	background-color: transparent !important
}

td {
	text-transform: capitalize;
}
</style>
</div>
<div th:fragment="content">
  <section>

  <div class="container">
  <button type="button" class="btn btn-success btn-raised tableFormatingBtn" data-toggle="modal" 
     data-target="#myModal" style="margin-left:1000px;background-color:#ffc906;color:black;font-size:22px">
     Add New Screen</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" style="width:700px;margin-left:400px">
    <div class="modal-dialog"> 
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
             <p class="modal-title" id="exampleModalLongTitle" style="font-weight:normal;font-size:18px">Add New Screen</p>
             <button type="button" class="close" data-dismiss="modal"
                 aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
         </div>
      
         <div class="modal-body" style="float: left;margin-top:-20px">
            <div class="col-md-12 my-4">
                <h5 style="margin-bottom:-20px">Cinema Format Name</h5>
                <input type="text" id="cinemaFormatName" placeholder="" style="margin-left:300px;border: 3px solid #ccc;padding-left:3px" ></input>
            </div>
         </div>
         
         <div class="modal-body" style="float: left;margin-top:-50px">
             <div class="col-md-12 my-4">
                 <h5 style="margin-bottom:-20px">Cinema Format Sub Category <span style="color:red">*</span></h5>
                 <input type="text" id="cinemaFormatSubCategory" placeholder="" style="border: 3px solid #ccc;margin-left:300px;padding-left:3px"></input>
                
             </div>
         </div>
         
         
         <div class="modal-body" style="float: left;margin-top:-50px">
            <div class="col-md-12 my-4">
                <h5 style="margin-bottom:-20px">Cinema Format Mapping <span style="color:red">*</span></h5>
                <input type="text" id="cinemaFormatMapping" placeholder="" style="border: 3px solid #ccc;margin-left:300px;padding-left:3px" />
            </div>
         </div>
         
         <div class="modal-body" style="float: left;margin-top:-50px">
            <div class="col-md-12 my-4">
                <h5 style="margin-bottom:-20px">Film Hire Cost</h5>
                <input type="number" id="filmHireCost" placeholder="" style="border: 3px solid #ccc;;margin-left:300px;padding-left:3px"/>
            </div>
         </div>
         
         <h5 style="float: left;margin-left:35px"><span style="color:red">*</span> For multiple input selections, use comma for separation.</h5>
         <div class="modal-footer text-center" style="height: auto; display: block;">
             <button type="button"
                 class="saveCloseBtn btn btn-raised btn-secondary"
                 data-dismiss="modal">Close</button> 
             <button type="button" id="saveScreenType"
                 class="saveCloseBtn btn btn-raised btn-secondary"
                 data-dismiss="modal">Save</button>
         </div>
      </div> 
    </div>
  </div>
	
  </section>
	<section class="mainContainer grothAssumption_grandParent">
		<div class="col-md-12 col-sm-12">

			<form>

				<div class="tabsParent adminValueParent"
					style="max-width: 100%; box-shadow: none;">

					<div class="heading_title_strip mb-0">
					 <div class="row">
						<div class="col">
							<h3>Cinema Format</h3>
						</div>
						</div>
						
					</div>
	  <div class="alert alert-danger alert-dismissible" th:if=${error}>
	 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
 		 <span th:text="${error}"></span>
	</div>
	<div class="alert alert-success alert-dismissible" th:if=${success}>
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	 	<span th:text="${success}"></span>
	</div> 


					<table class="table table-bordered mb-4 fixed-layout" id="tblData">
						<thead>
							<tr>
								<th>Name</th>
								<th>Values</th>
								<th class="text-center">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="list : ${categoryMasterList}">
								<td><span th:text="${list?.cinemaCategory}"></span></td>
								<td><span th:each="a, stat : ${list?.cinemaSubCategory}"
      th:text="!${stat.last} ? ${a} + ',': ${a}">
</span></td>
								<td class="text-center">
									
								<a th:href="@{/admin/get-cinemaFormat/}+${list.id}"> <img  th:src="@{/images/editIconImg.png}" style="cursor: pointer;" class="editFhc"
										data-toggle="tooltip" data-placement="bottom" title="Edit" alt="edit"></a>
								</td>
							</tr>

						</tbody>
					</table>


				</div>
			</form>
		</div>
	</section>
	
	<section class="mainContainer grothAssumption_grandParent">
		<div class="col-md-12 col-sm-12">

			<form>

				<div class="tabsParent adminValueParent"
					style="max-width: 100%; box-shadow: none;">

					<div class="heading_title_strip mb-0">
					 <div class="row">
						<div class="col">
							<h3>Cinema Format Mapping</h3>
						</div>
						</div>
						
					</div>
					
					<div class="alert alert-danger alert-dismissible" th:if=${error1}>
	 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
 		 <span th:text="${error1}"></span>
	</div>
	<div class="alert alert-success alert-dismissible" th:if=${success1}>
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	 	<span th:text="${success1}"></span>
	</div> 
	 


					<table class="table table-bordered mb-4 fixed-layout" id="tblData">
						<thead>
							<tr>
								<th>Name</th>
								<th>Values</th>
								<th class="text-center">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="list : ${categoryMasterList}">
								<td><span th:text="${list?.cinemaCategory}"></span></td>
								<td><span th:each="a, stat : ${list?.cinemaFormatMapping}"
      th:text="!${stat.last} ? ${a} + ',': ${a}">
</span></td>
								<td class="text-center">
									
								<a th:href="@{/admin/get-cinemaFormatMapping/}+${list.id}"> <img  th:src="@{/images/editIconImg.png}" style="cursor: pointer;" class="editFhc"
										data-toggle="tooltip" data-placement="bottom" title="Edit" alt="edit"></a>
								</td>
							</tr>

						</tbody>
					</table>


				</div>
			</form>
		</div>
	</section>
	
	
	
	
	
  <!-- The Modal -->

</div>


<div th:fragment="customJs">
	<script th:src="@{/./js/fhc.js}"></script>
</div>


