<div th:fragment="customCss">
	<style>
input[readonly] {
	background-color: transparent !important
}

td {
	text-transform: capitalize;
}
</style>
</div>
<div th:fragment="content">
	<section class="mainContainer grothAssumption_grandParent tableFormating_paddingHalf tableFormating taxAssumptionFormating cogsFormating">
		<div class="col-md-12 col-sm-12">

			<form id="operating" class="client-form" action="#"
				th:action="@{/admin/cogs}" method="POST"
				onsubmit="return check();">

				<div class="tabsParent adminValueParent"
					style="max-width: 100%; box-shadow: none;">

					<div class="heading_title_strip mb-0">
					 <div class="row">
						<div class="col">
							<h3>Cogs</h3>
						</div>
						<div class="col">
						<button style="float: right;margin-bottom: 10px;" class="nextBtn btn-raised btn	 btn-success"
						 	data-toggle="modal" data-target="#myModal"	id="addFhc" type="button" value="Add">Add</button>
						</div>
						</div>
						
					</div>
	<!--  <div class="alert alert-danger alert-dismissible" th:if=${error}>
	 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
 		 <span th:text="${error}"></span>
	</div> -->
	<div class="alert alert-success alert-dismissible" th:if=${success}>
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	 	<span th:text="${success}"></span>
	</div>


					<table class="table table-bordered mb-4 fixed-layout" id="tblData">
						<thead>
							<tr>
								<th>Name</th>
								<th>Value</th>
								<th class="text-center">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="filmHire : ${operatingAssump?.cogs}">`
								<td><span th:text="${filmHire?.key}"></span></td>
								<td><input class="form-control" type="text"
									th:value="${filmHire?.value}" readonly="readonly"
									style="background-image: none !important;" /></td>
								<td class="text-center">
									
									<img th:src="@{/images/editIconImg.png}" style="cursor: pointer;" class="editFhc"
										data-toggle="tooltip" data-placement="bottom" title="Edit" alt="edit">
										 &emsp;
									<!-- <img th:src="@{/images/deleteIconImg.png}" style="cursor: pointer;" class="deleteFhc"
										alt="delete" data-toggle="tooltip" data-placement="bottom" title="Delete"> -->
										
									
								</td>
							</tr>

						</tbody>
					</table>


				</div>
			</form>
		</div>
	</section>
	
	
	
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-sm" style="max-width: 500px;">
      <div class="modal-content" style="height: 230px;">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <p class="modal-title">ADD COGS</p>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        	<form th:action="@{/admin/cogs}" id="fhc_form" th:object="${fhcMapper}" onsubmit="return validate();"
				method="POST" autocomplete="off">
	        	<div class="row">
			         <div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">Name
								<span style="color: red">*</span><span class="text-danger"
								id="nameError"></span>
							</label> <input type="text" class="form-control"
								name="name" id="fhc_name" maxlength="20" autofocus="autofocus"
								placeholder="Enter Name" required>
						</fieldset>
					</div>
					<div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">
							Value
							<span style="color: red">*</span><span
								class="text-danger" id="valueError"></span>
							</label><input type="text" class="form-control decimalLimit"
								name="value" id="fhc_value" maxlength="10" 
								placeholder="Enter Value" required
								>
						</fieldset>
					</div>
				</div>
				<div class="row" style="">
					  <button type="button" style="background-color: red;color: white;float: right;margin-left: 300px" class=" btn-raised btn" data-dismiss="modal">Close</button> &emsp;
	         		  <button type="submit" id="save" class=" btn-raised btn btn-success">Save</button>
				</div>
			</form>	
        </div>
        
      </div>
    </div>
  </div>
  
    <!-- The Modal -->
  <div class="modal" id="editModal">
    <div class="modal-dialog modal-sm" style="max-width: 500px;">
      <div class="modal-content" style="height: 230px;">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <p class="modal-title">EDIT COGS</p>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        	<form th:action="@{/admin/edit-cogs}" id="fhc_form" th:object="${fhcMapper}" 
				method="POST" autocomplete="off" >
	        	<div class="row">
			         <div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">Name
								<span style="color: red">*</span><span class="text-danger"
								id="nameError"></span>
							</label> <input type="text" class="form-control"
								name="name" id="edit_fhc_name" readonly 
								placeholder="Enter Name" required>
						</fieldset>
					</div>
					<div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">
							Value
							<span style="color: red">*</span><span
								class="text-danger" id="valueError"></span>
							</label><input type="text" class="form-control decimalLimit" 
								name="value" id="edit_fhc_value" maxlength="10"
								placeholder="Enter Value" required>
						</fieldset>
					</div>
				</div>
				<div class="row" style="">
					  <button type="button" style="background-color: red;color: white;float: right;margin-left: 300px" class=" btn-raised btn" data-dismiss="modal">Close</button> &emsp;
	         		  <button type="submit" id="save" class=" btn-raised btn btn-success">Save</button>
				</div>
			</form>	
        </div>
        
      </div>
    </div>
  </div>
</div>


<div th:fragment="customJs">
	<script th:src="@{/./js/cogs.js}"></script>
</div>


