<div th:fragment="customCss"></div>

<div th:fragment="content">

	
	<section class="mainContainer">
		<div class="col-md-12 col-sm-12">
			<!-- <div class="alert alert-success alert-dismissible" id="alertMessage">
			    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			    <strong>Data Migrate</strong> is successfully...!! 
		  	</div> -->
			<div class="title_strip mb-0">
				<h5>Data migration</h5>
			</div>

			<div class="dataSourceUploadParent py-4">
				
					<div class="row">
						<div class="col-lg-4 col-sm-4 mb-3">
							<fieldset class="">
								<label class="control-label" for="fromDatabase">From Database<span style="color: red">*</span></label> 
								<input type="text" class="form-control" id="from" name="from" value="" placeholder="DataBaseIP,DBNAME,USERNAME,Password" required="required">
							</fieldset>
						</div>
						<div class="col-lg-4 col-sm-4 mb-3">
							<fieldset class="">
								<label class="control-label" for="toDatabase">To Database<span style="color: red">*</span></label> 
								<input type="text" class="form-control" id="to" name="to" value="" placeholder="DataBaseIP,DBNAME,USERNAME,Password" required="required">
							</fieldset>
						</div>

						<div class="col-lg-4col-sm-4 mb-3">
							<div class="upload-btn-wrapper">
								<button class="btn" id="connectData" >
									<img src="images/uploadIcon-white.png">Connect
								</button>
								
							</div>
						</div>
						</div>

				
			</div>
			
		
	
		</div>
			<!-----------------  MODAL START  ----------------------------->
			<div class="modal fade" id="dataconnect" tabindex="-1" role="dialog"
					aria-labelledby="dataconnect" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document"
						style="max-width: 700px;">
						<div class="modal-content" style="height: auto;">
							<div class="modal-header" style="background: #43ec40;">
								<p class="modal-title" id="connectMsg"></p>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body text-center">
							<div class="dataSourceUploadParent connectModal py-4">
								<form method="POST" enctype="multipart/form-data" action="#"
									th:action="@{/upload/files}" th:object="${UploadFilesMapper}">
									<div class="row">
									
										<div class="col-lg-4 col-sm-4 mb-3">
											<fieldset class="">
												<!-- <label class="control-label" for="from">Select Year<span style="color: red">*</span></label>  -->
												<select id="syear" name="type1">
							                         <option value="0"> Select Year</option>
							                         <option value="">2019-20</option>
							                         <option value="">2020-21</option>
							                         <option value="">2021-22</option>
							                         <option value="">2022-23</option>
							                         <option value="">2023-24</option>
							                         <option value="">2024-25</option>
							                         <option value="">2025-26</option>
							                         <option value="">2026-27</option>
							                         <option value="">2027-28</option>	
							                         <option value="">2028-29</option>
							                         <option value="">2029-30</option>			                         
			                  					</select>
											</fieldset>
										</div>
										<div class="col-lg-4 col-sm-4 mb-3">
											<fieldset class="">
												<select id="squarter" name="type1">
							                         <option value="0"> Select Quarter</option>
							                         <option value="">Qtr1</option>
							                         <option value="">Qtr2</option>
							                         <option value="">Qtr3</option>		
							                         <option value="">Qtr4</option>	                         
			                  					</select>
											</fieldset>
										</div>
				
										<div class="col-lg-4 col-sm-4 mb-3">
											<div class="upload-btn-wrapper">
												<button class="btn" id="importdata">
													<img src="images/uploadIcon-white.png">Import Data
												</button>
												
											</div>
										</div>
										</div>
				
									</form>
								</div>
						`	</div>
						
				
						</div>
					</div>
				</div>
		
			<!-- ------------MODAL END ---------------------- -->
		
	</section>

	
		</div>
	

<div th:fragment="customJs">
	<script th:src="@{/./js/upload-data-source.js}"></script>
	<!-- <script>
		function initMap() {

			var myOptions = {
				zoom : 8,
				center : {
					lat : 20.5937,
					lng : 78.9629
				},
				mapTypeId : google.maps.MapTypeId.HYBRID
			}

			const map = new google.maps.Map(document.getElementById('map'),
					myOptions);
		}
	</script> -->
<!-- 	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDB_5K2ufiKQELVMLsbXLm8d6yqTH45JZw&callback=initMap">
	</script> -->
</div>