<div th:fragment="customCss">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

</div>

<div th:fragment="content">
	<section class="mainContainer">
		<div class="col-md-12 col-sm-12">


			<div id="dasboardTabsParent" class="feasibilityReports">
				<div class="innerTableParent OperatingAssumptions mt-4 mb-5">


					<div class="heading_title_strip mb-3"
						style="background: transparent; padding: 7px 0 5px;">
						<h3>
							<span th:text="${title}"></span>edit cinema format mapping
						</h3>
					</div>

					<div class="csv_upload_form">
						<div class="card p-3">
							<form id=cinemaCategory class="client-form" action="#" onsubmit="return submitCinemaCategory();"
								th:action="@{/admin/save/cinemaFormatMapping}" th:object="${mappingMaster}" method="POST"
								enctype="multipart/form-data">
								
								
								<div class="row mb-3">
							
									<div class="col-lg-4 col-sm-4">
										<fieldset class="form-group bmd-form-group">
										<input type="hidden" name="id" th:value="${mappingMaster?.id}">
											<label class="control-label" for="date">Format Name</label><input type="text" style="background-color: #fff !important;"
												readonly="readonly" class="form-control" name="cinemaFormat" th:value="${mappingMaster?.cinemaCategory}"
												placeholder="Enter name" required="required">
										</fieldset>
									</div>
										<div class="container-fluid">
					<div class="row">
					<div class="col-12">
						<div class="table_parent w-100">
							<div class="table-responsive">
								<table id="data-table"
									class="table table-striped table-bordered table-hover settings">
									<thead>
										<tr>
										<th class="">S.No</th>
										<th class="text-center">Select</th>
										<th class="text-center">Format Name <span style="color: red">*</span></th>
										</tr>
									</thead>
									<tbody id="valueTable">
										<tr th:each="list,i: ${formatMappingList}">
										<td th:id="${'sn'+i.index}"><span  th:text="${i.count}"></span></td> 
										 <td ><input th:id="${'value'+i.index}"  type="checkbox" class="form-control text-center" th:field="*{cinemaFormatMapping[__${i.index}__]}" th:value="${list.cinemaCategory}"> 
										</td> 		
										<td class="text-center"><span  th:text="${list.cinemaCategory}"></span></td>
										</tr>
									<tbody>
								</table>
								<div class="clearfix"></div>

							</div>
						</div>

						</div>
					</div>
						<div class="row">
						<div class="form-group col-md-8">
						</div>
						<div class="form-group col-md-4">
				   	 <input type="submit" style="font-size: 22px;padding: 9px 12px;min-width: 150px;float: right; margin-right:15px;" class="btn btn-success btn-raised tableFormatingBtn" value="Save">
				    </div>
				    </div>
				</div>
                              
								<!-- 	<div class="col-lg-4 col-sm-4">
										
										<fieldset class="form-group bmd-form-group">
											<div class="submit_btn mt-3">
												<button type="submit" class="btn btn-primary"
													id="submit-btn">Save</button>
											</div>
										</fieldset>
									</div> -->
							</form>

						</div>


					</div>


				</div>
			</div>
	</section>
	
	
	
</div>




<div th:fragment="customJs">
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
	

	<script th:inline="javascript">
		/*<![CDATA[*/

		var existingUser = /*[[${user}]]*/'default';
		var currentUserRole = /*[[${currentUserRole}]]*/'default';

		/*]]>*/
	</script>

</div>
