<div th:fragment="customCss">
<style>
input[readonly] {
background-color:transparent!important}
</style>
<link rel="stylesheet"
		href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
</div>

<div th:fragment="content">
<section class="mainContainer grothAssumption_grandParent">
  <div class="col-md-12 col-sm-12">
  
   

  <div class="tabsParent adminValueParent" style="max-width:100%;box-shadow:none;">

	<div class="heading_title_strip mb-0">
	
		<h3>Exit Feasibility MIS</h3>
	</div>
	
	 <div class="alert alert-success alert-dismissible" th:if=${success}>
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	 	<span th:text="${success}"></span>
	</div>
		
		<div class="subTitle_strip mt-0 mb-0">
			
			<form class="needs-validation" id="form" th:action="@{/admin/feasibility-ext-mis}" method="post" autocomplete="off"
			onsubmit="return validate();">
			
			
			<input type="hidden" name="opsAndExitReportIds" id="reportIds"/>
			  <div class="form-row">
			    <div class="col-md-4 mb-3">
			      <label for="validationCustom01">Start Date <span style="color: red">*</span><span class="text-danger"
								id="startError"></span></label>
			      <input type="text" class="form-control" id="startDate" name="startDate" placeholder="Select Date" required readonly="readonly">
			    </div>
			    <div class="col-md-4 mb-3">
			      <label for="validationCustom02">End Date	 <span style="color: red">*</span><span class="text-danger"
								id="endError"></span></label>
			      <input type="text" class="form-control decimalLimit" id="endDate" name="endDate"  placeholder="Select Date" required readonly="readonly">
			    </div>
			    <div class="col-md-4 mb-3">
			      <label for="validationCustomUsername"></label>
			      <div class="input-group">
			     	  <button type="reset" style="font-size: 22px;padding: 9px 12px;min-width: 150px;float: right;background:#bdc1bd!important;" id="reset" class="btn btn-danger btn-raised resetBtn tableFormatingBtn addBtnColor">Reset</button>
		   	 <input type="submit" style="font-size: 22px;padding: 9px 12px;min-width: 150px;float: right; margin-right:15px;" class="btn btn-success btn-raised tableFormatingBtn" value="Download">
			      </div>
			    </div>
			  </div>
			  </form>
			  <div class="col-lg-12">
							<div class="upload-btn-wrapper">
							<!--  
								<button id="chngstatus" class="btn mb-0 float-right">
									<img src="images/uploadIcon-white.png">Change Status
								</button>
								-->
								 <input type="submit" id="chngstatus" style="font-size: 22px;padding: 9px 12px;min-width: 150px;float: right; margin-right:0px;" class="btn btn-success btn-raised tableFormatingBtn" value="Change Status">
							</div>
						</div>
			
		</div>
		
	</div>
	 </div>
	 <div id="dasboardTabsParent" class="feasibilityReports">
				<div class="innerTableParent OperatingAssumptions mt-6">
					
					<div class="table_parent">
						<div class="table-responsive" style="max-width:100%;">
							<table class="table table-bordered mb-5 mt-3" id="data-table">
								<thead>
									<tr>
										<th scope="col" class="">Report ID</th>
										<th scope="col" class="">project Name</th>
										<th scope="col" class="">project Type</th>
										<th scope="col">Status</th>
										<th scope="col">Created Date</th>
										<th scope="col">Action</th>
									
									</tr>
								</thead>
								<tbody>
									<tr th:if="${projectDetails != null }"
										th:each="project,iterator : ${projectDetails}">
										<td class="first_column">
											<a	th:href="@{/project/getProjectId/}+${project.id}"
											     sec:authorize="hasAnyRole('ROLE_ADMIN')"> <span
													th:if="${project.reportId != null }"
													th:text="${project.reportId}"></span>
											</a>
											
											<a th:href="@{/project/review/}+${project.id}"
											    sec:authorize="hasAnyRole('ROLE_APPROVER')"> <span
												th:if="${project.reportId != null }"
												th:text="${project.reportId}"></span>
										</a>
											
											
										</td>
										<td class="second_column"><span
											th:if="${project.projectName != null }"
											th:text="${project.projectName}"></span></td>
											
										<td class="second_column"><span
											th:if="${project?.feasibilityState != null }"
											th:text="${project?.feasibilityState=='pre_signing'} ? 'Pre-Signing' : (${project.feasibilityState == 'post_signing'} ? 'Post-Signing' : 'Pre-Handover')"></span></td>
											
										<td th:if="${project?.status == 200}" th:text="Accepted"></td>
										<td th:if="${project?.status == 410 or project?.status == 210 or project?.status == 310}" th:text="Archived"></td>
										<td th:if="${project?.status == 0}" th:text="Deleted"></td>
										<td><span th:if="${project.createdDate != null }"
											th:text="${#dates.format(project.createdDate, 'dd-MMM-yyyy')}"></span>
										</td>
										<td>
											<input type="checkbox" th:value="${project.reportIdVersion}" name="rptName">
											</td>
									</tr>

								</tbody>

	
	 </table>
	 </div>
	 </div>
	 </div>
	 </div>
	 </section>
	</div>
	 
	
	
	
<div th:fragment="customJs">
	
	<script type="text/javascript" charset="utf8"
									src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>


	<script th:src="@{/./js/exitReports.js}"></script>
	<script th:src="@{/./js/bootstrap-material-datetimepicker.js}"></script>

 <script>
    $(function() {
    var table = $("#data-table").dataTable({
            "order" : [],
            "deferRender" : true,
            "columnDefs" : [ {
                "targets" :4,
                "orderable" : true,
            } ]
        });
    });
</script>
<script type="text/javascript">
$('#startDate').bootstrapMaterialDatePicker({
	time : false,
	format : 'DD/MM/YYYY',
	maxDate: new Date(),
});
$('#endDate').bootstrapMaterialDatePicker({
	time : false,
	format : 'DD/MM/YYYY',
	maxDate: new Date(),
});

function validate(){
	var startDate = $('#startDate').val();
	var endDate = $('#endDate').val();
	$('#startError').text('');
	$('#endError').text('');
	
	
	var initial = startDate.split(/\//);
	var d =( [ initial[1], initial[0], initial[2] ].join('/')); //=> 'mm/dd/yyyy'
	var start = (new Date(d));
	
	var opening = endDate.split(/\//);
	var d1 =( [ opening[1], opening[0], opening[2] ].join('/')); //=> 'mm/dd/yyyy'
	var end = (new Date(d1));
	
	if(startDate == ""){
		//$('#startError').text('Start date is required');
		return false;
	}
	else if(endDate == ""){
		//$('#endError').text('End date is required');
		return false;
	}
	else if (start.getTime() > end.getTime()){
		$('#startError').text('Start date cannot be greater than end date');
		return false;
	}
	else if (end.getTime() < start.getTime()){
		$('#endError').text('End date cannot be less than start date');
		return false;
	}
	else{
		return true;
	}
}


</script>
</div>
