<div th:fragment="customCss">

</div>

<div th:fragment="content">
<section class="mainContainer grothAssumption_grandParent">
  <div class="col-md-12 col-sm-12">
  <div class="alert alert-success alert-dismissible" th:if=${success}>
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	 	<span th:text="${success}"></span>
	</div>
 <form action="#" th:action="@{/assumption/saveGrowthAssumptions}" method="post">
	<input type="hidden" id="adminLeasePeriod" name="adminLeasePeriod">


				<!-- <div id="" class="title_strip w-100" style="display: inline-block;">
					<h5 class="chooseYears">Lease Period</h5>
					<input id="adminLeasePeriod" name="adminLeasePeriod" maxlength="2"
						onkeydown="return ( event.ctrlKey || event.altKey  || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )" />

					<input id="hiddenFixedConstants" type="hidden"
						th:value="${fixedConstant}" />
					<button class="submitBtn" type="button" id="editBtn">Edit</button>
				</div> -->

	<div class="grothAssumption_tableParent tableFormating">
      <table class="table table-bordered mb-4" id="revenueAssumtionTable">
        <thead id="theadRevenueAssumtionTable">
         
        </thead>
        <tbody id="tbodyRevenueAssumtionTable">
          
        </tbody>
      </table>
      
 <!--      <table class="table table-bordered mb-5" id="costAssumtionTable">
        <thead id="theadCostAssumtionTable">
        </thead>
        <tbody id="tbodyCostAssumtionTable">
        </tbody>
      </table> -->
  </div>
  
  <div class="grothAssumption_tableParent tableFormating">
  <table class="table table-bordered mb-5" id="costAssumtionTable">
        <thead id="theadCostAssumtionTable">
        </thead>
        <tbody id="tbodyCostAssumtionTable">
        </tbody>
      </table>
  </div>

	<button class="submitBtn btn btn-success btn-raised tableFormatingBtn" type="submit" id="submitBtnGrowth">Submit</button>
	
	

	</form>

</div>

</section>

</div>
<div th:fragment="customJs">
<script th:src="@{/./js/growth-assumption.js}"></script>

</div>