<div th:fragment="customCss"> 
<link rel="stylesheet"
		href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
</div>

<div th:fragment="content">
<section class="mainContainer grothAssumption_grandParent tableFormating_assumptionState">
  <div class="col-md-12 col-sm-12">
	
	<div class="heading_title_strip mb-0">
		<h3 class="d-inline">ASSUMPTION STATE</h3>
		<!-- <button style="float: right;margin-bottom: 10px;" class="nextBtn btn-raised btn	 btn-success"
						 	data-toggle="modal" data-target="#myModal"	id="addFhc" type="button" value="Add">Add</button> -->
	</div>
	<div class="alert alert-success alert-dismissible" th:if=${success}>
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	 	<span th:text="${success}"></span>
	</div>
	
	 <form id="fixedConstant" class="client-form" onsubmit="return validate();" 
	    th:action="@{/admin/assumptionstate}" th:object="${serviceCharges}" method="POST" autocomplete="off"> 
	 	 <div class=" title_strip w-100 mb-4">
	   
	 
		  <div class="form-row">
		    <div class="form-group col-md-3">
		      <label for="inputEmail4"> State <span id="nameError" style="color: red">*</span> </label>
		      <input type="text" class="form-control" name="state"  id="pac-input" required="required" autofocus="autofocus" placeholder="Enter Value">
		    </div>
		    <div class="form-group col-md-3">
		      <label for="inputPassword4"> Charge</label>
		      <input type="text" class="form-control decimalLimit" name="ticketServiceCharge" id="charge" placeholder="Enter Value" required="required">
		    </div>
		     <div class="form-group col-md-3">
		      <label for="inputEmail4">LBT</label>
		      <input type="text" class="form-control decimalLimit"  name="lbtCharge" id="lbt" placeholder="Enter Value" required="required">
		    </div>
		    <div class="form-group col-md-3">
		      <label for="inputPassword4">Health Cess</label>
		      <input type="text" class="form-control decimalLimit"  name="healthCess" id="healthCess" placeholder="Enter Value" required="required">
		    </div>
		     <div class="form-group col-md-8">
		     	<span id="error" style="color: red;"></span>
		     </div>
		    <div class="form-group col-md-4">
		   	 <button type="reset" style="float: right;" id="reset" class="btn btn-danger btn-raised resetBtn tableFormatingBtn addBtnColor">Reset</button>
		   	 <input type="submit"  style="float: right; margin-right:15px;"  class="btn btn-success btn-raised tableFormatingBtn" value="Add">
		    </div>
		  
		  </div>
  
  		
		</div>
		</form>		
	
	<div class="serviceChare_table">
		<table class="table table-bordered mb-4" id="tblData1">
			<thead>
				<tr>
					<th>States Name</th>
					<th>Charge</th>
					<th>LBT</th>
					<th>HealthCess</th>
				</tr>
			</thead>
			<tbody>
				    <tr th:each="cities : ${serviceCharge}">
					<td th:text="${cities.key}"></td>
					<td th:text="${cities.value}"></td>
					
					 <td th:each="lbt : ${lbtAvg}"
					     th:if="${cities?.key == lbt.key}">
					  	<sapn th:text="${lbt.value}"></sapn> 
					  </td>
				
				     <td th:each="cess : ${healthCess}" th:if="${cities?.key == cess.key}">
				   		 <span th:text="${cess.value}"></span>
				     </td>
				  </tr>
			</tbody>
		</table>
	</div> 
</div>

</section>
</div>

<div th:fragment="customJs">
<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
   <script>
 
   
	function initMap() {
		var input = document.getElementById('pac-input');

		var options = {
				types: ['(cities)'], 
				//types: ['(regions)'], 
			componentRestrictions : {
				country : [ 'IN' ]
			}
		};

		var autocomplete = new google.maps.places.Autocomplete(input,
				options);

		google.maps.event
				.addListener(
						autocomplete,
						'place_changed',
						function() {

							var place = autocomplete.getPlace();
							console.log(place.address_components);
							var lat = place.geometry.location.lat();
							var lng = place.geometry.location.lng();
							$('#latitude').val(lat);
							$('#longitude').val(lng);
							//$('#longitude').attr('disabled','disabled');
							//$('#latitude').attr('disabled','disabled');
							//console.log(lat);
							//console.log(lng);

							for (var i = 0; i < place.address_components.length; i += 1) {

								var addressObj = place.address_components[i];
								for (var j = 0; j < addressObj.types.length; j += 1) {
									if (addressObj.types[j] === 'country') {
										//console.log(addressObj.long_name);
									} else if (addressObj.types[j] === 'administrative_area1') {
										//console.log('state '+ addressObj.long_name);
									} else if (addressObj.types[j] === 'locality') {
										console.log('city '
												+ addressObj.long_name);
										$('#city')
												.val(addressObj.long_name);
										//$('#city').attr('disabled','disabled');
									} else if (addressObj.types[j] === 'administrative_area_level_1') {
										console.log(addressObj.long_name)
										$('#pac-input').val(
												addressObj.long_name);
										//$('#stateCity').attr('disabled','disabled');
									}
								}

							}

						});
	}
	

	function validate() {
		var atpstate = $('#pac-input').val().trim();
		var charge = $('#charge').val();
		var healthCess = $('#healthCess').val();
		var lbt = $('#lbt').val();
		$('#nameError').text("");
		$('#error').text("");
		if(atpstate ==''){
			$('#nameError').text("Please enter State name");
			 $('#pac-input').focus();
			 return false;
		}
		else if(charge ==''  && healthCess=='' &&lbt ==''){
			$('#error').text("Please enter atleast one value");
			 $('#charge').focus();
			 return false;
		}
		else{
			return true;
		}

	}


	$(document).ready(function() {
	  $(window).keydown(function(event){
	    if( (event.keyCode == 13) && (validate() == false) ) {
	      event.preventDefault();
	      return false;
	    }
	  });
	});

	$("#reset").on('click',function(){
		$('#nameError').text("*");
		$('#error').text("");
	});
	

	$(function() {
		  $('.decimalLimit').on('input', function() {
		    match = (/(\d{0,9})[^.]*((?:\.\d{0,2})?)/g).exec(this.value.replace(/[^\d.]/g, ''));
		    this.value = match[1] + match[2];
		  });
		});
	
</script>

<script type="text/javascript">

$(function() {

	 var table = $("#tblData1").dataTable({
		"autoWidth": false
	}); 

});
</script>

<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCatyZLSASD1xIuiOctecSipsxqeJgPZLM&libraries=places&callback=initMap"
	async defer></script> 
</div>


