<div th:fragment="customCss">
<style>
input[readonly] {
background-color:transparent!important}
</style>
</div>
<div th:fragment="content">
<section class="mainContainer grothAssumption_grandParent">
  <div class="col-md-12 col-sm-12">
  
  <!-- <form id="operating" class="client-form" action="#" th:action="@{/assumption/saveOperatAssumption}" method="POST" onsubmit="return check();"> -->  

  <div class="tabsParent adminValueParent" style="max-width:100%;box-shadow:none;">

	<div class="heading_title_strip mb-0">
	
		<h3>Gst on tickets</h3>
	</div>
	
	 <div class="alert alert-success alert-dismissible" th:if=${success}>
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	 	<span th:text="${success}"></span>
	</div>
		
		<!-- <div class="subTitle_strip mt-0 mb-0">
			<form class="needs-validation" th:action="@{/admin/operating-assumption}" method="post" autocomplete="off"
			onsubmit="return validate();">
			  <div class="form-row">
			    <div class="col-md-4 mb-3">
			      <label for="validationCustom01">City Name <span style="color: red">*</span><span class="text-danger"
								id="nameError"></span></label>
			      <input type="text" class="form-control" id="opt-input" name="operating[0].key" maxlength="50" placeholder="Enter city" required>
			    </div>
			    <div class="col-md-4 mb-3">
			      <label for="validationCustom02">Value <span style="color: red">*</span><span class="text-danger"
								id=""></span></label>
			      <input type="text" class="form-control decimalLimit" id="" name="operating[0].value" maxlength="5" placeholder="Enter value" required>
			    </div>
			    <div class="col-md-4 mb-3">
			      <label for="validationCustomUsername"></label>
			      <div class="input-group">
			     	 <div style="position: absolute;right: 10px">
   						 <button type='submit' class="btn btn-primary btn-raised">Submit</button>
					</div>
			      </div>
			    </div>
			  </div>
			</form>
		</div> -->
		
		 <div class="admitStructure my-4">
		<div class="subTitle_strip mt-0 mb-0">
			<h5>Gst on tickets for each format</h5>
		</div>
		<ul>
			<li class="staticRow">
				<table class="table table-bordered fixed-layout mb-0" id="tblData">
					<tbody>
					<tr th:each="optrat,i : ${fixedConstants?.gstOnTicketForEachFormat}">
						<td class="text-middle" th:text="${optrat.key}">
						</td>
						<td  class="text-middle">
							<input type="text" class="form-control"  id="othinput" th:value="${optrat.value}" readonly>
						</td>
						<td class="text-center">
						<img th:src="@{/images/editIconImg.png}" style="cursor: pointer;" class="editFhc"
										data-toggle="tooltip" data-placement="bottom" title="Edit" alt="edit">
										 &emsp;
						<!-- <img th:if="${i.index>0}"  th:src="@{/images/deleteIconImg.png}" style="cursor: pointer;" class="deleteFhc"
							alt="delete" data-toggle="tooltip" data-placement="bottom" title="Delete"> -->
						</td>
					</tr>
					</tbody>
				</table> 
			</li>
		</ul>
	</div>
	</div>
	 </div></section>
	 
	     <!-- The Modal -->
  <div class="modal" id="editModal">
    <div class="modal-dialog modal-sm" style="max-width: 500px;">
      <div class="modal-content" style="height: 230px;">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <p class="modal-title">EDIT Gst On Tickets</p>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        	<form th:action="@{/admin/gst-on-ticket}" id="fhc_form" th:object="${fhcMapper}" 
				method="POST" autocomplete="off" >
	        	<div class="row">
			         <div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">Name
								<span style="color: red">*</span><span class="text-danger"
								id="nameError"></span>
							</label> <input type="text" class="form-control"
								name="name" id="edit_fhc_name" readonly 
								placeholder="Enter Name" required>
						</fieldset>
					</div>
					<div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">
							Value
							<span style="color: red">*</span><span
								class="text-danger" id="valueError"></span>
							</label><input type="text" class="form-control decimalLimit" 
								name="value" id="edit_fhc_value" maxlength="5"
								placeholder="Enter Value" required>
						</fieldset>
					</div>
				</div>
				<div class="row" style="">
					  <button type="button" style="background-color: red;color: white;float: right;margin-left: 300px" class=" btn-raised btn" data-dismiss="modal">Close</button> &emsp;
	         		  <button type="submit" id="save" class=" btn-raised btn btn-success">Save</button>
				</div>
			</form>	
        </div>
        
      </div>
    </div>
  </div>
	</div>
	
	
	<div th:fragment="customJs">
<script th:src="@{/./js/shows-per-day.js}"></script>

</div>
