<!-- <<<<<<< HEAD
<div th:fragment="customCss">
<style>
td{
	text-transform: capitalize;
}

</style>

</div>

<div th:fragment="content">
	<section class="mainContainer grothAssumption_grandParent  tableFormating taxAssumptionFormating">
	<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12">
		
  <form class="client-form" th:action="@{/admin/irr-constant-details}" th:object="${fixedConstant}" method="POST" >
  <div class="heading_title_strip mb-0">
					 <div class="row">
						<div class="col">
							<h3>IRR Constant Details</h3>
						</div>
						<div class="col">
						<button id="submit" style="float: right;margin-bottom: 10px;" class="nextBtn btn-raised btn	 btn-success"  type="submit" value="Save">Save</button>
			
						</div>
						</div>
						
					</div>
			 
			<table class="table table-bordered mb-4 fixed-layout">
				<tbody>
					<tr>
						<td>Working Days</td>
						<td><input name="workingDays" class="decimalLimit" id="workingDays" type="text" th:value="${fixedConstant?.workingDays}" required="required"/></td>
					</tr>
					<tr>
						<td>Tax</td>
						<td><input name="tax" id="tax" class="decimalLimit" type="text" th:value="${fixedConstant?.tax}" required="required"/></td>
					</tr>
					<tr>
						<td>Year One Footfall Assumed Lower By</td>
						<td><input name="yearOneFootfallAssumedLowerBy" class="decimalLimit" id="yearOneFootfallAssumedLowerBy" type="text" required="required" th:value="${fixedConstant?.yearOneFootfallAssumedLowerBy}"/></td>
					</tr>
					<tr>
						<td>Complimentary Tickets %</td>
						<td><input name="complimentaryTicketsPercent" id="complimentaryTicketsPercent" class="decimalLimit" type="text" required="required" th:value="${fixedConstant?.complimentaryTicketsPercent}"/></td>
					</tr>
					
					<tr>
						<td>Complimentary F&B %</td>
						<td><input name="complimentaryFnBPercent" id="complimentaryFnBPercent" type="text" class="decimalLimit" required="required" th:value="${fixedConstant?.complimentaryFnBPercent}"/></td>
					</tr>
					
					<tr>
						<td>Year One AdIncome Lower By Percent</td>
						<td><input name="yearOneAdIncomeLowerByPercent" class="decimalLimit" id="yearOneAdIncomeLowerByPercent" type="text" required="required" th:value="${fixedConstant?.yearOneAdIncomeLowerByPercent}"/></td>
					</tr>
					
					<tr>
						<td>F&B GST</td>
						<td><input name="fnbGst" class="decimalLimit" id="fnbGst" type="text" th:value="${fixedConstant?.fnbGst}" required="required"/></td>
					</tr>
					
					<tr>
						<td>F&B Cogs</td>
						<td><input name="fnbCogs" id="fnbCogs" class="decimalLimit" type="text" th:value="${fixedConstant?.fnbCogs}" required="required"/></td>
					</tr>
					
					<tr>
						<td>Net Convenience Fee Per Ticket</td>
						<td><input name="netConvenienceFeePerTicket" class="decimalLimit" id="netConvenienceFeePerTicket" type="text" required="required" th:value="${fixedConstant?.netConvenienceFeePerTicket}"/></td>
					</tr>
					
					<tr>
						<td>Initial Capex In One Year</td>
						<td><input name="initailCapexInOneYear" class="decimalLimit" id="initailCapexInOneYear" type="text" required="required" th:value="${fixedConstant?.initailCapexInOneYear}"/></td>
					</tr>
					
					<tr>
						<td>Initial Capex In Zero Year</td>
						<td><input name="initailCapexInZeroYear" id="initailCapexInZeroYear" class="decimalLimit" type="text" required="required" th:value="${fixedConstant?.initailCapexInZeroYear}"/></td>
					</tr>
					
					<tr>
						<td>Initial Capex In Seven Year</td>
						<td><input name="initailCapexInSevenYear" id="initailCapexInSevenYear" class="decimalLimit" type="text" required="required" th:value="${fixedConstant?.initailCapexInSevenYear}"/></td>
					</tr>
					
					<tr>
						<td>Debt Proportion</td>
						<td><input name="debtProportion" id="debtProportion" type="text" class="decimalLimit"  required="required" th:value="${fixedConstant?.debtProportion}"/></td>
					</tr>
					
					<tr>
						<td>Equity Proportion</td>
						<td><input name="equityProportion" id="equityProportion" class="decimalLimit" type="text" th:value="${fixedConstant?.equityProportion}" required="required"/></td>
					</tr>
					
					<tr>
						<td>Cost Of Debt</td>
						<td><input name="costOfDebt" id="costOfDebt" type="text" class="decimalLimit" th:value="${fixedConstant?.costOfDebt}" required="required"/></td>
					</tr>
					
					<tr>
						<td>Debt Tenure</td>
						<td><input name="debtTenure" id="debtTenure" type="text" class="decimalLimit" th:value="${fixedConstant?.debtTenure}" required="required"/></td>
					</tr>
					
					<tr>
						<td>Cost Of Equity</td>
						<td><input name="costOfEquity" id="costOfEquity" type="text" class="decimalLimit" th:value="${fixedConstant?.costOfEquity}" required="required"/></td>
					</tr>
					
					<tr>
						<td>Capex Contingency</td>
						<td><input name="capexContingency" id="capexContingency" type="text" th:value="${fixedConstant?.capexContingency}"/></td>
					</tr>
					
					<tr>
						<td>Income Tax</td>
						<td><input name="incomeTax" id="incomeTax" type="text" th:value="${fixedConstant?.incomeTax}" required="required"/></td>
					</tr>
					
					<tr>
						<td>Rent And Cam Discount Rate</td>
						<td><input name="rentAndCamDiscountRate" id="rentAndCamDiscountRate" type="text" th:value="${fixedConstant?.rentAndCamDiscountRate}" required="required"/></td>
					</tr>
					
					<tr>
						<td>Maintenance Capex Of Revenue For All Year Till Last Renovation</td>
						<td><input name="maintenanceCapexOfRevenueForAllYearTillLastRenovation" id="maintenanceCapexOfRevenueForAllYearTillLastRenovation" required="required" type="text" th:value="${fixedConstant?.maintenanceCapexOfRevenueForAllYearTillLastRenovation}"/></td>
					</tr>
					
					<tr>
						<td>Maintenance Capex Of Revenue For Year After Last Renovation</td>
						<td><input name="maintenanceCapexOfRevenueForYearAfterLastRenovation" id="maintenanceCapexOfRevenueForYearAfterLastRenovation" required="required" type="text" th:value="${fixedConstant?.maintenanceCapexOfRevenueForYearAfterLastRenovation}"/></td>
					</tr>
					
					<tr>
						<td>Marketing Expense Launch Per Screen (INR)</td>
						<td><input name="marketingExpenseLaunch" id="marketingExpenseLaunch" type="text" th:value="${fixedConstant?.marketingExpenseLaunch}" required="required"/></td>
					</tr>
					
					<tr>
						<td>Atp To Sph Ratio</td>
						<td><input name="sphToAtpRatio" id="sphToAtpRatio" type="text" th:value="${fixedConstant?.sphToAtpRatio}" required="required"/></td>
					</tr>
					
					
				</tbody>
			</table> 
			<button class="submitBtn tableFormatingBtn" type="submit" id="submit">SAVE</button>
			</form>
		</div>
		</div>
		
		
		
		
		<div class="row d-none" >
		<div class="col-md-12 col-sm-12">
		<div class="tableFormating">
			<form id="operating" class="client-form" action="#"
				th:action="@{/admin/cogs}" method="POST"
				onsubmit="return check();">

				<div class=" adminValueParent"
					style="max-width: 100%; box-shadow: none;">

					<div class="heading_title_strip mb-0">
					 <div class="row">
						<div class="col">
							<h3>Cogs</h3>
						</div>
						<div class="col">
						<button style="float: right;margin-bottom: 10px;" class="nextBtn btn-raised btn	 btn-success"
						 	data-toggle="modal" data-target="#myModal"	id="addFhc" type="button" value="Add">Add</button>
						</div>
						</div>
						
					</div>
	 <div class="alert alert-danger alert-dismissible" th:if=${error}>
	 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
 		 <span th:text="${error}"></span>
	</div>
	<div class="alert alert-success alert-dismissible" th:if=${success}>
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	 	<span th:text="${success}"></span>
	</div>


					<table class="table table-bordered mb-4 fixed-layout" id="tblData">
						<thead>
							<tr>
								<th>Name</th>
								<th>Value</th>
								<th class="text-center">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="filmHire : ${fixedConstant?.cogs}">
								<td><span th:text="${filmHire?.key}"></span></td>
								<td><input class="form-control" type="text"
									th:value="${filmHire?.value}" readonly="readonly"
									style="background-image: none !important;background-color:#fff;" /></td>
								<td class="">
									
									<img th:src="@{/images/editIconImg.png}" style="cursor: pointer;" class="editCogs"
										data-toggle="tooltip" data-placement="bottom" title="Edit" alt="edit">
										 &emsp;
									<img th:src="@{/images/deleteIconImg.png}" style="cursor: pointer;" class="deleteFhc"
										alt="delete" data-toggle="tooltip" data-placement="bottom" title="Delete">
										
									
								</td>
							</tr>

						</tbody>
					</table>


				</div>
			</form>
		</div>
		</div>
		</div>
		
		
		<div class="row">
		<div class="col-md-12 col-sm-12">
  <div class="tableFormating">
  <form id="operating" class="client-form" action="#" th:action="@{/assumption/saveOperatAssumption}" method="POST" onsubmit="return check();">  

  <div class=" adminValueParent" style="max-width:100%;box-shadow:none;">

	<div class="heading_title_strip mb-0">
	
		<h3>Operating Assumption</h3>
	</div>
	
	 <div class="alert alert-success alert-dismissible" th:if=${successos}>
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	 	<span th:text="${successos}"></span>
	</div>
		
		<div class="subTitle_strip mt-0 mb-0 tableFormating taxAssumptionFormating">
			<form class="needs-validation" th:action="@{/admin/operating-assumption}" method="post" autocomplete="off"
			onsubmit="return validate();">
			  <div class="form-row">
			    <div class="col-md-4 mb-3">
			      <label for="validationCustom01">City Name <span style="color: red">*</span><span class="text-danger"
								id="nameError"></span></label>
			      <input type="text" class="form-control" id="opt-input" name="operating[0].key" maxlength="50" placeholder="Enter city" required>
			    </div>
			    <div class="col-md-4 mb-3">
			      <label for="validationCustom02">Value <span style="color: red">*</span><span class="text-danger"
								id=""></span></label>
			      <input type="text" class="form-control decimalLimit" id="" name="operating[0].value" maxlength="5" placeholder="Enter value" required>
			    </div>
			    <div class="col-md-4 mb-3">
			      <label for="validationCustomUsername"></label>
			      <div class="input-group">
   						 <button type='submit' class="btn btn-primary btn-raised tableFormatingBtn" style="font-size: 20px;
padding: 9px 12px;min-width: 126px;">Submit</button>
			      </div>
			    </div>
			  </div>
			</form>
		</div>
		
		 <div class=" my-4">
		<div class="subTitle_strip mt-0 mb-0">
			<h5>Admits (Number of shows per day)</h5>
		</div>
		<ul style="list-style:none;padding:0;">
			<li class="staticRow">
				<table class="table table-bordered fixed-layout mb-0" id="tblData1">
					<tbody>
					<tr th:each="optrat,i : ${fixedConstant?.avgShowPerDay}">
						<td th:if="${i.index==0}" class="text-middle" th:text="${optrat.key}">
							<input type="text" class="form-control"  id="fxinput" th:value="${optrat.key}" readonly="readonly">
						</td>
						<td th:if="${i.index==0}" class="text-middle">
							<input type="text" class=""  id="othinput" style="background-color:#fff;" th:value="${optrat.value}" readonly>
						</td>
						<td th:if="${i.index>0}" class="text-middle" th:text="${optrat.key}">
							<input type="text" class="form-control"  id="fxinput" th:value="${optrat.key}" readonly>
						</td>
						<td th:if="${i.index>0}" class="text-middle" >
							<input type="text" class=""  id="othinput" style="background-color:#fff;" th:value="${optrat.value}" readonly>
						</td>
						<td class="text-center">
						<img th:src="@{/images/editIconImg.png}" style="cursor: pointer;" class="editFhc"
										data-toggle="tooltip" data-placement="bottom" title="Edit" alt="edit">
										 &emsp;
						<img th:if="${i.index>0}"  th:src="@{/images/deleteIconImg.png}" style="cursor: pointer;" class="deleteFhc"
							alt="delete" data-toggle="tooltip" data-placement="bottom" title="Delete">
						</td>
					</tr>
					</tbody>
				</table> 
			</li>
		</ul>
	</div>
	</div>
	 </div>
	 </div>
	 </div>
	</section>
	
	
		
  The Modal
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-sm" style="max-width: 500px;">
      <div class="modal-content" style="height: 230px;">
      
        Modal Header
        <div class="modal-header">
          <p class="modal-title">ADD COGS</p>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        Modal body
        <div class="modal-body">
        	<form th:action="@{/admin/cogs}" id="fhc_form" th:object="${fhcMapper}" onsubmit="return validateCogs();"
				method="POST" autocomplete="off">
	        	<div class="row">
			         <div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">Name
								<span style="color: red">*</span><span class="text-danger"
								id="nameCogsError"></span>
							</label> <input type="text" class="form-control"
								name="name" id="cogs_name" maxlength="20" autofocus="autofocus"
								placeholder="Enter Name" required>
						</fieldset>
					</div>
					<div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">
							Value
							<span style="color: red">*</span><span
								class="text-danger" id="valueCogsError"></span>
							</label><input type="text" class="form-control decimalLimit"
								name="value" id="cogs_value" maxlength="10" 
								placeholder="Enter Value" required
								>
						</fieldset>
					</div>
				</div>
				<div class="row" style="">
					  <button type="button" style="background-color: red;color: white;float: right;margin-left: 300px" class=" btn-raised btn" data-dismiss="modal">Close</button> &emsp;
	         		  <button type="submit" id="save" class=" btn-raised btn btn-success">Save</button>
				</div>
			</form>	
        </div>
        
      </div>
    </div>
  </div>
  
    The Modal
  <div class="modal" id="editCogsModal">
    <div class="modal-dialog modal-sm" style="max-width: 500px;">
      <div class="modal-content" style="height: 230px;">
      
        Modal Header
        <div class="modal-header">
          <p class="modal-title">EDIT COGS</p>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        Modal body
        <div class="modal-body">
        	<form th:action="@{/admin/edit-cogs}" id="fhc_form" th:object="${fhcMapper}" 
				method="POST" autocomplete="off" >
	        	<div class="row">
			         <div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">Name
								<span style="color: red">*</span><span class="text-danger"
								id="nameError"></span>
							</label> <input type="text" class="form-control"
								name="name" id="edit_cogs_name" readonly style="background-color: #fff"
								placeholder="Enter Name" required>
						</fieldset>
					</div>
					<div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">
							Value
							<span style="color: red">*</span><span
								class="text-danger" id="valueError"></span>
							</label><input type="text" class="form-control decimalLimit" 
								name="value" id="edit_cogs_value" maxlength="10"
								placeholder="Enter Value" required>
						</fieldset>
					</div>
				</div>
				<div class="row" style="">
					  <button type="button" style="background-color: red;color: white;float: right;margin-left: 300px" class=" btn-raised btn" data-dismiss="modal">Close</button> &emsp;
	         		  <button type="submit" id="save" class=" btn-raised btn btn-success">Save</button>
				</div>
			</form>	
        </div>
        
      </div>
    </div>
  </div>
  
  
	     The Modal
  <div class="modal" id="editModal">
    <div class="modal-dialog modal-sm" style="max-width: 500px;">
      <div class="modal-content" style="height: 230px;">
      
        Modal Header
        <div class="modal-header">
          <p class="modal-title">EDIT OPERATING ASSUMPTION</p>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        Modal body
        <div class="modal-body">
        	<form th:action="@{/admin/edit-operating-assumption}" id="fhc_form" th:object="${fhcMapper}" 
				method="POST" autocomplete="off" >
	        	<div class="row">
			         <div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">Name
								<span style="color: red">*</span><span class="text-danger"
								id="nameError"></span>
							</label> <input type="text" class="form-control" style="background-color: #fff"
								name="operating[0].key" id="edit_fhc_name" readonly 
								placeholder="Enter Name" required>
						</fieldset>
					</div>
					<div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">
							Value
							<span style="color: red">*</span><span
								class="text-danger" id="valueError"></span>
							</label><input type="text" class="form-control decimalLimit" 
								name="operating[0].value" id="edit_fhc_value" maxlength="5"
								placeholder="Enter Value" required>
						</fieldset>
					</div>
				</div>
				<div class="row" style="">
					  <button type="button" style="background-color: red;color: white;float: right;margin-left: 300px" class=" btn-raised btn" data-dismiss="modal">Close</button> &emsp;
	         		  <button type="submit" id="save" class=" btn-raised btn btn-success">Save</button>
				</div>
			</form>	
        </div>
        
      </div>
    </div>
  </div>
</div>



<div th:fragment="customJs">

<script th:src="@{/./js/cogs.js}"></script>
 <script>
	function initMap() {
		var input = document.getElementById('opt-input');
	    console.log(input);
	     /*var inn = input.substring(input.indexOf("1")+1) */
		

		var options = {
				types: ['(cities)'], 
				//types: ['(regions)'], 
			componentRestrictions : {
				country : [ 'IN' ]
			}
		};

		var autocomplete = new google.maps.places.Autocomplete(input,
				options);

		google.maps.event
				.addListener(
						autocomplete,
						'place_changed',
						function() {

							var place = autocomplete.getPlace();
							console.log(place.address_components);
							var lat = place.geometry.location.lat();
							var lng = place.geometry.location.lng();
							$('#latitude').val(lat);
							$('#longitude').val(lng);
							//$('#longitude').attr('disabled','disabled');
							//$('#latitude').attr('disabled','disabled');
							//console.log(lat);
							//console.log(lng);

							for (var i = 0; i < place.address_components.length; i += 1) {

								var addressObj = place.address_components[i];
								for (var j = 0; j < addressObj.types.length; j += 1) {
									if (addressObj.types[j] === 'country') {
										//console.log(addressObj.long_name);
									} else if (addressObj.types[j] === 'administrative_area1') {
										//console.log('state '+ addressObj.long_name);
									} else if (addressObj.types[j] === 'locality') {
										console.log('city '
												+ addressObj.long_name);
										$('#opt-input')
												.val(addressObj.long_name);
										//$('#city').attr('disabled','disabled');
									} else if (addressObj.types[j] === 'administrative_area_level_1') {
										console.log(addressObj.long_name)
										$('#stateCity').val(
												addressObj.long_name);
										//$('#stateCity').attr('disabled','disabled');
									}
								}

							}

						});
	}
	
	

	function validate() {

		var name = $('#opt-input').val();

		$('#nameError').text("");

		if (name.trim() == '') {
			$('#nameError').text("City name cannot be empty.");
			$( "#opt-input" ).focus();
			return false;
		}
		else{
			return true;
			console.log(response);
		}
		return false;
	}

	$(function() {
		  $('.decimalLimit').on('input', function() {
		    match = (/(\d{0,9})[^.]*((?:\.\d{0,2})?)/g).exec(this.value.replace(/[^\d.]/g, ''));
		    this.value = match[1] + match[2];
		  });
		});

	$("#tblData1").on('click','.editFhc',function(){
	    // get the current row
	    var currentRow=$(this).closest("tr"); 
	    
	    var col1=currentRow.find("td:eq(0)").text(); // get current row 1st TD value
	    var col2=currentRow.find("input").val(); // get current row 2nd TD
	    console.log(col1,col2)
	    $('#edit_fhc_name').val(col1);
	    $('#edit_fhc_value').val(col2);
	    
	    $('#editModal').modal();
	   
	});

	$("#tblData1").on('click','.deleteFhc',function(){
	    // get the current row
	    var currentRow=$(this).closest("tr"); 
	    
	    var col1=currentRow.find("td:eq(0)").text(); // get current row 1st TD value
	    var col2=currentRow.find("input").val(); // get current row 2nd TD
	    if(getConfirmation()){
	    	window.location.href="/admin/delete-operating-assumption/"+col1;
	    }
	   
	});


	function getConfirmation() {
	    var retVal = confirm("Do you want to continue ?");
	    if( retVal == true ) {
	       return true;
	    } else {
	       return false;
	    }
	 }
</script>

<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCatyZLSASD1xIuiOctecSipsxqeJgPZLM&libraries=places&callback=initMap"
	async defer></script> 
======= -->
<div th:fragment="customCss">
<style>
td{
	text-transform: capitalize;
}

</style>

</div>

<div th:fragment="content">
	<section class="mainContainer grothAssumption_grandParent  tableFormating taxAssumptionFormating">
	<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12">
		
  <form class="client-form" th:action="@{/admin/irr-constant-details}" th:object="${fixedConstant}" method="POST" >
  <div class="heading_title_strip mb-0">
					 <div class="row">
						<div class="col">
							<h3>IRR Constant Details</h3>
						</div>
						<div class="col">
						<button id="submit" style="float: right;margin-bottom: 10px;" class="nextBtn btn-raised btn	 btn-success"  type="submit" value="Save">Save</button>
			
						</div>
						</div>
						
					</div>
			 
			<table class="table table-bordered mb-4 fixed-layout">
				<tbody>
					<tr>
						<td>Working Days</td>
						<td><input name="workingDays" class="decimalLimit" id="workingDays" type="text" th:value="${fixedConstant?.workingDays}" required="required"/></td>
					</tr>
					<!-- <tr>
						<td>Tax</td>
						<td><input name="tax" id="tax" class="decimalLimit" type="text" th:value="${fixedConstant?.tax}" required="required"/></td>
					</tr> -->
					<!-- <tr>
						<td>Year One Footfall Assumed Lower By</td>
						<td><input name="yearOneFootfallAssumedLowerBy" class="decimalLimit" id="yearOneFootfallAssumedLowerBy" type="text" required="required" th:value="${fixedConstant?.yearOneFootfallAssumedLowerBy}"/></td>
					</tr> -->
					<tr>
						<td>Complimentary Tickets %</td>
						<td><input name="complimentaryTicketsPercent" id="complimentaryTicketsPercent" class="decimalLimit" type="text" required="required" th:value="${fixedConstant?.complimentaryTicketsPercent}"/></td>
					</tr>
					
					<tr>
						<td>Complimentary F&B %</td>
						<td><input name="complimentaryFnBPercent" id="complimentaryFnBPercent" type="text" class="decimalLimit" required="required" th:value="${fixedConstant?.complimentaryFnBPercent}"/></td>
					</tr>
					
					<!-- <tr>
						<td>Year One AdIncome Lower By Percent</td>
						<td><input name="yearOneAdIncomeLowerByPercent" class="decimalLimit" id="yearOneAdIncomeLowerByPercent" type="text" required="required" th:value="${fixedConstant?.yearOneAdIncomeLowerByPercent}"/></td>
					</tr> -->
					
					<tr>
						<td>F&B GST</td>
						<td><input name="fnbGst" class="decimalLimit" id="fnbGst" type="text" th:value="${fixedConstant?.fnbGst}" required="required"/></td>
					</tr>
					
				<!-- 	<tr>
						<td>F&B Cogs</td>
						<td><input name="fnbCogs" id="fnbCogs" class="decimalLimit" type="text" th:value="${fixedConstant?.fnbCogs}" required="required"/></td>
					</tr> -->
					
					<tr>
						<td>Net Convenience Fee Per Ticket</td>
						<td><input name="netConvenienceFeePerTicket" class="decimalLimit" id="netConvenienceFeePerTicket" type="text" required="required" th:value="${fixedConstant?.netConvenienceFeePerTicket}"/></td>
					</tr>
					
					<tr>
						<td>Initial Capex In One Year</td>
						<td><input name="initailCapexInOneYear" class="decimalLimit" id="initailCapexInOneYear" type="text" required="required" th:value="${fixedConstant?.initailCapexInOneYear}"/></td>
					</tr>
					
					<tr>
						<td>Initial Capex In Zero Year</td>
						<td><input name="initailCapexInZeroYear" id="initailCapexInZeroYear" class="decimalLimit" type="text" required="required" th:value="${fixedConstant?.initailCapexInZeroYear}"/></td>
					</tr>
					
					<tr>
						<td>Initial Capex In Seven Year</td>
						<td><input name="initailCapexInSevenYear" id="initailCapexInSevenYear" class="decimalLimit" type="text" required="required" th:value="${fixedConstant?.initailCapexInSevenYear}"/></td>
					</tr>
					
					<tr>
						<td>Debt Proportion</td>
						<td><input name="debtProportion" id="debtProportion" type="text" class="decimalLimit"  required="required" th:value="${fixedConstant?.debtProportion}"/></td>
					</tr>
					
					<tr>
						<td>Equity Proportion</td>
						<td><input name="equityProportion" id="equityProportion" class="decimalLimit" type="text" th:value="${fixedConstant?.equityProportion}" required="required"/></td>
					</tr>
					
					<tr>
						<td>Cost Of Debt</td>
						<td><input name="costOfDebt" id="costOfDebt" type="text" class="decimalLimit" th:value="${fixedConstant?.costOfDebt}" required="required"/></td>
					</tr>
					
					<tr>
						<td>Debt Tenure</td>
						<td><input name="debtTenure" id="debtTenure" type="text" class="decimalLimit" th:value="${fixedConstant?.debtTenure}" required="required"/></td>
					</tr>
					
					<tr>
						<td>Cost Of Equity</td>
						<td><input name="costOfEquity" id="costOfEquity" type="text" class="decimalLimit" th:value="${fixedConstant?.costOfEquity}" required="required"/></td>
					</tr>
					
					<!-- <tr>
						<td>Capex Contingency</td>
						<td><input name="capexContingency" id="capexContingency" type="text" th:value="${fixedConstant?.capexContingency}"/></td>
					</tr> -->
					
					<tr>
						<td>Income Tax</td>
						<td><input name="incomeTax" id="incomeTax" type="text" th:value="${fixedConstant?.incomeTax}" required="required"/></td>
					</tr>
					
					<tr>
						<td>Rent And Cam Discount Rate</td>
						<td><input name="rentAndCamDiscountRate" id="rentAndCamDiscountRate" type="text" th:value="${fixedConstant?.rentAndCamDiscountRate}" required="required"/></td>
					</tr>
					
					<tr>
						<td>Maintenance Capex Of Revenue For All Year Till Last Renovation</td>
						<td><input name="maintenanceCapexOfRevenueForAllYearTillLastRenovation" id="maintenanceCapexOfRevenueForAllYearTillLastRenovation" required="required" type="text" th:value="${fixedConstant?.maintenanceCapexOfRevenueForAllYearTillLastRenovation}"/></td>
					</tr>
					
					<tr>
						<td>Maintenance Capex Of Revenue For Year After Last Renovation</td>
						<td><input name="maintenanceCapexOfRevenueForYearAfterLastRenovation" id="maintenanceCapexOfRevenueForYearAfterLastRenovation" required="required" type="text" th:value="${fixedConstant?.maintenanceCapexOfRevenueForYearAfterLastRenovation}"/></td>
					</tr>
					
					<tr>
						<td>Marketing Expense Launch Per Screen (INR)</td>
						<td><input name="marketingExpenseLaunch" id="marketingExpenseLaunch" type="text" th:value="${fixedConstant?.marketingExpenseLaunch}" required="required"/></td>
					</tr>
					
					<tr>
						<td>Atp To Sph Ratio</td>
						<td><input name="sphToAtpRatio" id="sphToAtpRatio" type="text" th:value="${fixedConstant?.sphToAtpRatio}" required="required"/></td>
					</tr>
					
					
				</tbody>
			</table> 
			<!-- <button class="submitBtn tableFormatingBtn" type="submit" id="submit">SAVE</button> -->
			</form>
		</div>
		</div>
		
		
		
		
		<div class="row d-none" >
		<div class="col-md-12 col-sm-12">
		<div class="tableFormating">
			<form id="operating" class="client-form" action="#"
				th:action="@{/admin/cogs}" method="POST"
				onsubmit="return check();">

				<div class=" adminValueParent"
					style="max-width: 100%; box-shadow: none;">

					<div class="heading_title_strip mb-0">
					 <div class="row">
						<div class="col">
							<h3>Cogs</h3>
						</div>
						<div class="col">
						<!-- <button style="float: right;margin-bottom: 10px;" class="nextBtn btn-raised btn	 btn-success"
						 	data-toggle="modal" data-target="#myModal"	id="addFhc" type="button" value="Add">Add</button> -->
						</div>
						</div>
						
					</div>
	<!--  <div class="alert alert-danger alert-dismissible" th:if=${error}>
	 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
 		 <span th:text="${error}"></span>
	</div> -->
	<div class="alert alert-success alert-dismissible" th:if=${success}>
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	 	<span th:text="${success}"></span>
	</div>


					<table class="table table-bordered mb-4 fixed-layout" id="tblData">
						<thead>
							<tr>
								<th>Name</th>
								<th>Value</th>
								<th class="text-center">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="filmHire : ${fixedConstant?.cogs}">
								<td><span th:text="${filmHire?.key}"></span></td>
								<td><input class="form-control" type="text"
									th:value="${filmHire?.value}" readonly="readonly"
									style="background-image: none !important;background-color:#fff;" /></td>
								<td class="">
									
									<img th:src="@{/images/editIconImg.png}" style="cursor: pointer;" class="editCogs"
										data-toggle="tooltip" data-placement="bottom" title="Edit" alt="edit">
										 &emsp;
									<!-- <img th:src="@{/images/deleteIconImg.png}" style="cursor: pointer;" class="deleteFhc"
										alt="delete" data-toggle="tooltip" data-placement="bottom" title="Delete"> -->
										
									
								</td>
							</tr>

						</tbody>
					</table>


				</div>
			</form>
		</div>
		</div>
		</div>
		
		
		<div class="row">
		<div class="col-md-12 col-sm-12">
  <div class="tableFormating">
  <!-- <form id="operating" class="client-form" action="#" th:action="@{/assumption/saveOperatAssumption}" method="POST" onsubmit="return check();"> -->  

  <div class=" adminValueParent" style="max-width:100%;box-shadow:none;">

	<div class="heading_title_strip mb-0">
	
		<h3>Operating Assumption</h3>
	</div>
	
	 <div class="alert alert-success alert-dismissible" th:if=${successos}>
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	 	<span th:text="${successos}"></span>
	</div>
		
		<div class="subTitle_strip mt-0 mb-0 tableFormating taxAssumptionFormating">
			<form class="needs-validation" th:action="@{/admin/operating-assumption}" method="post" autocomplete="off"
			onsubmit="return validate();">
			  <div class="form-row">
			    <div class="col-md-4 mb-3">
			      <label for="validationCustom01">State Name <span style="color: red">*</span><span class="text-danger"
								id="nameError"></span></label>
			      <input type="text" class="form-control" id="opt-input" name="operating[0].key" maxlength="50" placeholder="Enter state" required>
			    </div>
			    <div class="col-md-4 mb-3">
			      <label for="validationCustom02">Value <span style="color: red">*</span><span class="text-danger"
								id=""></span></label>
			      <input type="text" class="form-control decimalLimit" id="" name="operating[0].value" maxlength="5" placeholder="Enter value" required>
			    </div>
			    <div class="col-md-4 mb-3">
			      <label for="validationCustomUsername"></label>
			      <div class="input-group">
   						 <button type='submit' class="btn btn-primary btn-raised tableFormatingBtn" style="font-size: 20px;
padding: 9px 12px;min-width: 126px;">Submit</button>
			      </div>
			    </div>
			  </div>
			</form>
		</div>
		
		 <div class=" my-4">
		<div class="subTitle_strip mt-0 mb-0">
			<h5>Admits (Number of shows per day)</h5>
		</div>
		<ul style="list-style:none;padding:0;">
			<li class="staticRow">
				<table class="table table-bordered fixed-layout mb-0" id="tblData1">
					<tbody>
					<tr th:each="optrat,i : ${fixedConstant?.avgShowPerDay}">
						<td th:if="${i.index==0}" class="text-middle" th:text="${optrat.key}">
							<!-- <input type="text" class="form-control"  id="fxinput" th:value="${optrat.key}" readonly="readonly"> -->
						</td>
						<td th:if="${i.index==0}" class="text-middle">
							<input type="text" class=""  id="othinput" style="background-color:#fff;" th:value="${optrat.value}" readonly>
						</td>
						<td th:if="${i.index>0}" class="text-middle" th:text="${optrat.key}">
<!-- 							<input type="text" class="form-control"  id="fxinput" th:value="${optrat.key}" readonly> -->
						</td>
						<td th:if="${i.index>0}" class="text-middle" >
							<input type="text" class=""  id="othinput" style="background-color:#fff;" th:value="${optrat.value}" readonly>
						</td>
						<td class="text-center">
						<img th:src="@{/images/editIconImg.png}" style="cursor: pointer;" class="editFhc"
										data-toggle="tooltip" data-placement="bottom" title="Edit" alt="edit">
										 &emsp;
						<img th:if="${i.index>0}"  th:src="@{/images/deleteIconImg.png}" style="cursor: pointer;" class="deleteFhc"
							alt="delete" data-toggle="tooltip" data-placement="bottom" title="Delete">
						</td>
					</tr>
					</tbody>
				</table> 
			</li>
		</ul>
	</div>
	</div>
	 </div>
	 </div>
	 </div>
	</section>
	
	
		
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-sm" style="max-width: 500px;">
      <div class="modal-content" style="height: 230px;">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <p class="modal-title">ADD COGS</p>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        	<form th:action="@{/admin/cogs}" id="fhc_form" th:object="${fhcMapper}" onsubmit="return validateCogs();"
				method="POST" autocomplete="off">
	        	<div class="row">
			         <div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">Name
								<span style="color: red">*</span><span class="text-danger"
								id="nameCogsError"></span>
							</label> <input type="text" class="form-control"
								name="name" id="cogs_name" maxlength="20" autofocus="autofocus"
								placeholder="Enter Name" required>
						</fieldset>
					</div>
					<div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">
							Value
							<span style="color: red">*</span><span
								class="text-danger" id="valueCogsError"></span>
							</label><input type="text" class="form-control decimalLimit"
								name="value" id="cogs_value" maxlength="10" 
								placeholder="Enter Value" required
								>
						</fieldset>
					</div>
				</div>
				<div class="row" style="">
					  <button type="button" style="background-color: red;color: white;float: right;margin-left: 300px" class=" btn-raised btn" data-dismiss="modal">Close</button> &emsp;
	         		  <button type="submit" id="save" class=" btn-raised btn btn-success">Save</button>
				</div>
			</form>	
        </div>
        
      </div>
    </div>
  </div>
  
    <!-- The Modal -->
  <div class="modal" id="editCogsModal">
    <div class="modal-dialog modal-sm" style="max-width: 500px;">
      <div class="modal-content" style="height: 230px;">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <p class="modal-title">EDIT COGS</p>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        	<form th:action="@{/admin/edit-cogs}" id="fhc_form" th:object="${fhcMapper}" 
				method="POST" autocomplete="off" >
	        	<div class="row">
			         <div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">Name
								<span style="color: red">*</span><span class="text-danger"
								id="nameError"></span>
							</label> <input type="text" class="form-control"
								name="name" id="edit_cogs_name" readonly style="background-color: #fff"
								placeholder="Enter Name" required>
						</fieldset>
					</div>
					<div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">
							Value
							<span style="color: red">*</span><span
								class="text-danger" id="valueError"></span>
							</label><input type="text" class="form-control decimalLimit" 
								name="value" id="edit_cogs_value" maxlength="10"
								placeholder="Enter Value" required>
						</fieldset>
					</div>
				</div>
				<div class="row" style="">
					  <button type="button" style="background-color: red;color: white;float: right;margin-left: 300px" class=" btn-raised btn" data-dismiss="modal">Close</button> &emsp;
	         		  <button type="submit" id="save" class=" btn-raised btn btn-success">Save</button>
				</div>
			</form>	
        </div>
        
      </div>
    </div>
  </div>
  
  
	     <!-- The Modal -->
  <div class="modal" id="editModal">
    <div class="modal-dialog modal-sm" style="max-width: 500px;">
      <div class="modal-content" style="height: 230px;">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <p class="modal-title">EDIT OPERATING ASSUMPTION</p>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        	<form th:action="@{/admin/edit-operating-assumption}" id="fhc_form" th:object="${fhcMapper}" 
				method="POST" autocomplete="off" >
	        	<div class="row">
			         <div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">Name
								<span style="color: red">*</span><span class="text-danger"
								id="nameError"></span>
							</label> <input type="text" class="form-control" style="background-color: #fff"
								name="operating[0].key" id="edit_fhc_name" readonly 
								placeholder="Enter Name" required>
						</fieldset>
					</div>
					<div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">
							Value
							<span style="color: red">*</span><span
								class="text-danger" id="valueError"></span>
							</label><input type="text" class="form-control decimalLimit" 
								name="operating[0].value" id="edit_fhc_value" maxlength="5"
								placeholder="Enter Value" required>
						</fieldset>
					</div>
				</div>
				<div class="row" style="">
					  <button type="button" style="background-color: red;color: white;float: right;margin-left: 300px" class=" btn-raised btn" data-dismiss="modal">Close</button> &emsp;
	         		  <button type="submit" id="save" class=" btn-raised btn btn-success">Save</button>
				</div>
			</form>	
        </div>
        
      </div>
    </div>
  </div>
</div>



<div th:fragment="customJs">

<script th:src="@{/./js/cogs.js}"></script>
 <script>
	function initMap() {
		var input = document.getElementById('opt-input');
	    console.log(input);
	     /*var inn = input.substring(input.indexOf("1")+1) */
		

		var options = {
				//types: ['(cities)'], 
				types: ['(regions)'], 
			componentRestrictions : {
				country : [ 'IN' ]
			}
		};

		var autocomplete = new google.maps.places.Autocomplete(input,
				options);

		google.maps.event
				.addListener(
						autocomplete,
						'place_changed',
						function() {

							var place = autocomplete.getPlace();
							console.log(place.address_components);
							var lat = place.geometry.location.lat();
							var lng = place.geometry.location.lng();
							$('#latitude').val(lat);
							$('#longitude').val(lng);
							//$('#longitude').attr('disabled','disabled');
							//$('#latitude').attr('disabled','disabled');
							//console.log(lat);
							//console.log(lng);

							for (var i = 0; i < place.address_components.length; i += 1) {

								var addressObj = place.address_components[i];
								for (var j = 0; j < addressObj.types.length; j += 1) {
									if (addressObj.types[j] === 'country') {
										//console.log(addressObj.long_name);
									} else if (addressObj.types[j] === 'administrative_area1') {
									  //console.log('state '+ addressObj.long_name);
									} else if (addressObj.types[j] === 'locality') {
										//console.log('city '
										//		+ addressObj.long_name);
										$('#opt-input')
												.val(addressObj.long_name);
										//$('#city').attr('disabled','disabled');
									} else if (addressObj.types[j] === 'administrative_area_level_1') {
										console.log('state', addressObj.long_name)
										/* $('#stateCity').val(
												addressObj.long_name); */
										$('#opt-input').val(addressObj.long_name);
										//$('#stateCity').attr('disabled','disabled');
									}
								}

							}

						});
	}
	
	

	function validate() {

		var name = $('#opt-input').val();

		$('#nameError').text("");

		if (name.trim() == '') {
	//		$('#nameError').text("City name cannot be empty.");
			$('#nameError').text("State name cannot be empty.");
			$( "#opt-input" ).focus();
			return false;
		}
		else{
			return true;
			console.log(response);
		}
		return false;
	}

	$(function() {
		  $('.decimalLimit').on('input', function() {
		    match = (/(\d{0,9})[^.]*((?:\.\d{0,2})?)/g).exec(this.value.replace(/[^\d.]/g, ''));
		    this.value = match[1] + match[2];
		  });
		});

	$("#tblData1").on('click','.editFhc',function(){
	    // get the current row
	    var currentRow=$(this).closest("tr"); 
	    
	    var col1=currentRow.find("td:eq(0)").text(); // get current row 1st TD value
	    var col2=currentRow.find("input").val(); // get current row 2nd TD
	    console.log(col1,col2)
	    $('#edit_fhc_name').val(col1);
	    $('#edit_fhc_value').val(col2);
	    
	    $('#editModal').modal();
	   
	});

	$("#tblData1").on('click','.deleteFhc',function(){
	    // get the current row
	    var currentRow=$(this).closest("tr"); 
	    
	    var col1=currentRow.find("td:eq(0)").text(); // get current row 1st TD value
	    var col2=currentRow.find("input").val(); // get current row 2nd TD
	    if(getConfirmation()){
	    	window.location.href="/admin/delete-operating-assumption/"+col1;
	    }
	   
	});


	function getConfirmation() {
	    var retVal = confirm("Do you want to continue ?");
	    if( retVal == true ) {
	       return true;
	    } else {
	       return false;
	    }
	 }
</script>

<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCatyZLSASD1xIuiOctecSipsxqeJgPZLM&libraries=places&callback=initMap"
	async defer></script> 
</div>