<div th:fragment="customCss">
	<link rel="stylesheet"
		href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">


</div>

<div th:fragment="content">

	<section class="mainContainer">
		<div class="col-md-12 col-sm-12">

			<div id="dasboardTabsParent" class="feasibilityReports" style="max-width:100%;">
				<div class="innerTableParent OperatingAssumptions mt-4">

					<div class="heading_title_strip mb-3"
						style="background: transparent; padding: 7px 0 5px;">
						<h3 id="userDetails" th:text="${title+' Details'}"></h3>
						<div th:if="${msg}" th:text="${msg}" class="alert alert-success"
							id="success-alert">
							<strong> <span th:text="${msg}"></span></strong>
						</div>
					</div>

				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="table_parent w-100">
							<div class="table-responsive">
								<table id="data-table"
									class="table table-striped table-bordered table-hover settings" data-order='[[ 0, "desc" ]]'>
									<thead>
										<th style="display: none;">Created</th>
										<th class="sm-width">Username</th>
										<th class="sm-width">Full Name</th>
										<th class="sm-width">Login Time</th>
										<th class="sm-width">Logout Time</th>
										<th class="sm-width">Feasibility Accessed</th>
									</thead>
									<tbody>
										<tr th:if="${logs != null }"
											th:each="log,iterator : ${logs}">
											<td style="display: none;"><span th:if="${log.createdDate != null }" th:text="${log.createdDate}"></span></td>
											<td><span th:if="${log.username != null }" th:text="${log.username}"></span></td>
											<td><span th:if="${log.fullName != null }" th:text="${log.fullName}"></span></td>
											<td><span th:if="${log.loginTime != null }" th:text="${log.loginTime}"></span></td>
											<td><span th:if="${log.logoutTime != null }" th:text="${log.logoutTime}"></span></td>
											<td><span th:if="${log.feasibilityAccessed != null }" style="white-space: pre-wrap" th:text="${log.feasibilityAccessed}"></span></td>
										</tr>
									<tbody>
								</table>
								<div class="clearfix"></div>

							</div> 


						</div>
					</div>
				</div>
			</div>

		</div>
		
<!-- Modal -->
	<div class="modal fade" id="removeUser" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document"
			style="max-width: 500px;">
			<div class="modal-content" style="height: auto;">
				<div class="modal-header">
					<p class="modal-title" id="exampleModalLongTitle">Project</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-center">
					<div class="col-md-12 my-4">
						<h5>Do you want to delete</h5>
					</div>
					<input type="hidden" id="hiddenId" />
				</div>
				<div class="modal-footer text-center"
					style="height: auto; display: block;">
					<button type="button"
						class="saveCloseBtn btn btn-raised btn-secondary"
						data-dismiss="modal">Close</button>
					<button type="button" class="nextBtn btn-raised btn btn-primary"
						id="deleteUserDetails">Ok</button>
				</div>

			</div>
		</div>
	</div>		
		
</div>

</section>
</div>

<div th:fragment="customJs">

	<!-- <script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
	<!-- <script th:src="@{/./js/moment.js}"></script> -->
	<script th:src="@{/./js/viewUser.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
	<!-- <script th:src="@{/./js/moment.js}"></script>
	<script th:src="@{/./js/user.js}"></script> -->

	<script>
		$(function() {
			var table = $("#data-table").dataTable({
			});
		});
	</script>
</div>