<div th:fragment="customCss">
<style>
input[readonly] {
background-color:transparent!important}
</style>
</div>
<div th:fragment="content">
<section class="mainContainer grothAssumption_grandParent">
  <div class="col-md-12 col-sm-12">
  
  <!-- <form id="operating" class="client-form" action="#" th:action="@{/assumption/saveOperatAssumption}" method="POST" onsubmit="return check();"> -->  

  <div class="tabsParent adminValueParent" style="max-width:100%;box-shadow:none;">

	<div class="heading_title_strip mb-0">
	
		<h3>Feasibility MIS</h3>
	</div>
	
	 <div class="alert alert-success alert-dismissible" th:if=${success}>
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	 	<span th:text="${success}"></span>
	</div>
		
		<div class="subTitle_strip mt-0 mb-0">
			<form class="needs-validation" id="form" th:action="@{/admin/feasibility-mis}" method="post" autocomplete="off"
			onsubmit="return validate();">
			  <div class="form-row">
			    <div class="col-md-4 mb-3">
			      <label for="validationCustom01">Start Date <span style="color: red">*</span><span class="text-danger"
								id="startError"></span></label>
			      <input type="text" class="form-control" id="startDate" name="startDate" placeholder="Select Date" required readonly="readonly">
			    </div>
			    <div class="col-md-4 mb-3">
			      <label for="validationCustom02">End Date	 <span style="color: red">*</span><span class="text-danger"
								id="endError"></span></label>
			      <input type="text" class="form-control decimalLimit" id="endDate" name="endDate"  placeholder="Select Date" required readonly="readonly">
			    </div>
			    <div class="col-md-4 mb-3">
			      <label for="validationCustomUsername"></label>
			      <div class="input-group">
			     	  <button type="reset" style="font-size: 22px;padding: 9px 12px;min-width: 150px;float: right;background:#bdc1bd!important;" id="reset" class="btn btn-danger btn-raised resetBtn tableFormatingBtn addBtnColor">Reset</button>
		   	 <input type="submit" style="font-size: 22px;padding: 9px 12px;min-width: 150px;float: right; margin-right:15px;" class="btn btn-success btn-raised tableFormatingBtn" value="Download">
			      </div>
			    </div>
			  </div>
			</form>
		</div>
		
	</div>
	 </div></section>
	 
	</div>
	
	
	<div th:fragment="customJs">
		<script th:src="@{/./js/bootstrap-material-datetimepicker.js}"></script>
<script type="text/javascript">
$('#startDate').bootstrapMaterialDatePicker({
	time : false,
	format : 'DD/MM/YYYY',
	maxDate: new Date(),
});
$('#endDate').bootstrapMaterialDatePicker({
	time : false,
	format : 'DD/MM/YYYY',
	maxDate: new Date(),
});

function validate(){
	var startDate = $('#startDate').val();
	var endDate = $('#endDate').val();
	$('#startError').text('');
	$('#endError').text('');
	
	
	var initial = startDate.split(/\//);
	var d =( [ initial[1], initial[0], initial[2] ].join('/')); //=> 'mm/dd/yyyy'
	var start = (new Date(d));
	
	var opening = endDate.split(/\//);
	var d1 =( [ opening[1], opening[0], opening[2] ].join('/')); //=> 'mm/dd/yyyy'
	var end = (new Date(d1));
	
	if(startDate == ""){
		$('#startError').text('Start date is required');
		return false;
	}
	else if(endDate == ""){
		$('#endError').text('End date is required');
		return false;
	}
	else if (start.getTime() > end.getTime()){
		$('#startError').text('Start date cannot be greater than end date');
		return false;
	}
	else if (end.getTime() < start.getTime()){
		$('#endError').text('End date cannot be less than start date');
		return false;
	}
	else{
		return true;
	}
}


</script>
</div>
