<!-- <<<<<<< HEAD
<div th:fragment="customCss">
<style>
input[readonly] {
background-color:transparent!important}
</style>
</div>
<div th:fragment="content">
<section class="mainContainer grothAssumption_grandParent">
  <div class="col-md-12 col-sm-12">
  
  <form id="operating" class="client-form" action="#" th:action="@{/assumption/saveOperatAssumption}" method="POST" onsubmit="return check();">  

  <div class="tabsParent adminValueParent" style="max-width:100%;box-shadow:none;">

	<div class="heading_title_strip mb-0">
	
		<h3>Operating Assumption</h3>
	</div>
	
	 <div class="alert alert-success alert-dismissible" th:if=${success}>
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	 	<span th:text="${success}"></span>
	</div>
		
		<div class="subTitle_strip mt-0 mb-0 tableFormating taxAssumptionFormating">
			<form class="needs-validation" th:action="@{/admin/operating-assumption}" method="post" autocomplete="off"
			onsubmit="return validate();">
			  <div class="form-row">
			    <div class="col-md-4 mb-3">
			      <label for="validationCustom01">City Name <span style="color: red">*</span><span class="text-danger"
								id="nameError"></span></label>
			      <input type="text" class="form-control" id="opt-input" name="operating[0].key" maxlength="50" placeholder="Enter city" required>
			    </div>
			    <div class="col-md-4 mb-3">
			      <label for="validationCustom02">Value <span style="color: red">*</span><span class="text-danger"
								id=""></span></label>
			      <input type="text" class="form-control decimalLimit" id="" name="operating[0].value" maxlength="5" placeholder="Enter value" required>
			    </div>
			    <div class="col-md-4 mb-3">
			      <label for="validationCustomUsername"></label>
			      <div class="input-group">
   						 <button type='submit' class="btn btn-primary btn-raised tableFormatingBtn">Submit</button>
			      </div>
			    </div>
			  </div>
			</form>
		</div>
		
		 <div class="admitStructure my-4">
		<div class="subTitle_strip mt-0 mb-0">
			<h5>Admits (Number of shows per day)</h5>
		</div>
		<ul>
			<li class="staticRow">
				<table class="table table-bordered fixed-layout mb-0" id="tblData">
					<tbody>
					<tr th:each="optrat,i : ${operatingAssump?.avgShowPerDay}">
						<td th:if="${i.index==0}" class="text-middle" th:text="${optrat.key}">
							<input type="text" class="form-control"  id="fxinput" th:value="${optrat.key}" readonly="readonly">
						</td>
						<td th:if="${i.index==0}" class="text-middle">
							<input type="text" class="form-control"  id="othinput" th:value="${optrat.value}" readonly>
						</td>
						<td th:if="${i.index>0}" class="text-middle" th:text="${optrat.key}">
							<input type="text" class="form-control"  id="fxinput" th:value="${optrat.key}" readonly>
						</td>
						<td th:if="${i.index>0}" class="text-middle" >
							<input type="text" class="form-control"  id="othinput" th:value="${optrat.value}" readonly>
						</td>
						<td class="text-center">
						<img th:src="@{/images/editIconImg.png}" style="cursor: pointer;" class="editFhc"
										data-toggle="tooltip" data-placement="bottom" title="Edit" alt="edit">
										 &emsp;
						<img th:if="${i.index>0}"  th:src="@{/images/deleteIconImg.png}" style="cursor: pointer;" class="deleteFhc"
							alt="delete" data-toggle="tooltip" data-placement="bottom" title="Delete">
						</td>
					</tr>
					</tbody>
				</table> 
			</li>
			<li class="repeaterRow">
			<table class="table table-bordered fixed-layout" id="customFields">
					<tr  valign="top" class="tr_clone">
						<td class="text-middle">
						<input type="text" class="form-control" name="operating[0].key" placeholder="Enter City Name" id="opt-input">
						</td>
						<td class="text-middle"><input class="valueInput form-control" name="operating[0].value" type="text" placeholder="Enter Value" id="screenValue">
						<span id="crossIcon"><a href="javascript:void(0);"><i class="fas fa-times"></i></a></span>
						</td>
					</tr>
				</table>
			</li>
		</ul>
	</div>
	
			
			 <table class="table table-bordered mb-4 fixed-layout averageVPF_listTable" id >
		<thead>
			<tr>
				<th colspan="4">Average VPF/ screen/ annum</th>
			</tr>
		</thead>
		 
		<tbody>
		    <table class="table table-bordered mb-4 fixed-layout" id="customField">
			 <tr class="repeatTr">
				<td><input placeholder="Screens" style="background-image: none!important;" class="form-control" name="vpfIncomeDetails[0].screen" id="vpfscreen" type="text"/></td>
				<td>
					<select class="form-control" name="vpfIncomeDetails[0].operator" id="vpfoperator" style="border-bottom:0!important;">
					<option value="" disabled selected hidden>Condition</option>
					<option >==</option>
					<option >&lt;</option>
					<option>&lt; =</option>
					<option>&gt;</option>
					<option>&gt; =</option>
					</select>
				</td>
<td><input placeholder="Value" style="background-image: none!important;" class="form-control" name="vpfIncomeDetails[0].value" id="vpfvalue" type="text"></td>
<td><input placeholder="Applicable Year" style="background-image: none!important;" class="form-control" name="vpfIncomeDetails[0].applicableYear" id="applicableyear" type="text">
				<span id="crossIcon"><a href="javascript:void(0);"><i class="fas fa-times"></i></a></span>
				</td>
			</tr>
			</table>
		</tbody>
		<tbody>
		<tr style="border-left:hidden;border-right:hidden;border-bottom:hidden;">
			<td colspan="4">
				<div class="deleditBtn_btn">
					 <a href="javascript:void(0);" class="editBtn_btn" type="button">Add More</a><button class="addMore" type="button">Add More</button>
		  			<a href="javascript:void(0);" class="deleteBtn_btn editButton">Edit</a>
		  			<a href="javascript:void(0);" class="deleteBtn_btn">Delete</a>
				</div>
			</td>
		</tr>
		</tbody>
	 </table> 
	<table class="table table-bordered mb-4 fixed-layout">
		<tr>
			<th>Screens</th>
			<th>Conditions</th>
			<th>Value</th>
			<th>Applicable Year</th>
		</tr>
		<tr th:each="vpf : ${operatingAssump?.vpfIncomeDetails}">
			<td><input class="form-control" name="" id="yearoneadincome" type="text" th:value="${vpf?.screen}" style="background-image: none!important;" readonly/></td>
			<td><input class="form-control" name="" id="yearoneadincome" type="text" th:value="${vpf?.operator}" style="background-image: none!important;" readonly/></td>
			<td><input class="form-control" name="" id="yearoneadincome" type="text" th:value="${vpf?.value}" style="background-image: none!important;" readonly/></td>
			<td><input class="form-control" name="" id="yearoneadincome" type="text" th:value="${vpf?.applicableYear}" style="background-image: none!important;" readonly/></td>
		</tr>
	</table> 
			
	
	
	</div>
	 </div></section>
	 
	     The Modal
  <div class="modal" id="editModal">
    <div class="modal-dialog modal-sm" style="max-width: 500px;">
      <div class="modal-content" style="height: 230px;">
      
        Modal Header
        <div class="modal-header">
          <p class="modal-title">EDIT OPERATING ASSUMPTION</p>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        Modal body
        <div class="modal-body">
        	<form th:action="@{/admin/edit-operating-assumption}" id="fhc_form" th:object="${fhcMapper}" 
				method="POST" autocomplete="off" >
	        	<div class="row">
			         <div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">Name
								<span style="color: red">*</span><span class="text-danger"
								id="nameError"></span>
							</label> <input type="text" class="form-control"
								name="operating[0].key" id="edit_fhc_name" readonly 
								placeholder="Enter Name" required>
						</fieldset>
					</div>
					<div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">
							Value
							<span style="color: red">*</span><span
								class="text-danger" id="valueError"></span>
							</label><input type="text" class="form-control decimalLimit" 
								name="operating[0].value" id="edit_fhc_value" maxlength="5"
								placeholder="Enter Value" required>
						</fieldset>
					</div>
				</div>
				<div class="row" style="">
					  <button type="button" style="background-color: red;color: white;float: right;margin-left: 300px" class=" btn-raised btn" data-dismiss="modal">Close</button> &emsp;
	         		  <button type="submit" id="save" class=" btn-raised btn btn-success">Save</button>
				</div>
			</form>	
        </div>
        
      </div>
    </div>
  </div>
	</div>
	
	
	<div th:fragment="customJs">
<script th:src="@{/./js/shows-per-day.js}"></script>
   <script>
	function initMap() {
		var input = document.getElementById('opt-input');
	    console.log(input);
	     /*var inn = input.substring(input.indexOf("1")+1) */
		

		var options = {
				types: ['(cities)'], 
				//types: ['(regions)'], 
			componentRestrictions : {
				country : [ 'IN' ]
			}
		};

		var autocomplete = new google.maps.places.Autocomplete(input,
				options);

		google.maps.event
				.addListener(
						autocomplete,
						'place_changed',
						function() {

							var place = autocomplete.getPlace();
							console.log(place.address_components);
							var lat = place.geometry.location.lat();
							var lng = place.geometry.location.lng();
							$('#latitude').val(lat);
							$('#longitude').val(lng);
							//$('#longitude').attr('disabled','disabled');
							//$('#latitude').attr('disabled','disabled');
							//console.log(lat);
							//console.log(lng);

							for (var i = 0; i < place.address_components.length; i += 1) {

								var addressObj = place.address_components[i];
								for (var j = 0; j < addressObj.types.length; j += 1) {
									if (addressObj.types[j] === 'country') {
										//console.log(addressObj.long_name);
									} else if (addressObj.types[j] === 'administrative_area1') {
										//console.log('state '+ addressObj.long_name);
									} else if (addressObj.types[j] === 'locality') {
										console.log('city '
												+ addressObj.long_name);
										$('#opt-input')
												.val(addressObj.long_name);
										//$('#city').attr('disabled','disabled');
									} else if (addressObj.types[j] === 'administrative_area_level_1') {
										console.log(addressObj.long_name)
										$('#stateCity').val(
												addressObj.long_name);
										//$('#stateCity').attr('disabled','disabled');
									}
								}

							}

						});
	}
</script>

<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCatyZLSASD1xIuiOctecSipsxqeJgPZLM&libraries=places&callback=initMap"
	async defer></script> 

</div>
======= -->
<div th:fragment="customCss">
<style>
input[readonly] {
background-color:transparent!important}
</style>
</div>
<div th:fragment="content">
<section class="mainContainer grothAssumption_grandParent">
  <div class="col-md-12 col-sm-12">
  
  <!-- <form id="operating" class="client-form" action="#" th:action="@{/assumption/saveOperatAssumption}" method="POST" onsubmit="return check();"> -->  

  <div class="tabsParent adminValueParent" style="max-width:100%;box-shadow:none;">

	<div class="heading_title_strip mb-0">
	
		<h3>Operating Assumption</h3>
	</div>
	
	 <div class="alert alert-success alert-dismissible" th:if=${success}>
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	 	<span th:text="${success}"></span>
	</div>
		
		<div class="subTitle_strip mt-0 mb-0 tableFormating taxAssumptionFormating">
			<form class="needs-validation" th:action="@{/admin/operating-assumption}" method="post" autocomplete="off"
			onsubmit="return validate();">
			  <div class="form-row">
			    <div class="col-md-4 mb-3">
			      <label for="validationCustom01">City Name <span style="color: red">*</span><span class="text-danger"
								id="nameError"></span></label>
			      <input type="text" class="form-control" id="opt-input" name="operating[0].key" maxlength="50" placeholder="Enter city" required>
			    </div>
			    <div class="col-md-4 mb-3">
			      <label for="validationCustom02">Value <span style="color: red">*</span><span class="text-danger"
								id=""></span></label>
			      <input type="text" class="form-control decimalLimit" id="" name="operating[0].value" maxlength="5" placeholder="Enter value" required>
			    </div>
			    <div class="col-md-4 mb-3">
			      <label for="validationCustomUsername"></label>
			      <div class="input-group">
   						 <button type='submit' class="btn btn-primary btn-raised tableFormatingBtn">Submit</button>
			      </div>
			    </div>
			  </div>
			</form>
		</div>
		
		 <div class="admitStructure my-4">
		<div class="subTitle_strip mt-0 mb-0">
			<h5>Admits (Number of shows per day)</h5>
		</div>
		<ul>
			<li class="staticRow">
				<table class="table table-bordered fixed-layout mb-0" id="tblData">
					<tbody>
					<tr th:each="optrat,i : ${operatingAssump?.avgShowPerDay}">
						<td th:if="${i.index==0}" class="text-middle" th:text="${optrat.key}">
							<!-- <input type="text" class="form-control"  id="fxinput" th:value="${optrat.key}" readonly="readonly"> -->
						</td>
						<td th:if="${i.index==0}" class="text-middle">
							<input type="text" class="form-control"  id="othinput" th:value="${optrat.value}" readonly>
						</td>
						<td th:if="${i.index>0}" class="text-middle" th:text="${optrat.key}">
<!-- 							<input type="text" class="form-control"  id="fxinput" th:value="${optrat.key}" readonly> -->
						</td>
						<td th:if="${i.index>0}" class="text-middle" >
							<input type="text" class="form-control"  id="othinput" th:value="${optrat.value}" readonly>
						</td>
						<td class="text-center">
						<img th:src="@{/images/editIconImg.png}" style="cursor: pointer;" class="editFhc"
										data-toggle="tooltip" data-placement="bottom" title="Edit" alt="edit">
										 &emsp;
						<img th:if="${i.index>0}"  th:src="@{/images/deleteIconImg.png}" style="cursor: pointer;" class="deleteFhc"
							alt="delete" data-toggle="tooltip" data-placement="bottom" title="Delete">
						</td>
					</tr>
					</tbody>
				</table> 
			</li>
		<!-- 	<li class="repeaterRow">
			<table class="table table-bordered fixed-layout" id="customFields">
					<tr  valign="top" class="tr_clone">
						<td class="text-middle">
						<input type="text" class="form-control" name="operating[0].key" placeholder="Enter City Name" id="opt-input">
						</td>
						<td class="text-middle"><input class="valueInput form-control" name="operating[0].value" type="text" placeholder="Enter Value" id="screenValue">
						<span id="crossIcon"><a href="javascript:void(0);"><i class="fas fa-times"></i></a></span>
						</td>
					</tr>
				</table>
			</li> -->
		</ul>
	</div>
	
			<!-- 
			 <table class="table table-bordered mb-4 fixed-layout averageVPF_listTable" id >
		<thead>
			<tr>
				<th colspan="4">Average VPF/ screen/ annum</th>
			</tr>
		</thead>
		 
		<tbody>
		    <table class="table table-bordered mb-4 fixed-layout" id="customField">
			 <tr class="repeatTr">
				<td><input placeholder="Screens" style="background-image: none!important;" class="form-control" name="vpfIncomeDetails[0].screen" id="vpfscreen" type="text"/></td>
				<td>
					<select class="form-control" name="vpfIncomeDetails[0].operator" id="vpfoperator" style="border-bottom:0!important;">
					<option value="" disabled selected hidden>Condition</option>
					<option >==</option>
					<option >&lt;</option>
					<option>&lt; =</option>
					<option>&gt;</option>
					<option>&gt; =</option>
					</select>
				</td>
<td><input placeholder="Value" style="background-image: none!important;" class="form-control" name="vpfIncomeDetails[0].value" id="vpfvalue" type="text"></td>
<td><input placeholder="Applicable Year" style="background-image: none!important;" class="form-control" name="vpfIncomeDetails[0].applicableYear" id="applicableyear" type="text">
				<span id="crossIcon"><a href="javascript:void(0);"><i class="fas fa-times"></i></a></span>
				</td>
			</tr>
			</table>
		</tbody>
		<tbody>
		<tr style="border-left:hidden;border-right:hidden;border-bottom:hidden;">
			<td colspan="4">
				<div class="deleditBtn_btn">
					 <a href="javascript:void(0);" class="editBtn_btn" type="button">Add More</a><button class="addMore" type="button">Add More</button>
		  			<a href="javascript:void(0);" class="deleteBtn_btn editButton">Edit</a>
		  			<a href="javascript:void(0);" class="deleteBtn_btn">Delete</a>
				</div>
			</td>
		</tr>
		</tbody>
	 </table> 
	<table class="table table-bordered mb-4 fixed-layout">
		<tr>
			<th>Screens</th>
			<th>Conditions</th>
			<th>Value</th>
			<th>Applicable Year</th>
		</tr>
		<tr th:each="vpf : ${operatingAssump?.vpfIncomeDetails}">
			<td><input class="form-control" name="" id="yearoneadincome" type="text" th:value="${vpf?.screen}" style="background-image: none!important;" readonly/></td>
			<td><input class="form-control" name="" id="yearoneadincome" type="text" th:value="${vpf?.operator}" style="background-image: none!important;" readonly/></td>
			<td><input class="form-control" name="" id="yearoneadincome" type="text" th:value="${vpf?.value}" style="background-image: none!important;" readonly/></td>
			<td><input class="form-control" name="" id="yearoneadincome" type="text" th:value="${vpf?.applicableYear}" style="background-image: none!important;" readonly/></td>
		</tr>
	</table> 
			
	
	 -->
	</div>
	 </div></section>
	 
	     <!-- The Modal -->
  <div class="modal" id="editModal">
    <div class="modal-dialog modal-sm" style="max-width: 500px;">
      <div class="modal-content" style="height: 230px;">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <p class="modal-title">EDIT OPERATING ASSUMPTION</p>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        	<form th:action="@{/admin/edit-operating-assumption}" id="fhc_form" th:object="${fhcMapper}" 
				method="POST" autocomplete="off" >
	        	<div class="row">
			         <div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">Name
								<span style="color: red">*</span><span class="text-danger"
								id="nameError"></span>
							</label> <input type="text" class="form-control"
								name="operating[0].key" id="edit_fhc_name" readonly 
								placeholder="Enter Name" required>
						</fieldset>
					</div>
					<div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">
							Value
							<span style="color: red">*</span><span
								class="text-danger" id="valueError"></span>
							</label><input type="text" class="form-control decimalLimit" 
								name="operating[0].value" id="edit_fhc_value" maxlength="5"
								placeholder="Enter Value" required>
						</fieldset>
					</div>
				</div>
				<div class="row" style="">
					  <button type="button" style="background-color: red;color: white;float: right;margin-left: 300px" class=" btn-raised btn" data-dismiss="modal">Close</button> &emsp;
	         		  <button type="submit" id="save" class=" btn-raised btn btn-success">Save</button>
				</div>
			</form>	
        </div>
        
      </div>
    </div>
  </div>
	</div>
	
	
	<div th:fragment="customJs">
<script th:src="@{/./js/shows-per-day.js}"></script>
   <script>
	function initMap() {
		var input = document.getElementById('opt-input');
	    console.log(input);
	     /*var inn = input.substring(input.indexOf("1")+1) */
		

		var options = {
				types: ['(cities)'], 
				//types: ['(regions)'], 
			componentRestrictions : {
				country : [ 'IN' ]
			}
		};

		var autocomplete = new google.maps.places.Autocomplete(input,
				options);

		google.maps.event
				.addListener(
						autocomplete,
						'place_changed',
						function() {

							var place = autocomplete.getPlace();
							console.log(place.address_components);
							var lat = place.geometry.location.lat();
							var lng = place.geometry.location.lng();
							$('#latitude').val(lat);
							$('#longitude').val(lng);
							//$('#longitude').attr('disabled','disabled');
							//$('#latitude').attr('disabled','disabled');
							//console.log(lat);
							//console.log(lng);

							for (var i = 0; i < place.address_components.length; i += 1) {

								var addressObj = place.address_components[i];
								for (var j = 0; j < addressObj.types.length; j += 1) {
									if (addressObj.types[j] === 'country') {
										//console.log(addressObj.long_name);
									} else if (addressObj.types[j] === 'administrative_area1') {
										//console.log('state '+ addressObj.long_name);
									} else if (addressObj.types[j] === 'locality') {
										console.log('city '
												+ addressObj.long_name);
										$('#opt-input')
												.val(addressObj.long_name);
										//$('#city').attr('disabled','disabled');
									} else if (addressObj.types[j] === 'administrative_area_level_1') {
										console.log(addressObj.long_name)
										$('#stateCity').val(
												addressObj.long_name);
										//$('#stateCity').attr('disabled','disabled');
									}
								}

							}

						});
	}
</script>

<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCatyZLSASD1xIuiOctecSipsxqeJgPZLM&libraries=places&callback=initMap"
	async defer></script> 

</div>
