<div th:fragment="customCss">
	<style>
input[readonly] {
	background-color: transparent !important
}

td {
white-space: pre-line;
word-wrap: break-word;
text-transform: capitalize;
}
</style>
</div>
<div th:fragment="content">
	<section class="mainContainer grothAssumption_grandParent">
		<div class="col-md-12 col-sm-12">

			<form>

				<div class="tabsParent adminValueParent"
					style="max-width: 100%; box-shadow: none;">

					<div class="heading_title_strip mb-0">
					 <div class="row">
						<div class="col">
							<h3>Seat Category</h3>
						</div>
						</div>
						
					</div>
	  <div class="alert alert-danger alert-dismissible" th:if=${error}>
	 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
 		 <span th:text="${error}"></span>
	</div>
	<div class="alert alert-success alert-dismissible" th:if=${success}>
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	 	<span th:text="${success}"></span>
	</div> 


					<table class="table table-bordered mb-4" id="tblData">
						<thead>
							<tr>
								<th width="150">Name</th>
								<th>Values</th>
								<th width="100" class="text-center">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="list : ${seatMasterList}">
								<td><span th:text="${list?.seatType}"></span></td>
								<td><span th:each="a, stat : ${list?.seatSubType}"
      th:text="!${stat.last} ? ${a} + ',': ${a}">
</span></td>
								<td class="text-center">
									
								<a th:href="@{/admin/get-seatType/}+${list.id}"> <img  th:src="@{/images/editIconImg.png}" style="cursor: pointer;" class="editFhc"
										data-toggle="tooltip" data-placement="bottom" title="Edit" alt="edit"></a>
								</td>
							</tr>

						</tbody>
					</table>


				</div>
			</form>
		</div>
	</section>
	
	
	
  <!-- The Modal -->

</div>


<div th:fragment="customJs">
	<script th:src="@{/./js/fhc.js}"></script>
</div>


