<div th:fragment="customCss">
</div>

<div th:fragment="content">
<section class="mainContainer grothAssumption_grandParent tableFormating taxAssumptionFormating">
  <div class="col-md-12 col-sm-12">
  
  <div class="tabsParent adminValueParent" style="max-width:100%;box-shadow:none;">

	<div class="heading_title_strip mb-0">
	
		<h3>Gst on tickets</h3>
	</div>
	
	 <div class="alert alert-success alert-dismissible" th:if=${successGst}>
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	 	<span th:text="${successGst}"></span>
	</div>
		
		 <div class="admitStructure my-4">
		<div class="subTitle_strip mt-0 mb-0">
			<h5>Gst on tickets for each format</h5>
		</div>
		<ul>
			<li class="staticRow">
				<table class="table table-bordered fixed-layout mb-0" id="tblData">
					<tbody>
					<tr th:each="optrat,i : ${fixedConstants?.gstOnTicketForEachFormat}">
						<td class="text-middle" th:text="${optrat.key}">
						</td>
						<td  class="text-middle">
							<input type="text" class="form-control"  id="othinput" 
							th:value="${optrat.value}" style="background:transparent;border:0;" readonly>
						</td>
						<td class="text-center">
						<img th:src="@{/images/editIconImg.png}" style="cursor: pointer;" class="editFhc"
										data-toggle="tooltip" data-placement="bottom" title="Edit" alt="edit">
										 &emsp;
						<!-- <img th:if="${i.index>0}"  th:src="@{/images/deleteIconImg.png}" style="cursor: pointer;" class="deleteFhc"
							alt="delete" data-toggle="tooltip" data-placement="bottom" title="Delete"> -->
						</td>
					</tr>
					</tbody>
				</table> 
			</li>
		</ul>
	</div>
	</div>
  
  
  
  
  
  
 		 <div class="heading_title_strip mb-0">
							<h3>Tax Assumptions</h3>
						
					</div>
  	<div class="alert alert-success alert-dismissible" th:if=${success}>
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	 	<span th:text="${success}"></span>
	</div>
   <form id="tax" class="client-form" action="#" 
	    th:action="@{/admin/saveTaxAssumption}" th:object="${taxAssumption}" method="POST" onsubmit="return validate();">
	    
   <div class="heading_title_strip mb-0">
  
<div class="grothAssumption_tableParent adminValueTable">
		<table class="table table-bordered mb-4">
			<thead>
				<tr>
					<th>Particulars</th>
					<th>GST applicable</th>
					<th>GST credit disallowed</th>
					<th>Effective GST cost</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Personnel</td>
					<td><input name="personnel.gstApplicable" id="pergstApplicable" type="tax" th:value="${taxAssump?.personnel.gstApplicable}"/></td>
					<td><input name="personnel.gstCreditDisallowed" id="pergstCreditDisallowed" type="tax" maxlength="3" max="100" th:value="${taxAssump?.personnel.gstCreditDisallowed}"/></td>
					<td><input name="personnel.effectiveGstCost" id="pereffectiveGstCost" type="tax" maxlength="3" max="100" th:value="${taxAssump?.personnel.effectiveGstCost}"/></td>
				</tr> 
				<tr>
					<td>Repair & Maintenance</td>
					<td><input name="repairAndMaintenance.gstApplicable" id="repaire1" type="tax"  max="100" th:value="${taxAssump?.repairAndMaintenance.gstApplicable}"/></td>
					<td><input name="repairAndMaintenance.gstCreditDisallowed" id="repaire2" type="tax"  max="100" th:value="${taxAssump?.repairAndMaintenance.gstCreditDisallowed}"/></td>
					<td><input name="repairAndMaintenance.effectiveGstCost" id="repaire3" type="tax"  max="100" th:value="${taxAssump?.repairAndMaintenance.effectiveGstCost}"/></td>
				</tr>
				<tr>
					<td>Rent</td>
					<td><input name="rent.gstApplicable" id="rnt1" type="tax"  max="100" th:value="${taxAssump?.rent.gstApplicable}"/></td>
					<td><input name="rent.gstCreditDisallowed" id="rnt2" type="tax"  max="100" th:value="${taxAssump?.rent.gstCreditDisallowed}"/></td>
					<td><input name="rent.effectiveGstCost" id="rnt3" type="tax"  max="100" th:value="${taxAssump?.rent.effectiveGstCost}"/></td>
				</tr>
				<tr>
					<td>CAM</td>
					<td><input name="cam.gstApplicable" id="cam1" type="tax"  max="100" th:value="${taxAssump?.cam.gstApplicable}"/></td>
					<td><input name="cam.gstCreditDisallowed" id="cam2" type="tax"  max="100" th:value="${taxAssump?.cam.gstCreditDisallowed}"/></td>
					<td><input name="cam.effectiveGstCost" id="cam3" type="tax"  max="100" th:value="${taxAssump?.cam.effectiveGstCost}"/></td>
				</tr>
				<tr>
					<td>Electricity & Water</td>
					<td><input name="electricityAndWater.gstApplicable" id="elec1" type="tax"  max="100" th:value="${taxAssump?.electricityAndWater.gstApplicable}"/></td>
					<td><input name="electricityAndWater.gstCreditDisallowed" id="elec2" type="tax"  max="100" th:value="${taxAssump?.electricityAndWater.gstCreditDisallowed}"/></td>
					<td><input name="electricityAndWater.effectiveGstCost" id="elec3" type="tax"  max="100" th:value="${taxAssump?.electricityAndWater.effectiveGstCost}"/></td>
				</tr>
				<tr>
					<td>Other</td>
					<td><input name="other.gstApplicable" id="oth1" type="tax"  max="100" th:value="${taxAssump?.other.gstApplicable}"/></td>
					<td><input name="other.gstCreditDisallowed" id="oth2" type="tax"  max="100" th:value="${taxAssump?.other.gstCreditDisallowed}"/></td>
					<td><input name="other.effectiveGstCost" id="oth3" type="tax"  max="100" th:value="${taxAssump?.other.effectiveGstCost}"/></td>
				</tr>
				<tr>
					<td>Capex - w/o input credit</td>
					<td><input name="capexWOInputCredit.gstApplicable" id="cred1" type="tax"  max="101" th:value="${taxAssump?.capexWOInputCredit.gstApplicable}"/></td>
					<td><input name="capexWOInputCredit.gstCreditDisallowed" id="cred2" type="tax"  max="101" th:value="${taxAssump?.capexWOInputCredit.gstCreditDisallowed}"/></td>
					<td><input name="capexWOInputCredit.effectiveGstCost" id="cred3" type="tax"  max="101" th:value="${taxAssump?.capexWOInputCredit.effectiveGstCost}"/></td>
				</tr>
				<tr>
					<td>Capex - w/ partial input credit</td>
					<td><input name="capexWPartialInputCredit.gstApplicable" id="incred1" type="tax" min="0" max="100" th:value="${taxAssump?.capexWPartialInputCredit.gstApplicable}"/></td>
					<td><input name="capexWPartialInputCredit.gstCreditDisallowed" id="incred2" type="tax" min="0" max="100" th:value="${taxAssump?.capexWPartialInputCredit.gstCreditDisallowed}"/></td>
					<td><input name="capexWPartialInputCredit.effectiveGstCost" id="incred3" type="tax" min="0" max="100" th:value="${taxAssump?.capexWPartialInputCredit.effectiveGstCost}"/></td>
				</tr>
				<tr>
					<td>Capex - w/ full input credit</td>
					<td><input name="capexWFullInputCredit.gstApplicable" id="fullcredit1" type="tax" min="0" max="100" th:value="${taxAssump?.capexWFullInputCredit.gstApplicable}"/></td>
					<td><input name="capexWFullInputCredit.gstCreditDisallowed" id="fullcredit2" type="tax" min="0" max="100" th:value="${taxAssump?.capexWFullInputCredit.gstCreditDisallowed}"/></td>
					<td><input name="capexWFullInputCredit.effectiveGstCost" id="fullcredit3" type="tax" min="0" max="100" th:value="${taxAssump?.capexWFullInputCredit.effectiveGstCost}"/></td>
				</tr>
			</tbody>
		</table>
	</div>
	<button class="submitBtn btn btn-raised btn-success" type="submit" id="submitBtnCapex ">SAVE</button>
	</div>
	 
		
	 </form> </div>
	</section>
	<!-- The Modal -->
  <div class="modal" id="editModal">
    <div class="modal-dialog modal-sm" style="max-width: 500px;">
      <div class="modal-content" style="height: 230px;">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <p class="modal-title">EDIT Gst On Tickets</p>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        	<form th:action="@{/admin/gst-on-ticket}" id="fhc_form" th:object="${fhcMapper}" 
				method="POST" autocomplete="off" >
	        	<div class="row">
			         <div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">Name
								<span style="color: red">*</span><span class="text-danger"
								id="nameError"></span>
							</label> <input type="text" class="form-control" style="background-color: #fff"
								name="name" id="edit_fhc_name" readonly 
								placeholder="Enter Name" required>
						</fieldset>
					</div>
					<div class="col-lg-6 col-sm-6">
						<fieldset class="form-group">
							<label for="exampleInputEmail1" style="color: black;" class="bmd-label-static">
							Value
							<span style="color: red">*</span><span
								class="text-danger" id="valueError"></span>
							</label><input type="text" class="form-control decimalLimit" 
								name="value" id="edit_fhc_value" maxlength="5"
								placeholder="Enter Value" required>
						</fieldset>
					</div>
				</div>
				<div class="row" style="">
					  <button type="button" style="background-color: red;color: white;float: right;margin-left: 300px" class=" btn-raised btn" data-dismiss="modal">Close</button> &emsp;
	         		  <button type="submit" id="save" class=" btn-raised btn btn-success">Save</button>
				</div>
			</form>	
        </div>
        
      </div>
    </div>
  </div>
	
	
	</div>
	
	<div th:fragment="customJs">
 <script th:src="@{/./js/taxAssumption.js}"></script> 
 <script type="text/javascript">

 $(function() {
 	  $('.decimalLimit').on('input', function() {
 	    match = (/(\d{0,9})[^.]*((?:\.\d{0,2})?)/g).exec(this.value.replace(/[^\d.]/g, ''));
 	    this.value = match[1] + match[2];
 	  });
 	});

 $("#tblData").on('click','.editFhc',function(){
     // get the current row
     var currentRow=$(this).closest("tr"); 
     
     var col1=currentRow.find("td:eq(0)").text(); // get current row 1st TD value
     var col2=currentRow.find("input").val(); // get current row 2nd TD
     
     $('#edit_fhc_name').val(col1);
     $('#edit_fhc_value').val(col2);
     
     $('#editModal').modal();
    
 });
 
 </script>
</div>