<div th:fragment="customCss">

</div>

<div th:fragment="content">
<section class="mainContainer grothAssumption_grandParent">
  <div class="col-md-12 col-sm-12">


	<!-- <div class="page_not_found d-flex">
		<div class=" justify-content-center align-self-center text-center w-100">
	     <img th:src="@{images/404-img.png}">
	     <hr style="width:500px;margin:30px auto 20px;"></hr>
	     <h2>OOPS, SORRY !!!</h2>
	     <p>We can't seem to find the page you're looking for.</p>
	     <a href="javascript:void(0);">Go To Homepage</a>
	    </div>
	</div>
	
	<div class="page_not_found d-flex">
		<div class=" justify-content-center align-self-center text-center w-100">
	     <img th:src="@{images/403-img.png}">
	     <hr style="width:500px;margin:30px auto 20px;"></hr>
	     <h2>access forbidden</h2>
	     <p>(I'm sorry buddy...)</p>
	     <a href="javascript:void(0);">Go To Homepage</a>
	    </div>
	</div>
	
	<div class="page_not_found d-flex">
		<div class=" justify-content-center align-self-center text-center w-100">
	     <img th:src="@{images/500-img.png}">
	     <hr style="width:500px;margin:30px auto 20px;"></hr>
	     <h2>INternal erRor</h2>
	     <p>Sorry, It's not you, It's us.</p>
	     <a href="javascript:void(0);">Go To Homepage</a>
	    </div>
	</div> -->
	
	
	


<div class="tabsParent adminValueParent" style="max-width:100%;box-shadow:none;">
	<div class="heading_title_strip mb-0">
		<h3>Operating Assumption</h3>
	</div>
	
	<div class="admitStructure my-4">
		<div class="subTitle_strip mt-0 mb-0">
			<h5>Admits</h5>
		</div>
		<ul>
			<li class="staticRow">
				<table class="table table-bordered fixed-layout mb-0">
					<tbody>
					<tr>
						<td class="text-middle">Fixed Number of shows per day</td>
						<td class="text-middle"><input class="valueInput form-control" type="text" value="5.0"></td>
					</tr>
					</tbody>
				</table>
			</li>
			<li class="repeaterRow">
				<table class="table table-bordered fixed-layout">
					<tbody>
					<tr>
						<td class="text-middle">
							<select class="form-control" style="border-bottom:0!important;">
								<option value="option1">option1</option>
								<option value="option2">option2</option>
								<option value="option3">option3</option>
								<option value="option4">option4</option>
							</select>
						</td>
						<td class="text-middle"><input class="valueInput form-control" type="text" placeholder="Enter Value">
						<span id="crossIcon"><a href="javascript:void(0);"><i class="fas fa-times"></i></a></span>
						</td>
					</tr>
					</tbody>
				</table>
			</li>
		</ul>
		<button class="addMoreRow">Add More</button>
	</div>
	
	<table class="table table-bordered mb-4 fixed-layout">
		<thead>
			<tr>
				<th colspan="2">Admits</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Number of shows per day</td>
				<td>5; 4.2 if chennai as city</td>
			</tr>
			<tr>
				<td>Working days</td>
				<td>360</td>
			</tr>
			<tr>
				<td>Year 1 footfall assmued lower by</td>
				<td>10%</td>
			</tr>
			<tr>
				<td>Complimentary tickets %</td>
				<td>0.1%</td>
			</tr>
		</tbody>
		<tbody>
		<tr style="border-left:hidden;border-right:hidden;border-bottom:hidden;">
			<td colspan="2">
				<div class="deleditBtn_btn">
		  			<a href="javascript:void(0);" class="editBtn_btn">Edit</a>
		  			<a href="javascript:void(0);" class="deleteBtn_btn">Delete</a>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
		
	<table class="table table-bordered mb-4 fixed-layout">
		<thead>
			<tr>
				<th colspan="2">Income Assumption</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Complimentary tickets %</td>
				<td>0.1%</td>
			</tr>
			<tr>
				<td>Complimentary F&B %</td>
				<td>0.25%</td>
			</tr>
			<tr>
				<td>Year 1 ad income lower by</td>
				<td>25%</td>
			</tr>
			<tr>
				<td>Average VPF/ screen/ annum</td>
				<td> <span>If screens &lt; =5; 5 lacs; if screens &lt; =10, 4.5 lacs; if screens &lt; =15, 4 lacs else 3.5 lacs</span> </td>
			</tr>
		</tbody>
		<tbody>
		<tr style="border-left:hidden;border-right:hidden;border-bottom:hidden;">
			<td colspan="2">
				<div class="deleditBtn_btn">
		  			<a href="javascript:void(0);" class="editBtn_btn">Edit</a>
		  			<a href="javascript:void(0);" class="deleteBtn_btn">Delete</a>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
		
	<table class="table table-bordered mb-4 fixed-layout">
		<thead>
			<tr>
				<th colspan="2">FHC</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>FHC mainstream</td>
				<td>46%</td>
			</tr>
			<tr>
				<td>FHC Gold</td>
				<td>46%</td>
			</tr>
			<tr>
				<td>FHC Imax</td>
				<td>53.5%</td>
			</tr>
			<tr>
				<td>FHC PXL</td>
				<td>46%</td>
			</tr>
			<tr>
				<td>FHC 4DX</td>
				<td>56%</td>
			</tr>
			<tr>
				<td>FHC Playhouse</td>
				<td>46%</td>
			</tr>
			<tr>
				<td>FHC Ultra Premium</td>
				<td>46%</td>
			</tr>
			<tr>
				<td>FHC Onyx</td>
				<td>46%</td>
			</tr>
		</tbody>
		<tbody>
		<tr style="border-left:hidden;border-right:hidden;border-bottom:hidden;">
			<td colspan="2">
				<div class="deleditBtn_btn">
		  			<a href="javascript:void(0);" class="editBtn_btn">Edit</a>
		  			<a href="javascript:void(0);" class="deleteBtn_btn">Delete</a>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
		
		
	
	<table class="table table-bordered mb-4 fixed-layout">
		<thead>
			<tr>
				<th colspan="2">Cost Expenses</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>F&B GST</td>
				<td>5%</td>
			</tr>
			<tr>
				<td>F&B COGS</td>
				<td>26%</td>
			</tr>
			<tr>
				<td>Net convinience fee per ticket</td>
				<td>12.5</td>
			</tr>
		</tbody>
		<tbody>
		<tr style="border-left:hidden;border-right:hidden;border-bottom:hidden;">
			<td colspan="2">
				<div class="deleditBtn_btn">
		  			<a href="javascript:void(0);" class="editBtn_btn">Edit</a>
		  			<a href="javascript:void(0);" class="deleteBtn_btn">Delete</a>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
	
	
	<div class="heading_title_strip mb-0">
		<h3>Capex Assumptions</h3>
	</div>
	<table class="table table-bordered mb-4 fixed-layout">
		<tbody>
			<tr>
				<td>% initial capex year 0</td>
				<td>70%</td>
			</tr>
			<tr>
				<td>% of initial capex in Yr 1</td>
				<td>30%</td>
			</tr>
			<tr>
				<td>% of initial capex in Yr 7</td>
				<td>30%</td>
			</tr>
			<tr>
				<td>Capex Contingency</td>
				<td>10%</td>
			</tr>
			<tr>
				<td>Debt proportion</td>
				<td>50%</td>
			</tr>
			<tr>
				<td>Equity proportion</td>
				<td>50%</td>
			</tr>
			<tr>
				<td>Cost of debt</td>
				<td>9.5%</td>
			</tr>
			<tr>
				<td>Debt tenure</td>
				<td>5</td>
			</tr>
			<tr>
				<td>Cost of equity</td>
				<td>18%</td>
			</tr>
		</tbody>
		<tbody>
		<tr style="border-left:hidden;border-right:hidden;border-bottom:hidden;">
			<td colspan="2">
				<div class="deleditBtn_btn">
		  			<a href="javascript:void(0);" class="editBtn_btn">Edit</a>
		  			<a href="javascript:void(0);" class="deleteBtn_btn">Delete</a>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
	
	
	<div class="heading_title_strip mb-0">
		<h3>Growth Assumptions</h3>
	</div>
	<table class="table table-bordered mb-4 fixed-layout">
		<tbody>
			<tr>
				<td>Admits growth rate</td>
				<td>growth assumption table</td>
			</tr>
			<tr>
				<td>ATP Cap Growth rate</td>
				<td>20% every 5 years starting 2018</td>
			</tr>
			<tr>
				<td>SPH growth rate</td>
				<td><ul><li>growth assumption table</li><li>Growth rate to be same as ATP growth rate once SPH/ATP ratio = 55%</li></ul></td>
			</tr>
		</tbody>
		<tbody>
		<tr style="border-left:hidden;border-right:hidden;border-bottom:hidden;">
			<td colspan="2">
				<div class="deleditBtn_btn">
		  			<a href="javascript:void(0);" class="editBtn_btn">Edit</a>
		  			<a href="javascript:void(0);" class="deleteBtn_btn">Delete</a>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
	
	<div class="heading_title_strip mb-0">
		<h3>ATP Cap</h3>
	</div>
	<table class="table table-bordered mb-4 fixed-layout">
		<tbody>
			<tr>
				<td>
				<select id="" name="" class="form-control">
					<option>Choose State</option>
					<option value="">state 1</option>
					<option value="">state 2</option>
					<option value="">state 3</option>
				</select>
				</td>
				<td>
				<select id="" name="" class="form-control">
					<option>Screen Type</option>
					<option value="mainstream">MainStream</option>
					<option value="gold">Gold</option>
					<option value="imax">Imax</option>
					<option value="pxl">PXL</option>
					<option value="playhouse">PlayHouse</option>
					<option value="ultrapremium">Director's Cut</option>
					<option value="4dx">4DX</option>
					<option value="onyx">Onyx</option>
				</select>
				</td>
				<td>
				<select id="" name="" class="form-control">
					<option>Seat Type</option>
					<option value="">seat type 1</option>
					<option value="">seat type 2</option>
					<option value="">seat type 3</option>
				</select>
				</td>
				<td><input type="text" placeholder="Cap" class="form-control"></td>
			</tr>
		</tbody>
		<tbody>
		<tr style="border-left:hidden;border-right:hidden;border-bottom:hidden;">
			<td colspan="4">
				<div class="deleditBtn_btn">
		  			<a href="javascript:void(0);" class="editBtn_btn">Edit</a>
		  			<a href="javascript:void(0);" class="deleteBtn_btn">Delete</a>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>


	<!-- Admin Value New Design Start -->
	<div class="title_strip w-100 mb-0" style="display: inline-block;">
  	  <h5 class="chooseYears">Project Layout assumptions</h5>
  	</div>
  	<div class="adminValue_areaParent mb-4">
  		<div class="cinemaCategory_list">
  		<div class="row">
  			<div class="col-lg-4 col-sm-4"><label>Cinema category</label></div>
  			<div class="col-lg-8 col-sm-8"><p class="content">A, A+, A++, ICON</p>
  			<div class="plus_icon"><a href="/multiplier/create"><i class="fas fa-plus"></i></a></div>
  			</div>
		</div>
  		</div>
  		
  		<div class="adminCategoryParent">
	  		<div class="adminCategory_list">
	  		<div class="row">
	  			<div class="col-lg-4 col-sm-4"><label>Screen Format Types</label></div>
	  			<div class="col-lg-4 col-sm-4">
	  				<div class="multiSelectBox">
	  				<select class="selectpicker" multiple data-live-search="true">
					  <option>Mustard</option>
					  <option>Ketchup</option>
					  <option>Relish</option>
					</select>
					</div>
	  			</div>
	  			<div class="col-lg-4 col-sm-4">
	  				<div class="deleditBtn_btn">
			  			<a href="javascript:void(0);" class="editBtn_btn">Edit</a>
			  			<a href="javascript:void(0);" class="deleteBtn_btn">Delete</a>
		  			</div>
	  			</div>
			</div>
	  		</div>
  		</div>
  		
  		<button type="button" class=" btn btn-raised addMoreBtn mb-0 mt-3" id="addMoreBtn" >
			<i class="fas fa-plus-circle"></i>Add More
		</button>
  	</div>
	<!-- Admin Value New Design End -->



	<div class="grothAssumption_tableParent adminValueTable">
		<table class="table table-bordered mb-4">
			<thead>
				<tr>
					<th>Particulars</th>
					<th>GST applicable</th>
					<th>GST credit disallowed</th>
					<th>Effective GST cost</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Personnel</td>
					<td>18%</td>
					<td>30%</td>
					<td>5.4%</td>
				</tr>
				<tr>
					<td>Repair & Maintenance</td>
					<td>12%</td>
					<td>30%</td>
					<td>3.6%</td>
				</tr>
				<tr>
					<td>Rent</td>
					<td>18%</td>
					<td>30%</td>
					<td>5.4%</td>
				</tr>
				<tr>
					<td>CAM</td>
					<td>18%</td>
					<td>30%</td>
					<td>5.4%</td>
				</tr>
				<tr>
					<td>Electricity & Water</td>
					<td>18%</td>
					<td>30%</td>
					<td>5.4%</td>
				</tr>
				<tr>
					<td>Other</td>
					<td>18%</td>
					<td>30%</td>
					<td>5.4%</td>
				</tr>
				<tr>
					<td>Capex - w/o input credit</td>
					<td></td>
					<td>100%</td>
					<td></td>
				</tr>
				<tr>
					<td>Capex - w/ partial input credit</td>
					<td></td>
					<td>30%</td>
					<td></td>
				</tr>
				<tr>
					<td>Capex - w/ full input credit</td>
					<td></td>
					<td>0%</td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<div class="deleditBtn_btn py-3">
  			<a href="javascript:void(0);" class="editBtn_btn">Edit</a>
  			<a href="javascript:void(0);" class="deleteBtn_btn">Delete</a>
		</div>
	</div>
	
<!-- 	
	<button id="refreshButton" onclick="loadScript('../js/bootstrap-select.min.js')">
            Refresh script
        </button> -->


</div>

</section>

</div>
<div th:fragment="customJs">
<script th:src="@{/./js/growth-assumption.js}"></script>
</div>