<div th:fragment="header">

	<div class="loading">
		<div class="loading-text">
			<span class="loading-text-words">F</span> <span
				class="loading-text-words">E</span> <span class="loading-text-words">T</span>
			<span class="loading-text-words">C</span> <span
				class="loading-text-words">H</span> <span class="loading-text-words">I</span>
			<span class="loading-text-words">N</span> <span
				class="loading-text-words">G</span> &nbsp;&nbsp;&nbsp; <span
				class="loading-text-words">D</span> <span class="loading-text-words">A</span>
			<span class="loading-text-words">T</span> <span
				class="loading-text-words">A</span>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myAcModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">My Account</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div class="csv_upload_form">
						<form class="client-form" action="#"
							th:action="@{/user/updateUserProfile}" th:object="${user}"
							method="POST" enctype="multipart/form-data">

							<div class="col-sm-6 mb-3 float-left">
								<div class="form-group">
									<div class="float-left w-100">
										<label class="control-label" for="date">First Name<span
											style="color: red">*</span></label> <input type="text"
											class="form-control" id="profileFirstName" name="firstName"
											value="" placeholder="First Name..." required="required">

									</div>
								</div>
							</div>

							<div class="col-sm-6 mb-3 float-left">
								<div class="form-group">
									<div class="float-left w-100">
										<label class="control-label" for="date">Last Name</label> <input
											type="text" class="form-control" id="profileLastName"
											name="lastName" value="" placeholder="Last Name...">

									</div>
								</div>
							</div>

							<div class="col-sm-6 mb-3 float-left">
								<div class="form-group">
									<div class="float-left w-100">
										<label class="control-label" for="date">DOB<span
											style="color: red">*</span></label> <input type="text"
											class="form-control" id="profileDob" name="dob" value=""
											placeholder="date of birth" required="required">

									</div>
								</div>
							</div>



							<div class="col-sm-6 mb-3 float-left">
								<div class="form-group bmd-form-group w-100">
									<label class="control-label" for="date">Profile Image</label> <input
										class="form-control" type="file" id="userProfileFileUploadimg"
										name="userProfileFileUpload" placeholder="Profile Image"
										accept=".png, .jpg, .jpeg">

								</div>
							</div>
							<input type="hidden" class="form-control" id="profileEmail"
								name="email" value=""> <input type="hidden"
								class="form-control" id="profilePhone" name="address.phone"
								value=""> <input type="hidden" class="form-control"
								id="profileCity" name="address.city" value=""> <input
								type="hidden" class="form-control" id="profileState"
								name="address.state" value=""> <input type="hidden"
								class="form-control" id="profilePincode" name="address.pincode"
								value=""> <input type="hidden" class="form-control"
								id="profileCountry" name="address.country" value=""> <input
								type="hidden" class="form-control" id="profileFullAddress"
								name="address.fullAddress" value=""> <input
								type="hidden" class="form-control" id="profileEmployeeId"
								name="employeeId" value="">
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary" id="updateProfile">
									<i class="fab fa-telegram-plane"></i> update
								</button>
							</div>
						</form>
					</div>

				</div>

			</div>
		</div>
	</div>
	<!-- ModalEnd Here -->


	<!-- ******************************************************* Query Modal ************************************************************** -->
	<!-- View Details Modal -->
	<div class="modal fade" id="viewDetailModal" tabindex="-1"
		role="dialog" aria-labelledby="viewDetailModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content content mCustomScrollbar">
				<div class="modal-header">
					<p>Project Cost Summary</p>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body p-3 mt-1 pdf_mdoal_table_style">
					<table class="table table-bordered transparent fixed-layout">
						<thead>
							<tr>
								<th class="text-center text-middle">Description</th>
								<th class="text-center text-middle">Cost <br>(INR
									Lacs)
								</th>
								<th class="text-center text-middle">Dep Rate (%)</th>
								<th class="text-center text-middle">Annual Dep <br>(INR
									Lacs)
								</th>
							</tr>
						</thead>
						<tbody>
							<tr class="total_row">
								<td class="text-left">Land Cost</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td class="text-left">Land Cost</td>
								<td id="d1"></td>
								<td id="d2">%</td>
								<td id="d3"></td>
							</tr>
							<tr>
								<td class="text-left"><b>Total Land Cost</b></td>
								<td id="d4"><b></b></td>
								<td id="d5">&nbsp;</td>
								<td id="d6"><b></b></td>
							</tr>
						</tbody>

						<tbody>
							<tr class="total_row">
								<td class="text-left">Leasehold Improvements</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td class="text-left">Civil & Interior Works</td>
								<td id="d7"></td>
								<td id="d8"></td>
								<td id="d9"></td>
							</tr>
							<tr>
								<td class="text-left">Electrical Works</td>
								<td id="d10"></td>
								<td id="d11"></td>
								<td id="d12"></td>
							</tr>
							<tr>
								<td class="text-left">Architect & Consultant Cost</td>
								<td id="d13"></td>
								<td id="d14"></td>
								<td id="d15"></td>
							</tr>
							<tr>
								<td class="text-left"><b>Total Leasehold Improvements</td>
								<td id="d16"><b></b></td>
								<td id="d17"></td>
								<td id="d18"><b></b></td>
							</tr>
							<tr class="total_row">
								<td class="text-left">Plant & Machinery</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td class="text-left">Projectors Cost</td>
								<td id="d19"></td>
								<td id="d20"></td>
								<td id="d21"></td>
							</tr>
							<tr>
								<td class="text-left">Sound Equipment</td>
								<td id="d22"></td>
								<td id="d23"></td>
								<td id="d24"></td>
							</tr>
							<tr>
								<td class="text-left">Screens</td>
								<td id="d25"></td>
								<td id="d26"></td>
								<td id="d27"></td>
							</tr>
							<tr>
								<td class="text-left">Other Projection Equipment</td>
								<td id="d28"></td>
								<td id="d29"></td>
								<td id="d30"></td>
							</tr>
							<tr>
								<td class="text-left">IMAX Equipment</td>
								<td id="d31"></td>
								<td id="d32"></td>
								<td id="d33"></td>
							</tr>
							<tr>
								<td class="text-left">4DX Equipment</td>
								<td id="d34"></td>
								<td id="d35"></td>
								<td id="d36"></td>
							</tr>
							<tr>
								<td class="text-left">Air Conditioning</td>
								<td id="d37"></td>
								<td id="d38"></td>
								<td id="d39"></td>
							</tr>
							<tr>
								<td class="text-left">Fire Fighting Equipment</td>
								<td id="d40"></td>
								<td id="d41"></td>
								<td id="d42"></td>
							</tr>
							<tr>
								<td class="text-left">Concession Equipment</td>
								<td id="d43"></td>
								<td id="d44"></td>
								<td id="d45"></td>
							</tr>
							<tr>
								<td class="text-left"><b>Total Plant & Machinery</td>
								<td id="d46"><b></b></td>
								<td id="d47"></td>
								<td id="d48"><b></b></td>
							</tr>
							<tr class="total_row">
								<td class="text-left">Furniture & Fixtures</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td class="text-left">Signages</td>
								<td id="d49"></td>
								<td id="d50"></td>
								<td id="d51"></td>
							</tr>
							<tr>
								<td class="text-left">Poster Display Boxes</td>
								<td id="d52"></td>
								<td id="d53"></td>
								<td id="d54"></td>
							</tr>
							<tr>
								<td class="text-left">LCD/ Plasma</td>
								<td id="d55"></td>
								<td id="d56"></td>
								<td id="d57"></td>
							</tr>
							<tr>
								<td class="text-left">Banner Frames</td>
								<td id="d58"></td>
								<td id="d59"></td>
								<td id="d60"></td>
							</tr>
							<tr>
								<td class="text-left">Other Signages</td>
								<td id="d61"></td>
								<td id="d62"></td>
								<td id="d63"></td>
							</tr>
							<tr>
								<td class="text-left">Carpet</td>
								<td id="d64"></td>
								<td id="d65"></td>
								<td id="d66"></td>
							</tr>
							<tr>
								<td class="text-left">Seats</td>
								<td id="d67"></td>
								<td id="d68"></td>
								<td id="d69"></td>
							</tr>
							<tr>
								<td class="text-left"><b>Total Furniture & Fixture</td>
								<td id="d70"><b></b></td>
								<td id="d71"></td>
								<td id="d72"><b></b></td>
							</tr>
							<tr class="total_row">
								<td class="text-left">IT, Comm., Office & Operating
									Supplies</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td class="text-left">IT Hardware & Software</td>
								<td id="d73"></td>
								<td id="d74"></td>
								<td id="d75"></td>
							</tr>
							<tr>
								<td class="text-left">Commu., Office & Operating Supplies</td>
								<td id="d76"></td>
								<td id="d77"></td>
								<td id="d78"></td>
							</tr>

							<tr>
								<td class="text-left"><b>Total IT, Comm., Office &
										Operating Supplies</td>
								<td id="d79"><b></b></td>
								<td id="d80"></td>
								<td id="d81"><b></b></td>
							</tr>
							<tr class="total_row">
								<td class="text-left"><b>Preoperative Expenses</td>
								<td id="d82"><b></b></td>
								<td id="d83"></td>
								<td id="d84"><b></b></td>
							</tr>
							<tr class="total_row">
								<td class="text-left"><b>Total Project Cost</td>
								<td id="d85"><b></b></td>
								<td id="d86"></td>
								<td id="d87"><b></b></td>
							</tr>
							<tr>
								<td class="text-left">Contingency @</td>
								<td id="d88"><b></b></td>
								<td id="d89"></td>
								<td id="d90"><b></b></td>
							</tr>
							<tr class="total_row">
								<td class="text-left"><b>Total Project Cost after
										Contingencies</td>
								<td id="d91"><b></b></td>
								<td id="d92"></td>
								<td id="d93"><b></b></td>
							</tr>
							<tr>
								<td class="text-left">Security Deposit</td>
								<td id="d94"><b></b></td>
								<td id="d95"></td>
								<td id="d96"><b></b></td>
							</tr>
							<tr>
								<td class="text-left">Salvage from disposal of assets</td>
								<td id="d97"><b></b></td>
								<td id="d98"></td>
								<td id="d99"><b></b></td>
							</tr>
							<tr>
								<td class="text-left">Advance Rent (INR Lacs)</td>
								<td id="d100"><b></b></td>
								<td id="d101"></td>
								<td id="d102"><b></b></td>
							</tr>
							<tr class="total_row">
								<td class="text-left"><b>Total Project Cost (Incl SD) and Inc Advance Rent (INR Lacs)</td>
								<td id="d103"><b></b></td>
								<td id="d104"></td>
								<td id="d105"><b></b></td>
							</tr>
							<tr>
								<td class="text-left">Project Cost Per Screen (Incl SD) and Inc Advance Rent (INR Lacs)</td>
								<td id="d106"><b></b></td>
								<td id="d107"></td>
								<td id="d108"><b></b></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- View Details Modal End -->





	<div id="wrapper" class="animate">
		<nav class="navbar fixed-top navbar-expand-md py-0">
			<span class="navbar-toggler-icon leftmenutrigger"></span>
			<p class="tagline">Feasibility Automation Tool</p>
			<div class="animate side-nav" id="navbarRow">

				<ul class="nav navbar-nav navbar-right ml-auto">

					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown"><!--  <strong
							th:text="${#authentication?.name}"></strong>  --><strong th:text="${session?.fullName}"></strong>
							<span class="userProfilePic"><img
								th:src="@{/images/profileImg.png}" alt=""></span> <!-- <span class="angleDown"><img th:src="@{/images/dropdownIcon.png}" alt=""></span> -->
					</a> <!-- <ul class="dropdown-menu">
                            <li>
                                <div class="navbar-login">
                                    <div class="row">
                                        <div class="col-lg-">
                                            <ul>
                                              <li><a href="javascript:void(0)" id="myAcModal" data-toggle="modal" data-target="#myAcModal"><i class="fas fa-user"></i> My Account</a></li>
                                              <li><a th:href="@{/logout}"><i class="fas fa-unlock"></i> Logout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul> --></li>
				</ul>

			</div>
		</nav>

		<div class="hambugerIcon">
			<div class="wrapper-menu">
				<div class="line-menu half start"></div>
				<div class="line-menu"></div>
				<div class="line-menu half end"></div>
			</div>
		</div>

	</div>

	<!-- <div th:fragment="footer">
<footer class="mt-4">
<div class="container-fluid">
<div class="row">
<div class="footer_innerContent">
<p class="text-center">Copyright 2018 ERP APP LTD</p>
</div>
</div>
</div>
</footer>
</div> -->

	<div th:fragment="sideBar">
		<div class="sidebar ">
			<div class="logo">
				<!-- <a th:href="@{/dashboard}"><img th:src="@{/images/logo.png}"
					alt=""></a> -->
				<a th:href="@{/dashboard}"><img th:src="@{/images/Enlight_71x51.jpg}"
					alt=""></a>
			</div>
			<ul class="content mCustomScrollbar">
			<li th:class="${assignTruckListActive != null ? 'active' : ''}"
					sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/upload}"
					href="javascript:void(0);"> <img
						th:src="@{/images/datasourceIcon.png}" alt=""> Upload Data
				</a></li>
				<li th:class="${assignTruckListActive != null ? 'active' : ''}"
					sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/upload/dataMigrate}"
					href="javascript:void(0);"> <img
						th:src="@{/images/datasourceIcon.png}" alt=""> Copy Data
				</a></li>
				
				<li th:class="${assignTruckListActive != null ? 'active' : ''}"
					sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/dashboard/bdassign}"
					href="javascript:void(0);"> <img
						th:src="@{/images/datasourceIcon.png}" alt=""> BD Report Assign
				</a></li>
				
				<li th:class="${assignTruckListActive != null ? 'active' : ''}"
					sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/user}"
					href="javascript:void(0);"> <img
						th:src="@{/images/usersIcons.png}" alt=""> Create Users
				</a></li>
			<!-- <li th:class="${assignTruckListActive != null ? 'active' : ''}"
					sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin/feasibility-mis}" href="javascript:void(0);"> <img
						th:src="@{/images/datasourceIcon.png}" alt=""> 
						 Generate MIS
				</a></li> -->
				
			<li  sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown_hasMenu"><a href="javascript:void(0);"> <img 
						th:src="@{/images/feasibility-dashboard-icon.png}" alt="">
						 MIS
				</a>
				<ul class="hasSubmenu">
				<li th:class="${assignTruckListActive != null ? 'active' : ''}"
					sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin/feasibility-mis}" href="javascript:void(0);"> <img
						th:src="@{/images/datasourceIcon.png}" alt=""> 
						 Normal MIS
				</a></li> 
				<li th:class="${assignTruckListActive != null ? 'active' : ''}"
					sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin/feasibility-opsMis}" href="javascript:void(0);"> <img
						th:src="@{/images/datasourceIcon.png}" alt=""> 
						 Operational MIS
				</a></li> 
				
				<li th:class="${assignTruckListActive != null ? 'active' : ''}"
					sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin/feasibility-exitMis}" href="javascript:void(0);"> <img
						th:src="@{/images/datasourceIcon.png}" alt=""> 
						 Exit MIS
				</a></li> 
				</ul>
			</li>	 
				
				
			
			<li  sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown_hasMenu"><a href="javascript:void(0);"> <img 
						th:src="@{/images/feasibility-dashboard-icon.png}" alt="">
						Algorithm Assumptions
				</a>
					<ul class="hasSubmenu">
						<li sec:authorize="hasRole('ROLE_ADMIN')"><a
							th:href="@{/admin/get-cinemaFormat-List}" href="javascript:void(0);"> <!-- <img
								th:src="@{/images/datasourceIcon.png}" alt=""> --> 
								Cinema Format Names and Cinema Format Mapping
						</a></li>
						
						
						
						
						<li sec:authorize="hasRole('ROLE_ADMIN')"><a
							th:href="@{/admin/get-cinemaCategory-List}" href="javascript:void(0);"> <!-- <img
								th:src="@{/images/datasourceIcon.png}" alt="">  -->
								Cinema Category Mapping 
						</a></li>
						
						
						
						<li sec:authorize="hasRole('ROLE_ADMIN')"><a
							th:href="@{/admin/get-seatType-List}" href="javascript:void(0);"> <!-- <img
								th:src="@{/images/datasourceIcon.png}" alt="">  -->
								Seat Mapping
						</a></li>
						<li th:class="${assignTruckListActive != null ? 'active' : ''}"
						sec:authorize="hasRole('ROLE_ADMIN')"><a
						th:href="@{/multiplier}" href="javascript:void(0);"> <!-- <img
							th:src="@{/images/multiplierIcon.png}" alt=""> --> Cost Multipliers
					</a></li>
					</ul>
				</li>
				
				<li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown_hasMenu"><a href="javascript:void(0);"> <img 
						th:src="@{/images/datasourceIcon.png}" alt="">
						 IRR Fixed <br>Values
				</a>
					<ul class="hasSubmenu">
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a
						th:href="@{/admin/irr-constant-details}" href="javascript:void(0);"> <!-- <img
							th:src="@{/images/datasourceIcon.png}" alt=""> --> Constants
					</a></li>
					
			<!-- 		<li sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin/cogs}" href="javascript:void(0);"> <img
						th:src="@{/images/datasourceIcon.png}" alt=""> 
						Cogs
				</a></li>
				
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin/operating-assumption}" href="javascript:void(0);"> <img
						th:src="@{/images/datasourceIcon.png}" alt=""> 
						Operating Assumption
				</a></li> -->
				
					<li th:class="${assignTruckListActive != null ? 'active' : ''}"
						sec:authorize="hasRole('ROLE_ADMIN')"><a
						th:href="@{/admin/film-hire-cost}" href="javascript:void(0);"> <!-- <img
							th:src="@{/images/datasourceIcon.png}" alt=""> --> 
							Film Hire Cost
					</a></li>
					
					<li th:class="${assignTruckListActive != null ? 'active' : ''}"
						sec:authorize="hasRole('ROLE_ADMIN')"><a
						th:href="@{/assumption}" href="javascript:void(0);"> <!-- <img
							th:src="@{/images/datasourceIcon.png}" alt=""> --> Growth Assumption
					</a></li>
					
					
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin/assumptionstate}" href="javascript:void(0);"> <!-- <img
						th:src="@{/images/datasourceIcon.png}" alt="">  -->
						Taxes and charges
				</a></li>
				
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin/atpcap}" href="javascript:void(0);"> <!-- <img
						th:src="@{/images/datasourceIcon.png}" alt="">  -->
						ATP CAP
				</a></li>
				
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin/gst-tax}" href="javascript:void(0);"> <!-- <img
						th:src="@{/images/datasourceIcon.png}" alt="">  -->
						GST Assumptions 
				</a></li>
			<!-- 	
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin/gst-on-ticket}" href="javascript:void(0);"> <img
						th:src="@{/images/datasourceIcon.png}" alt=""> 
						Gst on Ticket
				</a></li> -->
					</ul>
				</li>
				<li th:class="${assignTruckListActive != null ? 'active' : ''}"
					sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/log}"
					href="javascript:void(0);"> <i class="fa fa-history" aria-hidden="true"></i>&nbsp;&nbsp; Log
				</a></li>
				
				
				
				
				
				
				
				
				
			
				<li class="userProfileArea"><span class="userProfilePic"><img
						th:src="@{/images/profileImg.png}" alt=""></span>
					<p class="userName"></p></li>

				<!-- <li sec:authorize="hasRole('ROLE_BD')"><a th:href="@{/dashboard}">
                <img th:src="@{/images/feasibility-dashboard-icon.png}" alt="">
                Feasiblity<br>Dashboard</a></li> -->

				<li
					sec:authorize="hasAnyRole('ROLE_BD','ROLE_APPROVER', 'ROLE_OPERATION_TEAM', 'ROLE_PROJECT_TEAM')"><a
					th:href="@{/dashboard}"> <img
						th:src="@{/images/feasibility-dashboard-icon.png}" alt="">
						Feasiblity<br>Dashboard
				</a></li>

				<li sec:authorize="hasRole('ROLE_BD')"><a th:href="@{/project}" class="feasibilitMenuyAnchor">
						<img th:src="@{/images/create_new_reports_Icon.png}" alt="">
						Create New Feasiblity Report
				</a></li>
				<li th:class="${assignTruckListActive != null ? 'active' : ''}"
					sec:authorize="hasRole('ROLE_BD')"><a th:href="@{/admin/changeProjName}"
					href="javascript:void(0);"> <img
						th:src="@{/images/datasourceIcon.png}" alt=""> Change Project Name
				</a></li>

				<li sec:authorize="hasAnyRole('ROLE_BD','ROLE_APPROVER')"><a
					th:href="@{/project/allProjectDetails}"> <img
						th:src="@{/images/access_old_report_Icon.png}" alt="">
						Access Old Report
				</a></li>
				<li sec:authorize="hasRole('ROLE_BD')"><a
					th:href="@{/project/allExistingProjectDetailsForCopy}"> <img
						th:src="@{/images/access_old_report_Icon.png}" alt="">
						Copy Existing Report
				</a></li>
               
				

<!-- 
				
				

				<li th:class="${assignTruckListActive != null ? 'active' : ''}"
					sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/assumption}" href="javascript:void(0);"> <img
						th:src="@{/images/datasourceIcon.png}" alt=""> Growth
						Assumption
				</a></li>
				
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin/irr-constant-details}" href="javascript:void(0);"> <img
						th:src="@{/images/datasourceIcon.png}" alt=""> Irr constant Details
				</a></li>
				
				
				<li th:class="${assignTruckListActive != null ? 'active' : ''}"
					sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin/film-hire-cost}" href="javascript:void(0);"> <img
						th:src="@{/images/datasourceIcon.png}" alt=""> 
						Film Hire Cost
				</a></li> -->
				 
				
				<!-- <li sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin/get-cinemaFormat-List}" href="javascript:void(0);"> <img
						th:src="@{/images/datasourceIcon.png}" alt=""> 
						Cinema <br>Format
				</a></li>
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin/get-cinemaFormatMapping-List}" href="javascript:void(0);"> <img
						th:src="@{/images/datasourceIcon.png}" alt=""> 
						Cinema <br>Format Mapping
				</a></li>
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin/get-cinemaCategory-List}" href="javascript:void(0);"> <img
						th:src="@{/images/datasourceIcon.png}" alt=""> 
						Cinema <br>Category
				</a></li>
				
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin/get-seatType-List}" href="javascript:void(0);"> <img
						th:src="@{/images/datasourceIcon.png}" alt=""> 
						Seat <br>Type
				</a></li> -->
				
				<!-- <li sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin/cogs}" href="javascript:void(0);"> <img
						th:src="@{/images/datasourceIcon.png}" alt=""> 
						Cogs
				</a></li>
				
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin/assumptionstate}" href="javascript:void(0);"> <img
						th:src="@{/images/datasourceIcon.png}" alt=""> 
						Assumptions <br>State
				</a></li>
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin/atpcap}" href="javascript:void(0);"> <img
						th:src="@{/images/datasourceIcon.png}" alt=""> 
						ATP CAP
				</a></li>
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin/gst-tax}" href="javascript:void(0);"> <img
						th:src="@{/images/datasourceIcon.png}" alt=""> 
						Gst-Tax
				</a></li>
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin/operating-assumption}" href="javascript:void(0);"> <img
						th:src="@{/images/datasourceIcon.png}" alt=""> 
						Operating <br>Assumption
				</a></li>
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin/gst-on-ticket}" href="javascript:void(0);"> <img
						th:src="@{/images/datasourceIcon.png}" alt=""> 
						Gst on <br>Ticket
				</a></li> -->
				<li><a th:href="@{/logout}"> <img
						th:src="@{/images/logout_icon.png}" alt=""> Logout
				</a></li>


			</ul>
		</div>
	</div>
	<div>

	</div>