*, body{
margin: 0;
padding: 0;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-font-smoothing: subpixel-antialiased;
-webkit-font-smoothing: antialiased;
}

.clear {
clear: both;
}


#revenueAssumtionGrowthTable tr td #ra{
	font-weight:500;
}







 #revenueAssumtionGrowthTable span .admGrowth{
	font-weight:normal;
}

button::-moz-focus-inner, input::-moz-focus-inner {
border: 0;
padding: 0;
}

input:focus {
outline: 0;
border: 0;
box-shadow: none;
}

div, body, h1, h2, h3, h5, h6, span, form, input, p, a, nav, header,
footer, section, aside, article, figure {
margin: 0;
padding: 0;
text-decoration: none;
}

a img, img {
border: 0;
outline: 0 !important;
}

a, .active, :after, :visited, :focus a:focus {
outline: 0 !important;
border: 0;
text-decoration: none !important;
}

blockquote {
border-left: 5px solid #d54730;
}

iframe {
width: 100%;
}

.alignleft {
float: left;
margin: 0 20px 20px 0;
}

.alignright {
float: right;
margin: 0 0 20px 20px;
}

.aligncenter, .alignnone {
float: none;
margin: 0 auto 25px;
display: block;
}

@font-face {
font-family: 'Cafeta';
src: url('../assets/fonts/Cafeta.eot'),
url('../assets/fonts/Cafeta.woff') format('woff'),
url('../assets/fonts/Cafeta.ttf') format('truetype'),
url('../assets/fonts/Cafeta.svg#Cafeta') format('svg'),
url('../assets/fonts/Cafeta.eot?#iefix') format('embedded-opentype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'HelveticaNeue-Roman';
src: url('../assets/fonts/HelveticaNeue-Roman.eot'),
url('../assets/fonts/HelveticaNeue-Roman.woff') format('woff'),
url('../assets/fonts/HelveticaNeue-Roman.ttf') format('truetype'), 
url('../assets/fonts/HelveticaNeue-Roman.svg#HelveticaNeue-Roman') format('svg'),
url('../assets/fonts/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype');
font-weight: normal;
font-style: normal;
}


@font-face {
font-family: 'HelveticaNeueRegular';
src: url('../assets/fonts/HelveticaNeueRegular.eot'),
url('../assets/fonts/HelveticaNeueRegular.woff') format('woff'),
url('../assets/fonts/HelveticaNeueRegular.ttf') format('truetype'), 
url('../assets/fonts/HelveticaNeueRegular.svg#HelveticaNeueRegular') format('svg'),media
url('../assets/fonts/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype');
font-weight: normal;
font-style: normal;
}


@font-face {
font-family: 'HelveticaNeue-Medium';
src: url('../assets/fonts/HelveticaNeue-Medium.eot'),
url('../assets/fonts/HelveticaNeue-Medium.woff') format('woff'),
url('../assets/fonts/HelveticaNeue-Medium.ttf') format('truetype'), 
url('../assets/fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg'),
url('../assets/fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype');
font-weight: normal;
font-style: normal;
font-display: block;
}

.loginform {
position: relative;
height: 100vh;
background: #eeeeee;
}

.form_parent {
position: relative;
width: 100%;
max-width: 860px;
box-shadow: 0 0 65px rgba(0, 0, 0, 0.11);
padding: 0 0;
}

.pvrFeaturedImg ,
.formDiv{
position: relative;
height: 498px;
overflow:hidden;
}

.pvrFeaturedImg {
    background: #231f20;
}

#tokenError {
    color: red;
    text-transform: capitalize;
    font-size: 14px;
}

.pvrFeaturedImg img{
object-fit: cover;
height: 100%;
width: 100%;
}

.formDiv h2{
font-family: 'Cafeta';
font-size: 30px;
line-height: normal;
letter-spacing: 0.10px;
color: #000;
margin: 0 0 28px;
text-transform: uppercase;
}

.formDiv form .md-form {
position: relative;
display: inline-block;
width: 100%;
margin: 0 0 16px;
}

.formDiv form .md-form i,
.formDiv form .md-form img{
position: absolute;
left:0;
font-size:30px;
top:10px;
color:#000;
}

.formDiv form .md-form input[type='text'],
.formDiv form .md-form input[type='email'],
.formDiv form .md-form input[type='password']{
font-family: 'HelveticaNeue-Medium';
font-size: 15px;
line-height: 24px;
letter-spacing: 0;
color: #000;
font-weight: 400;
height: 40px;
width: calc(100% - 45px);
float: right;
}

.formDiv form .md-form input::-webkit-input-placeholder { 
color: #8b8b8b;
}

.formDiv form .md-form input::-moz-placeholder { 
color: #8b8b8b;
}

.formDiv form .md-form input:-ms-input-placeholder {
color: #8b8b8b;
}

.formDiv form .md-form input:-moz-placeholder { 
color: #8b8b8b;
}

.formDiv form .custom-file-control, 
.formDiv form .form-control, 
.formDiv form .is-focused .custom-file-control, 
.formDiv form .is-focused .form-control {
background-image: linear-gradient(0deg,#000000 2px,rgba(0,150,136,0) 0),
linear-gradient(0deg,#e0e0e0 1px,transparent 0);
}

.formDiv form #loginBtn,
.formDiv form button[type='submit'] {
font-family: 'Cafeta';
background-color: #ffc906!important;
font-size: 24px;
line-height: normal;
letter-spacing: 0.10px;
color: #000;
box-shadow: none;
border-radius: 3px;
padding: 0.6rem 1rem .46875rem;
width: calc(100% - 45px);
float: right;
border-bottom: 2px solid #ddad00!important;
margin: 16px 0 0;
text-transform: uppercase;
-webkit-transition:0.3s;
-moz-transition:0.3s;
transition:0.3s;
}

.formDiv form #loginBtn:hover,
.formDiv form button[type='submit']:hover {
background: #ddad00!important;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
transition: 0.3s;	
}

.formDiv >.card-body {
padding: 118px 1.25rem;
}
.loginform .formDiv >.card-body {
height:538px;
}
.loginform #form_div {
    position: relative;
}
.loginform  #paramError {
    position: absolute;
    top: -20px;
    left: 0;
    color: red;
    font-size: 15px;
    font-weight: 400;
}


/******************** Header Of Navbar *********************/
/******* Hamburger Icon Style ********/
.wrapper-menu {
width: 50px;
height: 32px;
display: flex;
flex-direction: column;
justify-content: space-between;
cursor: pointer;
transition: transform 330ms ease-out;
}

.wrapper-menu.open {
transform: rotate(-45deg);  
}

.line-menu {
background-color: #000;
border-radius: 5px;
width: 100%;
height: 6px;
}

.line-menu.half {
width: 50%;
}

.line-menu.start {
transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
transform-origin: right;
}

.open .line-menu.start {
transform: rotate(-90deg) translateX(12px);
}

.line-menu.end {
align-self: flex-end;
transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
transform-origin: left;
}

.open .line-menu.end {
transform: rotate(-90deg) translateX(-12px);
}

.hambugerIcon {
position: fixed;
z-index: 99;
top: 10px;
right: 15px;
display: none;
}
  

#navbarRow {
display: flex!important;
flex-basis: auto;
flex-grow: 1;
align-items: center;	
}

.navbar {
background-color: #fff;
height: 78px;
box-shadow: 0 0 65px rgba(0, 0, 0, 0.11);
width: calc(100% - 160px);
left: initial;
z-index: 99;

}

.navbar-brand,
.tagline {
left: 15px;
padding: 0;
font-size: 32px;
text-transform: uppercase;
color: #000;
font-family: 'Cafeta';
padding-left: 15px;
}

.navbar-expand-lg .navbar-nav.side-nav {
flex-direction: column;
}

.leftmenutrigger {
display: none
}

.animate {
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
transition: all .3s ease-in-out
}

.userProfilePic {
position: relative;
overflow: hidden;
width: 61px;
height: 61px;
border-radius: 50%;
background: #cedbe3;
display: inline-block;
vertical-align: middle;
}

.nav .dropdown-toggle:after{
display: none;
}

.angleDown i ,
.angleDown img{
color: #000;
font-size: 26px;
vertical-align: middle;
margin-left: 9px;
}

.nav a >strong {
font-family: 'HelveticaNeue-Medium';
font-size: 15px;
line-height: 32px;
letter-spacing: 0;
color: #000;
font-weight: 400;
margin-right: 16px;
    text-transform: capitalize;
}

#notifications {
padding-top: 8px;
}

.notificationIcon{
position: relative;
}

.notificationIcon >.counter{
position: absolute;
right: -1px;
top: -9px;
z-index: 9;
color: #fff;
font-size: 12px;
width: 15px;
height: 15px;
text-align: center;
}

.nav .dropdown-menu {
min-width: 14rem;
}

.navbar-dark .navbar-toggler {
color: hsl(0, 0%, 0%);
border-color: hsl(0, 0%, 0%);
background: #000;
}

.navbar-login ul{
margin: 0;
padding: 0;
list-style: none;
}

.navbar-login ul li{
display: inline-block;
width: 100%;
}

.navbar-login ul li a{
padding: 9px 15px;
display: inline-block;
width: 100%;
color: #000;
text-transform: uppercase;
font-family: 'HelveticaNeue-Medium';
border-bottom: 1px solid #dadada;
transition: 0.3s;
font-size: 14px;
}

.navbar-login ul li a:hover {
transition: 0.3s;
    color: #000000;
background: #eee;
}

.navbar-login ul li:last-child a{
border-bottom: 0;
}

.navbar-login ul li a i{
margin-right: 10px;
}

.sidebar {
position: fixed;
top: 0;
left: 0;
height: 100vh;
width: 160px;
    background: #231f20;
z-index: 99;
}

.sidebar .mCSB_inside>.mCSB_container {
margin-right: 0;
}

.sidebar .mCSB_scrollTools {
width: 7px;
}

.sidebar ul .userProfileArea {
background:transparent;
display: none;
}

.sidebar .userProfilePic {
margin: 20px auto;
display: block;
}

.sidebar  .userName {
color: #d9d9d9;
text-align: center;
font-size: 15px;
line-height: normal;
margin: 0 0 15px;
font-family: 'HelveticaNeue-Medium';
}

.sidebar >.logo{
text-align: center;
position: relative;
padding: 15px 10px;
z-index: 999;
background: #231f20;
}

.sidebar >.logo img{
display: block;
    margin: 0 auto 10px;
}

.sidebar >ul {
margin: 0;
padding: 0 0 120px;
list-style: none;
overflow: initial;
height: 100%;
position: relative;
}

.sidebar .mCustomScrollBox,
.sidebar .mCSB_container {
    overflow: inherit;
}

.sidebar >ul li{
    display: inline-block;
    width: 100%;
        background: transparent;
    margin: 1px 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    position: relative;
}

.sidebar >ul li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar >ul li.dropdown_hasMenu {
    background: url(../images/arrow-down-png.png) 92% 18px no-repeat!important;
    background-size: 14px!important;
}

.sidebar >ul li .hasSubmenu {
display:none;
}

.sidebar >ul li:hover{
background:#000;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
transition: 0.3s;
}

.sidebar >ul li a >img{
    display: inline-block;
    margin: -1px 10px 5px 5px;
    float: left;
    width: 20px;
}

.sidebar >ul li a{
font-family: 'HelveticaNeue-Medium';
text-decoration: none;
color: #d9d9d9;
padding: 13px 7px;
text-align: left;
font-size: 14px;
display: inline-block;
line-height: normal;
width: 100%;
position:relative;
text-transform: capitalize;
}

.sidebar >ul li ul.hasSubmenu li a{
padding: 10px 12px;
color: #b9acac;
font-size: 13px;
}

.sidebar >ul li ul.hasSubmenu li{
background: #232323;
border-bottom:0;
}

.sidebar >ul li a:before,
.sidebar >ul li a:after{
content:'';
position:absolute;
}

.sidebar >ul li a.active:before{
left: 0;
height: 100%;
width: 4px;
background: #ffcf08;
top: 0;
}

.sidebar >ul li a.active:after{
width: 0px;
height: 0px;
border-top: 13px solid transparent;
border-bottom: 13px solid transparent;
border-left: 13px solid #232323;
z-index: 99;
right: -12px;
top: 21%;
}
.sidebar >ul li a.active:hover:after{
border-left: 20px solid #000;
}
.mainContainer {
position: relative;
width: calc(100% - 160px);
float: right;
}

/************ Dash board Tabs Style ************/
.tabsParent {
position: relative;
    max-width: 980px;
width: 100%;
margin: 40px auto 50px;
box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.tabsParent .tab-content {
	position:relative;
}

.tabsParent .nav-tabs .nav-link {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0;
    color: #000;
    box-shadow: inset 6px 0 24px rgba(0, 0, 0, 0.06), 0 0 1px #cecece;
    font-family: 'Cafeta';
    padding: 10px 26.2px;
    text-align: center;
    border-color: transparent;
    border-bottom: 0;
    opacity: 0.5;
}

.tabsParent .nav-tabs .nav-link.active {
	background:#fff;
	box-shadow:none;
	opacity: 1;
}

.tabsParent .nav-tabs{
	margin-left: -1%;
}

.tabsParent .nav-tabs .nav-item {
    margin-left: 1%;
    margin-bottom: 0;
}

.tabsParent .tab-content>.tab-pane .card-header {
	display:none;
}

.tabsParent .tab-content>.tab-pane >.collapse {
    display: block;
}

.tabsParent .tab-content>.tab-pane {
	background:#fff;
}

.tabsParent .tab-content>.tab-pane form{
	margin-bottom:20px;
}

.tabsParent .tab-content>.tab-pane form  .row{
	margin-left:-20px;
	margin-right:-20px;
}

.tabsParent .tab-content>.tab-pane .card-body{

}

#parentOfReportId  {
    max-height: 200px;
    overflow: auto;
    position: relative;
}

#parentOfReportId .mCSB_inside>.mCSB_container{
	margin-right:0;
}

.tabsParent .tab-content>.tab-pane .card-body table{
border: 1px solid rgba(0,0,0,.06);
    /*overflow: hidden;*/
}

.tabsParent .tab-content>.tab-pane .card-body table thead tr {
background:#f8f8f8;
}

.tabsParent .tab-content>.tab-pane .card-body .innerTableParent {
position: relative;
overflow: hidden;
overflow-x: auto;	
}

.tabsParent .tab-content>.tab-pane .card-body table tr th{
font-family: 'Cafeta';
font-size:20px;
line-height:24px;
letter-spacing:0.10px;
color:#000;
text-align:left;
text-transform:uppercase;
vertical-align: middle;
font-weight: 400;
}

.tabsParent .tab-content>.tab-pane .card-body table tr td{
vertical-align: middle;
    color: #000;
    font-size: 15px;
    line-height: 17px;
    
}

.tabsParent .tab-content>.tab-pane .card-body table tr td select,
.tabsParent .tab-content>.tab-pane .card-body table tr td input{
font-size:14px;
line-height:normal;
color:#8d8d8d;
font-family: 'HelveticaNeue-Medium';
border:0;
background: #ffffff;
}

.tabsParent .tab-content>.tab-pane .card-body table tr td textarea {
border: 0;
    outline: 0;
    outline-offset: 0;
    font-size: 14px;
    line-height: normal;
    color: #8d8d8d;
    font-family: 'HelveticaNeue-Medium';
    padding: 12px 0 0;
}

.tabsParent .tab-content>.tab-pane .card-body table tr td select{
padding-right: 25px;
background: url(../images/selectBoxArrow.png) center right no-repeat;
border: 0;
width: 140px;
}

.tabsParent .tab-content>.tab-pane .card-body table tr th[scope='row'] {
width: 100px;
    text-transform: uppercase!important;
}

.tabsParent .tab-content>.tab-pane .card-body .OperatingAssumptions table tr td {
 background:#fafafa;
}

.tabsParent .tab-content>.tab-pane .card-body table tr.categoryTitle th{
	background:#fff;
    text-transform: uppercase;
}
.tabsParent .tab-content>.tab-pane .card-body table tr.categoryTitle td,
.tabsParent .tab-content>.tab-pane .card-body table tr.categoryTitle td input{
	background-color:#fff;
}

.tabsParent .tab-content>.tab-pane .card-body table .queryBtn {
border:1px solid #cccccc;
background:#f9f9f9;
border-radius:0;
padding:5px 7px;
width:100px;
text-align:center;
cursor:pointer;
}

.tabsParent .tab-content>.tab-pane .card-body table .btnQuery {
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0;
    color: #1da1f2;
    font-family: 'HelveticaNeue-Medium';
    border: 0;
    background: #fff;
    border-radius: 0;
    padding: 1px 0px;
    width: 138px;
    text-align: center;
    cursor: pointer;
}
.tabsParent .tab-content>.tab-pane .card-body table .greenBtnQuery {
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0;
    color: #4caf50;
    font-family: 'HelveticaNeue-Medium';
    border: 0;
    background: #fff;
    border-radius: 0;
    padding: 1px 0px;
    width: 138px;
    text-align: center;
    cursor: pointer;
}

.tabsParent .tab-content>.tab-pane .card-body table .grayQueryBtn {
	color:#8d8d8d;
}
.tabsParent .tab-content>.tab-pane .card-body table .grayQueryBtn >img{
	    filter: -webkit-grayscale(100);
	    filter: -moz-grayscale(100);
	    	    filter: grayscale(100);
}
.tabsParent .tab-content>.tab-pane .card-body table .btnQuery>img {
	margin-right:4px;
}

.tabsParent .tab-content>.tab-pane .card-body table .greenBtnQuery>img {
	margin-right:4px;
}

.modal.show  {
  display:flex!important;
  flex-direction:column;
  justify-content:center;
  align-content:center;
  align-items: flex-start;
}

.tabsParent .bmd-form-group .bmd-label-static,
.tabsParent .bmd-label-static,
.locateProject,
.reportIdText ,
.tabsParent .custom-control-label{
font-family: 'HelveticaNeue-Medium';
font-size:15px;
line-height:normal;
letter-spacing:0;
color:#000;
top: 0.8rem;
z-index: 9;
}

#myAcModal .modal-title {
	display:inline-block;
}

#myAcModal .modal-body {
padding: 0 10px 20px;
}

#myAcModal .modal-footer {
    height: auto;
} 

#myAcModal .modal-footer #updateProfile{
    background-color: #ffc906!important;
    box-shadow: inset 0 -2px 0px 0 #ddad00;
    float: right;
    margin-left: 16px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 24px;
    color: #000!important;
    padding: 14px;
    min-width: 159px;
    border-radius: 3px;
    -moz-transition: 0.3s;
    transition: 0.3s;
}


#myAcModal .modal-footer #updateProfile >i{
margin-right: 8px;
}

#stickID {
position: absolute;
    right: 0;
    top: 23px;
    background: #ffca08;
     padding: 4px 15px;
}
#stickID:before {
content: '';
width: 0;
height: 0;
border-style: solid;
border-width: 0 25px 25px 0;
border-color: transparent #ffca08 transparent transparent;
top: 0;
left: -24px;
position: absolute;
}
#stickID:after {
content: '';
width: 0;
height: 0;
border-style: solid;
border-width: 0 0 25px 25px;
border-color: transparent transparent #ffca08 transparent;
bottom: 0;
left: -24px;
position: absolute;
}
#stickID >label{
font-size: 13px;
line-height: normal;
letter-spacing: 0;
color: rgba(0, 0, 0, 0.50);
font-family: 'HelveticaNeue-Medium';
text-transform: capitalize;
margin:0;
}
#stickID >.reportIdText{
font-size: 15px;
line-height: normal;
letter-spacing: 0;
color: #000;
font-family: 'HelveticaNeue-Medium';
text-transform: uppercase;
margin: 0 0 4px;
}

#locateProject {
    position: absolute;
    top: 38px;
    left: 0;
}

/* #pac-input {
    padding-left: 30px;
} */

.locateProject a,
.reportIdText,
.tabsParent .custom-control-label{
text-decoration:none;
color: #8d8d8d;
}

.tabsParent .custom-control-label {
    padding-left: 10px;
margin-right: 25px;
}

.custom-radio .custom-control-input:checked~.custom-control-label:after {
    background-image: url('../images/activeRadio.png');
    background-size:100%;
}

.custom-radio .custom-control-input:checked~.custom-control-label:after,
.custom-radio .custom-control-input:checked~.custom-control-label:before{
	box-shadow:none;
}

.tabsParent .custom-control-label:before {
    background-color: transparent;
    box-shadow: none;
}

.tabsParent .custom-control-label:after, 
.tabsParent .custom-control-label:before {
top: -3px;
    width: 25px;
    height: 25px;
    box-shadow:inset 0 0 0 2px #dadada;
    border-radius: 50%;
        background-color: #fff;
}

#profileDob {
    background: url(../images/dateIcon.png) center right no-repeat!important;
    border-bottom: 1px solid #bdbdbd;
}

.tabsParent .form-control{
font-family: 'HelveticaNeue-Medium';
font-size: 15px;
line-height: 1;
padding: 0.9em 0;
letter-spacing: 0;
color: #8d8d8d;
height: 42px!important;
position:relative;
width:100%;
}

.tabsParent select.form-control{
    background: url(../images/selectBoxArrow.png) center right no-repeat!important;
    border-bottom: 1px solid #bdbdbd!important;
}

#addMoreBtn,
#addProperty,
#addCompetitionProperties,
.addMoreBtn {
	background: #e2e1e1;
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    color: #000!important;
    padding: 12.5px;
    min-width: 100px;
    border-radius: 3px;
    -moz-transition: 0.3s;
    text-align: center;
    -moz-transition: 0.3s;
    transition: 0.3s;
    box-shadow: inset 0 -2px 0px 0 #cdcdcd!important;
    font-family: 'Cafeta';
    margin-bottom:20px;
}
.addMoreBtn{
	width:150px;
}
#addMoreBtn >i,
#addProperty >i,
#addCompetitionProperties >i,
.addMoreBtn >i{
margin-right:5px;
 transition-duration: 0.8s;
    transition-property: transform;
}

#addMoreBtn:hover >i,
#addProperty:hover >i,
#addCompetitionProperties:hover >i,
.addMoreBtn:hover >i{
	  transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

#pvr_project_delivered #project_deliverd,
#pvr_project_pipeline input,
#pvr_project_delivered .project_deliverd,
#pvr_project_pipeline input{
width:calc(100% - 35px);
}

.fieldParent {
    position: relative;
    margin-bottom: 10px;
}

.fieldParent >i ,
.subTitle_strip  >i{
color: #ff2d2d;
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 18px;
    cursor: pointer;
    transition-duration: 0.8s;
    transition-property: transform;
}
.subTitle_strip  >i{
    position: relative;
    right: inherit;
    display: inline-block;
    top: 0px;
    display: inline-block;
}
/* .fieldParent >i:hover,
.subTitle_strip >i:hover  {
  transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
} */

.tabsParent a.externalLink{
font-size: 15px;
    line-height: 24px;
    color: #1da1f2;
    letter-spacing: 0.10px;
    font-family: 'HelveticaNeue-Medium';
    text-decoration: underline!important;
}

.tabsParent .custom-file-control, 
.tabsParent .form-control, 
.tabsParent .is-focused .custom-file-control, 
.tabsParent .is-focused .form-control {
    background-image: linear-gradient(0deg,#ffc908 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

.forgotPassword a{
    font-size: 14px;
    color: #0e6c2e;
    font-weight: 500;
}

/************************* Choose File Style ************************/
.tabsParent .file-upload{
	    display: block;
    text-align: center;
    font-size: 12px;
    margin-top: 1rem;
     font-family: 'HelveticaNeue-Medium';
     position:relative;
}
.tabsParent .file-upload .file-select{
    display: block;
    border: 0 solid #f6f6f6;
    color: #34495e;
    cursor: pointer;
    height: 50px;
    line-height: 54px;
    text-align: left;
    background: #f6f6f6;
    overflow: hidden;
    position: relative;
	
}
.tabsParent .file-upload .file-select .file-select-button{
    background: #e2e1e1;
    display: inline-block;
    float: right;
    font-size: 20px;
    line-height: 24px;
    color: #000!important;
    padding: 12.5px;
    min-width: 159px;
    border-radius: 3px;
    -moz-transition: 0.3s;
    text-align: center;
    -moz-transition: 0.3s;
    transition: 0.3s;
    box-shadow: inset 0 -2px 0px 0 #cdcdcd!important;
    font-family: 'Cafeta';
    border-left: 3px solid #fff;
        /* display: none; */
}
.tabsParent .file-upload.active .file-select .file-select-button{ 
	display:inline-block;
}
.tabsParent .file-upload .file-select .file-select-button >img{
	margin-right:8px;
}
.tabsParent .file-upload .file-select .file-select-name{
	    display: inline-block;
    padding: 0 10px;
    font-size: 15px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.60);
         font-family: 'HelveticaNeue-Medium';
}
.tabsParent .file-upload.active .file-select{ 
	border-color:#3fa46a;
	transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-webkit-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	}
.tabsParent .file-upload.active .file-select .file-select-button{
/* 	background: #59c789;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out; */
}
.file_must_be {
    font-size: 15px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.60);
    font-family: 'HelveticaNeue-Medium';
    margin: 8px 0 0;
}
.tabsParent .file-upload .file-select input[type=file]{
	    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: calc(100% - 160px);
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}
.tabsParent .file-upload .file-select.file-select-disabled{opacity:0.65;}

.tabsParent .file-upload .clearFile {
    position: absolute;
    right: -25px;
    top: 14px;
    cursor:pointer;
    display:none;
}
.tabsParent .file-upload .clearFile.showClearFile {
    display: block;
}

.tabsParent .file-upload .clearFile >i {
    font-size: 22px;
    color: #de5b5b;
}

/************************* Choose File Style ************************/

.tabsParent .title_strip,
.title_strip {
background: #f2f2f2;
padding: 17px 15px 14px;
width: 100%;
margin: 20px auto;
}

.tabsParent .title_strip h5,
.title_strip h5{
font-family: 'Cafeta';
font-size:20px;
line-height:24px;
letter-spacing:0.10px;
color:#000;
text-transform:uppercase;
}

.subTitle_strip {
position: relative;
 width: 100%;
 padding: 14px 15px 11px;
 width: 100%;
 margin: 20px auto;
 background: #f7f7f7;
}

.subTitle_strip h5{
font-size: 20px;
line-height: normal;
letter-spacing: 0.10px;
color: #000;
font-family: 'Cafeta';
text-transform: uppercase;
display: inline-block;
margin-right: 30px;
}

.subTitle_strip >ul {
margin: 0;
padding: 0;
list-style: none;
text-align: right;
float: right;
}

.subTitle_strip >ul li{
display:inline-block;
margin-left:17px;
}

.subTitle_strip >ul li a{
font-size:15px;
font-family: 'HelveticaNeue-Medium';
color:#555;
line-height:normal;
margin:0;
}

.subTitle_strip >ul li a.deleteBtn{
color:red;
}

.subTitle_strip >ul li a >i{
margin-right:3px;
}

.heading_title_strip{
position: relative;
background: #fff;
padding: 17px 15px 14px;
width: 100%;
margin: 20px auto 0;
}

.heading_title_strip .plus_icon {
position: absolute;
top: 11px;
right: 2px;
}

.heading_title_strip button,
.heading_title_strip a {
    background-color: #ffc906!important;
    box-shadow: inset 0 -2px 0px 0 #ddad00;
    margin-left: auto;
    margin-bottom: 0;
    font-size: 22px;
    line-height: 24px;
    color: #000!important;
    padding: 8px;
    min-width: 126px;
    border-radius: 3px;
    -moz-transition: 0.3s;
    transition: 0.3s;
    border: 0;
    float: left;
    font-family: 'Cafeta';
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align:center;
}
}

.submit_btn button[type='submit'] {
background-color: #ffc906!important;
   box-shadow: inset 0 -2px 0px 0 #ddad00;
   margin-left: auto;
   margin-bottom: 0;
   font-size: 24px;
   line-height: 24px;
   color: #000!important;
   padding: 14px;
   min-width: 180px;
   border-radius: 3px;
   -moz-transition: 0.3s;
   transition: 0.3s;
   border: 0;
   float: left;
   font-family: 'Cafeta';
   text-transform: uppercase;
}


.heading_title_strip .plus_icon i{
color: #3a341f;
padding: 7px;
box-shadow: 0 0 0 1px;
}

.heading_title_strip h3{
font-family: 'Cafeta';
line-height:normal;
letter-spacing:0.10px;
color:#000;
text-transform:uppercase;
}

 .dtp > .dtp-content > .dtp-date-view > header.dtp-header {
    background: #353227;
}

.dtp div.dtp-date, .dtp div.dtp-time {
    background: #ffc908;
}

 .dtp table.dtp-picker-days tr > td > a.selected {
    background: #ffc908;
}

.tabsParent .date-field{
background:url('../images/dateIcon.png') center right no-repeat;	
border-bottom: 1px solid #bdbdbd;
}



.buttonGroup_nextCancelSave {
    font-family: 'Cafeta';
    background: #fff;
    position: relative;
    border-top: 20px solid #e4e4e4;
    margin-left: -20px;
    margin-right: -20px;
    padding-bottom:0!important;
    overflow:hidden;

}

.buttonGroup_nextCancelSave button[type='button'],
.buttonGroup_nextCancelSave button[type='button'] >a{
    margin-bottom: 0;
    font-size: 20px;
    line-height: 24px;
    background-color: #ffc906;
    color: #000!important;
    border:none;
    padding: 14px;
    min-width: 159px;
    box-shadow:none;
    border-radius:3px;
    -moz-transition:0.3s;
transition:0.3s;
}

.buttonGroup_nextCancelSave button.cancelBtn {
background-color: #e2e1e1!important;
  box-shadow: inset 0 -2px 0px 0 #cdcdcd;
  float:left;
}

.buttonGroup_nextCancelSave button.saveCloseBtn {
background-color:#4a4a4a!important;
color:#fff!important;
   box-shadow: inset 0 -2px 0px 0 #000;
   float:right;
}

.buttonGroup_nextCancelSave button.nextBtn {
background-color:#ffc906!important;
   box-shadow: inset 0 -2px 0px 0 #ddad00;
   float:right;
   margin-left:16px;
}

.buttonGroup_nextCancelSave button.cancelBtn:hover,
.buttonGroup_nextCancelSave button.saveCloseBtn:hover,
.buttonGroup_nextCancelSave button.nextBtn:hover {
opacity:0.8;
-moz-transition:0.3s;
transition:0.3s;
  box-shadow: inset 0 -2px 0px 0 #cdcdcd!important;
  color: black
}


.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.upload-btn-wrapper >button {
    font-family: 'Cafeta';
    font-size: 24px;
    line-height: 24px;
    color: #000;
    text-transform: uppercase;
    margin: 0;
    width: 100%;
    padding: 14px 15px;
    float: left;
    max-width: 260px;
}

.upload-btn-wrapper >button >img{
margin-right:10px;
display:none;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 260px;
    height: 52px;
}

.tabsParent .tab-content>.tab-pane .card-body .totalProjectCostText p{
font-family: 'Cafeta';
font-size:18px;
line-height:32px;
letter-spacing:0;
color:#000;
text-transform:uppercase;
}

.tabsParent .tab-content>.tab-pane .card-body .enterValueInput input{
font-size: 15px;
    line-height: normal;
    color: #8d8d8d;
    font-family: 'HelveticaNeue-Medium';
    border: 0;
    background: #fff;
    height: 32px;
}

.tabsParent .tab-content>.tab-pane .card-body .totalProjectCostText,
.tabsParent .tab-content>.tab-pane .card-body .enterValueInput{
    margin-top: 14px;
}

.tabsParent .tab-content>.tab-pane .card-body .totalProjectCostText,
.tabsParent .tab-content>.tab-pane .card-body .enterValueInput,
.tabsParent .tab-content>.tab-pane .card-body .uploadExcelInput {
font-size:0;
}

 
.tabsParent .tab-content>.tab-pane .card-body table tr td .normalsValSum,
.tabsParent .tab-content>.tab-pane .card-body table tr td .reclinerValSum,
.tabsParent .tab-content>.tab-pane .card-body table tr td .loungersValSum,
.tabsParent .tab-content>.tab-pane .card-body table tr td .totalColumnValSum{
	font-weight:bold;
	color:#000;
	width:78px;
	background:#fff;
	pointer-events:none;
}

.tabsParent table tr td >a,
.tabsParent table tr th >a{
    font-size: 14px;
	line-height:24px;
	color:#1da1f2;
	letter-spacing:0.10px;
	font-family: 'HelveticaNeue-Medium';
	text-decoration:underline!important;
}

#step-6 table tr td >a,
#step-6 table tr th >a,
#step7 table tr td >a,
#step7 table tr th >a{
    font-size: 14px;
	line-height:24px;
	color:#1da1f2;
	letter-spacing:0.10px;
	font-family: 'HelveticaNeue-Medium';
	text-decoration:underline!important;
	float: left!important;
	margin:6px 0;
}


.summarySheetTab input{
border-bottom:0;
background-image:none!important;
/* pointer-events:none; */
background:#fff!important;
}

#step-5 input{
	pointer-events:inherit!important;
	margin-left:6px;
}

.summarySheetTab input.form-control:focus{
background-image:none;	
}

.summarySheetTab table tr td.firstColumn {
    width: 84px!important;
}

/****************** Data Source Upload Page Style ********************/
.dataSourceUploadParent {
position:relative;
}

.dataSourceUploadParent select{
font-family: 'HelveticaNeue-Medium';
line-height: normal;
letter-spacing: 0;
color: #3e3b3b;
height: 50px!important;
padding: 0 51px 0 15px;
position: relative;
background: #fff url(../images/selectBoxArrow.png) center right no-repeat;
background-position: 90% 50%;
text-transform: capitalize;
font-size: 17px;
width: 100%;
max-width: 100%;
}

.dataSourceUploadParent .upload-btn-wrapper >button{
    background-color: #4a4a4a!important;
    color: #fff!important;
    box-shadow: inset 0 -2px 0px 0 #000;
    margin-left: auto;
    font-size: 24px;
    line-height: 24px;
    color: #fff!important;
    padding: 14px;
    max-width: 300px;
    border-radius: 3px;
    -moz-transition: 0.3s;
    transition: 0.3s;
    border: 0;
    float: left;
    font-family: 'Cafeta';
    text-transform: uppercase;
    width: 100%;
    margin: 0 30px 15px 0;
    height: 52px;
}

.dataSourceUploadParent .upload-btn-wrapper button >img {
margin-right: 15px;
}

.dataSourceUploadParent input[type='submit']{
background-color: #ffc906!important;
box-shadow: inset 0 -2px 0px 0 #ddad00;
margin-left: auto;
margin-bottom: 0;
font-size: 24px;
line-height: 24px;
color: #000!important;
padding: 14px;
min-width: 180px;
border-radius: 3px;
-moz-transition: 0.3s;
transition: 0.3s;
border: 0;
float: left;
font-family: 'Cafeta';
text-transform: uppercase;	
margin-bottom:15px;
}

.dataSourceUploadParent input[disabled]{
opacity:0.5;
}

.dataSourceUploadParent .title_strip h5 {
font-size: 24px;
}

/* #uploadFile {
opacity:0.5;
pointer-events:none;
} */

.dataSourceUploadParent .upload-btn-wrapper input[type=file] {
 font-size: inherit; 
height: 52px;
}

#uploadFile {  cursor:pointer; } 

#dasboardTabsParent {
max-width:1110px;
width:100%;
margin:0 auto;
box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05);
}

#dasboardTabsParent .custom-file-control:invalid, #dasboardTabsParent .form-control:invalid ,
#dasboardTabsParent .custom-file-control, 
#dasboardTabsParent .form-control, #dasboardTabsParent .is-focused .custom-file-control, #dasboardTabsParent .is-focused .form-control{
background-image: linear-gradient(0deg,#ffc906 2px,rgba(213,0,0,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

#dasboardTabsParent .tab-content>.tab-pane .card-body .OperatingAssumptions table tr td ,
#dasboardTabsParent .tab-content>.tab-pane .card-body .OperatingAssumptions table tr ,
#dasboardTabsParent table tr ,
#dasboardTabsParent table tr td{
background:#fff;
font-size:15px;
line-height:normal;
letter-spacing:0;
color:#8b8b8b;
vertical-align: middle;
}

#dasboardTabsParent .tab-content>.tab-pane .card-body .OperatingAssumptions table tr td.no_data{
background: #fff;
    border-left: 0px solid #da0707;
    font-size: 17px;
     color: #6b6b6b;
    padding: 25px 15px;
}
#dasboardTabsParent .tab-content>.tab-pane .card-body .OperatingAssumptions table tr td.no_data i {
     color: #6b6b6b;
    font-size: 26px;
    margin-right: 10px;
    float: left;
}
.fixed-layout {
	    table-layout: fixed;
}
#dasboardTabsParent .tab-content>.tab-pane .card-body .OperatingAssumptions table tr td.no_data >p {
    display: inline-block;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

#dasboardTabsParent .tab-content>.tab-pane .card-body .OperatingAssumptions table tr td button{
	margin-left:8px;
}

#dasboardTabsParent .tab-content>.tab-pane .card-body .OperatingAssumptions table tr:first-of-type{
	border-top:hidden;
}

#dasboardTabsParent table tr th {
font-family: 'Cafeta';
font-size: 20px;
line-height: 24px;
letter-spacing: 0.10px;
color: #000;
text-align: left;
text-transform: uppercase;
vertical-align: middle;
font-weight: 400;
}

#dasboardTabsParent .tab-content>.tab-pane .card-body .OperatingAssumptions table tr td a,
#dasboardTabsParent table tr a ,
#dasboardTabsParent table tr td a {
    color: #17d0da;
    text-decoration: underline!important;
    background:transparent;
    font-family: 'HelveticaNeue-Medium';
}
#dasboardTabsParent .tab-content>.tab-pane .card-body .OperatingAssumptions table tr td a:focus,
#dasboardTabsParent table tr a:focus ,
#dasboardTabsParent table tr td a:focus {
	color: #17d0da;
	background:transparent;
}

#dasboardTabsParent .tab-content>.tab-pane .card-body table .queryBtn,
#dasboardTabsParent table .queryBtn ,
#dasboardTabsParent table .queryBtn{
     width: 105px;
    padding: 8px 3px;
    border: 1px solid #cccccc;
    background: #f9f9f9;
    border-radius: 0;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    min-height: 39px;
}

#dasboardTabsParent .tab-content>.tab-pane .card-body table .queryBtn >img,
#dasboardTabsParent table .queryBtn img{
margin-right:8px;
}

#dasboardTabsParent table tr td.first_column, 
#dasboardTabsParent table tr th.first_column{
	/* width:150px; */
width: 70px;
}

#dasboardTabsParent table tr td.last_column, 
#dasboardTabsParent table tr th.last_column{
   /*  width: 130px; */
   width: 330px;
}

#dasboardTabsParent table tr td.second_column, 
#dasboardTabsParent table tr th.second_column {
   /*  width: 306px; */
       /* width: 250px; */
       width: 140px;
}

#dasboardTabsParent table tr td.last_column{
	    width: 260px;
}

#dasboardTabsParent table tr td.last_column button{
margin-left:8px;
}

.feasibilityReports {
box-shadow:none!important;
}

.feasibilityReports table{
background:#fff;
box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05);
}

.feasibilityReports .dataTable thead th, 
.feasibilityReports .dataTable thead td ,
.feasibilityReports .dataTable.no-footer{
    border-bottom: 1px solid #b8b8b8;
}

.dataTables_filter label,
.dataTables_length label {
font-size: 16px;
color: #000;
text-transform: uppercase;
font-weight: 700;
}

.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate{
font-size: 16px;
color: #000;
text-transform: capitalize;
font-weight: 700;	
}

.dataTables_filter input {
border: 1px solid #c1c1c1;
box-shadow: none;
height: 35px;
padding: 0 10px;
}

.dataTables_length select{
border: 1px solid #c1c1c1;
box-shadow: none;
height: 35px;
background: #fff url(../images/selectBoxArrow.png) 88% 50% no-repeat;
background-size: 16px!important;
width: 100px;
padding: 0 35px 0 10px;
}

table.dataTable thead .sorting {
background-image: url(../images/sort_both.png)!important;
}
 
.filterStrip {
position: relative;
background: #fff;
height: 58px;
box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05);
padding: 0 15px;
}

.filterStrip .searchField {
font-family: 'HelveticaNeue-Medium';
font-size:15px;
line-height:32px;
color:#8b8b8b;
letter-spacing:0;
height:58px;
padding:0 15px;
border:0;
width:100%;
}

.filterStrip .form-control {
font-family: 'HelveticaNeue-Medium';
font-size: 15px;
line-height: normal;
letter-spacing: 0;
color: #8d8d8d;
height: 58px!important;
padding: 0;
position: relative;
background: #fff url(../images/selectBoxArrow.png) center right no-repeat;
background-size: 16px!important;
}

.filterStrip .date-field {
background: url(../images/dateIcon.png) center right no-repeat;
border-bottom: 0 solid #bdbdbd;
background-size: 22px!important;
}

.filterStrip .col {
border-right:1px solid #e0e0e0;
} 


.form-control.is_blank {
    border-color: red!important;
    background-image: linear-gradient(0deg,#ff0000 1px,rgb(255, 255, 255) 0),linear-gradient(0deg,rgb(255, 0, 0) 1px,transparent 0)!important;
}

#starting_year_mg,
#mg_type,
#rentINR,
#frequencyEscalationYear,
#percentageEscalationRent,
#boxOfficePercentage,
#f_bPercentage,
#fixed_table,

#f_b_kiosk,
#sale_percentage,
#other_revenue_percentage,
#other_revenue_percentage {
	display:none;
}

#cam_rateINR,
#frequency_escalation_years,
#percentage_escalation_CAM,
#FixedYears,
#FixedRent,
#mg_revenue_share_table,
#ohter1_table {
	display:none;
}

#paymentTerms,
#mg_type_select,
#cam_payment_terms{
background: url(../images/selectBoxArrow.png) center right no-repeat;
}

.table_parent .table-responsive{
min-height: 340px;
}

#camTerms_fixed_table {
display:none;
}


/********************* ChatBox Style here *********************/
.modal-dialog {
max-width: 620px;
width: 100%;
}

.modal-content {
    border-radius: 10px;
}

.modal-header{
position: relative;
    background: #ffcf08;
    padding: 15px 25px 15px!important;
    border-radius: 10px 10px 0 0;
    display: inline-block;
    width: 100%;
    z-index:9;
}

.modal-header >p{
	display:inline-block;
}

.modal-footer {
    padding: 15px 25px!important;
    height: 175px;
}

.modal-footer .type_msg {
    border: 2px solid #ffcf08;
    border-radius: 15px!important;
    padding: 10px 15px;
    background-image: none;
    font-family: 'HelveticaNeue-Medium';
font-size: 15px;
line-height: normal;
letter-spacing: 0;
color: #8d8d8d;
}

.modal-footer .send_btn {
	 font-family: 'HelveticaNeue-Medium';
font-size: 12px;
line-height: normal;
letter-spacing: 0;
color: #8d8d8d;
    text-align: center;
    position: absolute;
    right: 15px;
    top: 0;
    display:block!important;
}

.modal-footer .send_btn i,
.modal-footer .send_btn img{
text-align:center;
margin:0 auto 5px;
font-size:20px;
}

.modal-header p{
font-family: 'HelveticaNeue-Medium';
font-size:15px;
color:#000;
letter-spacing:0;
}

.property_repater_parent,
.competition_properties {
position:relative;
}

.chat{
margin-top: auto;
margin-bottom: auto;
}
.chat .card {
    height: 220px;
    border-radius: 0 !important;
    background-color: rgba(255, 255, 255, 0.4) !important;
    box-shadow: none;
        margin-top: 15px;
}
	.chat .contacts_body{
		padding:  0.75rem 0 !important;
		overflow-y: auto;
		white-space: nowrap;
	}
	.chat .msg_card_body{
    overflow-y: auto;
  padding: 0 1.25rem;
	}
	.chat .card-header{
		border-radius: 15px 15px 0 0 !important;
		border-bottom: 0 !important;
	}
 .chat .card-footer{
	border-radius: 0 0 15px 15px !important;
		border-top: 0 !important;
}
.modal-header .close {
    opacity: 1;
    text-shadow:none;
}
	.chat .container{
		align-content: center;
	}
	.chat .search{
		border-radius: 15px 0 0 15px !important;
		background-color: rgba(0,0,0,0.3) !important;
		border:0 !important;
		color:white !important;
	}
	.chat .search:focus{
	     box-shadow:none !important;
          outline:0px !important;
	}
	.chat .type_msg{
		background-color: rgba(0,0,0,0.3) !important;
		border:0 !important;
		color:white !important;
		height: 60px !important;
		overflow-y: auto;
	}
		.chat .type_msg:focus{
	     box-shadow:none !important;
          outline:0px !important;
	}
	.chat .attach_btn{
border-radius: 15px 0 0 15px !important;
background-color: rgba(0,0,0,0.3) !important;
		border:0 !important;
		color: white !important;
		cursor: pointer;
	}
	.chat .send_btn{
border-radius: 0 15px 15px 0 !important;
background-color: rgba(0,0,0,0.3) !important;
		border:0 !important;
		color: white !important;
		cursor: pointer;
	}
	.chat .search_btn{
		border-radius: 0 15px 15px 0 !important;
		background-color: rgba(0,0,0,0.3) !important;
		border:0 !important;
		color: white !important;
		cursor: pointer;
	}
	.chat .contacts{
		list-style: none;
		padding: 0;
	}
	.chat .contacts li{
		width: 100% !important;
		padding: 5px 10px;
		margin-bottom: 15px !important;
	}
.chat .active{
		background-color: rgba(0,0,0,0.3);
}
	.chat .user_img{
		height: 70px;
		width: 70px;
		border:1.5px solid #f5f6fa;
	
	}
	.chat .user_img_msg{
		height: 40px;
		width: 40px;
		border:1.5px solid #f5f6fa;
	
	}
.chat .img_cont{
		position: relative;
		height: 70px;
		width: 70px;
}
.chat .img_cont_msg{
		height: 40px;
		width: 40px;
}
.chat .online_icon{
	position: absolute;
	height: 15px;
	width:15px;
	background-color: #4cd137;
	border-radius: 50%;
	bottom: 0.2em;
	right: 0.4em;
	border:1.5px solid white;
}
.chat .offline{
	background-color: #c23616 !important;
}
.chat.user_info{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}
.chat .user_info span{
	font-size: 20px;
	color: white;
}
.chat .user_info p{
font-size: 10px;
color: rgba(255,255,255,0.6);
}
.chat .video_cam{
	margin-left: 50px;
	margin-top: 5px;
}
.chat .video_cam span{
	color: white;
	font-size: 20px;
	cursor: pointer;
	margin-right: 20px;
}
.chat .msg_cotainer{
	font-family: 'HelveticaNeue-Medium';
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #eeeeee;
    padding: 15px;
    position: relative;
    border: 1px solid #cbcbcb;
    color: #000;
    font-size: 15px;
}
.chat .msg_cotainer_send{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #fff;
    padding: 15px;
    position: relative;
    border: 1px solid #cbcbcb;
      padding: 15px;
    position: relative;
    border: 1px solid #cbcbcb;
    color: #000;
    font-size: 15px;
}
.chat .msg_time{
	position: absolute;
	left: 0;
	bottom: -15px;
	color: rgba(255,255,255,0.5);
	font-size: 10px;
}
.chat .msg_time_send{
	position: absolute;
	right:0;
	bottom: -15px;
	color: rgba(255,255,255,0.5);
	font-size: 10px;
}
.chat .msg_head{
	position: relative;
}
.chat #action_menu_btn{
	position: absolute;
	right: 10px;
	top: 10px;
	color: white;
	cursor: pointer;
	font-size: 20px;
}
.chat .action_menu{
	z-index: 1;
	position: absolute;
	padding: 15px 0;
	background-color: rgba(0,0,0,0.5);
	color: white;
	border-radius: 15px;
	top: 30px;
	right: 15px;
	display: none;
}
.chat .action_menu ul{
	list-style: none;
	padding: 0;
margin: 0;
}
.chat .action_menu ul li{
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 5px;
}
.chat .action_menu ul li i{
	padding-right: 10px;

}
.chat .action_menu ul li:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.2);
}
.chat .img_cont_msg p {
font-family: 'HelveticaNeue-Medium';
    text-align: center;
    font-size: 12px;
    color: #8b8b8b;
    width: 68px;
    margin: 0 0 0 -13px;
}
.modal-dialog .mCSB_scrollTools .mCSB_draggerRail {
    width: 4px;
    background-color: #e7e7e7
}
.modal-dialog .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.modal-dialog .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	    background-color: #ffcf08;
}

.blueQueryBtn {
    color: #1da1f2 !important;
    border-color: #1da1f2 !important;

}

.greenQueryBtn {
    color: #4caf50 !important;
    border-color: #4caf50 !important;

}

#viewOtherComments {
	    padding: 15px 24px 0;
    display: inline-block;
}


.mainContainer .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, 
.mainContainer .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, 
.mainContainer .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
	font-size: 16px!important;
    color: #000!important;
    text-transform: capitalize!important;
    font-weight: 700!important;
}

.dtp {
	z-index:999;
}

.dataTables_wrapper .dataTables_paginate span >.paginate_button.current, 
.dataTables_wrapper .dataTables_paginate span >.paginate_button.current:hover{
    font-size: 14px!important;
    padding: 6px 13px!important;
    border: 0!important;
    background: linear-gradient(to bottom, #ffcf08 0%, #ffcb08 100%)!important;
    color: #000!important;
    text-align: center!important;
    box-shadow:none!important;
}

.dataTables_wrapper .dataTables_paginate span >.paginate_button,
.dataTables_wrapper .dataTables_paginate span >.paginate_button:hover{
    font-size: 14px!important;
    padding: 6px 13px!important;
    border: 1px solid #ccc!important;
    background: #fff!important;
    color: #000!important;
    text-align: center!important;
}

.dataTables_wrapper .dataTables_paginate span >.paginate_button.current:hover{
	background: linear-gradient(to bottom, #ffcf08 0%, #ffcb08 100%)!important;
	border: 0!important;
}

.adminValueTable tr th:first-of-type,
.adminValueTable tr td:first-of-type,
.adminValueTable tr th:last-of-type,
.adminValueTable tr td:last-of-type{
	text-align:left!important;
}




/***************************** Multiple Input Value Style ******************************/
.tag-ctn{
    position: relative;
    height: 28px;
    padding: 0;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    cursor: default;
    display: block;
}
.tag-ctn-invalid{
    border: 1px solid #CC0000;
}
.tag-ctn-readonly{
    cursor: pointer;
}
.tag-ctn-disabled{
    cursor: not-allowed;
    background-color: #eeeeee;
}
.tag-ctn-bootstrap-focus,
.tag-ctn-bootstrap-focus .tag-res-ctn{
    border-color: rgba(82, 168, 236, 0.8) !important;
    /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.tag-ctn input{
    border: 0;
    box-shadow: none;
    -webkit-transition: none;
    outline: none;
    display: block;
    padding: 4px 6px;
    line-height: normal;
    overflow: hidden;
    height: auto;
    border-radius: 0;
    float: left;
    margin: 2px 0 2px 2px;
}
.tag-ctn-disabled input{
    cursor: not-allowed;
    background-color: #eeeeee;
}
.tag-ctn .tag-input-readonly{
    cursor: pointer;
}
.tag-ctn .tag-empty-text{
    color: #DDD;
}
.tag-ctn input:focus{
    border: 0;
    box-shadow: none;
    -webkit-transition: none;
    background: #FFF;
}
.tag-ctn .tag-trigger{
    float: right;
    width: 27px;
    height:100%;
    position:absolute;
    right:0;
    border-left: 1px solid #CCC;
    background: #EEE;
    cursor: pointer;
}
.tag-ctn .tag-trigger .tag-trigger-ico {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid gray;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    margin-left: 9px;
    margin-top: 13px;
}
.tag-ctn .tag-trigger:hover{
    background: -moz-linear-gradient(100% 100% 90deg, #e3e3e3, #f1f1f1);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1f1f1), to(#e3e3e3));
}
.tag-ctn .tag-trigger:hover .tag-trigger-ico{
    background-position: 0 -4px;
}
.tag-ctn-disabled .tag-trigger{
    cursor: not-allowed;
    background-color: #eeeeee;
}
.tag-ctn-bootstrap-focus{
    border-bottom: 1px solid #CCC;
}
.tag-res-ctn{
    position: relative;
    background: #FFF;
    overflow-y: auto;
    z-index: 9999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #CCC;
    left: -1px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.tag-res-ctn .tag-res-group{
    line-height: 23px;
    text-align: left;
    padding: 2px 5px;
    font-weight: bold;
    border-bottom: 1px dotted #CCC;
    border-top: 1px solid #CCC;
    background: #f3edff;
    color: #333;
}
.tag-res-ctn .tag-res-item{
    line-height: 25px;
    text-align: left;
    padding: 2px 5px;
    color: #666;
    cursor: pointer;
}
.tag-res-ctn .tag-res-item-grouped{
    padding-left: 15px;
}
.tag-res-ctn .tag-res-odd{
    background: #F3F3F3;
}
.tag-res-ctn .tag-res-item-active{
    background-color: #3875D7;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3875D7', endColorstr='#2A62BC', GradientType=0 );
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #3875D7), color-stop(90%, #2A62BC));
    background-image: -webkit-linear-gradient(top, #3875D7 20%, #2A62BC 90%);
    background-image: -moz-linear-gradient(top, #3875D7 20%, #2A62BC 90%);
    background-image: -o-linear-gradient(top, #3875D7 20%, #2A62BC 90%);
    background-image: linear-gradient(#3875D7 20%, #2A62BC 90%);
    color: #fff;
}
.tag-sel-ctn{
    overflow: auto;
    line-height: 22px;
    padding-right:27px;
}
.tag-sel-ctn .tag-sel-item{
    background: #555;
    color: #EEE;
    float: left;
    font-size: 12px;
    padding: 0 5px;
    border-radius: 3px;
    margin-left: 5px;
    margin-top: 4px;
}
.tag-sel-ctn .tag-sel-text{
    background: #FFF;
    color: #666;
    padding-right: 0;
    margin-left: 0;
    font-size: 14px;
    font-weight: normal;
}
.tag-res-ctn .tag-res-item em{
    font-style: normal;
    background: #565656;
    color: #FFF;
}
.tag-sel-ctn .tag-sel-item:hover{
    background: #565656;
}
.tag-sel-ctn .tag-sel-text:hover{
    background: #FFF;
}
.tag-sel-ctn .tag-sel-item-active{
    border: 1px solid red;
    background: #757575;
}
.tag-ctn .tag-sel-ctn .tag-sel-item{
    margin-top: 3px;
}
.tag-stacked .tag-sel-item{
    float: inherit;
}
.tag-sel-ctn .tag-sel-item .tag-close-btn{
    width: 7px;
    cursor: pointer;
    height: 7px;
    float: right;
    margin: 8px 2px 0 10px;
    background-image: url('images/input-cross-img.png') no-repeat;

}
.tag-sel-ctn .tag-sel-item .tag-close-btn:hover{
    background-position: 0 -7px;
}
.tag-helper{
    color: #AAA;
    font-size: 10px;
    position: absolute;
    top: -17px;
    right: 0;
}

.fixed-layout {
    table-layout: fixed;
}

.adminValueParent table thead tr th {
    background: #f5f5f5;
    color: #000;
font-size: 16px;
    font-weight: 700;
}

.adminValueParent ul{
	margin:0;
	padding-left:20px;
}

.tableFormating_paddingHalf tr th,
.tableFormating_paddingHalf tr td {
padding: 5px 15px!important;
color:#000;
}

.tableFormating_paddingHalf tr td >span{
    display: inline-block;
    margin: 8px 0 0;
}

/************************************************* Admin Value New Design ******************************************************/
.adminValue_areaParent,
.adminCategoryParent {
	width:100%;
	position:relative;
	display:inline-block;
}
.adminCategory_list,
.cinemaCategory_list {
    position: relative;
    width: 100%;
    padding: 13px 15px;
    border-bottom: 1px solid #ccc;
}
.cinemaCategory_list .content{
	display:inline-block;
	margin: 8px 0;
}
.adminCategory_list label,
.cinemaCategory_list label {
    color: #000;
    font-weight: 600;
    margin: 8px 0;
    line-height: normal;
    display: inline-block;
    text-transform:capitalize;
}
.cinemaCategory_list .plus_icon {
    position: absolute;
    top: 6px;
    right: 16px;
}
.cinemaCategory_list .plus_icon i {
    color: #3a341f;
    padding: 7px;
    box-shadow: 0 0 0 1px;
}
.multiSelectBox .bootstrap-select >button {
    background: #fff!important;
    border: 1px solid #ccc!important;
    max-width: 100%;
    margin:0;
}
.multiSelectBox .bootstrap-select >button:hover{
	background:#fff;
	opacity:1;
}
.multiSelectBox .bootstrap-select >button:focus,
.multiSelectBox .bootstrap-select >button:active{
	outline: 0!important;
    outline-offset: 0;
    box-shadow: none;
    background:#fff!important;
}
.multiSelectBox .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
    max-width: 100%;
}
.multiSelectBox .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    color: #928f8f;
    text-transform: capitalize;
}
.multiSelectBox .dropdown-toggle:after {
    vertical-align: .255em;
    border-top: 0.5em solid;
    border-right: 0.5em solid transparent;
    border-left: 0.5em solid transparent;
    color: #000;
    vertical-align: 0.055em
        border-bottom: 0 solid;
}
.multiSelectBox .bs-searchbox {
	display:none;
}
.multiSelectBox .bootstrap-select .dropdown-menu li a {
    width: 100%!important;
    max-width: 100%;
    padding: 0.7rem 1rem;
    min-height: auto;
}
.multiSelectBox .bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
    right: 17px;
    top: 10px;
}
.multiSelectBox .bmd-form-group{
	padding-right:0px;
}
.deleditBtn_btn {
    text-align: right;
    position: relative;
}
.deleteBtn_btn ,
.editBtn_btn {
	background-color: #ffc906!important;
    box-shadow: inset 0 -2px 0px 0 #ddad00;
    font-size: 20px;
    line-height: 24px;
    color: #000!important;
    padding: 8px 15px;
    min-width: 130px;
    border-radius: 3px;
    -moz-transition: 0.3s;
    transition: 0.3s;
    border: 0;
    font-family: 'Cafeta';
    text-transform: uppercase;
    display: inline-block;
    margin: auto;
    text-align: center;
}
.deleteBtn_btn {
    background-color: #909090!important;
    box-shadow: inset 0 -2px 0px 0 #5a5959;
    color: #fff!important;
    margin-left: 10px;
}
.delEditBtn_btn {
    text-align: right;
}

.admitStructure {
	position:relative;
	display:inline-block;
	width:100%;
}

.admitStructure ul{
	margin:0;
	padding:0;
	list-style:none;
}

.admitStructure ul li{
vertical-align: top;
    display: inline-block;
    width: 100%;
    position: relative;
}

.admitStructure ul li >table{
width:100%;
}

.admitStructure ul li >table tr td{
vertical-align: middle;
    position: relative;
    padding: 0 15px;
}

.admitStructure ul li >table tr td #crossIcon{
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    text-align: center;
    height: 100%;
    vertical-align: middle;
    background: #eee;
}

.admitStructure ul li >table tr td #crossIcon a,
.admitStructure ul li >table tr td #crossIcon a i{
    text-decoration: none;
    color: #ea4242;
    font-size: 20px;
}

.admitStructure ul li>div{
	width:50%;
	float:left;
	padding:10px 15px;
}

.admitStructure ul li>div:first-of-type{
	border-right:1px solid #ccc;
}

.admitStructure .addMoreRow {
    background-color: #ffc906!important;
    box-shadow: inset 0 -2px 0px 0 #ddad00;
    font-size: 20px;
    line-height: 24px;
    color: #000!important;
    padding: 8px 15px;
    min-width: 130px;
    border-radius: 3px;
    -moz-transition: 0.3s;
    transition: 0.3s;
    border: 0;
    font-family: 'Cafeta';
    text-transform: uppercase;
    display: inline-block;
    margin: auto;
    text-align: center;
    cursor:pointer;
    float:right;
}

.admitStructure ul li.repeaterRow .valueInput {
	float: left;
    width: calc(100% - 70px);
}

.admitStructure ul li select {
	    color: #212529!important;
    text-transform: capitalize;
    background-image: none!important;
    border-bottom: 0!important;
}

.admitStructure ul li input{
	background-image:none!important;
}

.admitStructure .subTitle_strip h5{
    font-size: 22px;
    text-transform: capitalize
}

.tab-pane {
	position:relative;
}

.averageVPF_listTable .repeatTr > .applicableYears{
	position:relative;
}

.averageVPF_listTable .repeatTr > td{
	padding:2px 15px;
}

.averageVPF_listTable .repeatTr > .applicableYears >input{
	    width: calc(100% - 40px)
}

.averageVPF_listTable .repeatTr > .applicableYears #crossIcon{
    position: absolute;
    right: 0;
    top: 0;
padding: 13px 15px;
    text-align: center;
    height: 100%;
    vertical-align: middle;
    background: #eee;
}

.averageVPF_listTable .repeatTr > .applicableYears #crossIcon i{
    text-decoration: none;
    color: #ea4242;
    font-size: 20px;
    }
    
select.form-control {
    background: url(../images/selectBoxArrow.png) center right no-repeat!important;
}

.yearTableParent {
    position: relative;
    width: 100%;
    overflow: auto;
}

.yearTableParent >table {
    table-layout: auto!important;
}

.commentArea {
    max-height: 65px;
    overflow: auto;
    height: 100%;
    position: relative;
    display: inline-block;
    white-space: pre-line;
    word-break: break-all;
}

#sendForOperation,
#sendForProject {
font-size: 15px;
font-weight: 600;
float: right;
padding: 10px 15px;
height: auto!important;
box-shadow: none;
}

#viewDetailModal1{
font-size: 15px;
font-weight: 600;
float: left;
padding: 10px 15px;
height: auto!important;
box-shadow: none;
}

#cardBodyID {
padding-top: 80px;
}

.tableFormating tr th {
text-align:left!important;

}

.tableFormating tr th ,
.tableFormating tr td{
    font-size: 16px!important;
    padding-left:10px;
    padding-right:10px;
    font-weight:600;
    margin-top:50px;
    font-family:Helvetica
   
}

.tableFormating tr td >input{
    border: 1px solid #eee;
    width: 50px;
    padding: 0 5px;
    margin-left:20px;
}










#revenueAssumtionGrowthTable tbody tr td span .growth {
	font-weight:100
}

.tableFormatingBtn  {
    background-color: #ffc906!important;
    box-shadow: inset 0 -2px 0px 0 #ddad00;
    margin-left: auto;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 24px;
    color: #000!important;
    padding: 14px;
    min-width: 180px;
    border-radius: 3px;
    -moz-transition: 0.3s;
    transition: 0.3s;
    border: 0;
    float: left;
    font-family: 'Cafeta';
    text-transform: uppercase;
    margin-bottom: 15px;
}

.tableFormating_columns tr td >input {
    border: 0!important;
    width: 100%;
    background: red;
    padding: 0 11px;
}

.tableFormating_columns tr td,
.tableFormating_columns tr th {
    padding: 8px 0.75rem;
    color: #000;
}

.tableFormating_assumptionState .tableFormatingBtn {
    font-size: 20px;
    padding: 10px;
    min-width: 135px;
}

.tableFormating_assumptionState .addBtnColor {
	background: #bdc1bd!important;
}

.tableFormating_assumptionState .custom-file-control:invalid, 
.tableFormating_assumptionState .form-control:invalid {
    background-image: linear-gradient(0deg,#ffc906 2px,rgba(213,0,0,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

.taxAssumptionFormating input {
width:100%!important;
}

.cogsFormating input {
padding:0 15px!important;
}






@media(max-width: 576px){
.chat .contacts_card{
	margin-bottom: 15px !important;
}
}

#lastTempMsgDiv {
position:relative;
height:1px;
visibility:hidden;
}

.anchorStyle{
    font-size: 14px;
    line-height: 24px;
    color: #1da1f2;
    letter-spacing: 0.10px;
    font-family: 'HelveticaNeue-Medium';
    text-decoration: underline!important;
    }
.anchorStyle:hover{
	color: #1da1f2;
}
/* #viewDetailModal  */.modal-content {
    height: 500px;
    overflow: auto;
}

.page_not_found {
    position: relative;
    height: 100vh;
    width: 100%;
}

.page_not_found h2 {
    font-size: 36px;
    text-transform: uppercase;
    color: #000;
    font-family: 'Cafeta';
}

.page_not_found p {
    font-family: 'HelveticaNeue-Medium';
    text-decoration: none;
    color: #989898;
    padding: 5px 7px 10px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.page_not_found a {
    background-color: #ffc906!important;
    box-shadow: inset 0 -2px 0px 0 #ddad00;
    font-size: 24px;
    line-height: 24px;
    color: #000!important;
    padding: 14px;
    min-width: 180px;
    border-radius: 3px;
    -moz-transition: 0.3s;
    transition: 0.3s;
    border: 0;
    font-family: 'Cafeta';
    text-transform: uppercase;
    display:inline-block;
    margin: 10px auto;
}


/**************** Modal PDF style ******************/
.pdf_mdoal_table_style {}
.pdf_mdoal_table_style table {
    display: table;
    border-spacing: 2px;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.06);
    font-family: HelveticaNeue-Medium;
}
.pdf_mdoal_table_style .table-bordered, .pdf_mdoal_table_style .table-bordered td, .pdf_mdoal_table_style .table-bordered th {
    border: 2px solid #ccc;
}
.pdf_mdoal_table_style .fixed-layout {
    table-layout: fixed;
}
.pdf_mdoal_table_style tbody,.pdf_mdoal_table_style thead {
    vertical-align: middle;
    border-color: inherit;
}
.pdf_mdoal_table_style tbody, .pdf_mdoal_table_style thead, .pdf_mdoal_table_style tr {
    border-color: inherit;
}
.pdf_mdoal_table_style thead {
    display: table-header-group;
}
.pdf_mdoal_table_style td, .pdf_mdoal_table_style th, .pdf_mdoal_table_style tr {
    vertical-align: inherit;
}
.pdf_mdoal_table_style tr {
    display: table-row;
}
.pdf_mdoal_table_style td, .pdf_mdoal_table_style th {
    display: table-cell;
}
.pdf_mdoal_table_style .text-center {
    text-align: center!important;
}
.pdf_mdoal_table_style .text-middle {
    vertical-align: middle!important;
    text-align: center!important;
}
.pdf_mdoal_table_style .table td, .pdf_mdoal_table_style .table th {
    text-align: center;
    font-size: 15px;
    padding: 10px;
    vertical-align: top;
    border-top: 1px solid rgba(0,0,0,.06);
}
.pdf_mdoal_table_style .table-bordered, .pdf_mdoal_table_style .table-bordered td, .pdf_mdoal_table_style .table-bordered th {
    border: 2px solid #ccc;
}
.pdf_mdoal_table_style .table thead th, .pdf_mdoal_table_style .table tr th {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    background: #ffc906;
    border: 2px solid #000;
}
.pdf_mdoal_table_style .table td:first-of-type, .pdf_mdoal_table_style .table th:first-of-type {
    text-align: left;
        width: 450px;
}
.pdf_mdoal_table_style .p-m-0 {
    margin: 0;
    padding: 0!important;
}
.pdf_mdoal_table_style .border-hide {
    border: hidden;
}
.pdf_mdoal_table_style tbody {
    display: table-row-group;
}
.pdf_mdoal_table_style .transparent tr td {
    background: 0 0!important;
}
.pdf_mdoal_table_style .total_row td, .pdf_mdoal_table_style .total_row {
    background: #ccc!important;
}
.pdf_mdoal_table_style .total_row td, .pdf_mdoal_table_style .total_row {
    background: #ccc!important;
}
/* #viewDetailModal */ .modal-dialog {
     max-width: 860px;
    width: 100%;
}
/* #viewDetailModal */ .modal-header p {
font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
}
.modal-dialog .mCSB_inside>.mCSB_container{
margin-right:0;
}

.modal-dialog .nextBtn, 
.modal-dialog .saveCloseBtn {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 24px;
    color: #000!important;
    padding: 14px;
    min-width: 159px;
    box-shadow: none;
    border-radius: 3px;
    -moz-transition: 0.3s;
        background-color: #ffc906!important;
    box-shadow: inset 0 -2px 0px 0 #ddad00!important;
    transition: 0.3s;
    margin: 0 10px!important;
    font-family: 'Cafeta';
    display:inline-block;
    float:none;
    text-align:center;
}

.modal-dialog .saveCloseBtn{
	    background-color: #4a4a4a!important;
    color: #fff!important;
}

/********************* ChatBox Style here *********************/

.viewYearDetails {
    background: #e2e1e1;
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    color: #000!important;
    padding: 12.5px;
    min-width: 100px;
    border-radius: 3px;
    -moz-transition: 0.3s;
    text-align: center;
    -moz-transition: 0.3s;
    transition: 0.3s;
    box-shadow: inset 0 -2px 0px 0 #cdcdcd!important;
    font-family: 'Cafeta';
    margin-bottom: 20px;
     -webkit-transition:0.3s;
    transition:0.3s;
    cursor:pointer;
}

.viewYearDetails.rotateArrow >i{
	 transform: rotate(180deg);
     -webkit-transition:0.3s;
    transition:0.3s;
}

.viewYearDetails >i{
    margin-left: 8px;
    font-size: 25px;
    line-height: 6px;
    -webkit-transition:0.3s;
    transition:0.3s;
}

.viewYearDetails[aria-expanded='false'] >i{
    transform: rotate(180deg);
     -webkit-transition:0.3s;
    transition:0.3s;
}

.modal-content .modal-footer a{
    font-size: 15px;
    line-height: 24px;
    color: #1da1f2;
    letter-spacing: 0.10px;
    font-family: 'HelveticaNeue-Medium';
    text-decoration: underline!important;
    margin: 0 0 10px;
    display: inline-block;
    } 
    
.modal-content .modal-footer .addCommentBtn {
    font-size: 15px;
    line-height: 24px;
    color: #000!important;
    padding: 6px 15px;
    min-width: 150px;
    box-shadow: none;
    -moz-transition: 0.3s;
    transition: 0.3s;
    background-color: #ffc906!important;
    text-decoration: none!important;
    text-align: center;
    border-radius: 15px;
    float: right;
    margin: 10px 0 0;
}

 .fixedTable_content .table-scroll {
	position:relative;
	max-width:100%;
	margin:auto;
	border:0 solid #000;
	width:100%;
}
.fixedTable_content .table-wrap {
	width:100%;
	overflow:auto;
	/*overflow-x:scroll;*/
}
.fixedTable_content .table-scroll table {
	width:100%;
	margin:auto;
	border-collapse:separate;
	border-spacing:0;
}
.fixedTable_content .table-scroll th, .fixedTable_content .table-scroll td {
    padding: 12px 15px;
    border: 1px solid #cccccc!important;
    background: #fff;
    white-space: pre-line;
    vertical-align: top;
    text-transform: capitalize!important;
        font-family: 'HelveticaNeue-Medium'!important;
        font-size:15px!important;
        
}

.fixedTable_content .table-scroll th {
    background: #f2f2f2!important;
}

.fixedTable_content .table-scroll th.fixed-side {
    width: 110px!important;
    white-space: nowrap;
}
.fixedTable_content .table-scroll td{
text-align: center;
}
.fixedTable_content .table-scroll td input{
	height:35px;
	background:#fff!important;
	padding:0 0;
	width:80px!important;
	    font-size: 14px!important;
	    color:#000;
	        text-align: center;
}
.fixedTable_content .table-scroll td input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 	    font-size: 14px!important;
	    color:#000;
	        font-family: 'HelveticaNeue-Medium';
}
.fixedTable_content .table-scroll td input::-moz-placeholder { /* Firefox 19+ */
	    font-size: 14px!important;
	    color:#000;
	        font-family: 'HelveticaNeue-Medium';
}
.fixedTable_content .table-scroll td input:-ms-input-placeholder { /* IE 10+ */
	    font-size: 14px!important;
	    color:#000;
	        font-family: 'HelveticaNeue-Medium';
}
.fixedTable_content .table-scroll td input:-moz-placeholder { /* Firefox 18- */
 	    font-size: 14px!important;
	    color:#000;
	        font-family: 'HelveticaNeue-Medium';
}

.fixedTable_content .clone {
	position:absolute;
	top:0;
	left:0;
	pointer-events:none;
}
.fixedTable_content .clone th, .fixedTable_content .clone td {
	visibility:hidden
}
.fixedTable_content .clone td, .clone th {
	border-color:transparent
}
.fixedTable_content .clone tbody th {
	visibility:visible;
	color:red;
}
.fixedTable_content .clone .fixed-side {
	border:1px solid #000;
	background:#eee;
	visibility:visible;
}
.fixedTable_content {
    box-shadow: none;
}


.new_exciting,
.new_exciting_blank,
 .projectName_field,
.projectName_blank ,
#selectProjectName,
.select_projectName_blank  {
display:none;
}


#three_project_delivered span {
    position: relative;
    display: inline-block;
    margin: 5px 0 0;
}

#three_project_delivered span >h6{
    position: absolute;
    background: #fff;
    padding: 5px;
    bottom: 7px;
    font-weight: 700;
    padding-left: 0;
}

#three_project_delivered input {
    padding-left: 15px;
}

#yesNo_3dIncome {
width:160px;
height:47px;
    color: rgba(0, 0, 0, 0.4);
padding:0 15px;
padding-right: 25px;
margin-left: 39px;
background: #f6f6f6 url(../images/selectBoxArrow.png)90% 50% no-repeat;
}

#yesNo_3dIncome:focus {
outline:0;
    outline-offset: 0;
box-shadow:none;
}

.downloadFormat {
    position: absolute;
    top: 0px;
    right: 15px;
    z-index: 9;

}

.projectCost_deprecition{
    margin: 0 0 30px;
}

.projectCost_deprecition:last-of-type{
	margin-bottom:0;
}

.cols_left_side {
    padding-left: 0!important;
}

#uploadfile {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 50px;
    width: calc(100% - 160px);
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}
.selectFile {
display: inline-block;
    padding: 0 10px;
    font-size: 15px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.60);
    font-family: 'HelveticaNeue-Medium';
    position: relative;
    top: 1px;
        width: 260px;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#upload {
    background: #e2e1e1;
    display: inline-block;
    float: right;
    font-size: 20px;
    line-height: 24px;
    color: #000!important;
    padding: 12.5px 15px;
    min-width: 160px;
    border-radius: 3px;
    -moz-transition: 0.3s;
    text-align: center;
    -moz-transition: 0.3s;
    transition: 0.3s;
    box-shadow: inset 0 -2px 0px 0 #cdcdcd!important;
    font-family: 'Cafeta';
    text-transform: uppercase;
    outline: 0;
    border: 0;
    border-left: 3px solid #fff;
}

.file-select {
    display: block;
    border: 0 solid #f6f6f6;
    color: #34495e;
    cursor: pointer;
    height: 50px;
    line-height: 54px;
    text-align: left;
    background: #f6f6f6;
    overflow: hidden;
    position: relative;
}

.projectCost_deprecition label{
font-size:19px;
line-height:normal;
letter-spacing:0.10px;
color:#000;
    font-family: 'Cafeta';
    text-transform:uppercase;
    margin:0 0 0;
}

.uploadProjectCost label{
	font-family: 'HelveticaNeue-Medium';
    font-size: 15px;
    line-height: normal;
    letter-spacing: 0;
    color: #000;
    top: 0.8rem;
    z-index: 9;
}

.projectCost_deprecition > input {
font-size: 15px;
    line-height: normal;
    color: #8d8d8d;
    font-family: 'HelveticaNeue-Medium';
    border: 0;
    background: #fafafa;
        background-color: #fff;
}

.hiddenRow {
    padding: 0 4px !important;
    background-color: #eeeeee;
}
#accordion-toggle {
	cursor:pointer;
}
.collapseTable {
display:none;
position:relative;
    background: #fff6d2;
}

.collapseTable tr td input{
background:transparent!important;
}

.collapseTable tr td.firstColumn{
	    font-weight: 400;
    text-transform: capitalize;
}

#accordion-toggle td > i{
   font-size: 28px;
   line-height: 2px;
   margin-left: 11px;
}

.grothAssumption_tableParent {
    overflow: auto;
    margin-top: -15px;
    
}
.grothAssumption_tableParent >table {
    box-shadow: 0 1px 0 0 #e8e8e8;
}

.grothAssumption_tableParent >.table {
    background: #ffffff;
    border: 5px solid red;
    border-bottom: 0;
}

.grothAssumption_tableParent >.title_strip h5{
    font-size: 24px;
    display: inline-block;
}

.title_strip .selectYears {
width: 180px;
    height: 30px;
    color: rgb(10, 10, 10);
    padding: 0 15px;
    padding-right: 45px;
    margin-left: 20px;
    background: #ffffff url(../images/selectBoxArrow.png)90% 50% no-repeat;
    border: 0;
    margin-top: -3px;
    display: inline-block;
}

.grothAssumption_grandParent {
	margin-bottom:40px;
}

#theadAdvanceRentTable{
	margin-left:500px;
}
.grothAssumption_grandParent .submitBtn {
background: #e2e1e1;
    display: inline-block;
    float: right;
    font-size: 20px;
    line-height: 24px;
    color: #000!important;
    padding: 12.5px;
    min-width: 159px;
    border-radius: 3px;
    -moz-transition: 0.3s;
    text-align: center;
    -moz-transition: 0.3s;
    transition: 0.3s;
    box-shadow: inset 0 -2px 0px 0 #cdcdcd!important;
    font-family: 'Cafeta';
    /* border-left: 3px solid #fff; */
    margin-top: 20px;
    cursor: pointer;
    box-shadow: none!important;
}

.grothAssumption_tableParent table:last-of-type{
margin-bottom:0!important;
}

.title_strip .selectYears:focus {
	outline:0;
	outline-offset:0;
}

.chooseYears {
display:inline-block;
}

.grothAssumption_tableParent .fixed {
    background: #f5f5f5;
    width:310px;
    position: absolute;
    left: 15px;
    top: auto;
    white-space: normal;
    /* height: 50px; */
    margin-left: 0px;
}
.grothAssumption_tableParent tr td,
.grothAssumption_tableParent tr th{
	text-align:center;
	background:#fff;
}

.grothAssumption_tableParent tr th.fixed{
    text-align: left;
    font-weight: 700;
    color: #000;
    font-size: 16px;
    letter-spacing: 0.3px;
}


.grothAssumption_tableParent .titleColumn {
	background: #a2a2a2;
    color: #fff!important;
    }

.grothAssumption_tableParent tr th{
font-weight: 700;
    color: #000;
    font-size: 16px;
    letter-spacing: 0.3px;
    white-space: nowrap;
    background: #f5f5f5;
}
.adminValueTable ,
.adminValueTable .container {
    max-width:100%!important;
}
.inputType {
	    font-size: 16px;
    line-height: normal;
    color: #8d8d8d;
    font-family: 'HelveticaNeue-Medium';
    border: 0;
}
.grothAssumption_tableParent tbody .hovered .fixed {
  background: #ff0;
}
.grothAssumption_tableParent .fixed + td,
.grothAssumption_tableParent .fixed + th {
    padding-left: calc(310px - -10px);
}
.grothAssumption_tableParent [type="checkbox"] {
  float: left;
}
.grothAssumption_tableParent label {
  overflow: hidden;
  display: block;
  padding-left: 10px;
}

#stateSelect ,
#stateChargeSelect {
width: 200px;
    height: 30px;
    color: rgb(10, 10, 10);
    padding: 0 15px;
    padding-right: 45px;
    background: #ffffff url(../images/selectBoxArrow.png)90% 50% no-repeat;
    border: 0;
    margin-right: auto;
    margin-top: -3px;
    display: inline-block;
    margin-left: 20px;
}

#stateSelect:focus ,
#stateChargeSelect:focus {
	outline:0;
	offset-outline:0;
}

.selectCharge {
display: inline-block;
    position: relative;
    margin-right: 25px;
}

.selectCharge .bmd-form-group {
    padding: 0;
}

.selectCharge input{
width: 200px;
    height: 30px;
    color: rgb(10, 10, 10);
    padding: 0 15px;
    background-color: #ffffff!important;
background-image: linear-gradient(0deg,#ffe509 2px,rgba(213,0,0,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 0px,transparent 0)!important;
}

.serviceChare_table tr th {
	    font-weight: 700;
    color: #000;
    font-size: 16px;
    letter-spacing: 0.3px;
    white-space: nowrap;
    background: #f5f5f5;
}

.serviceChare_table tr td {
	background:#fff;
}

.serviceCharge .submitBtn {
   margin-top: -7px;
    padding: 7.5px 15px;
    min-width: 139px;
}


/************** CSS Loader Style Start ****************/
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  display:none;
}


.loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.loading-text span {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  font-family: 'Quattrocento Sans', sans-serif;
}
.loading-text span:nth-child(1) {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0s infinite linear alternate;
          animation: blur-text 1.5s 0s infinite linear alternate;
}
.loading-text span:nth-child(2) {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.2s infinite linear alternate;
          animation: blur-text 1.5s 0.2s infinite linear alternate;
}
.loading-text span:nth-child(3) {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.4s infinite linear alternate;
          animation: blur-text 1.5s 0.4s infinite linear alternate;
}
.loading-text span:nth-child(4) {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.6s infinite linear alternate;
          animation: blur-text 1.5s 0.6s infinite linear alternate;
}
.loading-text span:nth-child(5) {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.8s infinite linear alternate;
          animation: blur-text 1.5s 0.8s infinite linear alternate;
}
.loading-text span:nth-child(6) {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1s infinite linear alternate;
          animation: blur-text 1.5s 1s infinite linear alternate;
}
.loading-text span:nth-child(7) {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1.2s infinite linear alternate;
          animation: blur-text 1.5s 1.2s infinite linear alternate;
}
.loading-text span:nth-child(8) {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1.3s infinite linear alternate;
          animation: blur-text 1.5s 1.3s infinite linear alternate;
}
.loading-text span:nth-child(9) {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1.4s infinite linear alternate;
          animation: blur-text 1.5s 1.4s infinite linear alternate;
}
.loading-text span:nth-child(10) {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1.5s infinite linear alternate;
          animation: blur-text 1.5s 1.5s infinite linear alternate;
}
.loading-text span:nth-child(11) {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1.6s infinite linear alternate;
          animation: blur-text 1.5s 1.6s infinite linear alternate;
}
.loading-text span:nth-child(12) {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1.7s infinite linear alternate;
          animation: blur-text 1.5s 1.7s infinite linear alternate;
}

@-webkit-keyframes blur-text {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
}

@keyframes blur-text {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
}
/************* CSS Loader Style End *************/



/****************** Media Query Start Here *******************/
@media(min-width:768px) {
#navbarRow .dropdown-menu {
    right: -15px!important;
    left: initial;
    margin-top: 8px;
    padding:0;
}

#navbarRow .dropdown-menu li .navbar-login >.row{
	margin-left:auto;
	margin-right:auto;
}
	
.tabsParent .col-lg-6, .tabsParent .col-sm-6 {
padding: 0 20px;
}
.tabsParent .tab-content>.tab-pane .card-body table tr td,
.tabsParent .tab-content>.tab-pane .card-body table tr th,
#dasboardTabsParent table tr td,
#dasboardTabsParent table tr th{
	width:;
}

.tabsParent .tab-content>.tab-pane form table tr td.firstColumn,
.tabsParent .tab-content>.tab-pane form table tr th.firstColumn{
	    width: 250px;
}

.tabsParent .tab-content>.tab-pane  #step-7 .card-body table tr td,
.tabsParent .tab-content>.tab-pane  #step-7 .card-body table tr th,
#dasboardTabsParent table tr td,
#dasboardTabsParent table tr th {
    width: auto;
}

.leftmenutrigger {
display: none;
margin: 7px 20px 4px 0;
cursor: pointer;
}
#wrapper {
padding: 90px 15px 15px 15px;
}
.navbar-nav.side-nav.open {
left: 0;
}
.navbar-nav.side-nav {
background: #585f66;
box-shadow: 2px 1px 2px rgba(0, 0, 0, .1);
position: fixed;
top: 56px;
flex-direction: column!important;
left: -220px;
width: 200px;
overflow-y: auto;
bottom: 0;
overflow-x: hidden;
padding-bottom: 40px
}

 .totalProjectCost_depreciationINR{
     flex: 0 0 30%;
    max-width: 30%;
    float: right!important;
 }
}

@media(min-width:1025px) {
a:hover {
opacity: 0.8;
}
.pvrFeaturedImg, .formDiv{
width: 100%;
}
}

@media (min-width:1400px) {
/* 	.bmd-form-group{
	padding-right:5px;
} */
}

@media (min-width:1601px) {
	.tabsParent ,
	#dasboardTabsParent{
    max-width: 90%;
}
.table_parent{
	width:100%;
}
.tabsParent .nav-tabs .nav-item {

    width: 13.2%;
}
#viewDetailModal .modal-content {
    height: 670px;
}
#dasboardTabsParent table tr th.las_update_field {
    width: 120px;
}
#dasboardTabsParent table tr th.second_column {
    width: 25%;
}
}

/************** Decrease Style below 1370 *****************/
@media (max-width:1370px) {
	.sidebar {
    width: 140px;
	}
	.sidebar >ul li a {
    font-size: 11px;
    padding: 9px 7px;
}
.navbar {
    width: calc(100% - 140px);
}
.mainContainer {
    width: calc(100% - 140px);
}
.sidebar >ul li a >img {
    width: 20px;
}
.navbar-brand, .tagline {
    font-size: 26px;
    padding-left: 10px;
}
.sidebar >ul li a.active:after {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #232323;
    right: -15px;
}
.tabsParent .nav-tabs .nav-link {
    font-size: 12px;
    padding: 10px 26px;
}
.sidebar >ul li a.active:before {
    width: 3px;
}
.sidebar >ul li.dropdown_hasMenu {
    background-position: 92% 13px!important;
    background-size: 11px!important;
}
.sidebar >ul li ul.hasSubmenu li a{
font-size:11px;
}
.tabsParent .bmd-form-group .bmd-label-static, 
.tabsParent .bmd-label-static, 
.locateProject, .reportIdText, 
.tabsParent .custom-control-label{
    font-size: 13px;
}
.tabsParent .form-control {
	font-size:13px;
}
 input::-webkit-input-placeholder { 
 	    font-size: 13px!important;
}
input::-moz-placeholder { 
	    font-size: 13px!important;
}
input:-ms-input-placeholder { 
	    font-size: 13px!important;
}
input:-moz-placeholder { 
 	    font-size: 13px!important;
}
.tabsParent .title_strip h5, .title_strip h5 {
    font-size: 18px;
    letter-spacing: 0.4px;
}
.subTitle_strip h5 {
    font-size: 18px;
}
.tabsParent .tab-content>.tab-pane .card-body table tr th {
    font-size: 18px;
}
.file_must_be {
    font-size: 13px;
}
.buttonGroup_nextCancelSave button[type='button'], .buttonGroup_nextCancelSave button[type='button'] >a {
    font-size: 18px;
    padding: 11px 15px;
    min-width: 150px;
}
#stickID >.reportIdText {
    font-size: 14px;
}
}

@media (max-width:991px){
	.btnParent {
    float: left!important;
    width: 100%;
    margin-top: 10px;
}
.btnParent button {
    margin-left: auto!important;
    margin-right: 8px!important;
}
}

@media (max-width:768px) {
.navbar-expand-md .navbar-nav .dropdown-menu {
position: absolute;
}
#wrapper {
padding: 70px 15px 15px 15px;
}
.tabsParent .tab-content>.tab-pane .card-body table tr td,
.tabsParent .tab-content>.tab-pane .card-body table tr th{
	width:200px;
}
}

@media(max-width:767px) {
.hambugerIcon {
display: block;
}
#navbarRow .navbar-nav >li{
display: none;
}
.sidebar {
transform: translateX(-155px);
transition: 0.5s;
}
.sidebar.open {
transform: translateX(0px);
transition: 0.5s;
}
.mainContainer,
.navbar {
width: calc(100%);
float: left;
}
.sidebar .userProfilePic {
margin: 0 auto 20px;
}
.sidebar ul .userProfileArea {
display: block;
}
.navbar-expand-md .navbar-nav .dropdown-menu {
position: absolute;
right: 0;
left: initial;
top: 58px;
}
.navbar{
background-color: #fff;
height: 50px;
}
.navbar-collapse {
background: #dadada;
margin-left: -15px;
margin-right: -15px;
}
#notifications {
padding-top: 0;
}
.navbar-nav >li{
padding: 10px 0!important;
}
.navbar .navbar-brand {
width: 100%;
max-width: 200px;
}
.navbar .navbar-brand >img {
width: 100%;
}
.nav a >strong {
display: none;
}
.angleDown i, .angleDown img {
width: 15px;
}
.userProfilePic {
width: 50px;
height: 50px;
}
.userProfilePic >img {
object-fit: cover;
height: 100%;
width: 100%;
}
.navbar-nav {
display: inline-block;
width: 100%;
text-align: right;
}
.navbar-nav >li {
display: inline-block;
}
.loginform {
background: #eeeeee;
padding: 80px 0;
height: initial;
}
.pvrFeaturedImg, .formDiv{
max-width: 100%;
flex: 100%;
min-height: inherit;
}
.loginform .row {
display: block;
}	
.pvrFeaturedImg {
height: 200px;
padding: 25px;
}
.pvrFeaturedImg img {
object-fit: cover;
height: 100%;
width: 250px;
margin: 0 auto;
display: block;
}
.formDiv >.card-body {
padding: 48px 1.25rem;
display: inline-block;
width: 100%;
}
.navbar-brand, .tagline {
font-size: 20px;
padding-left: 0;
}
.sidebar >ul li a >img {
width: auto;
}
.filterStrip .col {
border-right:0 solid #e0e0e0;
border-bottom:1px solid #e0e0e0;
width:100%;
max-width:100%;
flex: initial;
} 
.filterStrip{
height:auto;
}
.filterStrip .searchField{
padding:0 0;
}
}

@media (max-width:640px) {
#dasboardTabsParent .dataTables_wrapper .dataTables_length, #dasboardTabsParent .dataTables_wrapper .dataTables_filter {
    text-align: left!important;
}
}

@media (max-width:578px){
.navbar .navbar-brand {
max-width: 165px;
height: 50px;
}
.navbar .navbar-brand >img {
width: 100%;
height: 100%;
object-fit: cover;
}
.notificationIcon >img {
width: 28px;
}
.userProfilePic {
width: 40px;
height: 40px;
}
.notificationIcon >.counter {
top: -3px;
text-align: center;
background: #db4437;
border-radius: 50%;
line-height: 13px;
}
.angleDown i, .angleDown img {
margin-left: 0;
}

}

@media (max-width:575px){
.blank-field{
display:none;
}
.tabsParent .custom-control {
    width: 100%!important;
    display: block!important;
    margin-top: 16px;
}
#stickID{
	display:none;
}
.tabsParent .on-mobile-visible {
	display:block!important;
}
}

@media (max-width:600px) {
	.buttonGroup_nextCancelSave button[type='button'] {
    margin: 10px 0;
}
}

@media (max-width:480px) {
#navbarRow{
display: none!important;
}
}


/* style for other modals */
.pdf_modal_table_style {}
.pdf_modal_table_style table {
    display: table;
    border-spacing: 2px;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.06);
    font-family: HelveticaNeue-Medium;
}
.pdf_modal_table_style .table-bordered, .pdf_modal_table_style .table-bordered td, .pdf_modal_table_style .table-bordered th {
    border: 2px solid #ffffff;
}
.pdf_modal_table_style .fixed-layout {
table-layout: fixed;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.pdf_modal_table_style tbody,.pdf_modal_table_style thead {
    vertical-align: middle;
    border-color: inherit;
}
.pdf_modal_table_style tbody, .pdf_modal_table_style thead, .pdf_modal_table_style tr {
    border-color: inherit;
}
.pdf_modal_table_style thead {
    display: table-header-group;
}
.pdf_modal_table_style td, .pdf_modal_table_style th, .pdf_modal_table_style tr {
    vertical-align: inherit;
}
.pdf_modal_table_style tr {
    display: table-row;
}
.pdf_modal_table_style td, .pdf_modal_table_style th {
    display: table-cell;
}
.pdf_modal_table_style .text-center {
    text-align: center!important;
}
.pdf_modal_table_style .text-middle {
    vertical-align: middle!important;
    text-align: center!important;
}
.pdf_modal_table_style .table td, .pdf_modal_table_style .table th {
    text-align: center;
    font-size: 15px;
    padding: 10px;
    vertical-align: top;
    border-top: 1px solid rgba(0,0,0,.06);
}
.pdf_modal_table_style .table-bordered, .pdf_modal_table_style .table-bordered td, .pdf_modal_table_style .table-bordered th {
    border: 1px solid #ccc;
}
.pdf_modal_table_style .table thead th, .pdf_modal_table_style .table tr th {
    font-size: 15px;
    font-weight: 400;
    color: #000;
background: #d0d0cf;
       border: 1px solid #a0a0a0;
    padding: 5px 10px;
    vertical-align: middle!important;
}
.pdf_modal_table_style .table td:first-of-type, .pdf_modal_table_style .table th:first-of-type {
    text-align: left;
        /* width: 50px; */
}

.pdf_modal_table_style h3,
.pdf_modal_table_style h5 {
	    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.pdf_modal_table_style .p-m-0 {
    margin: 0;
    padding: 0!important;
}
.pdf_modal_table_style .border-hide {
    /* border: hidden; */
    border-top: hidden;
    border-bottom: hidden;	
}
.pdf_modal_table_style tbody {
    display: table-row-group;
}
.pdf_modal_table_style .transparent tr td {
    background: 0 0!important;
}
.pdf_modal_table_style .total_row td, .pdf_modal_table_style .total_row {
    background: #ccc!important;
}
.pdf_modal_table_style .total_row td, .pdf_modal_table_style .total_row {
    background: #ccc!important;
}
.modal-dialog {
    max-width: 980px;
    width: 100%;
}
.modal-header p {
font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}
.mCSB_inside>.mCSB_container{
margin-right:0;
}


.dtp { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.4); z-index: 2000; font-size: 14px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.dtp > .dtp-content { background: #fff; max-width: 300px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); max-height: 520px; position: relative; left: 50%; }
.dtp > .dtp-content > .dtp-date-view > header.dtp-header { background: #353227; color: #fff; text-align: center; padding: 0.3em; }

.dtp div.dtp-date, .dtp div.dtp-time { background:#ffc906; text-align: center; color: #fff; padding: 10px; }
.dtp div.dtp-date > div { padding: 0; margin: 0; }
.dtp div.dtp-actual-month { font-size: 1.5em; }
.dtp div.dtp-actual-num { font-size: 3em; line-height: 0.9; }
.dtp div.dtp-actual-maxtime { font-size: 3em; line-height: 0.9; }
.dtp div.dtp-actual-year { font-size: 1.5em; color: #DCEDC8; }
.dtp div.dtp-picker { padding: 1em; text-align: center; }

.dtp div.dtp-picker-month, .dtp div.dtp-actual-time { font-weight: 500; text-align: center; }
.dtp div.dtp-picker-month { padding-bottom:20px!important; text-transform: uppercase!important; }

.dtp .dtp-close { position: absolute; top: 0.5em; right: 1em; }
.dtp .dtp-close > a { color: #fff; }
.dtp .dtp-close > a > i { font-size: 1em; }

.dtp table.dtp-picker-days { margin: 0; min-height: 251px;}
.dtp table.dtp-picker-days, .dtp table.dtp-picker-days tr, .dtp table.dtp-picker-days tr > td { border: none; }
.dtp table.dtp-picker-days tr > td {  font-weight: 700; font-size: 0.8em; text-align: center; padding: 0.5em 0.3em; }
.dtp table.dtp-picker-days tr > td > span.dtp-select-day { color: #BDBDBD!important; padding: 0.4em 0.5em 0.5em 0.6em;}
.dtp table.dtp-picker-days tr > td > a, .dtp .dtp-picker-time > a { color: #212121; text-decoration: none; padding: 0.4em 0.5em 0.5em 0.6em; border-radius: 50%!important; }
.dtp table.dtp-picker-days tr > td > a.selected{ background: #ffc908; color: #fff; }
.dtp table.dtp-picker-days tr > th { color: #757575; text-align: center; font-weight: 700; padding: 0.4em 0.3em; }

.dtp .p10 > a { color: #689F38; text-decoration: none; }
.dtp .p10 { width: 10%; display: inline-block; }
.dtp .p20 { width: 20%; display: inline-block; }
.dtp .p60 { width: 60%; display: inline-block; }
.dtp .p80 { width: 80%; display: inline-block; }

.dtp a.dtp-meridien-am, .dtp a.dtp-meridien-pm { position: relative; top: 10px; color: #212121; font-weight: 500; padding: 0.7em 0.5em; border-radius: 50%!important;text-decoration: none; background: #eee; font-size:1em; }
.dtp .dtp-actual-meridien a.selected { background: #689F38; color: #fff; }

.dtp .dtp-picker-time > .dtp-select-hour { cursor: pointer; }
.dtp .dtp-picker-time > .dtp-select-minute { cursor: pointer; }

.dtp .dtp-buttons { padding: 0 1em 1em 1em; text-align: right; }

.dtp.hidden, .dtp .hidden { display: none; }
.dtp .invisible { visibility: hidden; }

.dtp .left { float: left; }
.dtp .right { float: right; }
.dtp .clearfix { clear: both; }

.dtp .center { text-align: center; }

.dtp-picker-year{
    margin-bottom: 1px;
}

.year-picker-item{
    text-align: center;
    padding-top: 5px;
    font-size: large;
    cursor: pointer;
    margin: 0 auto;
}

.dtp-actual-year:hover{
    cursor: pointer;
}
.dtp-actual-year.disabled:hover{
    cursor: inherit;
}
.year-picker-item:hover{
    color:#689F38;
}

.year-picker-item.active{
    color:#689F38;
    font-weight: bold;
}

.dtp-select-year-range{
    display: inline-block;
    text-align: center;
    width: 100%;
}

#noOfShowsError{
	margin-left:700px;
	position: absolute;
	margin-top:130px;
}

.assumption-input-error{
	margin-left:150px;
	color:red;
}

#tbodyRevenueAssumtionGrowthTable{
	
}

