<div th:fragment="customCss"></div>

<div th:fragment="content">
	<section class="mainContainer">
		<div class="col-md-12 col-sm-12">


			<div id="dasboardTabsParent" class="feasibilityReports">
				<div class="innerTableParent OperatingAssumptions mt-4 mb-5">
					<div class="heading_title_strip mb-3"
						style="background: transparent; padding: 7px 0 5px;">
						<h3>
							<span th:text="${title}"></span> Multiplier information
						</h3>
					</div>
					
					 <div class="alert alert-danger alert-dismissible" th:if=${error}>
					 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				 		 <span th:text="${error}"></span>
					</div> 

					<div class="tabsParent m-0 w-100 mw-100" style="box-shadow:none;">
						<div class="card p-3">
							<form id="multiplierForm" class="client-form" action="#" 
								th:action="@{/multiplier/save}" th:object="${multiplier}"
								method="POST" onsubmit="return validate();">

								<div class="row mb-3">
									<div class="col-lg-4 col-sm-4">
										<fieldset class="form-group bmd-form-group">
											<label class="control-label" for="date">Select Cost	Type <span style="color: red;" id="selectError">*</span></label> 
											<input type="hidden" th:if="${multiplier?.costType != null}" name="costType" th:value="${multiplier?.costType}">
											<input type="hidden" th:if="${multiplier?.id != null}" name="id" th:value="${multiplier?.id}">
											<input type="hidden" name="costTypeText" id="costTypeTextHidden">
											<select th:disabled="${multiplier?.costType != null}"	 required="required"
												class="form-control" id="costType" name="costType" onchange="setValue()">
												<option value="">Choose Cost Type</option>
												<option
													sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN','ROLE_ADMIN')"
											th:selected="${multiplier?.costType == 'Electricity_Water' ? true : false}"	value="Electricity_Water"><span>Electricity
														and Water</span>
												</option>

												<option
													sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN','ROLE_ADMIN')"
												th:selected="${multiplier?.costType == 'Personnel_Cost' ? true : false}" value="Personnel_Cost"><span>Personnel Cost</span>
												</option>
												<option
													sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN','ROLE_ADMIN')"
												th:selected="${multiplier?.costType == 'House_Keeping' ? true : false}"	value="House_Keeping"><span>House Keeping</span>
												</option>
												<option
													sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN','ROLE_ADMIN')"
											th:selected="${multiplier?.costType == 'Security' ? true : false}"		value="Security"><span>Security</span>
												</option>
												<option
													sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN','ROLE_ADMIN')"
											th:selected="${multiplier?.costType == 'R&M_Cost' ? true : false}"		value="R&M_Cost"><span>R&M Cost</span>
												</option>
												<option
													sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN','ROLE_ADMIN')"
											th:selected="${multiplier?.costType == 'Communication_Cost' ? true : false}"	value="Communication_Cost"><span>Communication
														Cost</span>
												</option>
												<option
													sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN','ROLE_ADMIN')"
											th:selected="${multiplier?.costType == 'Marketing_Cost' ? true : false}"	value="Marketing_Cost"><span>Marketing Cost</span>
												</option>
												<option
													sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN','ROLE_ADMIN')"
										th:selected="${multiplier?.costType == 'Printing&Stationary_Cost' ? true : false}"	value="Printing&Stationary_Cost"><span>Printing & Stationary
														Cost</span>
												</option>
											<!-- 	<option
													sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN','ROLE_ADMIN')"
													value="Printing&Stationary_Cost"><span>Printing&Stationary
														Cost</span>
												</option> -->
												<option
													sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN','ROLE_ADMIN')"
									th:selected="${multiplier?.costType == 'Travelling&Conveyance_Cost' ? true : false}" value="Travelling&Conveyance_Cost"><span>Travelling & Conveyance
														Cost</span>
												</option>
												<option
													sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN','ROLE_ADMIN')"
									th:selected="${multiplier?.costType == 'LegalFees_Cost' ? true : false}"	value="LegalFees_Cost"><span>Legal Fees
														Cost</span>
												</option>
												<option
													sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN','ROLE_ADMIN')"
									th:selected="${multiplier?.costType == 'Insurance_expanses' ? true : false}"	value="Insurance_expanses"><span>Insurance
														Expenses Cost</span>
												</option>
												<option
													sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN','ROLE_ADMIN')"
									th:selected="${multiplier?.costType == 'Internet_expanses' ? true : false}"	value="Internet_expanses"><span>Internet
														Expenses Cost</span>
												</option>
												<option
													sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN','ROLE_ADMIN')"
									th:selected="${multiplier?.costType == 'Miscellaneous_expanses' ? true : false}"		value="Miscellaneous_expanses"><span>Miscellaneous
														Expenses Cost</span>
												</option>
											</select>
										</fieldset>
									</div>

									<div class="col-lg-4 col-sm-4" id="multiplierSingle">

										<fieldset class="form-group bmd-form-group" id="singleScreen">
											<label for="singleScreen" class="control-label">Single
												Screen Multiplier</label> <input type="text"
												name="singleScreenMultiplier" class="form-control decimalLimit" id="singleScreenMultiplier"
												th:value=${multiplier?.singleScreenMultiplier}
												placeholder="SingleScreenMultiplier">
										</fieldset>
									</div>
									<div id="fleetManagerDiv"></div>

									<div class="col-lg-4 col-sm-4">
										<fieldset class="form-group bmd-form-group" id="singleScreen">
											<label for="singleScreen" class="control-label">Gold
												Screen Multiplier</label> <input type="text" name="goldMultiplier"
												id="goldMultiplier" class="form-control decimalLimit" th:value=${multiplier?.goldMultiplier}
												placeholder="goldMultiplier">
										</fieldset>

									</div>

									<div class="col-lg-4 col-sm-4">
										<fieldset class="form-group bmd-form-group" id="dxMultiplier">
											<label for="dxMultiplier" class="control-label">4Dx
												Screen Multiplier</label> <input type="text" name="dxMultiplier"
												id="dxMultiplier" class="form-control decimalLimit" th:value=${multiplier?.dxMultiplier}
												placeholder="dxMultiplier">
										</fieldset>
									</div>

									<div class="col-lg-4 col-sm-4">
										<fieldset class="form-group bmd-form-group" id="iconMutiplier">
											<label for="iconMutiplier" class="control-label">ICON
												Screen Multiplier</label> <input type="text" name="iconMutiplier"
												id="iconMutiplier" class="form-control decimalLimit" th:value=${multiplier?.iconMutiplier}
												placeholder="IconMutiplier">
										</fieldset>
									</div>

									<div class="col-lg-4 col-sm-4">
										<fieldset class="form-group bmd-form-group"
											id="imaxMultiplier">
											<label for="imaxMultiplier" class="control-label">Imax
												Screen Multiplier</label> <input type="text" name="imaxMultiplier"
												id="imaxMultiplier" class="form-control decimalLimit" th:value=${multiplier?.imaxMultiplier}
												placeholder="ImaxMultiplier">
										</fieldset>
									</div>
									<div class="col-lg-4 col-sm-4"></div>
									<div class="col-lg-4 col-sm-4"></div>

									<div class="col-lg-4 col-sm-4">
										<span id="fieldError" style="color: red;"></span>
											<div class="submit_btn mt-3">
												<input type="submit" style="font-size: 22px;padding: 9px 12px;min-width: 150px;float: right; margin-right:15px;" class="btn btn-success btn-raised tableFormatingBtn" value="Save">
											</div>
										<!-- </fieldset> -->
									</div>
							</form>

						</div>


					</div>


				</div>
			</div>
	</section>
</div>

<div th:fragment="customJs">
<script type="text/javascript">
$(function() {
	  $('.decimalLimit').on('input', function() {
	    match = (/(\d{0,9})[^.]*((?:\.\d{0,2})?)/g).exec(this.value.replace(/[^\d.]/g, ''));
	    this.value = match[1] + match[2];
	  });
	});
	
function setValue(){
	var cost = $("#costType option:selected").text();
	$("#costTypeTextHidden").val(cost);
	
}
function validate(){
	
	var costType = $("#costType").val();
	var singleScreenMultiplier = $("#singleScreenMultiplier").val();
	var goldMultiplier = $("#goldMultiplier").val();
	var dxMultiplier = $("#dxMultiplier").val();
	var iconMutiplier = $("#iconMutiplier").val();
	var imaxMultiplier = $("#imaxMultiplier").val();
	
	if(costType == ""){
		$("#selectError").text("Please select cost type");
		$("#costType").focus();
		return false;
	}
	else if(singleScreenMultiplier =="" && goldMultiplier =="" && dxMultiplier =="" && 
			iconMutiplier =="" && imaxMultiplier =="" ){
		$("#fieldError").text("Please enter atleast one value");
		$("#singleScreenMultiplier").focus();
		return false;
	}
	else{
		return true;
	}
	
	
}	
	
</script>


</div>