<div th:fragment="customCss">

</div>

<div th:fragment="content">
<section class="mainContainer">
	<div class="col-md-12 col-sm-12">
				<div id="dasboardTabsParent" class="feasibilityReports">
				<div class="innerTableParent OperatingAssumptions mt-4">

					<div class="heading_title_strip mb-3"
						style="background: transparent; padding: 7px 0 5px;">
						<h3 id="userDetails" th:text="${title+' Details'}"></h3>
						<div th:if="${msg}" th:text="${msg}" class="alert alert-success"
							id="success-alert">
							<strong> <span th:text="${msg}"></span></strong>
						</div>
						<!-- <div class="plus_icon">
							<a th:href="@{/multiplier/create}"><i class="fas fa-plus"></i></a>
						</div> -->
					</div>

				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="table_parent w-100">
							<div class="table-responsive">
								<table id="data-table"
									class="table table-striped table-bordered table-hover settings">
									<thead>
										<th class="sm-width">Cost Type</th>
										<th class="sm-width">Single Screen Multiplier</th>
										<th class="nameField sm-width">Gold Multiplier</th>
										<th class="sm-width">4dx Multiplier</th>
										<th class="sm-width">Icon Multiplier</th>
										<th class="sm-width">Imax Multiplier</th>
										<th class="xs-width">Action</th>
									</thead>
									<tbody>
										<tr th:if="${multipliers != null }"
											th:each="multiplier,iterator : ${multipliers}">
											<td th:if="${multiplier.costType != null }">
												<span th:if="${multiplier.costType =='Electricity_Water'}"> Electricity
														& Water</span>
												<span th:if="${multiplier.costType =='Personnel_Cost'}"> Personnel Cost</span>
												<span th:if="${multiplier.costType =='House_Keeping'}"> House Keeping</span>
												<span th:if="${multiplier.costType =='Security'}"> Security</span>
												<span th:if="${multiplier.costType =='R&M_Cost'}"> R&M Cost</span>
												<span th:if="${multiplier.costType =='Communication_Cost'}"> Communication Cost</span>
												<span th:if="${multiplier.costType =='Marketing_Cost'}"> Marketing Cost</span>
												<span th:if="${multiplier.costType =='Printing&Stationary_Cost'}">Printing & Stationary Cost</span>
												<span th:if="${multiplier.costType =='Travelling&Conveyance_Cost'}"> Travelling & Conveyance Cost</span>		
												<span th:if="${multiplier.costType =='Insurance_expanses'}"> Insurance expenses</span>
												<span th:if="${multiplier.costType =='LegalFees_Cost'}">Legal Fees</span>
												<span th:if="${multiplier.costType =='Internet_expanses'}">Internet expenses</span>
												<span th:if="${multiplier.costType =='Miscellaneous_expanses'}">Miscellaneous expenses</span>
											</td>
											<td><span th:if="${multiplier.singleScreenMultiplier != null }"
												th:text="${multiplier.singleScreenMultiplier}"></span></td>
											<td><span th:if="${multiplier.goldMultiplier != null }"
												th:text="${multiplier.goldMultiplier}"></span></td>

											<td><span th:if="${multiplier.dxMultiplier != null }"
												 th:text="${multiplier.dxMultiplier}"></span></td>
											<td><span th:if="${multiplier.iconMutiplier != null }"
												th:text="${multiplier.iconMutiplier}"></span></td>
												
												<td><span th:if="${multiplier.imaxMultiplier != null }"
												th:text="${multiplier.imaxMultiplier}"></span></td>

											<td class="dropdown mange_tab ">
												<a class=""
														th:href="@{/multiplier/update/}+${multiplier.id}"> <i
														class="fas fa-edit"></i> 
													</a>
											</td>
										</tr>
									<tbody>
								</table>
								<div class="clearfix"></div>

							</div>


						</div>
					</div>
				</div>
			</div>
	
	</div>

</section>
</div>

<div th:fragment="customJs">
</div>